Repository withastro/starlight, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, i18n, ðŸŒŸ core, ðŸŒŸ tailwind, ðŸ“š docs

add docs
  docs/src/content/docs/guides/authoring-content.md
Labels: ðŸ“š docs

remove test page
  docs/src/content/docs/reference/test.mdx
Labels: ðŸ“š docs

remove height auto in showcase card
  docs/src/components/showcase-card.astro
Labels: ðŸ“š docs

fix wrong link
  docs/src/content/docs/id/guides/customization.mdx
Labels: i18n, ðŸ“š docs

fix wrong link
  docs/src/content/docs/id/guides/customization.mdx
Labels: i18n, ðŸ“š docs

18n(id): translate `guides/customization.mdx` (#935)
  docs/src/content/docs/id/guides/customization.mdx
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/id/guides/customization.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/reference/configuration.mdx
  docs/src/content/docs/de/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

[ci] release (#928)
  .changeset/fluffy-jars-crash.md
  .changeset/poor-vans-reflect.md
  .changeset/shaggy-socks-exercise.md
  .changeset/short-mirrors-happen.md
  .changeset/tasty-garlics-dress.md
  examples/basics/package.json
  examples/tailwind/package.json
  packages/starlight/CHANGELOG.md
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: ðŸŒŸ core

[ci] format
  packages/starlight/CHANGELOG.md
Labels: ðŸŒŸ core

test build
  docs/src/content/docs/de/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

now test with configuration.mdx
  docs/src/content/docs/de/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

found some weird unicode char in title
  docs/src/content/docs/de/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

Add social icons to MobileMenuFooter.astro
  packages/starlight/components/MobileMenuFooter.astro
Labels: ðŸŒŸ core

Add changeset
  .changeset/swift-geckos-remain.md
Labels: none

try removing sus section
  docs/src/content/docs/de/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

didnt excape brackets in code block; line 209, reference/configuration.mdx
  docs/src/content/docs/de/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/getting-started.mdx
  docs/src/content/docs/de/getting-started.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/guides/css-and-tailwind.mdx
  docs/src/content/docs/de/guides/css-and-tailwind.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/guides/customization.mdx
  docs/src/content/docs/de/guides/customization.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/guides/customization.mdx
  docs/src/content/docs/de/guides/customization.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/guides/customization.mdx
  docs/src/content/docs/de/guides/customization.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/guides/sidebar.mdx
  docs/src/content/docs/de/guides/sidebar.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/guides/i18n.mdx
  docs/src/content/docs/de/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/guides/sidebar.mdx
  docs/src/content/docs/de/guides/sidebar.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/showcase.mdx
  docs/src/content/docs/de/showcase.mdx
Labels: i18n, ðŸ“š docs

update translation authoring-content.md
  docs/src/content/docs/de/guides/authoring-content.md
Labels: i18n, ðŸ“š docs

update translation sidebar.md into German
  docs/src/content/docs/de/guides/sidebar.mdx
Labels: i18n, ðŸ“š docs

update translation sidebar.md 2 into German
  docs/src/content/docs/de/guides/sidebar.mdx
Labels: i18n, ðŸ“š docs

translate guides/overriding-components.md into German
  docs/src/content/docs/de/guides/overriding-components.md
Labels: i18n, ðŸ“š docs

small fixes
  docs/src/content/docs/de/guides/overriding-components.md
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/guides/authoring-content.md
  docs/src/content/docs/de/guides/authoring-content.md
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/guides/overriding-components.md
  docs/src/content/docs/de/guides/overriding-components.md
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/guides/overriding-components.md
  docs/src/content/docs/de/guides/overriding-components.md
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/guides/overriding-components.md
  docs/src/content/docs/de/guides/overriding-components.md
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/guides/overriding-components.md
  docs/src/content/docs/de/guides/overriding-components.md
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/reference/overrides.md
  docs/src/content/docs/de/reference/overrides.md
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/reference/overrides.md
  docs/src/content/docs/de/reference/overrides.md
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/reference/overrides.md
  docs/src/content/docs/de/reference/overrides.md
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/de/reference/overrides.md
  docs/src/content/docs/de/reference/overrides.md
Labels: i18n, ðŸ“š docs

.github/labeler.yml:

# See https://github.com/actions/labeler

'ðŸš¨ action':
  - .github/workflows/**

i18n:
  - docs/src/content/docs/de/**/*
  - docs/src/content/docs/es/**/*
  - docs/src/content/docs/fr/**/*
  - docs/src/content/docs/it/**/*
  - docs/src/content/docs/ja/**/*
  - docs/src/content/docs/zh-cn/**/*
  - docs/src/content/docs/pt-br/**/*
  - docs/src/content/docs/ko/**/*
  - docs/src/content/docs/ru/**/*
  - docs/src/content/docs/id/**/*
  - docs/src/content/docs/tr/**/*

'ðŸŒŸ core':
  - packages/starlight/**

'ðŸŒŸ tailwind':
  - packages/tailwind/**

'ðŸ“š docs':
  - docs/**
