Repository withastro/starlight, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, i18n, ðŸŒŸ core, ðŸŒŸ tailwind, ðŸ“š docs

.github/labeler.yml:

# See https://github.com/actions/labeler

'ðŸš¨ action':
  - .github/workflows/**

i18n:
  - docs/src/content/docs/de/**/*
  - docs/src/content/docs/es/**/*
  - docs/src/content/docs/fr/**/*
  - docs/src/content/docs/it/**/*
  - docs/src/content/docs/ja/**/*
  - docs/src/content/docs/zh/**/*
  - docs/src/content/docs/pt-br/**/*

'ðŸŒŸ core':
  - packages/starlight/**

'ðŸŒŸ tailwind':
  - packages/tailwind/**

'ðŸ“š docs':
  - docs/**

Update docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/guides/i18n.mdx
Labels: ðŸ“š docs

Update docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/guides/i18n.mdx
Labels: ðŸ“š docs

Update docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/guides/i18n.mdx
Labels: ðŸ“š docs

Set badge API
  packages/starlight/components/Badge.astro
  packages/starlight/components/SidebarSublist.astro
  packages/starlight/schema.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/user-config.ts
Labels: ðŸŒŸ core

add test
  packages/starlight/__tests__/sidebar/navigation-badges.test.ts
Labels: ðŸŒŸ core

add docs
  docs/src/content/docs/reference/frontmatter.md
Labels: ðŸ“š docs

add minor changeset
  .changeset/twenty-ladybugs-hope.md
Labels: none

fix changeset
  .changeset/twenty-ladybugs-hope.md
Labels: none

i18n(ko-KR): translate `index.mdx`
  docs/src/content/docs/ko/index.mdx
  packages/starlight/translations/ko.json
Labels: ðŸŒŸ core, ðŸ“š docs

i18n(ja): Update components.mdx
  docs/src/content/docs/ja/guides/components.mdx
Labels: i18n, ðŸ“š docs

555826d39edec9b0535edf734656dd9bf7cc31ea
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, ðŸ“š docs

fcff49ee4260ad68e80833712e161cbb978a2562
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, ðŸ“š docs

Add css-and-tailwind.mdx
  docs/src/content/docs/ja/guides/css-and-tailwind.mdx
Labels: i18n, ðŸ“š docs

i18n(ja): Update i18n.mdx
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

i18n(ja): Update frontmatter.md
  docs/src/content/docs/ja/reference/frontmatter.md
Labels: i18n, ðŸ“š docs

i18n(ja): Update showcase.md
  docs/src/content/docs/ja/showcase.md
Labels: i18n, ðŸ“š docs

06a205e0e673f505bbb87dfcfcb0f35b051677e9
  docs/src/content/docs/ja/reference/configuration.md
Labels: i18n, ðŸ“š docs

fcff49ee4260ad68e80833712e161cbb978a2562
  docs/src/content/docs/ja/reference/configuration.md
Labels: i18n, ðŸ“š docs

i18n(ko-KR): translate
  docs/src/content/docs/ko/getting-started.mdx
Labels: ðŸ“š docs

Add Swedish UI translations.
  packages/starlight/translations/index.ts
  packages/starlight/translations/sv.json
Labels: ðŸŒŸ core

Remove untranslated pages
  docs/src/content/docs/ko/404.md
  docs/src/content/docs/ko/environmental-impact.md
  docs/src/content/docs/ko/getting-started.mdx
  docs/src/content/docs/ko/guides/authoring-content.md
  docs/src/content/docs/ko/guides/components.mdx
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
  docs/src/content/docs/ko/guides/customization.mdx
  docs/src/content/docs/ko/guides/i18n.mdx
  docs/src/content/docs/ko/guides/project-structure.mdx
  docs/src/content/docs/ko/manual-setup.mdx
  docs/src/content/docs/ko/reference/configuration.md
  docs/src/content/docs/ko/reference/frontmatter.md
  docs/src/content/docs/ko/showcase.md
Labels: ðŸ“š docs

i18n(ko-KR): add Korean language support (#528)
  .changeset/three-crabs-juggle.md
  docs/astro.config.mjs
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/ko/index.mdx
  packages/starlight/translations/index.ts
  packages/starlight/translations/ko.json
Labels: ðŸŒŸ core, ðŸ“š docs

Add changeset
  .changeset/thirty-sheep-march.md
Labels: none

Add Swedish to list of supported languages in docs
  docs/src/content/docs/guides/i18n.mdx
Labels: ðŸ“š docs

i18n(ja): Update configuration.md (#533)
  docs/src/content/docs/ja/reference/configuration.md
Labels: i18n, ðŸ“š docs

i18n(ja): Update frontmatter.md (#534)
  docs/src/content/docs/ja/reference/frontmatter.md
Labels: i18n, ðŸ“š docs

i18n(ja): Update showcase.md (#535)
  docs/src/content/docs/ja/showcase.md
Labels: i18n, ðŸ“š docs

update page
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/ja/guides/components.mdx
  docs/src/content/docs/ja/guides/components.mdx
Labels: i18n, ðŸ“š docs

i18n(ja): Update customization.mdx and add css-and-tailwind.mdx (#531)
  docs/src/content/docs/ja/guides/css-and-tailwind.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, ðŸ“š docs

i18n(ja): Update components.mdx (#530)
  docs/src/content/docs/ja/guides/components.mdx
Labels: i18n, ðŸ“š docs

Add Swedish UI translations. (#537)
  .changeset/thirty-sheep-march.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/index.ts
  packages/starlight/translations/sv.json
Labels: ðŸŒŸ core, ðŸ“š docs

update page
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

i18n(es): Update `i18n.mdx` (#539)
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

i18n(ko-KR): translate `getting-started.mdx`
  docs/src/content/docs/ko/getting-started.mdx
Labels: ðŸ“š docs

add changeset
  .changeset/cuddly-pots-punch.md
Labels: none

Remove changeset :-D
  .changeset/cuddly-pots-punch.md
Labels: none

Add Korean and Swedish
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

i18n(pt-BR): Translate `components.mdx` (#508)
  docs/src/content/docs/pt-br/guides/components.mdx
Labels: i18n, ðŸ“š docs

i18n(ja): Update i18n.mdx (#532)
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, ðŸ“š docs
