Repository withastro/starlight, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, i18n, ðŸŒŸ core, ðŸŒŸ tailwind, ðŸ“š docs

.github/labeler.yml:

# See https://github.com/actions/labeler

'ðŸš¨ action':
  - .github/workflows/**

i18n:
  - docs/src/content/docs/de/**/*
  - docs/src/content/docs/es/**/*
  - docs/src/content/docs/fr/**/*
  - docs/src/content/docs/it/**/*
  - docs/src/content/docs/ja/**/*
  - docs/src/content/docs/zh-cn/**/*
  - docs/src/content/docs/pt-br/**/*
  - docs/src/content/docs/ko/**/*
  - docs/src/content/docs/ru/**/*
  - docs/src/content/docs/id/**/*
  - docs/src/content/docs/tr/**/*

'ðŸŒŸ core':
  - packages/starlight/**

'ðŸŒŸ tailwind':
  - packages/tailwind/**

'ðŸ“š docs':
  - docs/**

Small language tweak
  .github/DISCUSSION_TEMPLATE/feature-requests.yml
Labels: none

Use GitHub Discussions for feature requests (#945)
  .github/DISCUSSION_TEMPLATE/feature-requests.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

Update docs/src/content/docs/tr/guides/sidebar.mdx
  docs/src/content/docs/tr/guides/sidebar.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/tr/guides/sidebar.mdx
  docs/src/content/docs/tr/guides/sidebar.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/tr/guides/sidebar.mdx
  docs/src/content/docs/tr/guides/sidebar.mdx
Labels: i18n, ðŸ“š docs

i18n(tr): add `sidebar.mdx` (#920)
  docs/src/content/docs/tr/guides/sidebar.mdx
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/tr/guides/sidebar.mdx
Labels: i18n, ðŸ“š docs

Fix links
  docs/src/content/docs/uk/404.md
  docs/src/content/docs/uk/getting-started.mdx
  docs/src/content/docs/uk/guides/authoring-content.md
  docs/src/content/docs/uk/guides/components.mdx
  docs/src/content/docs/uk/guides/css-and-tailwind.mdx
  docs/src/content/docs/uk/guides/customization.mdx
  docs/src/content/docs/uk/index.mdx
  docs/src/content/docs/uk/manual-setup.mdx
  docs/src/content/docs/uk/reference/frontmatter.md
  docs/src/content/docs/uk/reference/overrides.md
  docs/src/content/docs/uk/showcase.mdx
Labels: ðŸ“š docs

Delete docs/src/content/docs/uk/guides/project-structure.mdx
  docs/src/content/docs/uk/guides/project-structure.mdx
Labels: ðŸ“š docs

Delete docs/src/content/docs/uk/guides/sidebar.mdx
  docs/src/content/docs/uk/guides/sidebar.mdx
Labels: ðŸ“š docs

Delete docs/src/content/docs/uk/guides/overriding-components.md
  docs/src/content/docs/uk/guides/overriding-components.md
Labels: ðŸ“š docs

Delete docs/src/content/docs/uk/guides/i18n.mdx
  docs/src/content/docs/uk/guides/i18n.mdx
Labels: ðŸ“š docs

add script to assign aspect ratio to iframes
  docs/src/content/docs/reference/test.mdx
  packages/starlight/components/MarkdownContent.astro
Labels: ðŸŒŸ core, ðŸ“š docs

i18n(zh-cn): Update configuration.mdx & Update sidebar.mdx (#931)
  docs/src/content/docs/zh-cn/guides/sidebar.mdx
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/zh-cn/guides/sidebar.mdx
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

i18n(zh-cn): Update i18n.mdx & Update customization.mdx (#933)
  docs/src/content/docs/zh-cn/guides/customization.mdx
  docs/src/content/docs/zh-cn/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

Fix translation status builder URLs for languages with region specifier (#930)
  docs-i18n-tracker/lib/translation-status/builder.ts
Labels: none

18n(id): improve sidebar label translation (#917)
  docs/astro.config.mjs
Labels: ðŸ“š docs

i18n(id): translate `guides/css-and-tailwind.mdx` (#910)
  docs/src/content/docs/id/guides/css-and-tailwind.mdx
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/id/guides/css-and-tailwind.mdx
Labels: i18n, ðŸ“š docs

18n(id): translate `guides/i18n.mdx` (#934)
  docs/src/content/docs/id/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/id/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

18n(id): translate `reference/configuration.mdx` (#941)
  docs/src/content/docs/id/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

i18n(pt-BR): Update `customization.mdx`, `i18n.mdx`, `index.mdx`, `frontmatter.md` and `configuration.mdx` (#940)
  docs/src/content/docs/pt-br/guides/customization.mdx
  docs/src/content/docs/pt-br/guides/i18n.mdx
  docs/src/content/docs/pt-br/index.mdx
  docs/src/content/docs/pt-br/reference/configuration.mdx
  docs/src/content/docs/pt-br/reference/frontmatter.md
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/pt-br/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

fixed a link to astro docs
  docs/src/content/docs/ru/guides/overriding-components.md
Labels: i18n, ðŸ“š docs

docs: tweak overrides reference `headings` prop wording
  docs/src/content/docs/reference/overrides.md
Labels: ðŸ“š docs

i18n(ru): added translations for i18n, overriding-components, sidebar (#919)
  docs/src/content/docs/ru/guides/customization.mdx
  docs/src/content/docs/ru/guides/i18n.mdx
  docs/src/content/docs/ru/guides/overriding-components.md
  docs/src/content/docs/ru/guides/sidebar.mdx
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/ru/guides/overriding-components.md
  docs/src/content/docs/ru/guides/sidebar.mdx
Labels: i18n, ðŸ“š docs

fix: prevent text from overflowing prev/next links
  .changeset/tasty-garlics-dress.md
  packages/starlight/components/Pagination.astro
Labels: ðŸŒŸ core

fix: prevent text from overflowing prev/next links (#814)
  .changeset/tasty-garlics-dress.md
  packages/starlight/components/Pagination.astro
Labels: ðŸŒŸ core

Point edit link to default locale file for fallback content
  packages/starlight/utils/route-data.ts
Labels: ðŸŒŸ core

Add changeset
  .changeset/poor-vans-reflect.md
Labels: none

Point edit link to default locale file for fallback content (#985)
  .changeset/poor-vans-reflect.md
  packages/starlight/utils/route-data.ts
Labels: ðŸŒŸ core

fix: prevent overscroll on mobile toc
  .changeset/shaggy-socks-exercise.md
  packages/starlight/components/MobileTableOfContents.astro
Labels: ðŸŒŸ core

fix: prevent overscroll on mobile toc (#986)
  .changeset/shaggy-socks-exercise.md
  packages/starlight/components/MobileTableOfContents.astro
Labels: ðŸŒŸ core

i18n(tr): add `project-structure.mdx` file
  docs/src/content/docs/tr/guides/project-structure.mdx
Labels: i18n, ðŸ“š docs

i18n(tr): add `project-structure.mdx` file (#987)
  docs/src/content/docs/tr/guides/project-structure.mdx
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/tr/guides/project-structure.mdx
Labels: i18n, ðŸ“š docs

remove script fix
  packages/starlight/components/MarkdownContent.astro
Labels: ðŸŒŸ core
