Repository withastro/starlight, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, i18n, ðŸŒŸ core, ðŸŒŸ tailwind, ðŸ“š docs

.github/labeler.yml:

# See https://github.com/actions/labeler

'ðŸš¨ action':
  - .github/workflows/**

i18n:
  - docs/src/content/docs/de/**/*
  - docs/src/content/docs/es/**/*
  - docs/src/content/docs/fr/**/*
  - docs/src/content/docs/it/**/*
  - docs/src/content/docs/ja/**/*
  - docs/src/content/docs/zh-cn/**/*
  - docs/src/content/docs/pt-br/**/*
  - docs/src/content/docs/ko/**/*
  - docs/src/content/docs/ru/**/*
  - docs/src/content/docs/id/**/*
  - docs/src/content/docs/tr/**/*

'ðŸŒŸ core':
  - packages/starlight/**

'ðŸŒŸ tailwind':
  - packages/tailwind/**

'ðŸ“š docs':
  - docs/**

remove 'new' badge from sidebar and translate reference/overrides.md into German
  docs/src/content/docs/de/guides/sidebar.mdx
  docs/src/content/docs/de/reference/overrides.md
Labels: i18n, ðŸ“š docs

translated changes in reference/configuration into German; not confirmed
  docs/src/content/docs/de/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

overrides - first pass
  docs/src/content/docs/pt-br/reference/overrides.md
Labels: i18n, ðŸ“š docs

fix height in showcase card
  docs/src/components/showcase-card.astro
Labels: ðŸ“š docs

tests - remove this before merge
  docs/src/content/docs/reference/test.mdx
Labels: ðŸ“š docs

apply height auto to elements w/o height
  packages/starlight/components/MarkdownContent.astro
Labels: ðŸŒŸ core

overriding-components - pass 2
  docs/src/content/docs/pt-br/guides/overriding-components.md
Labels: i18n, ðŸ“š docs

make ally ci happy
  docs/src/content/docs/reference/test.mdx
Labels: ðŸ“š docs

overrides - pass2
  docs/src/content/docs/pt-br/reference/overrides.md
Labels: i18n, ðŸ“š docs

fix test example
  docs/src/content/docs/reference/test.mdx
Labels: ðŸ“š docs

Update overrides.md
  docs/src/content/docs/pt-br/reference/overrides.md
Labels: i18n, ðŸ“š docs

update based on #869
  docs/src/content/docs/pt-br/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

Update frontmatter.md
  docs/src/content/docs/pt-br/reference/frontmatter.md
Labels: i18n, ðŸ“š docs

Update customization.mdx
  docs/src/content/docs/pt-br/guides/customization.mdx
Labels: i18n, ðŸ“š docs

Update i18n.mdx
  docs/src/content/docs/pt-br/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

Update index.mdx
  docs/src/content/docs/pt-br/index.mdx
Labels: i18n, ðŸ“š docs

update configuration.mdx content
  docs/src/content/docs/pt-br/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

feat: add plugin `addIntegration` helper
  packages/starlight/__tests__/plugins/integration.test.ts
  packages/starlight/__tests__/test-config.ts
  packages/starlight/index.ts
  packages/starlight/utils/plugins.ts
Labels: ðŸŒŸ core

feat: expose `StarlightPlugin` type
  packages/starlight/types.ts
Labels: ðŸŒŸ core

test: ensure plugins are not exposed to config virtual module
  packages/starlight/__tests__/plugins/config.test.ts
  packages/starlight/__tests__/plugins/integration.test.ts
Labels: ðŸŒŸ core

feat: add search demo plugin
  docs/astro.config.mjs
  docs/package.json
  packages/starlight-search-demo/index.ts
  packages/starlight-search-demo/overrides/Search.astro
  packages/starlight-search-demo/package.json
  packages/starlight-search-demo/virtual.d.ts
  pnpm-lock.yaml
Labels: ðŸ“š docs

'zh-CN' BCP-47 tag
  docs/src/content/docs/pt-br/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

translate reference/configuration.mdx
  docs/src/content/docs/id/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

docs: add plugin documentation
  docs/src/content/docs/reference/configuration.mdx
  docs/src/content/docs/reference/plugins.md
  docs/src/content/docs/showcase.mdx
  packages/starlight/utils/plugins.ts
Labels: ðŸŒŸ core, ðŸ“š docs

test: add plugin validation test
  packages/starlight/__tests__/plugins/config.test.ts
  packages/starlight/__tests__/plugins/integration.test.ts
  packages/starlight/vitest.config.ts
Labels: ðŸŒŸ core

style: remove unused import
  packages/starlight/utils/user-config.ts
Labels: ðŸŒŸ core

fix: strip leading and trailing slashes fronm `autogenerate.directory`
  .changeset/fluffy-jars-crash.md
  packages/starlight/__tests__/sidebar/navigation-attributes.test.ts
  packages/starlight/__tests__/sidebar/navigation-badges.test.ts
  packages/starlight/__tests__/sidebar/navigation-hidden.test.ts
  packages/starlight/__tests__/sidebar/navigation-order.test.ts
  packages/starlight/__tests__/sidebar/navigation.test.ts
  packages/starlight/__tests__/sidebar/vitest.config.ts
  packages/starlight/schemas/sidebar.ts
Labels: ðŸŒŸ core

i18n(ko-KR): update `sidebar.mdx` (#908)
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, ðŸ“š docs

i18n(ko-KR): update `customization.mdx` (#909)
  docs/src/content/docs/ko/guides/customization.mdx
Labels: i18n, ðŸ“š docs

18n(id): translate `guides/overriding-components.md` (#911)
  docs/src/content/docs/id/guides/overriding-components.md
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/id/guides/overriding-components.md
Labels: i18n, ðŸ“š docs

18n(id): translate `guides/sidebar.mdx` (#916)
  docs/src/content/docs/id/guides/sidebar.mdx
Labels: i18n, ðŸ“š docs

i18n(ko-KR): update `configuration.mdx` (#907)
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, ðŸ“š docs

i18n(tr): add `showcase.mdx` (#929)
  docs/src/content/docs/tr/showcase.mdx
Labels: i18n, ðŸ“š docs

Remove unused import (#943)
  packages/starlight/utils/user-config.ts
Labels: ðŸŒŸ core

translate ThemeDesigner presets
  docs/src/content/docs/id/guides/css-and-tailwind.mdx
Labels: i18n, ðŸ“š docs

Strip leading and trailing slashes from `autogenerate.directory` (#944)
  .changeset/fluffy-jars-crash.md
  packages/starlight/__tests__/sidebar/navigation-attributes.test.ts
  packages/starlight/__tests__/sidebar/navigation-badges.test.ts
  packages/starlight/__tests__/sidebar/navigation-hidden.test.ts
  packages/starlight/__tests__/sidebar/navigation-order.test.ts
  packages/starlight/__tests__/sidebar/navigation.test.ts
  packages/starlight/__tests__/sidebar/vitest.config.ts
  packages/starlight/schemas/sidebar.ts
Labels: ðŸŒŸ core

add md img
  docs/src/content/docs/reference/test.mdx
Labels: ðŸ“š docs

Use GitHub Discussions for feature requests
  .github/DISCUSSION_TEMPLATE/feature-requests.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none
