Repository withastro/starlight, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, i18n, ðŸŒŸ core, ðŸŒŸ tailwind, ðŸŒŸ docsearch, ðŸŒŸ markdoc, ðŸ“š docs

test: refactor i18n config test types
  packages/starlight/__tests__/basics/i18n.test.ts
Labels: ðŸŒŸ core

i18n(ko-KR): update `plugins.mdx` (#2987)
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, ðŸ“š docs

feat(tailwind): support @astrojs/tailwind v6
  .changeset/five-avocados-hang.md
  packages/tailwind/package.json
  src/env.d.ts
Labels: ðŸŒŸ tailwind

i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, ðŸ“š docs

Delete src/env.d.ts
  src/env.d.ts
Labels: none

i18n(fr): update `resources/plugins` (#2990)
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, ðŸ“š docs

feat(tailwind): support @astrojs/tailwind v6 (#2991)
  .changeset/five-avocados-hang.md
  packages/tailwind/package.json
Labels: ðŸŒŸ tailwind

fix: Affect the default value to the pagefind merged indexes configuration
  packages/starlight/schemas/pagefind.ts
Labels: ðŸŒŸ core

chore: disable renovate dashboard
  .github/renovate.json5
Labels: none

chore: disable renovate dashboard (#2995)
  .github/renovate.json5
Labels: none

feat: icon component
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/docs/test.mdx
  docs/src/icons/test.svg
  packages/starlight/index.ts
  packages/starlight/package.json
  packages/starlight/user-components/Icon.astro
  pnpm-lock.yaml
Labels: ðŸŒŸ core, ðŸ“š docs

add own plugin and enhance some other descriptions
  docs/src/content/docs/resources/plugins.mdx
Labels: ðŸ“š docs

feat: card icon demo
  docs/src/content/docs/test.mdx
  packages/starlight/user-components/Icon.astro
Labels: ðŸŒŸ core, ðŸ“š docs

feat: aside component icons
  docs/src/content/docs/test.mdx
  packages/starlight/user-components/Aside.astro
  packages/starlight/user-components/Icon.astro
Labels: ðŸŒŸ core, ðŸ“š docs

add own plugin and enhance some other descriptions (#2996)
  docs/src/content/docs/resources/plugins.mdx
Labels: ðŸ“š docs

update astro to the latest version (#2948)
  docs/package.json
  examples/basics/package.json
  examples/markdoc/package.json
  examples/tailwind/package.json
  package.json
  packages/starlight/__e2e__/fixtures/basics/package.json
  packages/starlight/__e2e__/fixtures/custom src-dir/package.json
  packages/starlight/__e2e__/fixtures/git/package.json
  packages/starlight/__e2e__/fixtures/legacy-collection-config-file/package.json
  packages/starlight/__e2e__/fixtures/ssr/package.json
  packages/starlight/__tests__/basics/i18n.test.ts
  packages/starlight/package.json
  packages/starlight/utils/i18n.ts
  pnpm-lock.yaml
Labels: ðŸŒŸ core, ðŸ“š docs

Move comment
  packages/starlight/schemas/pagefind.ts
Labels: ðŸŒŸ core

Add changeset
  .changeset/five-glasses-shout.md
Labels: none

fix: Search ranking on merge indexes (#2994)
  .changeset/five-glasses-shout.md
  packages/starlight/schemas/pagefind.ts
Labels: ðŸŒŸ core

[ci] format
  packages/starlight/schemas/pagefind.ts
Labels: ðŸŒŸ core

Add npm social icon (#2969)
  .changeset/sour-bats-visit.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: ðŸŒŸ core

Add Starlight Markdown Blocks to community plugins
  docs/src/content/docs/resources/plugins.mdx
Labels: ðŸ“š docs

[ci] release (#2992)
  .changeset/five-avocados-hang.md
  .changeset/five-glasses-shout.md
  .changeset/sour-bats-visit.md
  examples/basics/package.json
  examples/markdoc/package.json
  examples/tailwind/package.json
  packages/starlight/CHANGELOG.md
  packages/starlight/package.json
  packages/tailwind/CHANGELOG.md
  packages/tailwind/package.json
  pnpm-lock.yaml
Labels: ðŸŒŸ core, ðŸŒŸ tailwind

remove ghostcms plugin
  docs/src/content/docs/resources/plugins.mdx
Labels: ðŸ“š docs

Update plugins.mdx
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, ðŸ“š docs

Add Starlight Markdown Blocks to community plugins (#2998)
  docs/src/content/docs/resources/plugins.mdx
Labels: ðŸ“š docs

remove ghostcms plugin (#2999)
  docs/src/content/docs/resources/plugins.mdx
Labels: ðŸ“š docs

i18n(de): update `plugins.mdx` (#2988)
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, ðŸ“š docs

i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, ðŸ“š docs

i18n(fr): update `resources/plugins` (#3000)
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, ðŸ“š docs

feat: aside directive custom built-in icons
  docs/src/content/docs/test.mdx
  packages/starlight/components/Icons.ts
  packages/starlight/integrations/asides.ts
  packages/starlight/user-components/Aside.astro
  packages/starlight/user-components/Icon.astro
  packages/starlight/user-components/rehype-file-tree.ts
Labels: ðŸŒŸ core, ðŸ“š docs

feat(docs): Exchange apostrophes in plugins to be smart
  docs/src/content/docs/resources/plugins.mdx
Labels: ðŸ“š docs

[i18nIgnore] docs: Exchange apostrophes in plugins to be smart (#3001)
  docs/src/content/docs/resources/plugins.mdx
Labels: ðŸ“š docs

i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, ðŸ“š docs

update plugins
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, ðŸ“š docs

i18n(ko-KR): update `plugins.mdx` (#3002)
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, ðŸ“š docs

update plugins (#3003)
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, ðŸ“š docs

Add new `link` option to `LogoConfig`
  .changeset/long-trains-jog.md
  docs/src/content/docs/guides/customization.mdx
  packages/starlight/components/SiteTitle.astro
  packages/starlight/schemas/logo.ts
Labels: ðŸŒŸ core, ðŸ“š docs

.github/labeler.yml:

# See https://github.com/actions/labeler

'ðŸš¨ action':
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**

i18n:
  - changed-files:
      - any-glob-to-any-file:
          - docs/src/content/docs/de/**/*
          - docs/src/content/docs/es/**/*
          - docs/src/content/docs/fr/**/*
          - docs/src/content/docs/it/**/*
          - docs/src/content/docs/ja/**/*
          - docs/src/content/docs/zh-cn/**/*
          - docs/src/content/docs/pt-br/**/*
          - docs/src/content/docs/pt-pt/**/*
          - docs/src/content/docs/ko/**/*
          - docs/src/content/docs/ru/**/*
          - docs/src/content/docs/id/**/*
          - docs/src/content/docs/tr/**/*
          - docs/src/content/docs/hi/**/*
          - docs/src/content/docs/da/**/*
          - docs/src/content/docs/uk/**/*

'ðŸŒŸ core':
  - changed-files:
      - any-glob-to-any-file:
          - packages/starlight/**

'ðŸŒŸ tailwind':
  - changed-files:
      - any-glob-to-any-file:
          - packages/tailwind/**

'ðŸŒŸ docsearch':
  - changed-files:
      - any-glob-to-any-file:
          - packages/docsearch/**

'ðŸŒŸ markdoc':
  - changed-files:
      - any-glob-to-any-file:
          - packages/markdoc/**

'ðŸ“š docs':
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
