Repository withastro/starlight, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, i18n, ðŸŒŸ core, ðŸŒŸ tailwind, ðŸ“š docs

.github/labeler.yml:

# See https://github.com/actions/labeler

'ðŸš¨ action':
  - .github/workflows/**

i18n:
  - docs/src/content/docs/de/**/*
  - docs/src/content/docs/es/**/*
  - docs/src/content/docs/fr/**/*
  - docs/src/content/docs/it/**/*
  - docs/src/content/docs/ja/**/*
  - docs/src/content/docs/zh/**/*
  - docs/src/content/docs/pt-br/**/*

'ðŸŒŸ core':
  - packages/starlight/**

'ðŸŒŸ tailwind':
  - packages/tailwind/**

'ðŸ“š docs':
  - docs/**

i18n(zh-cn): Translate css-and-tailwind.mdx (#545)
  docs/src/content/docs/zh/guides/css-and-tailwind.mdx
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/zh/guides/css-and-tailwind.mdx
Labels: i18n, ðŸ“š docs

Update docs/src/content/docs/ko/manual-setup.mdx
  docs/src/content/docs/ko/manual-setup.mdx
Labels: ðŸ“š docs

Less query, more Otterlord
  docs/src/content/docs/getting-started.mdx
Labels: ðŸ“š docs

i18n(ko-KR): translate `manual-setup.mdx` (#546)
  docs/src/content/docs/ko/manual-setup.mdx
Labels: ðŸ“š docs

update page
  docs/src/content/docs/es/showcase.md
  docs/src/content/docs/es/showcase.mdx
Labels: i18n, ðŸ“š docs

translate desc
  docs/src/content/docs/es/showcase.mdx
Labels: i18n, ðŸ“š docs

[docs] Add link to GitHub issues under Troubleshooting (#543)
  docs/src/content/docs/getting-started.mdx
Labels: ðŸ“š docs

i18n(es): Update `showcase.mdx` (#548)
  docs/src/content/docs/es/showcase.md
  docs/src/content/docs/es/showcase.mdx
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/es/showcase.mdx
Labels: i18n, ðŸ“š docs

update page
  docs/src/content/docs/es/getting-started.mdx
Labels: i18n, ðŸ“š docs

fix typo
  docs/src/content/docs/es/getting-started.mdx
Labels: i18n, ðŸ“š docs

i18n(es): Update `getting-started.mdx` (#549)
  docs/src/content/docs/es/getting-started.mdx
Labels: i18n, ðŸ“š docs

Remove warning & add support section
  packages/starlight/README.md
Labels: ðŸŒŸ core

i18n(zh-cn): Update getting-started.mdx
  docs/src/content/docs/zh/getting-started.mdx
Labels: i18n, ðŸ“š docs

i18n(zh-cn): Update showcase
  docs/src/content/docs/zh/showcase.md
  docs/src/content/docs/zh/showcase.mdx
Labels: i18n, ðŸ“š docs

i18n(ko-KR): translate `environmental-impact.md`
  docs/src/content/docs/ko/environmental-impact.md
Labels: ðŸ“š docs

i18n(zh-cn): Update getting-started.mdx (#552)
  docs/src/content/docs/zh/getting-started.mdx
Labels: i18n, ðŸ“š docs

i18n(ko-KR): translate `environmental-impact.md` (#554)
  docs/src/content/docs/ko/environmental-impact.md
Labels: ðŸ“š docs

update translations
  docs/src/content/docs/zh/showcase.mdx
Labels: i18n, ðŸ“š docs

i18n(ja): Update getting-started.mdx
  docs/src/content/docs/ja/getting-started.mdx
Labels: i18n, ðŸ“š docs

i18n(ja): Update showcase.mdx
  docs/src/content/docs/ja/showcase.md
  docs/src/content/docs/ja/showcase.mdx
Labels: i18n, ðŸ“š docs

i18n(fr): update `showcase.mdx`
  docs/astro.config.mjs
  docs/src/content/docs/fr/showcase.md
  docs/src/content/docs/fr/showcase.mdx
Labels: i18n, ðŸ“š docs

update: updated getting-started
  docs/src/content/docs/fr/getting-started.mdx
Labels: i18n, ðŸ“š docs

Add Stack Overflow icon
  .changeset/rare-insects-burn.md
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/Icons.ts
  packages/starlight/components/SocialIcons.astro
  packages/starlight/utils/user-config.ts
Labels: ðŸŒŸ core, ðŸ“š docs

Microtweak
  packages/starlight/README.md
Labels: ðŸŒŸ core

Remove warning & add support section to README (#551)
  packages/starlight/README.md
Labels: ðŸŒŸ core

i18n(ko-KR): translate `showcase.mdx`
  docs/src/content/docs/ko/showcase.mdx
Labels: ðŸ“š docs

i18n(ja): Update getting-started.mdx (#555)
  docs/src/content/docs/ja/getting-started.mdx
Labels: i18n, ðŸ“š docs

i18n(ja): Update showcase (#556)
  docs/src/content/docs/ja/showcase.md
  docs/src/content/docs/ja/showcase.mdx
Labels: i18n, ðŸ“š docs

i18n(ko-KR): translate `showcase.mdx` (#560)
  docs/src/content/docs/ko/showcase.mdx
Labels: ðŸ“š docs

i18n(zh-cn): Update showcase (#553)
  docs/src/content/docs/zh/showcase.md
  docs/src/content/docs/zh/showcase.mdx
Labels: i18n, ðŸ“š docs

i18n(fr): update `showcase.mdx` (#557)
  docs/astro.config.mjs
  docs/src/content/docs/fr/showcase.md
  docs/src/content/docs/fr/showcase.mdx
Labels: i18n, ðŸ“š docs

Add announcement banner feature
  docs/src/content/docs/reference/frontmatter.md
  packages/starlight/components/Banner.astro
  packages/starlight/layout/Page.astro
  packages/starlight/schema.ts
  packages/starlight/style/props.css
Labels: ðŸŒŸ core, ðŸ“š docs

Use prefixed banner class name
  packages/starlight/components/Banner.astro
Labels: ðŸŒŸ core

Add `role="banner"` to the banner markup
  packages/starlight/components/Banner.astro
Labels: ðŸŒŸ core

docs: add `starlight-openapi` to showcase
  docs/src/content/docs/showcase.mdx
Labels: ðŸ“š docs

Make it easy to override text color & add shadow
  packages/starlight/components/Banner.astro
Labels: ðŸŒŸ core

Add Product Hunt banner and initial styles to Starlight docs
  docs/src/assets/landing.css
  docs/src/content/docs/index.mdx
Labels: ðŸ“š docs

chore: applied suggestions
  docs/src/content/docs/fr/getting-started.mdx
Labels: i18n, ðŸ“š docs
