Repository withastro/starlight, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, i18n, ðŸŒŸ core, ðŸŒŸ tailwind, ðŸ“š docs

add zod transform
  packages/starlight/schemas/badge.ts
  packages/starlight/utils/navigation.ts
Labels: ðŸŒŸ core

move to user components, add accent default style and decrease specificity
  packages/starlight/components.ts
  packages/starlight/components/SidebarSublist.astro
  packages/starlight/user-components/Badge.astro
Labels: ðŸŒŸ core

reuse sl color palette
  packages/starlight/user-components/Badge.astro
Labels: ðŸŒŸ core

add config test
  packages/starlight/__tests__/basics/navigation-labels.test.ts
  packages/starlight/__tests__/basics/navigation-order.test.ts
  packages/starlight/__tests__/basics/navigation.test.ts
  packages/starlight/__tests__/i18n/navigation-order.test.ts
  packages/starlight/__tests__/sidebar/navigation-badges.test.ts
  packages/starlight/__tests__/sidebar/navigation-hidden.test.ts
  packages/starlight/__tests__/sidebar/navigation-order.test.ts
  packages/starlight/__tests__/sidebar/navigation.test.ts
  packages/starlight/__tests__/sidebar/vitest.config.ts
Labels: ðŸŒŸ core

docs: add sidebar guide
  docs/src/components/sidebar-preview.astro
  docs/src/content/docs/guides/sidebar.mdx
Labels: ðŸ“š docs

add a few styles
  packages/starlight/user-components/Badge.astro
Labels: ðŸŒŸ core

Apply suggestions from code review
  docs/src/content/docs/reference/configuration.md
  docs/src/content/docs/reference/frontmatter.md
Labels: ðŸ“š docs

i18n(ko-KR): translate `authoring-content.md`
  docs/src/content/docs/ko/guides/authoring-content.md
Labels: ðŸ“š docs

fix: typo
  docs/src/content/docs/ko/guides/authoring-content.md
Labels: ðŸ“š docs

i18n(ko-KR): update `getting-started.mdx`
  docs/src/content/docs/ko/getting-started.mdx
Labels: ðŸ“š docs

i18n(ko-KR): fix typo
  docs/src/content/docs/ko/getting-started.mdx
Labels: ðŸ“š docs

fix: use locale when sorting autogenerated sidebar entries
  .changeset/large-points-wait.md
  packages/starlight/__tests__/i18n/navigation-order.test.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/vitest.config.ts
Labels: ðŸŒŸ core

Add correct PH link
  docs/src/content/docs/index.mdx
Labels: ðŸ“š docs

Progressive enbalancement
  packages/starlight/components/Banner.astro
Labels: ðŸŒŸ core

i18n(fr): Update `getting-started.mdx` (#558)
  docs/src/content/docs/fr/getting-started.mdx
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/fr/getting-started.mdx
Labels: i18n, ðŸ“š docs

i18n(ko-KR): update `getting-started.mdx` (#568)
  docs/src/content/docs/ko/getting-started.mdx
Labels: ðŸ“š docs

Update docs/src/content/docs/ko/guides/authoring-content.md
  docs/src/content/docs/ko/guides/authoring-content.md
Labels: ðŸ“š docs

Update docs/src/content/docs/ko/guides/authoring-content.md
  docs/src/content/docs/ko/guides/authoring-content.md
Labels: ðŸ“š docs

Update docs/src/content/docs/ko/guides/authoring-content.md
  docs/src/content/docs/ko/guides/authoring-content.md
Labels: ðŸ“š docs

Add Houston and tweak PH banner
  docs/public/ph-houston.svg
  docs/src/assets/landing.css
  docs/src/content/docs/index.mdx
Labels: ðŸ“š docs

i18n(ko-KR): translate `authoring-content.md` (#566)
  docs/src/content/docs/ko/guides/authoring-content.md
Labels: ðŸ“š docs

Add `starlight-openapi` to showcase (#563)
  docs/src/content/docs/showcase.mdx
Labels: ðŸ“š docs

i18n(fr): update `showcase.mdx`
  docs/src/content/docs/fr/showcase.mdx
Labels: i18n, ðŸ“š docs

update page
  docs/src/content/docs/es/showcase.mdx
Labels: i18n, ðŸ“š docs

Add /ph rewrite
  docs/public/_redirects
Labels: ðŸ“š docs

Update _redirects
  docs/public/_redirects
Labels: ðŸ“š docs

Update docs/public/_redirects
  docs/public/_redirects
Labels: ðŸ“š docs

Update docs/public/_redirects
  docs/public/_redirects
Labels: ðŸ“š docs

Update docs/public/_redirects
  docs/public/_redirects
Labels: ðŸ“š docs

Update docs/public/_redirects
  docs/public/_redirects
Labels: ðŸ“š docs

Add /ph rewrite (#573)
  docs/public/_redirects
Labels: ðŸ“š docs

i18n(es): Update showcase.mdx (#572)
  docs/src/content/docs/es/showcase.mdx
Labels: i18n, ðŸ“š docs

i18n(ja): Update showcase
  docs/src/content/docs/ja/showcase.mdx
Labels: i18n, ðŸ“š docs

i18n(ko-KR): translate `components.mdx`
  docs/src/content/docs/ko/guides/components.mdx
Labels: ðŸ“š docs

i18n(ko-KR): update `showcase.mdx`
  docs/src/content/docs/ko/showcase.mdx
Labels: ðŸ“š docs

move Badge to components dir
  packages/starlight/components.ts
  packages/starlight/components/Badge.astro
  packages/starlight/components/SidebarSublist.astro
Labels: ðŸŒŸ core

i18n(ko-KR): translate `project-structure.mdx`
  docs/src/content/docs/ko/guides/project-structure.mdx
Labels: ðŸ“š docs

i18n(ja): Update showcase.mdx (#574)
  docs/src/content/docs/ja/showcase.mdx
Labels: i18n, ðŸ“š docs

i18n(ko-KR): translate `components.mdx` (#575)
  docs/src/content/docs/ko/guides/components.mdx
Labels: ðŸ“š docs

.github/labeler.yml:

# See https://github.com/actions/labeler

'ðŸš¨ action':
  - .github/workflows/**

i18n:
  - docs/src/content/docs/de/**/*
  - docs/src/content/docs/es/**/*
  - docs/src/content/docs/fr/**/*
  - docs/src/content/docs/it/**/*
  - docs/src/content/docs/ja/**/*
  - docs/src/content/docs/zh/**/*
  - docs/src/content/docs/pt-br/**/*

'ðŸŒŸ core':
  - packages/starlight/**

'ðŸŒŸ tailwind':
  - packages/tailwind/**

'ðŸ“š docs':
  - docs/**
