Repository withastro/starlight, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, i18n, ðŸŒŸ core, ðŸŒŸ tailwind, ðŸ“š docs

.github/labeler.yml:

# See https://github.com/actions/labeler

'ðŸš¨ action':
  - .github/workflows/**

i18n:
  - docs/src/content/docs/de/**/*
  - docs/src/content/docs/es/**/*
  - docs/src/content/docs/fr/**/*
  - docs/src/content/docs/it/**/*
  - docs/src/content/docs/ja/**/*
  - docs/src/content/docs/zh/**/*
  - docs/src/content/docs/pt-br/**/*

'ðŸŒŸ core':
  - packages/starlight/**

'ðŸŒŸ tailwind':
  - packages/tailwind/**

'ðŸ“š docs':
  - docs/**

i18n(ko-KR): translate `getting-started.mdx` (#540)
  docs/src/content/docs/ko/getting-started.mdx
Labels: ðŸ“š docs

Improve inline code and code block support in RTL languages (#525)
  .changeset/long-parrots-give.md
  packages/starlight/__tests__/remark-rehype/code-rtl-support.test.ts
  packages/starlight/__tests__/remark-rehype/vitest.config.ts
  packages/starlight/index.ts
  packages/starlight/integrations/code-rtl-support.ts
Labels: ðŸŒŸ core

Fix 404 link
  docs/src/content/docs/pt-br/404.md
Labels: i18n, ðŸ“š docs

i18n(pt-BR): Translate `404.md` & `authoring-content.md` (#504)
  docs/src/content/docs/pt-br/404.md
  docs/src/content/docs/pt-br/guides/authoring-content.md
Labels: i18n, ðŸ“š docs

i18n(pt-BR): Translate `css-and-tailwind.mdx` (#510)
  docs/src/content/docs/pt-br/guides/css-and-tailwind.mdx
Labels: i18n, ðŸ“š docs

i18n(pt-BR): Translate `customization.mdx` (#511)
  docs/src/content/docs/pt-br/guides/customization.mdx
Labels: i18n, ðŸ“š docs

i18n(pt-BR): Translate `configuration.md` (#514)
  docs/src/content/docs/pt-br/reference/configuration.md
Labels: i18n, ðŸ“š docs

i18n(pt-BR): Translate `frontmatter.md` (#512)
  docs/src/content/docs/pt-br/reference/frontmatter.md
Labels: i18n, ðŸ“š docs

Use `Intl.NumberFormat` to display decimals in theme editor
  docs/src/components/theme-designer/value-slider.astro
Labels: ðŸ“š docs

[ci] release (#538)
  .changeset/long-parrots-give.md
  .changeset/thirty-sheep-march.md
  .changeset/three-crabs-juggle.md
  examples/basics/package.json
  examples/tailwind/package.json
  packages/starlight/CHANGELOG.md
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: ðŸŒŸ core

[ci] format
  packages/starlight/CHANGELOG.md
Labels: ðŸŒŸ core

Remove work-in-progress warning from getting started page
  docs/src/content/docs/de/getting-started.mdx
  docs/src/content/docs/es/getting-started.mdx
  docs/src/content/docs/fr/getting-started.mdx
  docs/src/content/docs/getting-started.mdx
  docs/src/content/docs/it/getting-started.mdx
  docs/src/content/docs/ja/getting-started.mdx
  docs/src/content/docs/ko/getting-started.mdx
  docs/src/content/docs/pt-br/getting-started.mdx
  docs/src/content/docs/zh/getting-started.mdx
Labels: i18n, ðŸ“š docs

[i18nIgnore] Remove work-in-progress warning from getting started (#542)
  docs/src/content/docs/de/getting-started.mdx
  docs/src/content/docs/es/getting-started.mdx
  docs/src/content/docs/fr/getting-started.mdx
  docs/src/content/docs/getting-started.mdx
  docs/src/content/docs/it/getting-started.mdx
  docs/src/content/docs/ja/getting-started.mdx
  docs/src/content/docs/ko/getting-started.mdx
  docs/src/content/docs/pt-br/getting-started.mdx
  docs/src/content/docs/zh/getting-started.mdx
Labels: i18n, ðŸ“š docs

Update languages
  docs/src/content/docs/pt-br/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

oops, forgot korean
  docs/src/content/docs/pt-br/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

i18n(pt-BR): Translate `i18n.mdx` (#505)
  docs/src/content/docs/pt-br/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

Use `Intl.NumberFormat` to display decimals in theme editor (#541)
  docs/src/components/theme-designer/value-slider.astro
Labels: ðŸ“š docs

add link to GitHub issues - Troubleshooting
  docs/src/content/docs/getting-started.mdx
Labels: ðŸ“š docs

Update packages/starlight/components/Badge.astro
  packages/starlight/components/Badge.astro
Labels: ðŸŒŸ core

add HiDeo zod dark magic
  packages/starlight/schema.ts
  packages/starlight/schemas/badge.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/user-config.ts
Labels: ðŸŒŸ core

i18n(zh-cn): Update i18n.mdx
  docs/src/content/docs/zh/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

i18n(zh-cn): Translate css-and-tailwind.mdx
  docs/src/content/docs/zh/guides/css-and-tailwind.mdx
Labels: i18n, ðŸ“š docs

i18n(ko-KR): translate `manual-setup.mdx`
  docs/src/content/docs/ko/manual-setup.mdx
Labels: ðŸ“š docs

add badge docs in config
  docs/src/content/docs/reference/configuration.md
Labels: ðŸ“š docs

Update translate
  packages/starlight/translations/fa.json
  packages/starlight/translations/ko.json
  packages/starlight/translations/sv.json
Labels: ðŸŒŸ core

get current lang from file path
  packages/starlight/integrations/asides.ts
Labels: ðŸŒŸ core

get default locale
  packages/starlight/index.ts
  packages/starlight/integrations/asides.ts
Labels: ðŸŒŸ core

format
  packages/starlight/integrations/asides.ts
  packages/starlight/schemas/i18n.ts
Labels: ðŸŒŸ core

read userTranslations
  docs/src/content/docs/zh/guides/components.mdx
  packages/starlight/integrations/asides.ts
Labels: i18n, ðŸŒŸ core, ðŸ“š docs

update translate
  packages/starlight/translations/ko.json
Labels: ðŸŒŸ core

format
  packages/starlight/integrations/asides.ts
Labels: ðŸŒŸ core

Create thick-boxes-fail.md
  .changeset/thick-boxes-fail.md
Labels: none

Update thick-boxes-fail.md
  .changeset/thick-boxes-fail.md
Labels: none

Add screenshots of showcase sites
  docs/src/assets/showcase/astro-error-page-documentation.vercel.app.png
  docs/src/assets/showcase/brycerussell.github.io-qbcore-docs.png
  docs/src/assets/showcase/capo.js.png
  docs/src/assets/showcase/commandkit.underctrl.io.png
  docs/src/assets/showcase/dhruvkb.github.io-pls.png
  docs/src/assets/showcase/docs.pubindexapi.com.png
  docs/src/assets/showcase/felicity.pages.dev.png
  docs/src/assets/showcase/har.fyi.png
  docs/src/assets/showcase/sibiraj-s.github.io-ngx-editor.png
  docs/src/assets/showcase/simple.arciniega.one.png
  docs/src/assets/showcase/terrateam.io-docs.png
  docs/src/assets/showcase/webmonetization.org.png
  docs/src/assets/showcase/www.athenaos.org.png
  docs/src/assets/showcase/xs-dev.js.org.png
Labels: ðŸ“š docs

Create image card and grid components
  docs/src/components/fluid-grid.astro
  docs/src/components/showcase-card.astro
Labels: ðŸ“š docs

Convert showcase to MDX and use cards for sites & plugins
  docs/src/content/docs/showcase.md
  docs/src/content/docs/showcase.mdx
Labels: ðŸ“š docs

Remove defunct videos section
  docs/src/content/docs/showcase.mdx
Labels: ðŸ“š docs

Revamp Starlight showcase (#547)
  docs/src/assets/showcase/astro-error-page-documentation.vercel.app.png
  docs/src/assets/showcase/brycerussell.github.io-qbcore-docs.png
  docs/src/assets/showcase/capo.js.png
  docs/src/assets/showcase/commandkit.underctrl.io.png
  docs/src/assets/showcase/dhruvkb.github.io-pls.png
  docs/src/assets/showcase/docs.pubindexapi.com.png
  docs/src/assets/showcase/felicity.pages.dev.png
  docs/src/assets/showcase/har.fyi.png
  docs/src/assets/showcase/sibiraj-s.github.io-ngx-editor.png
  docs/src/assets/showcase/simple.arciniega.one.png
  docs/src/assets/showcase/terrateam.io-docs.png
  docs/src/assets/showcase/webmonetization.org.png
  docs/src/assets/showcase/www.athenaos.org.png
  docs/src/assets/showcase/xs-dev.js.org.png
  docs/src/components/fluid-grid.astro
  docs/src/components/showcase-card.astro
  docs/src/content/docs/showcase.md
  docs/src/content/docs/showcase.mdx
Labels: ðŸ“š docs

[ci] format
  docs/src/components/fluid-grid.astro
  docs/src/components/showcase-card.astro
  docs/src/content/docs/showcase.mdx
Labels: ðŸ“š docs

i18n(zh-cn): Update i18n.mdx (#544)
  docs/src/content/docs/zh/guides/i18n.mdx
Labels: i18n, ðŸ“š docs
