Repository withastro/starlight, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, i18n, ðŸŒŸ core, ðŸŒŸ tailwind, ðŸ“š docs

.github/labeler.yml:

# See https://github.com/actions/labeler

'ðŸš¨ action':
  - .github/workflows/**

i18n:
  - docs/src/content/docs/de/**/*
  - docs/src/content/docs/es/**/*
  - docs/src/content/docs/fr/**/*
  - docs/src/content/docs/it/**/*
  - docs/src/content/docs/ja/**/*
  - docs/src/content/docs/zh/**/*
  - docs/src/content/docs/pt-br/**/*

'ðŸŒŸ core':
  - packages/starlight/**

'ðŸŒŸ tailwind':
  - packages/tailwind/**

'ðŸ“š docs':
  - docs/**

i18n(zh-cn):Update components.mdx
  docs/src/content/docs/zh/guides/components.mdx
Labels: i18n, ðŸ“š docs

i18n(zh-cn): update customization.mdx
  docs/src/content/docs/zh/guides/customization.mdx
Labels: i18n, ðŸ“š docs

i18n(zh-cn): Update i18n.mdx
  docs/src/content/docs/zh/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

i18n(zh-cn): Update configuration.md
  docs/src/content/docs/zh/reference/configuration.md
Labels: i18n, ðŸ“š docs

i18n(zh-cn): Update configuration.md
  docs/src/content/docs/zh/reference/configuration.md
Labels: i18n, ðŸ“š docs

i18n(zh-cn): update customization.mdx
  docs/src/content/docs/zh/guides/customization.mdx
Labels: i18n, ðŸ“š docs

i18n(zh-cn): Update frontmatter.md
  docs/src/content/docs/zh/reference/frontmatter.md
Labels: i18n, ðŸ“š docs

add updates
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/guides/i18n.mdx
  docs/src/content/docs/es/reference/configuration.md
Labels: i18n, ðŸ“š docs

Apply suggestions from code review
  docs/src/content/docs/de/404.md
  docs/src/content/docs/de/reference/configuration.md
Labels: i18n, ðŸ“š docs

i18n(de-DE): Translation updates and additions (#507)
  docs/astro.config.mjs
  docs/src/content/docs/de/404.md
  docs/src/content/docs/de/getting-started.mdx
  docs/src/content/docs/de/manual-setup.mdx
  docs/src/content/docs/de/reference/configuration.md
Labels: i18n, ðŸ“š docs

[ci] format
  docs/src/content/docs/de/getting-started.mdx
  docs/src/content/docs/de/reference/configuration.md
Labels: i18n, ðŸ“š docs

i18n(zh-cn): update customization.mdx (#519)
  docs/src/content/docs/zh/guides/customization.mdx
Labels: i18n, ðŸ“š docs

i18n(zh-cn): Update components.mdx (#518)
  docs/src/content/docs/zh/guides/components.mdx
Labels: i18n, ðŸ“š docs

i18n(zh-cn): Update i18n.mdx (#520)
  docs/src/content/docs/zh/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

i18n(zh-cn): Update configuration.md (#521)
  docs/src/content/docs/zh/reference/configuration.md
Labels: i18n, ðŸ“š docs

i18n(zh-cn): Update frontmatter.md (#522)
  docs/src/content/docs/zh/reference/frontmatter.md
Labels: i18n, ðŸ“š docs

i18n(es): Update `customization.mdx`, `i18n.mdx` & `configuration.md` (#523)
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/guides/i18n.mdx
  docs/src/content/docs/es/reference/configuration.md
Labels: i18n, ðŸ“š docs

Change `linguagem` to `língua`
  docs/src/content/docs/pt-br/guides/i18n.mdx
Labels: i18n, ðŸ“š docs

remove inline comment
  packages/starlight/components/SidebarSublist.astro
Labels: ðŸŒŸ core

mvp for sidebar tag from frontmatter entry
  packages/starlight/schema.ts
  packages/starlight/utils/navigation.ts
Labels: ðŸŒŸ core

switch inline markup for Badge component
  packages/starlight/components/SidebarSublist.astro
Labels: ðŸŒŸ core

create Badge component
  packages/starlight/components/Badge.astro
Labels: ðŸŒŸ core

Improve inline code and code block support in RTL languages
  packages/starlight/index.ts
  packages/starlight/integrations/code-rtl-support.ts
Labels: ðŸŒŸ core

Add changeset
  .changeset/long-parrots-give.md
Labels: none

Add simple tests for rehype plugin
  packages/starlight/__tests__/remark-rehype/code-rtl-support.test.ts
Labels: ðŸŒŸ core

Fix missing Vitest config
  packages/starlight/__tests__/remark-rehype/vitest.config.ts
Labels: ðŸŒŸ core

add a few more styles
  packages/starlight/components/Badge.astro
Labels: ðŸŒŸ core

Logical OR — thanks Kevin!
  packages/starlight/integrations/code-rtl-support.ts
Labels: ðŸŒŸ core

add theme variants and default theme to blue
  packages/starlight/components/Badge.astro
Labels: ðŸŒŸ core

Propose API for sidebar tags 🤞
  packages/starlight/components/Badge.astro
  packages/starlight/components/SidebarSublist.astro
  packages/starlight/schema.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/user-config.ts
Labels: ðŸŒŸ core

i18n(ko-KR): add Korean support
  docs/src/content/docs/guides/i18n.mdx
Labels: ðŸ“š docs

i18n(ko-KR): add Korean support
  packages/starlight/translations/index.ts
  packages/starlight/translations/ko.json
Labels: ðŸŒŸ core

fix: add changeset
  .changeset/three-crabs-juggle.md
Labels: none

i18n(ko-KR): translate sidebar
  docs/astro.config.mjs
  docs/src/content/docs/ko/404.md
  docs/src/content/docs/ko/environmental-impact.md
  docs/src/content/docs/ko/getting-started.mdx
  docs/src/content/docs/ko/guides/authoring-content.md
  docs/src/content/docs/ko/guides/components.mdx
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
  docs/src/content/docs/ko/guides/customization.mdx
  docs/src/content/docs/ko/guides/i18n.mdx
  docs/src/content/docs/ko/guides/project-structure.mdx
  docs/src/content/docs/ko/index.mdx
  docs/src/content/docs/ko/manual-setup.mdx
  docs/src/content/docs/ko/reference/configuration.md
  docs/src/content/docs/ko/reference/frontmatter.md
  docs/src/content/docs/ko/showcase.md
Labels: ðŸ“š docs

Prefix class names that can conflict with Tailwind
  docs/src/components/about-astro.astro
  docs/src/components/theme-designer.astro
  docs/src/components/theme-designer/presets.astro
  packages/starlight/components/CallToAction.astro
  packages/starlight/components/ContentPanel.astro
  packages/starlight/components/EditLink.astro
  packages/starlight/components/FallbackContentNotice.astro
  packages/starlight/components/Footer.astro
  packages/starlight/components/Header.astro
  packages/starlight/components/Hero.astro
  packages/starlight/components/MobileMenuToggle.astro
  packages/starlight/components/PrevNextLinks.astro
  packages/starlight/components/RightSidebarPanel.astro
  packages/starlight/components/Search.astro
  packages/starlight/components/Sidebar.astro
  packages/starlight/components/SiteTitle.astro
  packages/starlight/components/SocialIcons.astro
  packages/starlight/components/TableOfContents/MobileTableOfContents.astro
  packages/starlight/layout/PageFrame.astro
  packages/starlight/layout/TwoColumnContent.astro
  packages/starlight/style/util.css
  packages/starlight/user-components/Card.astro
  packages/starlight/user-components/LinkCard.astro
Labels: ðŸŒŸ core, ðŸ“š docs

Log warning in Tailwind plugin if someone uses `sl-` as a prefix
  packages/tailwind/index.ts
Labels: ðŸŒŸ tailwind

Add Starlight changeset
  .changeset/perfect-tools-know.md
Labels: none

Test Tailwind plugin warns about clashing prefix
  packages/tailwind/__tests__/tailwind.test.ts
Labels: ðŸŒŸ tailwind

Avoid re-releasing packages for internal peer dep changes
  .changeset/config.json
Labels: none

Add Tailwind plugin changeset
  .changeset/moody-horses-begin.md
Labels: none
