Repository withastro/starlight, pull requests merged in 2023-06, with the labels that each got.

#183 Fix disclosure caret rotation in sidebar sub-groups
  .changeset/chilled-tools-hammer.md
  packages/starlight/components/SidebarSublist.astro
Labels: patch

#185 Support setting an SVG as a hero image
  .changeset/silent-feet-think.md
  packages/starlight/components/Hero.astro
Labels: patch

#177 Handle table overflow
  packages/starlight/components/MarkdownContent.astro
Labels: patch

#189 Use `sharp` for image processing
  docs/astro.config.mjs
  docs/package.json
  examples/basics/astro.config.mjs
  examples/basics/package.json
  pnpm-lock.yaml
Labels: minor

#203 Add Discord congrats bot
  .github/congratsbot.mjs
  .github/workflows/discord-congrats.yml
Labels: 🚨 action

#208 Update dependencies
  .changeset/mean-cheetahs-tap.md
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: patch

#178 Add support for translating the Pagefind search modal
  .changeset/funny-weeks-cry.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/components/Search.astro
  packages/starlight/schemas/i18n.ts
  packages/starlight/translations/index.ts
  packages/starlight/utils/translations.ts
Labels: minor

#171 Add a generator meta tag with Starlight version info
  .changeset/beige-rats-flash.md
  packages/starlight/components/HeadSEO.astro
Labels: minor

#231 Update `congratsbot` workflow
  .github/congratsbot.mjs
  .github/workflows/congratsbot.yml
  .github/workflows/discord-congrats.yml
Labels: 🚨 action

#225 i18n(fr): Translate Showcase page
  docs/src/content/docs/fr/showcase.md
Labels: i18n

#227 Add i18n to Search component dev warning
  .changeset/spotty-ladybugs-obey.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/components/Search.astro
  packages/starlight/schemas/i18n.ts
  packages/starlight/translations/de.json
  packages/starlight/translations/en.json
  packages/starlight/translations/es.json
  packages/starlight/translations/fr.json
  packages/starlight/translations/it.json
  packages/starlight/translations/ja.json
  packages/starlight/translations/pt.json
Labels: minor, 🌟 core

#234 i18n(ja): Add Japanese translation for `search.devWarning`
  .changeset/shy-bats-yell.md
  docs/src/content/docs/ja/guides/i18n.mdx
  packages/starlight/translations/ja.json
Labels: patch, i18n, 📚 docs, 🌟 core

#235 i18n(ja): Update showcase.md
  docs/src/content/docs/ja/showcase.md
Labels: i18n, 📚 docs

#242 i18n(es): Updated `i18n.mdx`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#243 i18n(es): Updated `showcase.md`
  docs/src/content/docs/es/showcase.md
Labels: i18n, 📚 docs

#230 Add a customization guide
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/frontmatter.md
Labels: 📚 docs

#244 Updated `es.json`
  .changeset/strong-grapes-occur.md
  packages/starlight/translations/es.json
Labels: 🌟 core

#237 Use file-system path in auto-generated sidebar item configuration
  .changeset/five-cooks-develop.md
  packages/starlight/utils/navigation.ts
Labels: minor, 🌟 core

#226 Support custom 404 pages
  .changeset/tiny-sheep-raise.md
  docs/src/content/docs/404.md
  docs/src/content/docs/guides/customization.mdx
  packages/starlight/404.astro
  packages/starlight/components/EmptyMarkdown.md
  packages/starlight/index.astro
  packages/starlight/layout/Page.astro
  packages/starlight/schemas/i18n.ts
  packages/starlight/translations/de.json
  packages/starlight/translations/en.json
  packages/starlight/translations/es.json
  packages/starlight/translations/fr.json
  packages/starlight/translations/it.json
  packages/starlight/translations/ja.json
  packages/starlight/translations/pt.json
Labels: minor, 📚 docs, 🌟 core

#245 Add custom emoji to congrats workflow
  .github/workflows/congratsbot.yml
Labels: 🚨 action

#246 Fix various docs broken links
  docs/src/content/docs/es/guides/authoring-content.md
  docs/src/content/docs/fr/getting-started.mdx
  docs/src/content/docs/fr/reference/configuration.md
  docs/src/content/docs/fr/reference/frontmatter.md
  docs/src/content/docs/it/getting-started.mdx
  docs/src/content/docs/ja/reference/configuration.md
Labels: i18n, 📚 docs

#248 i18n(es): Translated `404.md`
  docs/src/content/docs/es/404.md
Labels: i18n, 📚 docs

#250 i18n(es): Updated `frontmatter.md`
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#249 i18n(es): Translated `customization.mdx`
  docs/src/content/docs/es/guides/customization.mdx
Labels: i18n, 📚 docs

#253 i18n(fr): create 404 french version
  docs/src/content/docs/fr/404.md
Labels: i18n, 📚 docs

#255 Handle multilingual 404 pages in docs site
  docs/public/_redirects
Labels: 📚 docs

#257 i18n(cs): Add cs.json
  .changeset/fifty-bees-dream.md
  packages/starlight/translations/cs.json
  packages/starlight/translations/index.ts
Labels: patch, 🌟 core

#261 Fix autogenerated nav for pages of fallback content
  .changeset/itchy-trees-wait.md
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/routing.ts
  packages/starlight/utils/slugs.ts
Labels: 🌟 core

#260 feat: add i18n nl translations
  .changeset/clever-buttons-clean.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/index.ts
  packages/starlight/translations/nl.json
Labels: 📚 docs, 🌟 core

#266 i18n(es): Fix `404.md` home link
  docs/src/content/docs/es/404.md
Labels: i18n, 📚 docs

#262 i18n(es): Updated `i18n.mdx`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#264 Add Codeberg social link support
  .changeset/clean-knives-sing.md
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/reference/configuration.md
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/ja/reference/configuration.md
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/Icons.ts
  packages/starlight/utils/user-config.ts
Labels: patch, i18n, 📚 docs, 🌟 core

#269 feat: Add Turkish UI translations
  .changeset/few-olives-double.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/index.ts
  packages/starlight/translations/tr.json
Labels: 📚 docs, 🌟 core

#263 i18n(fr): create customization.mdx french version
  docs/src/content/docs/fr/guides/customization.mdx
Labels: i18n, 📚 docs

#270 i18n(fr): standardize wording “modifier cette page” and update outdat…
  .changeset/few-squids-own.md
  docs/src/content/docs/fr/guides/i18n.mdx
  docs/src/content/docs/fr/reference/configuration.md
  docs/src/content/docs/fr/reference/frontmatter.md
  docs/src/content/docs/reference/configuration.md
  packages/starlight/translations/fr.json
Labels: patch, i18n, 📚 docs, 🌟 core

#271 i18n(es): Updated `i18n.mdx`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#274 i18n(ja): Add 404.md
  docs/src/content/docs/ja/404.md
Labels: i18n, 📚 docs

#275 i18n(ja): Update i18n.mdx
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, 📚 docs

#276 i18n(ja): Update configuration.md
  docs/src/content/docs/ja/reference/configuration.md
Labels: i18n, 📚 docs

#277 i18n(ja): Update frontmatter.md
  docs/src/content/docs/ja/reference/frontmatter.md
Labels: i18n, 📚 docs

#279 i18n(ja): Add customization.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, 📚 docs

#273 i18n(es): Fix typos in `es.json`
  .changeset/unlucky-deers-play.md
  packages/starlight/translations/es.json
Labels: patch, 🌟 core

#283 i18n(es): Updated `configuration.md`
  docs/src/content/docs/es/reference/configuration.md
Labels: i18n, 📚 docs

#254 Expose `<Icon>` component
  .changeset/eight-pens-sell.md
  docs/src/components/icons-list.astro
  docs/src/content/docs/guides/components.mdx
  packages/starlight/components.ts
  packages/starlight/components/CallToAction.astro
  packages/starlight/components/EditLink.astro
  packages/starlight/components/FallbackContentNotice.astro
  packages/starlight/components/MobileMenuToggle.astro
  packages/starlight/components/PrevNextLinks.astro
  packages/starlight/components/Search.astro
  packages/starlight/components/Select.astro
  packages/starlight/components/SidebarSublist.astro
  packages/starlight/components/SocialIcons.astro
  packages/starlight/components/TableOfContents/MobileTableOfContents.astro
  packages/starlight/components/ThemeProvider.astro
  packages/starlight/user-components/Card.astro
  packages/starlight/user-components/Icon.astro
Labels: minor, 📚 docs, 🌟 core

#256 Add `lastUpdated` global and frontmatter options
  .changeset/six-fishes-taste.md
  docs/astro.config.mjs
  docs/src/content/docs/reference/configuration.md
  docs/src/content/docs/reference/frontmatter.md
  packages/starlight/components/Footer.astro
  packages/starlight/components/LastUpdated.astro
  packages/starlight/schema.ts
  packages/starlight/utils/user-config.ts
Labels: minor, 📚 docs, 🌟 core

#259 Add support for collapsed sidebar groups
  .changeset/clean-monkeys-camp.md
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/SidebarSublist.astro
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/user-config.ts
Labels: minor, 📚 docs, 🌟 core
