Repository withastro/starlight, pull requests merged in 2023-07, with the labels that each got.

#288 i18n(es): Fix typo in `i18n.mdx`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#292 i18n(ja): Update components.mdx
  docs/src/content/docs/ja/guides/components.mdx
Labels: i18n, 📚 docs

#293 i18n(ja): Update customization.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, 📚 docs

#294 i18n(ja): Update frontmatter.md
  docs/src/content/docs/ja/reference/frontmatter.md
Labels: i18n, 📚 docs

#295 i18n(ja): Update configuration.md
  docs/src/content/docs/ja/reference/configuration.md
Labels: i18n, 📚 docs

#289 fix: set sl-color-purple-high to 90% saturation in light theme
  .changeset/rich-melons-return.md
  packages/starlight/style/props.css
Labels: 🌟 core

#287 i18n(es): Updated `frontmatter.md`, `components.mdx` & `configuration.md`
  docs/src/content/docs/es/guides/components.mdx
  docs/src/content/docs/es/reference/configuration.md
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#291 Include additional instructions for using custom fonts
  docs/src/content/docs/guides/customization.mdx
Labels: 📚 docs

#299 i18n(es): Updated `customization.mdx`
  docs/src/content/docs/es/guides/customization.mdx
Labels: i18n, 📚 docs

#301 Update Astro and fix inline stylesheet support in Astro ≥2.6
  .changeset/tiny-pumas-reflect.md
  docs/package.json
  examples/basics/package.json
  package.json
  packages/starlight/index.ts
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 📚 docs, 🌟 core

#300 Fix broken link on 404 page when `defaultLocale: 'root'` is set
  .changeset/many-tips-battle.md
  packages/starlight/404.astro
Labels: 🌟 core

#302 Pin Astro to 2.7.0 to avoid new users hitting CSS HMR bugs
  docs/package.json
  examples/basics/package.json
  package.json
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 📚 docs, 🌟 core

#306 i18n(ja): Update customization.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, 📚 docs

#286 feat: adding arabic ui Translations
  .changeset/tall-lemons-divide.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/ar.json
  packages/starlight/translations/index.ts
Labels: patch, 📚 docs, 🌟 core

#308 Improve code block and inline code default font stack
  .changeset/itchy-pugs-live.md
  docs/src/components/file-tree.astro
  packages/starlight/components/MarkdownContent.astro
  packages/starlight/style/props.css
  packages/starlight/style/reset.css
Labels: patch, 📚 docs, 🌟 core

#311 [i18nIgnore] Tweak internationalization documentation
  docs/src/content/docs/de/reference/configuration.md
  docs/src/content/docs/es/guides/i18n.mdx
  docs/src/content/docs/es/reference/configuration.md
  docs/src/content/docs/fr/guides/i18n.mdx
  docs/src/content/docs/fr/reference/configuration.md
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/it/guides/i18n.mdx
  docs/src/content/docs/it/reference/configuration.md
  docs/src/content/docs/ja/guides/i18n.mdx
  docs/src/content/docs/ja/reference/configuration.md
  docs/src/content/docs/reference/configuration.md
Labels: i18n, 📚 docs

#312 i18n(ja): Update i18n.mdx
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, 📚 docs

#315 i18n(es): Updated `i18n.mdx`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#318 Support relative paths in Starlight config
  .changeset/rotten-shoes-fix.md
  docs/astro.config.mjs
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.md
  packages/starlight/index.ts
Labels: patch, 📚 docs, 🌟 core

#303 Add pagination configuration
  .changeset/green-jars-march.md
  docs/src/content/docs/reference/configuration.md
  docs/src/content/docs/reference/frontmatter.md
  packages/starlight/components/Footer.astro
  packages/starlight/schema.ts
  packages/starlight/schemas/prevNextLink.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/user-config.ts
Labels: minor, 📚 docs, 🌟 core

#313 Add a `not-content` CSS class for opting out of default styles
  .changeset/clean-lamps-juggle.md
  docs/src/components/about-astro.astro
  docs/src/components/file-tree.astro
  docs/src/content/docs/guides/components.mdx
  packages/starlight/components/MarkdownContent.astro
  packages/starlight/user-components/Tabs.astro
Labels: minor, 📚 docs, 🌟 core

#297 Improve `<Tabs>` component keyboard interactions
  .changeset/curvy-points-juggle.md
  packages/starlight/package.json
  packages/starlight/user-components/Tabs.astro
  packages/starlight/user-components/rehype-tabs.ts
  pnpm-lock.yaml
Labels: minor, 🌟 core

#320 i18n(es): Updated `components.mdx`, `customization.mdx`, `configuration.mdx`, `frontmatter.mdx` & `index.mdx`
  docs/src/content/docs/es/guides/components.mdx
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/index.mdx
  docs/src/content/docs/es/reference/configuration.md
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#322 i18n(ja): Update components.mdx
  docs/src/content/docs/ja/guides/components.mdx
Labels: i18n, 📚 docs

#323 i18n(ja): Update customization.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, 📚 docs

#324 i18n(ja): Update configuration.md
  docs/src/content/docs/ja/reference/configuration.md
Labels: i18n, 📚 docs

#326 Fix typo in frontmatter.md
  docs/src/content/docs/reference/frontmatter.md
Labels: 📚 docs

#327 i18n(fr): Update `components.mdx`
  docs/src/content/docs/fr/guides/components.mdx
Labels: i18n, 📚 docs

#328 Add Icon Names
  .changeset/wise-berries-juggle.md
  packages/starlight/components/SocialIcons.astro
Labels: patch, 🌟 core

#333 Fix relative path resolution on Windows
  .changeset/friendly-lobsters-share.md
  packages/starlight/index.ts
Labels: 🌟 core

#335 Fix relative path resolution on Windows
  .changeset/fluffy-lions-yell.md
  packages/starlight/index.ts
Labels: 🌟 core

#334 Add smoke test building docs on Windows
  .github/workflows/ci.yml
Labels: 🚨 action

#332 Add Norwegian bokmål translations
  .changeset/mean-weeks-peel.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/index.ts
  packages/starlight/translations/nb.json
Labels: patch, 📚 docs, 🌟 core

#336 Add social link support for LinkedIn, Threads, and Twitch
  .changeset/cool-beds-invent.md
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/Icons.ts
  packages/starlight/components/SocialIcons.astro
  packages/starlight/utils/user-config.ts
Labels: patch, 📚 docs, 🌟 core

#343 Fix logo/CSS non-relative path escaping
  .changeset/cold-windows-swim.md
  docs/astro.config.mjs
  packages/starlight/index.ts
Labels: patch, 📚 docs, 🌟 core

#338 i18n(es): Updated `i18n.mdx`, `customization.mdx` & `configuration.mdx`
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/guides/i18n.mdx
  docs/src/content/docs/es/reference/configuration.md
Labels: i18n, 📚 docs

#340 i18n(ja): Update customization.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, 📚 docs

#341 i18n(ja): Update i18n.mdx
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, 📚 docs

#342 i18n(ja): Update configuration.md
  docs/src/content/docs/ja/reference/configuration.md
Labels: i18n, 📚 docs

#355 chore(showcase): add simple-fm
  docs/src/content/docs/showcase.md
Labels: 📚 docs

#353 i18n(zh-cn): Add Simplified Chinese language support
  .changeset/nasty-pigs-buy.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/index.ts
  packages/starlight/translations/zh.json
Labels: 📚 docs, 🌟 core

#352 Fix page scroll on window resize
  .changeset/lucky-pens-switch.md
  packages/starlight/components/MobileMenuToggle.astro
Labels: 🌟 core

#358 i18n(es): Updated `i18n.mdx` & `showcase.mdx`
  docs/src/content/docs/es/guides/i18n.mdx
  docs/src/content/docs/es/showcase.md
Labels: i18n, 📚 docs

#360 Fix build warnings when using the TypeScript `verbatimModuleSyntax` compiler option
  .changeset/silver-suits-relate.md
  packages/starlight/components/Footer.astro
  packages/starlight/utils/head.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/routing.ts
  packages/starlight/utils/translations.ts
Labels: 🌟 core

#362 Update dependencies
  docs/package.json
  examples/basics/package.json
  package.json
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 📚 docs, 🌟 core

#238 Document how to add Starlight to an existing project
  docs/astro.config.mjs
  docs/src/content/docs/manual-setup.mdx
Labels: 📚 docs

#365 i18n(ja): Update i18n.mdx
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, 📚 docs

#366 i18n(ja): Update showcase.md
  docs/src/content/docs/ja/showcase.md
Labels: i18n, 📚 docs

#367 i18n(ja): Add manual-setup.mdx
  docs/astro.config.mjs
  docs/src/content/docs/ja/manual-setup.mdx
Labels: i18n, 📚 docs

#369 [docs] Add Troubleshooting to Getting Started
  docs/src/content/docs/getting-started.mdx
Labels: 📚 docs

#376 i18n(es): Translated `manual-setup.mdx`
  docs/astro.config.mjs
  docs/src/content/docs/es/manual-setup.mdx
Labels: i18n, 📚 docs

#378 i18n(fr): Updated `customization.mdx` & `i18n.mdx`
  docs/src/content/docs/fr/guides/customization.mdx
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs

#375 i18n(es): updated `getting-started.mdx`
  docs/src/content/docs/es/getting-started.mdx
Labels: i18n, 📚 docs

#389 Fix typo in getting-started.mdx
  docs/src/content/docs/getting-started.mdx
Labels: 📚 docs

#388 i18n(ja): Update getting-started.mdx
  docs/src/content/docs/ja/getting-started.mdx
Labels: i18n, 📚 docs

#383 Add unit testing
  .changeset/dry-insects-shave.md
  .github/workflows/ci.yml
  CONTRIBUTING.md
  packages/starlight/.gitignore
  packages/starlight/.npmignore
  packages/starlight/__tests__/basics/base.test.ts
  packages/starlight/__tests__/basics/config.test.ts
  packages/starlight/__tests__/basics/head.test.ts
  packages/starlight/__tests__/basics/i18n.test.ts
  packages/starlight/__tests__/basics/localizedUrl.test.ts
  packages/starlight/__tests__/basics/navigation.test.ts
  packages/starlight/__tests__/basics/routing.test.ts
  packages/starlight/__tests__/basics/slugs.test.ts
  packages/starlight/__tests__/basics/translations-with-user-config.test.ts
  packages/starlight/__tests__/basics/translations.test.ts
  packages/starlight/__tests__/basics/vitest.config.ts
  packages/starlight/__tests__/i18n-root-locale/config.test.ts
  packages/starlight/__tests__/i18n-root-locale/localizedUrl.test.ts
  packages/starlight/__tests__/i18n-root-locale/routing.test.ts
  packages/starlight/__tests__/i18n-root-locale/slugs.test.ts
  packages/starlight/__tests__/i18n-root-locale/vitest.config.ts
  packages/starlight/__tests__/i18n/config.test.ts
  packages/starlight/__tests__/i18n/localizedUrl.test.ts
  packages/starlight/__tests__/i18n/routing.test.ts
  packages/starlight/__tests__/i18n/vitest.config.ts
  packages/starlight/__tests__/sidebar/navigation.test.ts
  packages/starlight/__tests__/sidebar/vitest.config.ts
  packages/starlight/__tests__/test-config.ts
  packages/starlight/__tests__/test-utils.ts
  packages/starlight/index.ts
  packages/starlight/integrations/virtual-user-config.ts
  packages/starlight/package.json
  packages/starlight/types.ts
  packages/starlight/utils/slugs.ts
  packages/starlight/vitest.config.ts
  packages/starlight/vitest.workspace.ts
  pnpm-lock.yaml
Labels: 🌟 patch, 🚨 action, 🌟 core

#387 i18n(zh-cn): translate index & getting-started & manual-setup.mdx
  .github/labeler.yml
  docs/astro.config.mjs
  docs/src/content/docs/zh/getting-started.mdx
  docs/src/content/docs/zh/index.mdx
  docs/src/content/docs/zh/manual-setup.mdx
Labels: 📚 docs

#373 Fix: Site title/logo overflow
  .changeset/fresh-scissors-relax.md
  packages/starlight/components/Header.astro
  packages/starlight/style/props.css
Labels: 🌟 core

#385 Fix Nested content css styles
  .changeset/happy-files-buy.md
  packages/starlight/components/MarkdownContent.astro
Labels: 🌟 patch, 🌟 core

#394 i18n(es): Fix typos in `manual-setup.mdx`
  docs/src/content/docs/es/manual-setup.mdx
Labels: i18n, 📚 docs

#396 i18n(zh-cn): translate 404、environmental-impact、project-structure、showcase
  docs/src/content/docs/zh/404.md
  docs/src/content/docs/zh/environmental-impact.md
  docs/src/content/docs/zh/guides/project-structure.mdx
  docs/src/content/docs/zh/showcase.md
Labels: i18n, 📚 docs

#377 i18n(fr): Updated `getting-started.mdx`
  docs/src/content/docs/fr/getting-started.mdx
Labels: i18n, 📚 docs

#401 i18n(zh-cn): translate configuration & frontmatter.md
  docs/src/content/docs/zh/reference/configuration.md
  docs/src/content/docs/zh/reference/frontmatter.md
Labels: i18n, 📚 docs

#381 fix: Preserve Social Link Order
  .changeset/clever-sheep-carry.md
  packages/starlight/__tests__/basics/user-config.test.ts
  packages/starlight/utils/user-config.ts
  packages/starlight/vitest.config.ts
Labels: 🌟 patch, 🌟 core

#382 i18n(fr): Updated `configuration.mdx`, `frontmatter.mdx` & `showcase.mdx`
  docs/src/content/docs/fr/reference/configuration.md
  docs/src/content/docs/fr/reference/frontmatter.md
  docs/src/content/docs/fr/showcase.md
Labels: i18n, 📚 docs

#407 [docs] Include link to Astro Assets page from `authoring-content`
  docs/src/content/docs/guides/authoring-content.md
Labels: 📚 docs

#409 i18n(es): Updated `authoring-content.mdx`
  docs/src/content/docs/es/guides/authoring-content.md
Labels: i18n, 📚 docs

#399 Add favicon configuration
  .changeset/shy-dolphins-chew.md
  docs/src/content/docs/reference/configuration.md
  packages/starlight/__tests__/basics/config.test.ts
  packages/starlight/__tests__/basics/head.test.ts
  packages/starlight/__tests__/basics/schema.test.ts
  packages/starlight/components/HeadSEO.astro
  packages/starlight/schemas/favicon.ts
  packages/starlight/utils/head.ts
  packages/starlight/utils/user-config.ts
  packages/starlight/vitest.config.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#413 Clip site title when text overflows
  .changeset/clean-camels-love.md
  packages/starlight/components/SiteTitle.astro
Labels: 🌟 core

#414 Add GitLab to social link icons
  .changeset/spicy-islands-dress.md
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/Icons.ts
  packages/starlight/components/SocialIcons.astro
  packages/starlight/utils/user-config.ts
Labels: 📚 docs, 🌟 core

#405 Bump Astro to latest
  docs/package.json
  examples/basics/package.json
  package.json
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 📚 docs, 🌟 core

#416 i18n(es): Updated `configuration.md`
  docs/src/content/docs/es/reference/configuration.md
Labels: i18n, 📚 docs

#418 Set tab-size on content code blocks
  .changeset/purple-apples-ring.md
  packages/starlight/components/MarkdownContent.astro
Labels: 🌟 patch, 🌟 core

#411 i18n(fr): Updated `authoring-content.mdx` & translated `manual-setup.md`
  docs/src/content/docs/fr/guides/authoring-content.md
  docs/src/content/docs/fr/manual-setup.mdx
Labels: i18n, 📚 docs

#359 Define the order of links in sidebar
  .changeset/spicy-falcons-lick.md
  docs/src/content/docs/reference/frontmatter.md
  packages/starlight/__tests__/basics/navigation-order.test.ts
  packages/starlight/__tests__/basics/routing.test.ts
  packages/starlight/__tests__/i18n/navigation-order.test.ts
  packages/starlight/__tests__/sidebar/navigation-order.test.ts
  packages/starlight/schema.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/routing.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#412 Add copy to clipboard to docs icons
  docs/src/components/icons-list.astro
  docs/src/content/docs/guides/components.mdx
Labels: 📚 docs

#424 Add support for customising sidebar labels from frontmatter
  .changeset/cuddly-vans-shout.md
  docs/src/content/docs/reference/frontmatter.md
  packages/starlight/__tests__/basics/navigation-labels.test.ts
  packages/starlight/schema.ts
  packages/starlight/utils/navigation.ts
Labels: 📚 docs, 🌟 core

#419 Improve styling of sidebar entries that wrap
  .changeset/khaki-islands-unite.md
  packages/starlight/components/SidebarSublist.astro
Labels: 🌟 core

#423 i18(fr): Updated `configuration.md`
  docs/src/content/docs/fr/reference/configuration.md
Labels: i18n, 📚 docs

#422 Add link to `props.css` to the documentation
  docs/src/content/docs/guides/customization.mdx
Labels: 📚 docs

#425 Add my site to the showcase
  docs/src/content/docs/showcase.md
Labels: 📚 docs

#426 i18n(ja): Update authoring-content.md
  docs/src/content/docs/ja/guides/authoring-content.md
Labels: i18n, 📚 docs

#427 i18n(ja): Update components.mdx
  docs/src/content/docs/ja/guides/components.mdx
Labels: i18n, 📚 docs

#428 i18n(ja): Update customization.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, 📚 docs

#429 i18n(ja): Update configuration.md
  docs/src/content/docs/ja/reference/configuration.md
Labels: i18n, 📚 docs

#431 i18n(fr): update `customization.mdx`
  docs/src/content/docs/fr/guides/customization.mdx
Labels: i18n, 📚 docs

#432 i18n(es): Updated `components.mdx`, `customization.mdx` & `frontmatter.md`
  docs/src/content/docs/es/guides/components.mdx
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#437 i18n(zh-cn): Update configuration.md
  docs/src/content/docs/zh/reference/configuration.md
Labels: i18n, 📚 docs

#438 i18n(zh-cn): Update frontmatter.md
  docs/src/content/docs/zh/reference/frontmatter.md
Labels: i18n, 📚 docs

#439 Revamp showcase to include community plugins
  docs/src/content/docs/showcase.md
Labels: 📚 docs

#440 i18n(es): Updated `showcase.md`
  docs/src/content/docs/es/showcase.md
Labels: i18n, 📚 docs
