Repository withastro/starlight, pull requests merged in 2023-12, with the labels that each got.

#1173 i18n(zh-CN): format `getting-started.mdx`
  docs/src/content/docs/zh-cn/getting-started.mdx
Labels: i18n, 📚 docs

#1172 i18n(zh-CN): update `authoring-content.md`
  docs/src/content/docs/zh-cn/guides/authoring-content.md
Labels: i18n, 📚 docs

#1186 i18n(zh-CN): translate `plugins.md`
  docs/src/content/docs/zh-cn/reference/plugins.md
Labels: i18n, 📚 docs

#1190 i18n(zh-CN): translate `i18n.mdx`
  docs/src/content/docs/zh-cn/guides/i18n.mdx
Labels: i18n, 📚 docs

#1184 i18n(es): Translate `site-search`
  docs/src/content/docs/es/guides/site-search.mdx
Labels: i18n, 📚 docs

#1178 i18n(es): Update `overrides`
  docs/src/content/docs/es/reference/overrides.md
Labels: i18n, 📚 docs

#1177 i18n(es): Translate `plugins`
  docs/src/content/docs/es/reference/plugins.md
Labels: i18n, 📚 docs

#1180 i18n(es): Update `authoring-content`
  docs/src/content/docs/es/guides/authoring-content.md
Labels: i18n, 📚 docs

#1202 docs: Add secco to showcase
  docs/src/assets/showcase/secco.lekoarts.de.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1183 i18n(es): Update `i18n`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#1182 i18n(es): Update `configuration`
  docs/src/content/docs/es/reference/configuration.mdx
Labels: i18n, 📚 docs

#1179 i18n(es): Update `frontmatter`
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#1208 i18n(ja): Update customization.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, 📚 docs

#1213 i18n(ja): Update frontmatter.md
  docs/src/content/docs/ja/reference/frontmatter.md
Labels: i18n, 📚 docs

#1210 i18n(ja): Update sidebar.mdx
  docs/src/content/docs/ja/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1206 i18n(ja): Update components.mdx
  docs/src/content/docs/ja/guides/components.mdx
Labels: i18n, 📚 docs

#1211 i18n(ja): Update index.mdx
  docs/src/content/docs/ja/index.mdx
Labels: i18n, 📚 docs

#1204 i18n(ja): Update getting-started.mdx
  docs/src/content/docs/ja/getting-started.mdx
Labels: i18n, 📚 docs

#1205 i18n(ja): Update authoring-content.md
  docs/src/content/docs/ja/guides/authoring-content.md
Labels: i18n, 📚 docs

#1209 i18n(ja): Update i18n.mdx
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, 📚 docs

#1214 i18n(ja): Update configuration.mdx
  docs/src/content/docs/ja/reference/configuration.mdx
Labels: i18n, 📚 docs

#1216 i18n(ja): Add site-search.mdx
  docs/src/content/docs/ja/guides/site-search.mdx
Labels: i18n, 📚 docs

#1215 i18n(ja): Add overriding-components.md
  docs/src/content/docs/ja/guides/overriding-components.md
Labels: i18n, 📚 docs

#1218 i18n(ja): Add overrides.md
  docs/src/content/docs/ja/reference/overrides.md
Labels: i18n, 📚 docs

#1228 i18n(ko-KR): update `overriding-components.md`
  docs/src/content/docs/ko/guides/overriding-components.md
Labels: i18n, 📚 docs

#1230 i18n(ko-KR): update `frontmatter.md`
  docs/src/content/docs/ko/reference/frontmatter.md
Labels: i18n, 📚 docs

#1225 i18n(ko-KR): update `authoring-content.md`
  docs/src/content/docs/ko/guides/authoring-content.md
Labels: i18n, 📚 docs

#1227 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#1229 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#1232 i18n(ko-KR): add `plugins.md`
  docs/src/content/docs/ko/reference/configuration.mdx
  docs/src/content/docs/ko/reference/plugins.md
Labels: i18n, 📚 docs

#1234 fix: typo on `plugins.md`
  docs/src/content/docs/reference/plugins.md
Labels: 📚 docs

#1235 i18n(fr): fix typo in configuration.mdx
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#1233 i18n(ko-KR): add `site-search.mdx`
  docs/src/content/docs/ko/guides/site-search.mdx
Labels: i18n, 📚 docs

#1226 Dutch aside text
  .changeset/large-planes-ring.md
  packages/starlight/translations/nl.json
Labels: 🌟 patch, 🌟 core

#1203 Add Matrix social icon
  .changeset/strange-boxes-know.md
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#1242 Prefetch links on hover by default
  .changeset/sour-guests-tease.md
  package.json
  packages/starlight/index.ts
Labels: 🌟 minor, 🌟 core

#1170 Fix timezone-reliance in LastUpdated
  .changeset/new-starfishes-accept.md
  packages/starlight/components/LastUpdated.astro
Labels: 🌟 core

#1243 i18n(ru): Fix typo in `i18n.untranslatedContent`
  .changeset/mighty-bugs-punch.md
  packages/starlight/translations/ru.json
Labels: 🌟 core

#1241 Update upgrade instructions to show new `@astrojs/upgrade`
  docs/src/content/docs/getting-started.mdx
Labels: 📚 docs

#1247 i18n(es): Update `getting-started.mdx`
  docs/src/content/docs/es/getting-started.mdx
Labels: i18n, 📚 docs

#1252 i18n(ja): Update getting-started.mdx
  docs/src/content/docs/ja/getting-started.mdx
Labels: i18n, 📚 docs

#1250 docs(i18n): Add Indonesian translation for site search documentation
  docs/src/content/docs/id/guides/site-search.mdx
Labels: i18n, 📚 docs

#1264 docs: add SiteOne Crawler to showcase
  docs/src/assets/showcase/crawler.siteone.io.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1269 docs(showcase): add csmos.space
  docs/src/assets/showcase/csmos.space.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1245 i18n(fr): update `getting-started.mdx`
  docs/src/content/docs/fr/getting-started.mdx
Labels: i18n, 📚 docs

#1192 i18n(fr): update `reference/frontmatter.md`
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#1185 i18n(fr): update `guides/authoring-content.md`
  docs/src/content/docs/fr/guides/authoring-content.md
Labels: i18n, 📚 docs

#1195 i18n(fr): add `reference/plugins.md`
  docs/src/content/docs/fr/reference/plugins.md
Labels: i18n, 📚 docs

#1194 i18n(fr): add `guides/site-search.mdx`
  docs/src/content/docs/fr/guides/site-search.mdx
Labels: i18n, 📚 docs

#1191 i18n(fr): update `reference/configuration.mdx`
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#1193 i18n(fr): update `reference/overrides.md`
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#1187 i18n(fr): update `guides/i18n.mdx`
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs

#1188 i18n(fr): update `guides/overriding-components.md`
  docs/src/content/docs/fr/guides/overriding-components.md
Labels: i18n, 📚 docs

#1219 i18n(ja): Disable formatting for the line containing `LanguageList`
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, 📚 docs

#1199 i18n(pt-br): add `reference/plugins.md`
  docs/src/content/docs/pt-br/reference/plugins.md
Labels: i18n, 📚 docs

#1197 i18n(pt-br): update `guides/i18n.mdx`
  docs/src/content/docs/pt-br/guides/i18n.mdx
Labels: i18n, 📚 docs

#1274 [i18nIgnore] docs: fix more documentation links
  docs/src/content/docs/es/guides/site-search.mdx
  docs/src/content/docs/es/manual-setup.mdx
  docs/src/content/docs/es/reference/plugins.md
  docs/src/content/docs/id/manual-setup.mdx
  docs/src/content/docs/id/reference/configuration.mdx
  docs/src/content/docs/it/reference/frontmatter.md
  docs/src/content/docs/ja/guides/overriding-components.md
  docs/src/content/docs/ja/manual-setup.mdx
  docs/src/content/docs/pt-br/manual-setup.mdx
  docs/src/content/docs/ru/guides/customization.mdx
  docs/src/content/docs/ru/manual-setup.mdx
  docs/src/content/docs/tr/manual-setup.mdx
Labels: i18n, 📚 docs

#1266 perf: Remove redundant subprocess calls
  .changeset/serious-months-destroy.md
  packages/starlight/utils/git.ts
Labels: 🌟 patch, 🌟 core

#1273 Improve social icons accessibility
  .changeset/angry-roses-drive.md
  packages/starlight/components/SocialIcons.astro
Labels: 🌟 patch, 🌟 core

#1276 Bump EC dependency to ^0.30.1
  .changeset/rotten-colts-rescue.md
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 patch, 🌟 core

#1278 Export `StarlightUserConfig` type
  .changeset/tame-squids-yawn.md
  packages/starlight/types.ts
Labels: 🌟 core

#1263 Added slug to the Frontmatter Reference in the Starlight Docs
  docs/src/content/docs/reference/frontmatter.md
Labels: 📚 docs

#1221 i18n(da): translate 404, index, showcase, and project-structure
  .github/labeler.yml
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/docs/da/404.md
  docs/src/content/docs/da/guides/project-structure.mdx
  docs/src/content/docs/da/index.mdx
  docs/src/content/docs/da/showcase.mdx
Labels: 📚 docs

#1280 i18n(es): Add translations for EC
  .changeset/old-adults-bake.md
  packages/starlight/translations/es.json
Labels: 🌟 patch, 🌟 core

#1283 i18n(es): Update `frontmatter.md`
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#1285 i18n(fr): improve plugin name example translation
  docs/src/content/docs/fr/reference/plugins.md
Labels: i18n, 📚 docs

#1284 i18n(ko-KR): update `frontmatter.md`
  docs/src/content/docs/ko/reference/frontmatter.md
Labels: i18n, 📚 docs

#1275 docs: Add plugins showcase
  docs/src/content/docs/reference/configuration.mdx
  docs/src/content/docs/reference/plugins.md
  docs/src/content/docs/showcase.mdx
Labels: 📚 docs

#1286 i18n(fr): update `reference/frontmatter.md`
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#1287 i18n(fr): add plugin showcase
  docs/src/content/docs/fr/reference/configuration.mdx
  docs/src/content/docs/fr/reference/plugins.md
  docs/src/content/docs/fr/showcase.mdx
Labels: i18n, 📚 docs

#1288 [i18nIgnore] docs: revert some translated default UI strings
  docs/src/content/docs/es/guides/i18n.mdx
  docs/src/content/docs/pt-br/guides/i18n.mdx
Labels: i18n, 📚 docs

#1289 i18n(fr): add expressive code french translations
  .changeset/neat-hats-change.md
  packages/starlight/translations/fr.json
Labels: 🌟 core

#1290 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#1291 i18n(ko-KR): update `plugins.md`
  docs/src/content/docs/ko/reference/plugins.md
Labels: i18n, 📚 docs

#1292 i18n(ko-KR): update `showcase.mdx`
  docs/src/content/docs/ko/showcase.mdx
Labels: i18n, 📚 docs

#1293 i18n(ja): Update frontmatter.md
  docs/src/content/docs/ja/reference/frontmatter.md
Labels: i18n, 📚 docs

#1301 docs: move `starlight-typedoc` to the community plugins section
  docs/src/content/docs/showcase.mdx
Labels: 📚 docs

#1304 i18n(ko-KR): update `showcase.mdx`
  docs/src/content/docs/ko/showcase.mdx
Labels: i18n, 📚 docs

#1294 i18n(ja): Update showcase.mdx and related pages
  docs/src/content/docs/ja/reference/configuration.mdx
  docs/src/content/docs/ja/reference/plugins.md
  docs/src/content/docs/ja/showcase.mdx
Labels: i18n, 📚 docs

#1314 showcase: Add docs.ghostfam.com
  docs/src/assets/showcase/docs.ghostfam.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1307 Add Concepto AI to Showcase Docs list
  docs/src/assets/showcase/concepto-docs.vercel.app.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1306 i18n(fr): Update `showcase.mdx`
  docs/src/content/docs/fr/showcase.mdx
Labels: i18n, 📚 docs

#1315 i18n(hi): update `project-structure.mdx`
  docs/src/content/docs/hi/guides/project-structure.mdx
Labels: i18n, 📚 docs

#1312 showcase: Add doc link of Mr. Robøt
  docs/src/assets/showcase/docs.mrrobot.app.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1316 i18n(hi): update `css-and-tailwind.mdx`
  docs/src/content/docs/hi/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1320 docs: fix showcase invalid link
  docs/src/assets/showcase/pls.cli.rs.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1299 i18n(hi): update `404.md`
  docs/src/content/docs/hi/404.md
Labels: i18n, 📚 docs
