Repository withastro/starlight, pull requests merged in 2023-08, with the labels that each got.

#443 Add icons for Bitbucket, Gitter, CodePen, and Microsoft Teams
  .changeset/nervous-plants-relate.md
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/Icons.ts
  packages/starlight/components/SocialIcons.astro
  packages/starlight/utils/user-config.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#435 i18n(fr): Updated `components.mdx` & `frontmatter.md`
  docs/src/content/docs/fr/guides/components.mdx
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#446 i18n(zh-cn): Update showcase.md & config.md
  docs/src/content/docs/zh/reference/configuration.md
  docs/src/content/docs/zh/showcase.md
Labels: i18n, 📚 docs

#448 i18n(zh-cn): translate authoring-content.md
  docs/src/content/docs/zh/guides/authoring-content.md
Labels: i18n, 📚 docs

#449 i18n(es): Updated `customization.mdx` & `configuration.md`
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/reference/configuration.md
Labels: i18n, 📚 docs

#450 i18n(fr): Updated `customization.mdx` & `configuration.md`
  docs/src/content/docs/fr/guides/customization.mdx
  docs/src/content/docs/fr/reference/configuration.md
Labels: i18n, 📚 docs

#453 i18n(zh-cn): translate components.mdx
  docs/src/content/docs/zh/guides/components.mdx
Labels: i18n, 📚 docs

#452 i18n(fr): Updated `showcase.md`
  docs/src/content/docs/fr/showcase.md
Labels: i18n, 📚 docs

#457 Update astro to 2.10.1
  docs/package.json
  examples/basics/package.json
  package.json
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 📚 docs, 🌟 core

#459 i18n(zh-cn): Optimize Chinese translation
  docs/src/content/docs/zh/getting-started.mdx
  docs/src/content/docs/zh/index.mdx
Labels: i18n, 📚 docs

#467 Ignore type error in integration
  .changeset/tough-balloons-nail.md
  docs/src/components/icons-list.astro
  docs/src/components/internal/file-tree-icons.ts
  packages/starlight/index.ts
Labels: 📚 docs, 🌟 core

#464 i18n(ja): Update showcase.md
  docs/src/content/docs/ja/showcase.md
Labels: i18n, 📚 docs

#466 i18n(ja): Update customization.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, 📚 docs

#460 Sidebar current page highlight with trailing slashes
  .changeset/fifty-trees-approve.md
  packages/starlight/__tests__/basics/navigation.test.ts
  packages/starlight/utils/base.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/path.ts
Labels: 🌟 patch, 🌟 core

#463 Add site to community project showcase
  docs/src/content/docs/showcase.md
Labels: 📚 docs

#472 i18n(zh-cn): Update showcase.md
  docs/src/content/docs/zh/showcase.md
Labels: i18n, 📚 docs

#473 Fix issue with nested `<Tabs>` components
  .changeset/wise-boats-flow.md
  packages/starlight/user-components/Tabs.astro
Labels: 🌟 core

#477 Run size limit checks against basics example
  .github/workflows/size-limit.yml
  docs/package.json
  examples/basics/package.json
  package.json
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🚨 action, 📚 docs, 🌟 core

#397 Add LinkCard Component
  .changeset/swift-kiwis-wash.md
  docs/src/content/docs/guides/components.mdx
  packages/starlight/components.ts
  packages/starlight/style/util.css
  packages/starlight/user-components/LinkCard.astro
Labels: 🌟 minor, 📚 docs, 🌟 core

#441 Add frontmatter to hide page from sidebar autogeneration
  .changeset/quiet-rules-drum.md
  docs/src/content/docs/reference/frontmatter.md
  packages/starlight/__tests__/sidebar/navigation-hidden.test.ts
  packages/starlight/schema.ts
  packages/starlight/utils/navigation.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#470 Add theme editor to styling guide
  .changeset/red-rockets-turn.md
  docs/package.json
  docs/src/components/theme-designer.astro
  docs/src/components/theme-designer/atom.ts
  docs/src/components/theme-designer/color-editor.astro
  docs/src/components/theme-designer/color-lib.ts
  docs/src/components/theme-designer/palette.astro
  docs/src/components/theme-designer/presets.astro
  docs/src/components/theme-designer/preview.astro
  docs/src/components/theme-designer/store.ts
  docs/src/components/theme-designer/value-slider.astro
  docs/src/content/docs/guides/css-and-tailwind.mdx
  packages/starlight/components/Icons.ts
  packages/starlight/style/props.css
  pnpm-lock.yaml
Labels: 🌟 minor, 📚 docs, 🌟 core

#475 Include built-in UI translation for regional docs
  .changeset/two-experts-rest.md
  docs/src/content/docs/reference/configuration.md
  packages/starlight/__tests__/i18n/config.test.ts
  packages/starlight/__tests__/i18n/routing.test.ts
  packages/starlight/__tests__/i18n/translations-with-user-config.test.ts
  packages/starlight/__tests__/i18n/translations.test.ts
  packages/starlight/__tests__/i18n/vitest.config.ts
  packages/starlight/utils/translations.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#485 Upgrade Astro to 2.10.5
  docs/package.json
  examples/basics/package.json
  package.json
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 📚 docs, 🌟 core

#486 i18n(es): Updated `configuration.md` and `frontmatter.md`
  docs/src/content/docs/es/reference/configuration.md
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#482 i18n(es): Updated `components.mdx`
  docs/src/content/docs/es/guides/components.mdx
Labels: i18n, 📚 docs

#488 [LinkCard] use only title as the link text
  .changeset/clean-baboons-own.md
  packages/starlight/user-components/LinkCard.astro
Labels: 🌟 core

#489 Respect `hidden` sidebar frontmatter property when no sidebar configuration is provided
  .changeset/three-bobcats-lay.md
  packages/starlight/__tests__/basics/navigation.test.ts
  packages/starlight/utils/navigation.ts
Labels: 🌟 core

#493 i18n(es): Fix typos in `css-and-tailwind.mdx`
  docs/src/content/docs/es/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#491 i18n(pt-BR): Translate `manual-setup.mdx` & `showcase.md`
  docs/src/content/docs/pt-br/manual-setup.mdx
  docs/src/content/docs/pt-br/showcase.md
Labels: i18n, 📚 docs

#494 i18n(pt-BR): Translate `environmental-impact.md` & `project-structure.mdx`
  docs/src/content/docs/pt-br/environmental-impact.md
  docs/src/content/docs/pt-br/guides/project-structure.mdx
Labels: i18n, 📚 docs

#496 Make `lastUpdated` position consistent
  .changeset/smooth-ladybugs-yell.md
  packages/starlight/components/Footer.astro
Labels: 🌟 core

#502 Adding Farsi ui Translations
  .changeset/real-elephants-heal.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/fa.json
  packages/starlight/translations/index.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#499 Add Instagram icon
  .changeset/nervous-plants-relate.md
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/Icons.ts
  packages/starlight/components/SocialIcons.astro
  packages/starlight/utils/user-config.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#402 Add `z-index` to mobile table of contents.
  .changeset/wild-falcons-type.md
  packages/starlight/components/TableOfContents/MobileTableOfContents.astro
  packages/starlight/layout/TwoColumnContent.astro
  packages/starlight/style/props.css
Labels: 🌟 patch, 🌟 core

#503 Use looser version for main Starlight peer in Tailwind plugin
  .changeset/tidy-timers-sparkle.md
  packages/tailwind/package.json
  pnpm-lock.yaml
Labels: 🌟 patch, 🌟 tailwind

#501 i18n(fr): Updated `components.mdx`
  docs/src/content/docs/fr/guides/components.mdx
Labels: i18n, 📚 docs

#507 i18n(de-DE): Translation updates and additions
  docs/astro.config.mjs
  docs/src/content/docs/de/404.md
  docs/src/content/docs/de/getting-started.mdx
  docs/src/content/docs/de/manual-setup.mdx
  docs/src/content/docs/de/reference/configuration.md
Labels: i18n, 📚 docs

#519 i18n(zh-cn): update customization.mdx
  docs/src/content/docs/zh/guides/customization.mdx
Labels: i18n, 📚 docs

#518 i18n(zh-cn): Update components.mdx
  docs/src/content/docs/zh/guides/components.mdx
Labels: i18n, 📚 docs

#520 i18n(zh-cn): Update i18n.mdx
  docs/src/content/docs/zh/guides/i18n.mdx
Labels: i18n, 📚 docs

#521 i18n(zh-cn): Update configuration.md
  docs/src/content/docs/zh/reference/configuration.md
Labels: i18n, 📚 docs

#522 i18n(zh-cn): Update frontmatter.md
  docs/src/content/docs/zh/reference/frontmatter.md
Labels: i18n, 📚 docs

#523 i18n(es): Update `customization.mdx`, `i18n.mdx` & `configuration.md`
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/guides/i18n.mdx
  docs/src/content/docs/es/reference/configuration.md
Labels: i18n, 📚 docs

#528 i18n(ko-KR): add Korean language support
  .changeset/three-crabs-juggle.md
  docs/astro.config.mjs
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/ko/index.mdx
  packages/starlight/translations/index.ts
  packages/starlight/translations/ko.json
Labels: 🌟 patch, 📚 docs, 🌟 core

#533 i18n(ja): Update configuration.md
  docs/src/content/docs/ja/reference/configuration.md
Labels: i18n, 📚 docs

#534 i18n(ja): Update frontmatter.md
  docs/src/content/docs/ja/reference/frontmatter.md
Labels: i18n, 📚 docs

#535 i18n(ja): Update showcase.md
  docs/src/content/docs/ja/showcase.md
Labels: i18n, 📚 docs

#531 i18n(ja): Update customization.mdx and add css-and-tailwind.mdx
  docs/src/content/docs/ja/guides/css-and-tailwind.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, 📚 docs

#530 i18n(ja): Update components.mdx
  docs/src/content/docs/ja/guides/components.mdx
Labels: i18n, 📚 docs

#537 Add Swedish UI translations.
  .changeset/thirty-sheep-march.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/index.ts
  packages/starlight/translations/sv.json
Labels: 🌟 patch, 📚 docs, 🌟 core

#539 i18n(es): Update `i18n.mdx`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#532 i18n(ja): Update i18n.mdx
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, 📚 docs

#540 i18n(ko-KR): translate `getting-started.mdx`
  docs/src/content/docs/ko/getting-started.mdx
Labels: 📚 docs

#525 Improve inline code and code block support in RTL languages
  .changeset/long-parrots-give.md
  packages/starlight/__tests__/remark-rehype/code-rtl-support.test.ts
  packages/starlight/__tests__/remark-rehype/vitest.config.ts
  packages/starlight/index.ts
  packages/starlight/integrations/code-rtl-support.ts
Labels: 🌟 patch, 🌟 core

#504 i18n(pt-BR): Translate `404.md` & `authoring-content.md`
  docs/src/content/docs/pt-br/404.md
  docs/src/content/docs/pt-br/guides/authoring-content.md
Labels: i18n, 📚 docs

#510 i18n(pt-BR): Translate `css-and-tailwind.mdx`
  docs/src/content/docs/pt-br/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#511 i18n(pt-BR): Translate `customization.mdx`
  docs/src/content/docs/pt-br/guides/customization.mdx
Labels: i18n, 📚 docs

#542 [i18nIgnore] Remove work-in-progress warning from getting started
  docs/src/content/docs/de/getting-started.mdx
  docs/src/content/docs/es/getting-started.mdx
  docs/src/content/docs/fr/getting-started.mdx
  docs/src/content/docs/getting-started.mdx
  docs/src/content/docs/it/getting-started.mdx
  docs/src/content/docs/ja/getting-started.mdx
  docs/src/content/docs/ko/getting-started.mdx
  docs/src/content/docs/pt-br/getting-started.mdx
  docs/src/content/docs/zh/getting-started.mdx
Labels: i18n, 📚 docs

#505 i18n(pt-BR): Translate `i18n.mdx`
  docs/src/content/docs/pt-br/guides/i18n.mdx
Labels: i18n, 📚 docs

#541 Use `Intl.NumberFormat` to display decimals in theme editor
  docs/src/components/theme-designer/value-slider.astro
Labels: 📚 docs

#547 Revamp Starlight showcase
  docs/src/assets/showcase/astro-error-page-documentation.vercel.app.png
  docs/src/assets/showcase/brycerussell.github.io-qbcore-docs.png
  docs/src/assets/showcase/capo.js.png
  docs/src/assets/showcase/commandkit.underctrl.io.png
  docs/src/assets/showcase/dhruvkb.github.io-pls.png
  docs/src/assets/showcase/docs.pubindexapi.com.png
  docs/src/assets/showcase/felicity.pages.dev.png
  docs/src/assets/showcase/har.fyi.png
  docs/src/assets/showcase/sibiraj-s.github.io-ngx-editor.png
  docs/src/assets/showcase/simple.arciniega.one.png
  docs/src/assets/showcase/terrateam.io-docs.png
  docs/src/assets/showcase/webmonetization.org.png
  docs/src/assets/showcase/www.athenaos.org.png
  docs/src/assets/showcase/xs-dev.js.org.png
  docs/src/components/fluid-grid.astro
  docs/src/components/showcase-card.astro
  docs/src/content/docs/showcase.md
  docs/src/content/docs/showcase.mdx
Labels: 📚 docs

#545 i18n(zh-cn): Translate css-and-tailwind.mdx
  docs/src/content/docs/zh/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#546 i18n(ko-KR): translate `manual-setup.mdx`
  docs/src/content/docs/ko/manual-setup.mdx
Labels: 📚 docs

#543 [docs] Add link to GitHub issues under Troubleshooting
  docs/src/content/docs/getting-started.mdx
Labels: 📚 docs

#548 i18n(es): Update `showcase.mdx`
  docs/src/content/docs/es/showcase.md
  docs/src/content/docs/es/showcase.mdx
Labels: i18n, 📚 docs

#549 i18n(es): Update `getting-started.mdx`
  docs/src/content/docs/es/getting-started.mdx
Labels: i18n, 📚 docs

#552 i18n(zh-cn): Update getting-started.mdx
  docs/src/content/docs/zh/getting-started.mdx
Labels: i18n, 📚 docs

#554 i18n(ko-KR): translate `environmental-impact.md`
  docs/src/content/docs/ko/environmental-impact.md
Labels: 📚 docs

#551 Remove warning & add support section to README
  packages/starlight/README.md
Labels: 🌟 core

#555 i18n(ja): Update getting-started.mdx
  docs/src/content/docs/ja/getting-started.mdx
Labels: i18n, 📚 docs

#556 i18n(ja): Update showcase
  docs/src/content/docs/ja/showcase.md
  docs/src/content/docs/ja/showcase.mdx
Labels: i18n, 📚 docs

#560 i18n(ko-KR): translate `showcase.mdx`
  docs/src/content/docs/ko/showcase.mdx
Labels: 📚 docs

#553 i18n(zh-cn): Update showcase
  docs/src/content/docs/zh/showcase.md
  docs/src/content/docs/zh/showcase.mdx
Labels: i18n, 📚 docs

#557 i18n(fr): update `showcase.mdx`
  docs/astro.config.mjs
  docs/src/content/docs/fr/showcase.md
  docs/src/content/docs/fr/showcase.mdx
Labels: i18n, 📚 docs

#558 i18n(fr): Update `getting-started.mdx`
  docs/src/content/docs/fr/getting-started.mdx
Labels: i18n, 📚 docs

#568 i18n(ko-KR): update `getting-started.mdx`
  docs/src/content/docs/ko/getting-started.mdx
Labels: 📚 docs

#566 i18n(ko-KR): translate `authoring-content.md`
  docs/src/content/docs/ko/guides/authoring-content.md
Labels: 📚 docs

#563 Add `starlight-openapi` to showcase
  docs/src/content/docs/showcase.mdx
Labels: 📚 docs

#573 Add /ph rewrite
  docs/public/_redirects
Labels: 📚 docs

#572 i18n(es): Update `showcase.mdx`
  docs/src/content/docs/es/showcase.mdx
Labels: i18n, 📚 docs

#574 i18n(ja): Update showcase.mdx
  docs/src/content/docs/ja/showcase.mdx
Labels: i18n, 📚 docs

#575 i18n(ko-KR): translate `components.mdx`
  docs/src/content/docs/ko/guides/components.mdx
Labels: 📚 docs

#571 i18n(fr): update `showcase.mdx`
  docs/src/content/docs/fr/showcase.mdx
Labels: i18n, 📚 docs

#576 i18n(ko-KR): udpate `showcase.mdx`
  docs/src/content/docs/ko/showcase.mdx
Labels: i18n, 📚 docs

#577 i18n(ko-KR): translate `project-structure.mdx`
  docs/src/content/docs/ko/guides/project-structure.mdx
Labels: i18n, 📚 docs

#569 Use locale when sorting autogenerated sidebar entries
  .changeset/large-points-wait.md
  packages/starlight/__tests__/i18n/navigation-order.test.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/vitest.config.ts
Labels: 🌟 patch, 🌟 core

#529 Prefix class names that can conflict with Tailwind
  .changeset/moody-horses-begin.md
  .changeset/perfect-tools-know.md
  docs/src/components/about-astro.astro
  docs/src/components/theme-designer.astro
  docs/src/components/theme-designer/presets.astro
  packages/starlight/components/CallToAction.astro
  packages/starlight/components/ContentPanel.astro
  packages/starlight/components/EditLink.astro
  packages/starlight/components/FallbackContentNotice.astro
  packages/starlight/components/Footer.astro
  packages/starlight/components/Header.astro
  packages/starlight/components/Hero.astro
  packages/starlight/components/MobileMenuToggle.astro
  packages/starlight/components/PrevNextLinks.astro
  packages/starlight/components/RightSidebarPanel.astro
  packages/starlight/components/Search.astro
  packages/starlight/components/Sidebar.astro
  packages/starlight/components/SiteTitle.astro
  packages/starlight/components/SocialIcons.astro
  packages/starlight/components/TableOfContents/MobileTableOfContents.astro
  packages/starlight/layout/PageFrame.astro
  packages/starlight/layout/TwoColumnContent.astro
  packages/starlight/style/util.css
  packages/starlight/user-components/Card.astro
  packages/starlight/user-components/LinkCard.astro
  packages/tailwind/__tests__/tailwind.test.ts
  packages/tailwind/index.ts
Labels: 🌟 minor, 📚 docs, 🌟 core, 🌟 tailwind

#579 i18n(ko-KR): translate `css-and-tailwind.mdx`
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#580 i18n(ko-KR): translate `404.md`
  docs/src/content/docs/ko/404.md
Labels: i18n, 📚 docs

#582 i18n(fr): add `css-and-tailwind.mdx`
  docs/src/content/docs/fr/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#585 Use semantic names for badge variants
  docs/src/content/docs/reference/configuration.md
  docs/src/content/docs/reference/frontmatter.md
  packages/starlight/__tests__/sidebar/navigation-badges.test.ts
  packages/starlight/__tests__/sidebar/navigation-hidden.test.ts
  packages/starlight/__tests__/sidebar/navigation-order.test.ts
  packages/starlight/__tests__/sidebar/navigation.test.ts
  packages/starlight/__tests__/sidebar/vitest.config.ts
  packages/starlight/components/Badge.astro
  packages/starlight/schema.ts
  packages/starlight/schemas/badge.ts
Labels: 📚 docs, 🌟 core

#584 i18n(ko-KR): translate `i18n.mdx`
  docs/src/content/docs/ko/guides/customization.mdx
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#583 i18n(ko-KR): translate `customization.mdx`
  docs/src/content/docs/ko/guides/customization.mdx
Labels: i18n, 📚 docs

#590 i18n(zh-cn): Update showcase.mdx
  docs/src/content/docs/zh/showcase.mdx
Labels: i18n, 📚 docs

#564 Add announcement banner feature
  docs/public/ph-houston.svg
  docs/src/assets/landing.css
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/frontmatter.md
  packages/starlight/components/Banner.astro
  packages/starlight/layout/Page.astro
  packages/starlight/schema.ts
  packages/starlight/style/props.css
Labels: 🌟 minor, 📚 docs, 🌟 core

#559 Add Stack Overflow icon
  .changeset/rare-insects-burn.md
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/Icons.ts
  packages/starlight/components/SocialIcons.astro
  packages/starlight/utils/user-config.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#589 i18n(fr): update `frontmatter.md`
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#588 i18n(fr): update `configuration.md`
  docs/src/content/docs/fr/reference/configuration.md
Labels: i18n, 📚 docs

#587 i18n(fr): update `i18n.mdx`
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs

#586 i18n(fr): update `customization.mdx`
  docs/src/content/docs/fr/guides/customization.mdx
Labels: i18n, 📚 docs

#602 i18n(ja): Update index.mdx
  docs/src/content/docs/ja/index.mdx
Labels: i18n, 📚 docs

#598 i18n(zh-cn): Bring banner to zh index.mdx
  docs/src/content/docs/zh/index.mdx
Labels: i18n, 📚 docs

#606 Fix links in README
  packages/starlight/README.md
Labels: 🌟 core

#605 i18n(es): Update `index.mdx` & `frontmatter.mdx`
  docs/src/content/docs/es/index.mdx
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#603 i18n(fr): Update `index.mdx` & `frontmatter.mdx`
  docs/src/content/docs/fr/index.mdx
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#608 i18n(pt-BR): Update all the pages
  docs/src/content/docs/pt-br/getting-started.mdx
  docs/src/content/docs/pt-br/guides/customization.mdx
  docs/src/content/docs/pt-br/index.mdx
  docs/src/content/docs/pt-br/reference/configuration.md
  docs/src/content/docs/pt-br/reference/frontmatter.md
Labels: i18n, 📚 docs

#613 i18n(fr): update `manual-setup` & `frontmatter` page titles
  docs/astro.config.mjs
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs
