Repository withastro/starlight, pull requests merged in 2023-09, with the labels that each got.

#621 hotfix: Update Showcase site URL (broken link)
  docs/src/content/docs/showcase.mdx
Labels: 📚 docs

#619 docs: add obytes starter to showcase
  docs/src/assets/showcase/starter.obytes.com.jpg
  docs/src/content/docs/showcase.mdx
Labels: 📚 docs

#612 fix(Select): keep original option color when hovering
  .changeset/pretty-falcons-hope.md
  packages/starlight/components/Select.astro
Labels: 🌟 patch, 🌟 core

#615 Support Astro v3
  .changeset/stale-owls-refuse.md
  .changeset/thirty-plums-relax.md
  .github/workflows/ci.yml
  .github/workflows/format.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  docs/README.md
  docs/package.json
  docs/src/components/showcase-card.astro
  docs/src/env.d.ts
  examples/basics/README.md
  examples/basics/package.json
  examples/basics/src/env.d.ts
  examples/tailwind/README.md
  examples/tailwind/package.json
  examples/tailwind/src/env.d.ts
  package.json
  packages/starlight/index.ts
  packages/starlight/integrations/asides.ts
  packages/starlight/integrations/sitemap.ts
  packages/starlight/package.json
  packages/tailwind/package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: 🌟 minor, 🚨 action, 📚 docs, 🌟 core, 🌟 tailwind

#627 Move CI runs back to Node 18 due to pnpm bug
  .github/workflows/format.yml
  .github/workflows/release.yml
Labels: 🚨 action

#629 Fixes for Astro v3
  packages/starlight/components/LastUpdated.astro
  packages/starlight/components/SidebarSublist.astro
Labels: 🌟 core

#626 Throw error if a user’s project adds MDX or sitemap integrations
  .changeset/brown-olives-share.md
  packages/starlight/index.ts
Labels: 🌟 core

#596 i18n(zh-cn): Update customization.mdx
  docs/src/content/docs/zh/guides/customization.mdx
Labels: i18n, 📚 docs

#597 i18n(zh-cn): Update configuration.md & frontmatter.md
  docs/src/content/docs/zh/reference/configuration.md
  docs/src/content/docs/zh/reference/frontmatter.md
Labels: i18n, 📚 docs

#604 i18n(es): Update `customization.mdx`
  docs/src/content/docs/es/guides/customization.mdx
Labels: i18n, 📚 docs

#599 i18n(ja): Update customization.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, 📚 docs

#600 i18n(ja): Update configuration.md
  docs/src/content/docs/ja/reference/configuration.md
Labels: i18n, 📚 docs

#607 i18n(es): Update `configuration.mdx`
  docs/src/content/docs/es/reference/configuration.md
Labels: i18n, 📚 docs

#624 i18n(fr): Update `showcase.mdx`
  docs/src/content/docs/fr/showcase.mdx
Labels: i18n, 📚 docs

#623 i18n(es): Update `showcase.mdx`
  docs/src/content/docs/es/showcase.mdx
Labels: i18n, 📚 docs

#591 i18n(ko-KR): translate `configuration.md`
  docs/src/content/docs/ko/reference/configuration.md
Labels: i18n, 📚 docs

#592 i18n(ko-KR): translate `frontmatter.md`
  docs/src/content/docs/ko/reference/frontmatter.md
Labels: i18n, 📚 docs

#610 i18n(ko-KR): update `index.mdx`
  docs/src/content/docs/ko/index.mdx
Labels: i18n, 📚 docs

#630 i18n(pt-br): Update showcase.mdx
  docs/src/content/docs/pt-br/showcase.md
  docs/src/content/docs/pt-br/showcase.mdx
Labels: i18n, 📚 docs

#631 i18n(zh): Update showcase.mdx
  docs/src/content/docs/zh/showcase.mdx
Labels: i18n, 📚 docs

#625 Ensure showcase image aspect ratios
  docs/src/components/showcase-card.astro
Labels: 📚 docs

#634 i18n(ko-KR): update multiple pages
  docs/src/content/docs/ko/environmental-impact.md
  docs/src/content/docs/ko/getting-started.mdx
  docs/src/content/docs/ko/guides/authoring-content.md
  docs/src/content/docs/ko/guides/components.mdx
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
  docs/src/content/docs/ko/guides/customization.mdx
  docs/src/content/docs/ko/guides/i18n.mdx
  docs/src/content/docs/ko/guides/project-structure.mdx
  docs/src/content/docs/ko/manual-setup.mdx
  docs/src/content/docs/ko/reference/configuration.md
  docs/src/content/docs/ko/showcase.mdx
Labels: i18n, 📚 docs

#614 docs: fix color of hovered icons in highlighted file tree items
  docs/src/components/file-tree.astro
Labels: 📚 docs

#601 i18n(ja): Update frontmatter.md
  docs/src/content/docs/ja/reference/frontmatter.md
Labels: i18n, 📚 docs

#635 i18n(ja): Update showcase.mdx
  docs/src/content/docs/ja/showcase.mdx
Labels: i18n, 📚 docs

#636 Update showcase Obytes starter image size
  docs/src/assets/showcase/starter.obytes.com.jpg
Labels: 📚 docs

#637 Updated Customization with Sitemap config
  docs/src/content/docs/guides/customization.mdx
Labels: 📚 docs

#643 i18n(it): small translation updates
  docs/src/content/docs/it/getting-started.mdx
  docs/src/content/docs/it/guides/i18n.mdx
  docs/src/content/docs/it/index.mdx
Labels: i18n, 📚 docs

#651 i18n(it): translate `showcase`
  docs/src/content/docs/it/showcase.mdx
Labels: i18n, 📚 docs

#649 i18n(it): translate `404`
  docs/src/content/docs/it/404.md
Labels: i18n, 📚 docs

#644 i18n(it): update translation of `guides/components.mdx`
  docs/src/content/docs/it/guides/components.mdx
Labels: i18n, 📚 docs

#565 Add sidebar guide
  docs/src/components/sidebar-preview.astro
  docs/src/content/docs/guides/sidebar.mdx
Labels: 📚 docs

#650 i18n(it): translate `guides/css-and-tailwind`
  docs/src/content/docs/it/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#659 Fix sidebar guide a11y and type issue
  docs/src/components/sidebar-preview.astro
Labels: 📚 docs

#657 i18n(ja): Update customization.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, 📚 docs

#645 i18n(it): update translations for `reference/frontmatter`
  docs/src/content/docs/it/reference/frontmatter.md
Labels: i18n, 📚 docs

#648 i18n(it): update translations for `reference/configuration`
  docs/src/content/docs/it/reference/configuration.md
Labels: i18n, 📚 docs

#656 Remove sharp image processor config
  docs/astro.config.mjs
  examples/basics/astro.config.mjs
  examples/tailwind/astro.config.mjs
Labels: 📚 docs

#653 i18n(it): translate `manual-setup`
  docs/src/content/docs/it/manual-setup.mdx
Labels: i18n, 📚 docs

#654 i18n(it): translate `guides/customization`
  docs/src/content/docs/it/guides/customization.mdx
Labels: i18n, 📚 docs

#661 i18n(ko-KR): update `customization.mdx`
  docs/src/content/docs/ko/guides/customization.mdx
Labels: i18n, 📚 docs

#662 i18n(ko-KR): update `showcase.mdx`
  docs/src/content/docs/ko/showcase.mdx
Labels: i18n, 📚 docs

#667 Break long inline <code> elements across lines
  .changeset/gorgeous-wasps-report.md
  packages/starlight/style/reset.css
Labels: 🌟 patch, 🌟 core

#660 Update `pa11y-ci` sitemap URL
  docs/package.json
Labels: 📚 docs

#642 fix(ToC): don't hard-code nav height
  .changeset/nasty-moons-bow.md
  packages/starlight/components/TableOfContents/MobileTableOfContents.astro
  packages/starlight/components/TableOfContents/starlight-toc.ts
Labels: 🌟 patch, 🌟 core

#676 fixes issue #674
  .changeset/polite-kids-bow.md
  packages/starlight/components/Search.astro
  packages/starlight/index.ts
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 patch, 🌟 core

#647 add option to docs schema to exclude a page from pagefind
  .changeset/dull-mails-kiss.md
  .changeset/spicy-eggs-nail.md
  docs/src/content/docs/reference/frontmatter.md
  packages/starlight/layout/Page.astro
  packages/starlight/schema.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#664 i18n(fr): update `guides/customization.mdx`
  docs/src/content/docs/fr/guides/customization.mdx
Labels: i18n, 📚 docs

#666 i18n(fr): update `reference/configuration.md`
  docs/src/content/docs/fr/reference/configuration.md
Labels: i18n, 📚 docs

#665 i18n(fr): update `reference/frontmatter.md`
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#671 i18n(es: Update `showcase.mdx`
  docs/src/content/docs/es/showcase.mdx
Labels: i18n, 📚 docs

#673 i18n(es): Translate `sidebar.mdx`
  docs/src/content/docs/es/guides/sidebar.mdx
Labels: i18n, 📚 docs

#675 i18n(it): update `showcase`
  docs/src/content/docs/it/showcase.mdx
Labels: i18n, 📚 docs

#680 i18n(zh-cn): Update showcase & customization.mdx
  docs/src/content/docs/zh/guides/customization.mdx
  docs/src/content/docs/zh/showcase.mdx
Labels: i18n, 📚 docs

#683 i18n(zh-cn): Update `reference/frontmatter.md`
  docs/src/content/docs/zh/reference/frontmatter.md
Labels: i18n, 📚 docs

#679 i18n(pt-BR): Update `reference/frontmatter.md`, `guides/customization.mdx` & `showcase.mdx`
  docs/src/content/docs/pt-br/guides/customization.mdx
  docs/src/content/docs/pt-br/reference/frontmatter.md
  docs/src/content/docs/pt-br/showcase.mdx
Labels: i18n, 📚 docs

#684 i18n(ko-KR): update `frontmatter.md`
  docs/src/content/docs/ko/reference/frontmatter.md
Labels: i18n, 📚 docs

#699 i18n(ja): Update showcase.mdx
  docs/src/content/docs/ja/showcase.mdx
Labels: i18n, 📚 docs

#693 i18n(it): update `reference/frontmatter`
  docs/src/content/docs/it/reference/frontmatter.md
Labels: i18n, 📚 docs

#698 i18n(ja): Update frontmatter.md
  docs/src/content/docs/ja/reference/frontmatter.md
Labels: i18n, 📚 docs

#689 i18n(es): Update `frontmatter.md`
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#670 i18n(es): Update `customization.mdx`
  docs/src/content/docs/es/guides/customization.mdx
Labels: i18n, 📚 docs

#678 i18n(it): translate `guides/sidebar`
  docs/src/content/docs/it/guides/sidebar.mdx
Labels: i18n, 📚 docs

#677 i18n(it): update `guides/authoring-content`
  docs/src/content/docs/it/guides/authoring-content.md
Labels: i18n, 📚 docs

#688 Extract showcase sites to a new component
  docs/src/components/showcase-sites.astro
  docs/src/content/docs/es/showcase.mdx
  docs/src/content/docs/fr/showcase.mdx
  docs/src/content/docs/it/showcase.mdx
  docs/src/content/docs/ja/showcase.mdx
  docs/src/content/docs/ko/showcase.mdx
  docs/src/content/docs/pt-br/showcase.mdx
  docs/src/content/docs/showcase.mdx
  docs/src/content/docs/zh/showcase.mdx
Labels: i18n, 📚 docs

#669 i18n(es): Update `frontmatter.md`
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#708 fix: handle `[data-has-toc]` when calculating main pane width
  .changeset/cold-bikes-knock.md
  packages/starlight/layout/TwoColumnContent.astro
Labels: 🌟 patch, 🌟 core

#711 Adding VRCFR Creator to showcase
  docs/src/assets/showcase/dev.vrchatfrance.fr.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#682 i18n (ru) - add localization for Russian language
  .changeset/large-onions-fail.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/index.ts
  packages/starlight/translations/ru.json
Labels: 🌟 patch, 📚 docs, 🌟 core

#692 Show page subheadings in search results
  .changeset/tame-squids-remember.md
  packages/starlight/components/Search.astro
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 minor, 🌟 core

#663 i18n(ko-KR): translate `sidebar.mdx`
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, 📚 docs

#716 i18n(es): Update `i18n.mdx`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#722 i18n(zh-cn): update `guides/i18n.mdx`
  docs/src/content/docs/zh/guides/i18n.mdx
Labels: i18n, 📚 docs

#720 i18n(it): update `guides/i18n`
  docs/src/content/docs/it/guides/i18n.mdx
Labels: i18n, 📚 docs

#726 Fix ToC bug & add tests
  .changeset/fuzzy-bottles-join.md
  packages/starlight/__tests__/basics/toc.test.ts
  packages/starlight/components/TableOfContents/generateToC.ts
Labels: 🌟 patch, 🌟 core

#719 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#715 Prevent scroll on `body` when search is open
  .changeset/soft-steaks-kick.md
  packages/starlight/components/Search.astro
Labels: 🌟 patch, 🌟 core

#733 Add Refact docs to showcase
  docs/src/assets/showcase/refact.ai.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#737 i18n(fr): update `guides/i18n.mdx`
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs

#735 Small search modal improvements
  .changeset/great-tomatoes-tie.md
  .changeset/lemon-cameras-tell.md
  packages/starlight/components/Search.astro
Labels: 🌟 patch, 🌟 core

#738 i18n(ja): Update i18n.mdx
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, 📚 docs

#743 Fix pa11y tests on Windows
  .npmrc
  docs/package.json
Labels: 📚 docs

#744 remove rogue log in toc.test.ts
  packages/starlight/__tests__/basics/toc.test.ts
Labels: 🌟 core

#739 feat: add Indonesian UI translation
  .changeset/thirty-terms-scream.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/id.json
  packages/starlight/translations/index.ts
Labels: 📚 docs, 🌟 core

#740 Remove CommandKit from showcase
  docs/src/assets/showcase/commandkit.underctrl.io.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#747 add Hebrew UI translations
  .changeset/twelve-buttons-sparkle.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/he.json
  packages/starlight/translations/index.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#758 i18n(es): Update `i18n.mdx`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#759 i18n(fr): Update `i18n.mdx`
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs

#763 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#761 Add “Built with Starlight” badges to READMEs
  docs/README.md
  examples/basics/README.md
  examples/tailwind/README.md
Labels: 📚 docs

#769 i18n(zh-cn): Update i18n.mdx
  docs/src/content/docs/zh/guides/i18n.mdx
Labels: i18n, 📚 docs

#681 i18n(zh-cn): Translate sidebar.mdx
  docs/src/content/docs/zh/guides/sidebar.mdx
Labels: i18n, 📚 docs

#765 i18n(id): Translate `index.mdx` and `getting-started.mdx` in the docs into Indonesian
  docs/astro.config.mjs
  docs/src/content/docs/id/getting-started.mdx
  docs/src/content/docs/id/index.mdx
Labels: 📚 docs

#745 Prevent crashing with no content folder
  .changeset/cool-moons-thank.md
  packages/starlight/utils/routing.ts
Labels: 🌟 patch, 🌟 core

#773 Updated Dutch translation
  .changeset/few-roses-explain.md
  packages/starlight/translations/nl.json
Labels: 🌟 patch, 🌟 core

#775 Replace copy/pasted `ImageFunction` with imported `SchemaContext`
  .changeset/fair-trains-care.md
  packages/starlight/schema.ts
Labels: 🌟 patch, 🌟 core

#781 Remove role="banner" from banner
  .changeset/clever-phones-check.md
  packages/starlight/components/Banner.astro
Labels: 🌟 patch, 🌟 core

#776 i18n(id): Translate 404.md
  docs/src/content/docs/id/404.md
Labels: 📚 docs

#783 fix: add src path to gh edit link
  .changeset/breezy-owls-roll.md
  packages/starlight/components/EditLink.astro
  packages/starlight/integrations/virtual-user-config.ts
  packages/starlight/virtual.d.ts
Labels: 🌟 patch, 🌟 core

#780 i18n(ja): add Hebrew & Indonesian to i18n page
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, 📚 docs
