Repository withastro/starlight, pull requests merged in 2023-11, with the labels that each got.

#995 feat: extend badge to be available for group links
  .changeset/orange-pants-tell.md
  docs/src/components/sidebar-preview.astro
  docs/src/content/docs/guides/sidebar.mdx
  docs/src/content/docs/reference/configuration.mdx
  packages/starlight/__tests__/basics/navigation-labels.test.ts
  packages/starlight/__tests__/basics/navigation-order.test.ts
  packages/starlight/__tests__/basics/navigation.test.ts
  packages/starlight/__tests__/i18n/navigation-order.test.ts
  packages/starlight/__tests__/sidebar/navigation-attributes.test.ts
  packages/starlight/__tests__/sidebar/navigation-badges.test.ts
  packages/starlight/__tests__/sidebar/navigation-hidden.test.ts
  packages/starlight/__tests__/sidebar/navigation-order.test.ts
  packages/starlight/__tests__/sidebar/navigation.test.ts
  packages/starlight/__tests__/sidebar/vitest.config.ts
  packages/starlight/components/SidebarSublist.astro
  packages/starlight/schemas/sidebar.ts
  packages/starlight/utils/navigation.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#280 feat: add support for light / dark hero images
  .changeset/violet-berries-mix.md
  docs/src/content/docs/reference/frontmatter.md
  packages/starlight/components/Hero.astro
  packages/starlight/components/SiteTitle.astro
  packages/starlight/schema.ts
  packages/starlight/schemas/hero.ts
  packages/starlight/style/util.css
Labels: 🌟 minor, 📚 docs, 🌟 core

#1004 Add Galician language support
  .changeset/four-pots-cheat.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/gl.json
  packages/starlight/translations/index.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#988 Add social icons to mobile menu footer
  .changeset/swift-geckos-remain.md
  packages/starlight/components/MobileMenuFooter.astro
Labels: 🌟 minor, 🌟 core, hacktoberfest-accepted

#1003 Refactor translation system to be reusable in non-Astro code
  .changeset/large-squids-wash.md
  packages/starlight/__tests__/i18n/empty-src/content/i18n/.gitkeep
  packages/starlight/__tests__/i18n/malformed-src/content/i18n/en.json
  packages/starlight/__tests__/i18n/src/content/i18n/en.json
  packages/starlight/__tests__/i18n/translations-fs.test.ts
  packages/starlight/index.ts
  packages/starlight/schemas/i18n.ts
  packages/starlight/utils/createTranslationSystem.ts
  packages/starlight/utils/translations-fs.ts
  packages/starlight/utils/translations.ts
Labels: 🌟 patch, 🌟 core

#1009 i18n(pt-BR): Update `css-and-tailwind.mdx`, `authoring-content.md` and `overrides.md`
  docs/src/content/docs/pt-br/guides/authoring-content.md
  docs/src/content/docs/pt-br/guides/css-and-tailwind.mdx
  docs/src/content/docs/pt-br/reference/overrides.md
Labels: i18n, 📚 docs

#1017 i18n(ko-KR): update `frontmatter.md`
  docs/src/content/docs/ko/reference/frontmatter.md
Labels: i18n, 📚 docs

#1013 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#1014 i18n(ko-KR): update `sidebar.mdx`
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1015 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#1016 i18n(zh-cn): Update authoring-content.md
  docs/src/content/docs/zh-cn/guides/authoring-content.md
Labels: i18n, 📚 docs

#1018 i18n(zh-cn): Update css-and-tailwind.mdx
  docs/src/content/docs/zh-cn/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1025 fix(docs-i18n-tracker): update `translations` import
  .changeset/polite-colts-turn.md
  packages/starlight/utils/createTranslationSystem.ts
Labels: 🌟 core

#1019 i18n(zh-cn): Update i18n.mdx
  docs/src/content/docs/zh-cn/guides/i18n.mdx
Labels: i18n, 📚 docs

#1021 i18n(zh-cn): Update overrides.md
  docs/src/content/docs/zh-cn/reference/overrides.md
Labels: i18n, 📚 docs

#1020 i18n(zh-cn): Update frontmatter.md
  docs/src/content/docs/zh-cn/reference/frontmatter.md
Labels: i18n, 📚 docs

#1029 i18n(es): Update `configuration` & `sidebar`
  docs/src/content/docs/es/guides/sidebar.mdx
  docs/src/content/docs/es/reference/configuration.mdx
Labels: i18n, 📚 docs

#1022 i18n(zh-cn): Update sidebar.mdx & configuration.mdx
  docs/src/content/docs/zh-cn/guides/sidebar.mdx
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#1026 Overhaul getting started guide
  docs/src/content/docs/getting-started.mdx
Labels: 📚 docs

#1031 Fix docs component details
  docs/src/components/about-astro.astro
  docs/src/components/file-tree.astro
Labels: 📚 docs

#1035 i18n(fr): update `reference/frontmatter.md`
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#1034 i18n(fr): update `reference/configuration.mdx`
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#1033 i18n(fr): update `guides/sidebar.mdx`
  docs/src/content/docs/fr/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1036 i18n(fr): update `getting-started.mdx`
  docs/src/content/docs/fr/getting-started.mdx
Labels: i18n, 📚 docs

#1039 [i18nIgnore] Fix links
  docs/src/content/docs/de/getting-started.mdx
  docs/src/content/docs/de/guides/sidebar.mdx
  docs/src/content/docs/es/guides/authoring-content.md
  docs/src/content/docs/es/guides/components.mdx
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/guides/project-structure.mdx
  docs/src/content/docs/es/reference/configuration.mdx
  docs/src/content/docs/es/reference/frontmatter.md
  docs/src/content/docs/fr/guides/customization.mdx
  docs/src/content/docs/fr/manual-setup.mdx
  docs/src/content/docs/fr/reference/frontmatter.md
  docs/src/content/docs/id/getting-started.mdx
  docs/src/content/docs/id/guides/components.mdx
  docs/src/content/docs/it/getting-started.mdx
  docs/src/content/docs/it/guides/customization.mdx
  docs/src/content/docs/it/guides/overriding-components.md
  docs/src/content/docs/it/guides/sidebar.mdx
  docs/src/content/docs/it/manual-setup.mdx
  docs/src/content/docs/it/reference/configuration.md
  docs/src/content/docs/it/reference/frontmatter.md
  docs/src/content/docs/ko/manual-setup.mdx
  docs/src/content/docs/manual-setup.mdx
  docs/src/content/docs/pt-br/guides/components.mdx
  docs/src/content/docs/pt-br/guides/customization.mdx
  docs/src/content/docs/pt-br/guides/overriding-components.md
  docs/src/content/docs/ru/guides/customization.mdx
  docs/src/content/docs/ru/guides/sidebar.mdx
  docs/src/content/docs/tr/guides/components.mdx
  docs/src/content/docs/tr/guides/sidebar.mdx
  docs/src/content/docs/zh-cn/guides/customization.mdx
  docs/src/content/docs/zh-cn/guides/overriding-components.md
Labels: i18n, 📚 docs

#1041 i18n(ko-KR): update `getting-started.mdx`
  docs/src/content/docs/ko/getting-started.mdx
Labels: i18n, 📚 docs

#1044 Fix last updated dates for pages displaying fallback content
  .changeset/quiet-humans-lie.md
  packages/starlight/__tests__/i18n-root-locale/routing.test.ts
  packages/starlight/utils/route-data.ts
Labels: 🌟 core

#1042 i18n(es): Update `getting-started.mdx`
  docs/src/content/docs/es/getting-started.mdx
Labels: i18n, 📚 docs

#1050 i18n(pt-BR): Update `reference/configuration.mdx`
  docs/src/content/docs/pt-br/reference/configuration.mdx
Labels: i18n, 📚 docs

#1028 i18n(es): Update `i18n`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#1030 i18n(es): Update `frontmatter`
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#1051 i18n(pt-BR): Update `reference/frontmatter.md`
  docs/src/content/docs/pt-br/reference/frontmatter.md
Labels: i18n, 📚 docs

#1057 i18n(de): Update translation of another file into German
  docs/src/content/docs/de/reference/configuration.mdx
Labels: i18n, 📚 docs

#1053 i18n(de): Update translation of authoring-content.md into German
  docs/src/content/docs/de/guides/authoring-content.md
Labels: i18n, 📚 docs

#795 Migrate docs site to Vercel
  .gitignore
  docs/astro.config.mjs
  docs/public/_headers
  docs/public/_redirects
  docs/vercel.json
Labels: 📚 docs

#1059 Fix `test-utils.ts` error
  packages/starlight/__tests__/test-utils.ts
Labels: 🌟 core

#1045 Expand testing
  packages/starlight/__tests__/basics/sitemap.test.ts
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/__tests__/remark-rehype/asides/generates-aside.html
  packages/starlight/__tests__/remark-rehype/asides/handles-complex-children.html
  packages/starlight/__tests__/remark-rehype/asides/nested-asides.html
  packages/starlight/__tests__/remark-rehype/rehype-tabs.test.ts
  packages/starlight/integrations/sitemap.ts
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 core

#1074 Avoid formatting test snapshots
  .prettierignore
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/__tests__/remark-rehype/asides/generates-aside.html
  packages/starlight/__tests__/remark-rehype/asides/handles-complex-children.html
  packages/starlight/__tests__/remark-rehype/asides/nested-asides.html
  packages/starlight/__tests__/remark-rehype/snapshots/generates-aside.html
  packages/starlight/__tests__/remark-rehype/snapshots/handles-complex-children.html
  packages/starlight/__tests__/remark-rehype/snapshots/nested-asides.html
Labels: 🌟 core

#1049 Expose Markdown content styles
  .changeset/warm-birds-smell.md
  docs/src/content/docs/reference/overrides.md
  packages/starlight/components/MarkdownContent.astro
  packages/starlight/package.json
  packages/starlight/style/markdown.css
Labels: 🌟 patch, 📚 docs, 🌟 core

#1069 Fix sidebar highlighting when path contains non-ASCII characters
  .changeset/healthy-rabbits-grab.md
  packages/starlight/__tests__/sidebar/navigation-unicode.test.ts
  packages/starlight/utils/navigation.ts
Labels: 🌟 core

#1075 add Slack icon
  .changeset/kind-boats-train.md
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 core

#1070 add new example to showcase
  docs/src/assets/showcase/docs.ethfollow.xyz.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#517 Support translating default aside titles
  .changeset/thick-boxes-fail.md
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/index.ts
  packages/starlight/integrations/asides.ts
  packages/starlight/schemas/i18n.ts
  packages/starlight/translations/ar.json
  packages/starlight/translations/cs.json
  packages/starlight/translations/da.json
  packages/starlight/translations/de.json
  packages/starlight/translations/en.json
  packages/starlight/translations/es.json
  packages/starlight/translations/fa.json
  packages/starlight/translations/fr.json
  packages/starlight/translations/gl.json
  packages/starlight/translations/he.json
  packages/starlight/translations/id.json
  packages/starlight/translations/it.json
  packages/starlight/translations/ja.json
  packages/starlight/translations/ko.json
  packages/starlight/translations/nb.json
  packages/starlight/translations/nl.json
  packages/starlight/translations/pt.json
  packages/starlight/translations/ru.json
  packages/starlight/translations/sv.json
  packages/starlight/translations/tr.json
  packages/starlight/translations/uk.json
  packages/starlight/translations/vi.json
  packages/starlight/translations/zh-CN.json
Labels: 🌟 core

#1078 i18n(ko-KR): update `overrides.md`
  docs/src/content/docs/ko/reference/overrides.md
Labels: i18n, 📚 docs

#1076 i18n(es): Update `overrides.md`
  docs/src/content/docs/es/reference/overrides.md
Labels: i18n, 📚 docs

#1010 Link to Astro docs for heading anchor link generation
  docs/src/content/docs/guides/authoring-content.md
Labels: 📚 docs

#1061 i18n(pt-BR): Update `getting-started.mdx`
  docs/src/content/docs/pt-br/getting-started.mdx
Labels: i18n, 📚 docs

#1081 i18n(id): Update aside translation
  .changeset/spotty-parrots-doubt.md
  packages/starlight/translations/id.json
Labels: 🌟 core

#1082 i18n(ro): Add `ro.json` UI translation
  .changeset/tasty-ladybugs-return.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/index.ts
  packages/starlight/translations/ro.json
Labels: 📚 docs, 🌟 core

#1064 i18n(id): Update some translations in Indonesian
  docs/src/content/docs/id/getting-started.mdx
  docs/src/content/docs/id/guides/authoring-content.md
  docs/src/content/docs/id/guides/css-and-tailwind.mdx
  docs/src/content/docs/id/guides/i18n.mdx
  docs/src/content/docs/id/guides/sidebar.mdx
  docs/src/content/docs/id/manual-setup.mdx
  docs/src/content/docs/id/reference/configuration.mdx
Labels: i18n, 📚 docs

#1056 i18n(de): Update translation of `frontmatter.md` into German
  docs/src/content/docs/de/reference/frontmatter.md
Labels: i18n, 📚 docs

#1083 i18n(hi): Add Hindi language
  .changeset/fair-ligers-help.md
  packages/starlight/translations/hi.json
  packages/starlight/translations/index.ts
Labels: 🌟 core

#1012 docs: refactor languages list
  docs/src/components/languages-list.astro
  docs/src/content/docs/guides/i18n.mdx
Labels: 📚 docs

#1086 i18n(zh-CN): Update guides/authoring-content.md
  docs/src/content/docs/zh-cn/guides/authoring-content.md
Labels: i18n, 📚 docs

#1088 [i18nIgnore] Added aside label translations in Russian
  .changeset/dull-lamps-train.md
  docs/src/content/docs/ru/environmental-impact.md
  docs/src/content/docs/ru/guides/authoring-content.md
  docs/src/content/docs/ru/guides/sidebar.mdx
  packages/starlight/translations/ru.json
Labels: 🌟 patch, i18n, 📚 docs, 🌟 core

#1089 i18n(id): replace languages list with component
  docs/src/content/docs/id/guides/i18n.mdx
Labels: i18n, 📚 docs

#1091 i18n(ko-KR): update `authoring-content.md`
  docs/src/content/docs/ko/guides/authoring-content.md
Labels: i18n, 📚 docs

#1090 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#1087 i18n(hi): add index page for hindi language
  .github/labeler.yml
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/docs/hi/index.mdx
Labels: 📚 docs

#1092 i18n(fr): update `guides/i18n.mdx`
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs

#1093 i18n(fr): update `reference/overrides.md`
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#1094 i18n(fr): update `guides/authoring-content.md`
  docs/src/content/docs/fr/guides/authoring-content.md
Labels: i18n, 📚 docs

#1098 i18n(es): Update `authoring-content`
  docs/src/content/docs/es/guides/authoring-content.md
Labels: i18n, 📚 docs

#1097 i18n(es): Update `i18n`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#742 Add Expressive Code to Starlight
  .changeset/sweet-berries-begin.md
  docs/src/content/docs/guides/authoring-content.md
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/reference/configuration.mdx
  packages/starlight/index.ts
  packages/starlight/integrations/asides.ts
  packages/starlight/integrations/expressive-code/exports.ts
  packages/starlight/integrations/expressive-code/index.ts
  packages/starlight/integrations/expressive-code/themes/night-owl-dark.jsonc
  packages/starlight/integrations/expressive-code/themes/night-owl-light.jsonc
  packages/starlight/integrations/expressive-code/theming.ts
  packages/starlight/integrations/expressive-code/translations.ts
  packages/starlight/integrations/shared/pathToLocale.ts
  packages/starlight/package.json
  packages/starlight/schemas/expressiveCode.ts
  packages/starlight/schemas/i18n.ts
  packages/starlight/utils/user-config.ts
  pnpm-lock.yaml
Labels: 🌟 minor, 📚 docs, 🌟 core

#1065 Ignore search keyboard shortcuts for elements with contents that are editable
  .changeset/red-camels-beam.md
  packages/starlight/components/Search.astro
Labels: 🌟 core

#1101 i18n(hi): update `getting-started` translation
  docs/astro.config.mjs
  docs/src/content/docs/hi/getting-started.mdx
Labels: i18n, 📚 docs

#1096 i18n(id): translate `frontmatter.md` into Indonesian
  docs/src/content/docs/id/reference/frontmatter.md
Labels: i18n, 📚 docs

#1100 [i18nIgnore] Remove Product Hunt banner
  docs/public/ph-houston.svg
  docs/src/assets/landing.css
  docs/src/content/docs/de/index.mdx
  docs/src/content/docs/es/index.mdx
  docs/src/content/docs/fr/index.mdx
  docs/src/content/docs/hi/index.mdx
  docs/src/content/docs/id/index.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/it/index.mdx
  docs/src/content/docs/ja/index.mdx
  docs/src/content/docs/ko/index.mdx
  docs/src/content/docs/pt-br/index.mdx
  docs/src/content/docs/ru/index.mdx
  docs/src/content/docs/tr/index.mdx
  docs/src/content/docs/zh-cn/index.mdx
Labels: i18n, 📚 docs

#1109 fix(docs-i18n-tracker): update `expressive-code` import
  .changeset/tidy-mails-brake.md
  .github/workflows/ci.yml
  packages/starlight/index.ts
Labels: 🚨 action, 🌟 core

#1102 Add more EC text markers and frames to Starlight docs
  docs/src/content/docs/guides/components.mdx
  docs/src/content/docs/guides/css-and-tailwind.mdx
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/guides/sidebar.mdx
  docs/src/content/docs/manual-setup.mdx
  docs/src/content/docs/reference/configuration.mdx
  docs/src/content/docs/reference/frontmatter.md
  docs/src/content/docs/reference/overrides.md
Labels: 📚 docs

#1111 i18n(hi): update `manual setup.mdx`
  .changeset/calm-bananas-nail.md
  docs/src/content/docs/hi/manual-setup.mdx
  packages/starlight/translations/hi.json
Labels: i18n, 📚 docs, 🌟 core

#1119 docs: Update various Expressive Code docs links
  docs/src/content/docs/guides/authoring-content.md
Labels: 📚 docs

#1118 i18n(fr): update `guides/authoring-content.md`
  docs/src/content/docs/fr/guides/authoring-content.md
Labels: i18n, 📚 docs

#1116 i18n(fr): update `manual-setup.mdx`
  docs/src/content/docs/fr/manual-setup.mdx
Labels: i18n, 📚 docs

#1115 i18n(fr): update `guides/i18n.mdx`
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs

#1114 i18n(fr): Update multiple files with EC markers
  docs/src/content/docs/fr/guides/components.mdx
  docs/src/content/docs/fr/guides/css-and-tailwind.mdx
  docs/src/content/docs/fr/guides/customization.mdx
  docs/src/content/docs/fr/guides/sidebar.mdx
  docs/src/content/docs/fr/reference/frontmatter.md
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#1117 i18n(fr): update `reference/configuration.mdx`
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#1122 i18n(ko-KR): update `authoring-content.md`
  docs/src/content/docs/ko/guides/authoring-content.md
Labels: i18n, 📚 docs

#1123 i18n(ko-KR): update `components.mdx`
  docs/src/content/docs/ko/guides/components.mdx
Labels: i18n, 📚 docs

#1124 i18n(ko-KR): update `css-and-tailwind.mdx`
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1131 i18n(ko-KR): update `overrides.md`
  docs/src/content/docs/ko/reference/overrides.md
Labels: i18n, 📚 docs

#1130 i18n(ko-KR): update `frontmatter.md`
  docs/src/content/docs/ko/reference/frontmatter.md
Labels: i18n, 📚 docs

#1128 i18n(ko-KR): update `manual-setup.mdx`
  docs/src/content/docs/ko/manual-setup.mdx
Labels: i18n, 📚 docs

#1125 i18n(ko-KR): update `customization.mdx`
  docs/src/content/docs/ko/guides/customization.mdx
Labels: i18n, 📚 docs

#1126 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#1129 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#1127 i18n(ko-KR): update `sidebar.mdx`
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1133 i18n(hi): update `environmental-impact.md`
  docs/src/content/docs/hi/environmental-impact.md
Labels: i18n, 📚 docs

#1134 Add Knip to showcase
  docs/src/assets/showcase/knip.dev.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1137 i18n(es): update `components`
  docs/src/content/docs/es/guides/components.mdx
Labels: i18n, 📚 docs

#1139 ci: Update first interaction action
  .github/workflows/welcome-bot.yml
Labels: 🚨 action

#1142 Expand size-limit workflow to run basic version on forks
  .github/workflows/size-limit.yml
  package.json
Labels: 🚨 action

#1143 i18n(es): Update `sidebar`
  docs/src/content/docs/es/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1141 i18n(es): Update `i18n`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#1145 i18n(es): Update `manual-setup`
  docs/src/content/docs/es/manual-setup.mdx
Labels: i18n, 📚 docs

#1138 i18n(es): update `css-and-tailwind`
  docs/src/content/docs/es/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1140 i18n(es): Update `customization`
  docs/src/content/docs/es/guides/customization.mdx
Labels: i18n, 📚 docs

#1146 i18n(es): Update `frontmatter.md`
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#1136 i18n(es): Update `authoring-content`
  docs/src/content/docs/es/guides/authoring-content.md
Labels: i18n, 📚 docs

#1148 i18n(es): Update `overrides.md`
  docs/src/content/docs/es/reference/overrides.md
Labels: i18n, 📚 docs

#1147 i18n(es): Update `configuration`
  docs/src/content/docs/es/reference/configuration.mdx
Labels: i18n, 📚 docs

#1149 refactor: destructure props in `SidebarSublist.astro`
  packages/starlight/components/SidebarSublist.astro
Labels: 🌟 core

#1150 i18n(fr): translate some frame titles
  docs/src/content/docs/fr/guides/components.mdx
  docs/src/content/docs/fr/guides/customization.mdx
  docs/src/content/docs/fr/guides/sidebar.mdx
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#1153 i18n(hi): update `showcase.mdx`
  docs/src/content/docs/hi/showcase.mdx
Labels: i18n, 📚 docs

#1156 Upgrade `@astrojs/sitemap` to latest
  .changeset/quiet-trains-know.md
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 core

#1165 i18n(zh-CN): Update getting-started.mdx
  docs/src/content/docs/zh-cn/getting-started.mdx
Labels: i18n, 📚 docs

#1135 Expose localized UI strings in route data
  .changeset/pink-mirrors-cough.md
  docs/src/content/docs/reference/overrides.md
  packages/starlight/404.astro
  packages/starlight/__tests__/basics/route-data.test.ts
  packages/starlight/__tests__/i18n/route-data.test.ts
  packages/starlight/__tests__/i18n/translations.test.ts
  packages/starlight/components/EditLink.astro
  packages/starlight/components/FallbackContentNotice.astro
  packages/starlight/components/LanguageSelect.astro
  packages/starlight/components/LastUpdated.astro
  packages/starlight/components/MobileMenuToggle.astro
  packages/starlight/components/MobileTableOfContents.astro
  packages/starlight/components/PageFrame.astro
  packages/starlight/components/Pagination.astro
  packages/starlight/components/Search.astro
  packages/starlight/components/SkipLink.astro
  packages/starlight/components/TableOfContents.astro
  packages/starlight/components/ThemeSelect.astro
  packages/starlight/utils/createTranslationSystem.ts
  packages/starlight/utils/route-data.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#1144 Add a `pagefind` boolean flag to user config
  .changeset/beige-shoes-whisper.md
  docs/src/content/docs/reference/configuration.mdx
  docs/src/content/docs/reference/overrides.md
  packages/starlight/components/Header.astro
  packages/starlight/index.ts
  packages/starlight/utils/user-config.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#1162 Add `extend` options to docs and i18n schemas
  .changeset/short-toes-cheat.md
  docs/src/content/docs/guides/authoring-content.md
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/reference/frontmatter.md
  packages/starlight/schema.ts
  packages/starlight/schemas/i18n.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#942 Initial Starlight Plugins support
  .changeset/lovely-keys-wash.md
  docs/src/content/docs/reference/configuration.mdx
  docs/src/content/docs/reference/plugins.md
  packages/starlight/__tests__/plugins/config.test.ts
  packages/starlight/__tests__/plugins/integration.test.ts
  packages/starlight/__tests__/plugins/vitest.config.ts
  packages/starlight/__tests__/test-config.ts
  packages/starlight/__tests__/test-plugin-utils.ts
  packages/starlight/index.ts
  packages/starlight/types.ts
  packages/starlight/utils/plugins.ts
  packages/starlight/vitest.config.ts
  pnpm-lock.yaml
Labels: 🌟 minor, 📚 docs, 🌟 core

#1168 Add Algolia DocSearch plugin
  .changeset/witty-pans-crash.md
  docs/src/content/docs/guides/overriding-components.md
  docs/src/content/docs/guides/site-search.mdx
  packages/docsearch/DocSearch.astro
  packages/docsearch/index.ts
  packages/docsearch/package.json
  packages/docsearch/schema.ts
  packages/docsearch/variables.css
  packages/docsearch/virtual.d.ts
  pnpm-lock.yaml
Labels: 📚 docs
