Repository withastro/starlight, pull requests merged in 2023-10, with the labels that each got.

#790 Exclude `/id/` pages from pa11y checks
  docs/package.json
Labels: 📚 docs

#789 Bump astro and @astrojs/mdx dependencies
  .changeset/fifty-meals-explain.md
  docs/package.json
  examples/basics/package.json
  examples/tailwind/package.json
  package.json
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 📚 docs, 🌟 core

#778 Improvements to Arabic translation UI
  .changeset/tall-seals-act.md
  packages/starlight/translations/ar.json
Labels: 🌟 patch, 🌟 core

#788 i18n(it): update guides/i18n
  docs/src/content/docs/it/guides/i18n.mdx
Labels: i18n, 📚 docs

#792 Add RSS icon
  .changeset/swift-crews-sneeze.md
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/Icons.ts
  packages/starlight/components/SocialIcons.astro
  packages/starlight/utils/user-config.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#794 Add Telegram icon
  .changeset/slimy-books-travel.md
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/Icons.ts
  packages/starlight/components/SocialIcons.astro
  packages/starlight/utils/user-config.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#752 add twitter new logo
  .changeset/clever-moose-drum.md
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/Icons.ts
  packages/starlight/components/SocialIcons.astro
  packages/starlight/utils/user-config.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#798 i18n(ko-KR): update `customization.mdx` and `configuration.md`
  docs/src/content/docs/ko/guides/customization.mdx
  docs/src/content/docs/ko/reference/configuration.md
Labels: i18n, 📚 docs

#785 i18n(id): translate `manual-setup.mdx`
  docs/src/content/docs/id/manual-setup.mdx
Labels: 📚 docs, hacktoberfest-accepted

#802 Add links to default components in the JSDoc of component customization configuration
  packages/starlight/schemas/components.ts
Labels: 🌟 core

#799 i18n(zh): Update customization.mdx and configuration.md
  docs/src/content/docs/zh/guides/customization.mdx
  docs/src/content/docs/zh/reference/configuration.md
Labels: i18n, 📚 docs, hacktoberfest-accepted

#803 i18n(fr): update `guides/customization.mdx` and `reference/configuration.md`
  docs/src/content/docs/fr/guides/customization.mdx
  docs/src/content/docs/fr/reference/configuration.md
Labels: i18n, 📚 docs, hacktoberfest-accepted

#800 i18n(es): Update `guides/customization.mdx` and `reference/configuration.md`
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/reference/configuration.md
Labels: i18n, 📚 docs

#809 docs: update the English default language UI
  docs/src/content/docs/guides/i18n.mdx
Labels: 📚 docs, hacktoberfest-accepted

#696 Update links in sidebar.mdx
  docs/src/content/docs/guides/sidebar.mdx
Labels: 📚 docs

#697 i18n(ja): Add sidebar.mdx
  docs/src/content/docs/ja/guides/sidebar.mdx
Labels: i18n, 📚 docs

#672 i18n(fr): add `guides/sidebar.mdx`
  docs/src/content/docs/fr/guides/sidebar.mdx
Labels: i18n, 📚 docs

#813 i18n(ko-KR): update `sidebar.mdx`
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, 📚 docs

#812 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#810 fix: switched h2 to span in sidebar
  .changeset/dull-mails-fold.md
  packages/starlight/components/SidebarSublist.astro
Labels: 🌟 patch, 🌟 core, hacktoberfest-accepted

#818 i18n(es): Update `sidebar.mdx`
  docs/src/content/docs/es/guides/sidebar.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#817 i18n(es): Update `i18n.mdx`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#819 i18n(fr): fix `guides/i18n` translation examples
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs

#811 Add first-time contributor action
  .github/workflows/welcome-bot.yml
Labels: 🚨 action

#820 Update dev dependencies
  docs/package.json
  examples/basics/package.json
  examples/tailwind/package.json
  package.json
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 📚 docs, 🌟 core

#796 Add built-in integrations conditionally
  .changeset/happy-tips-burn.md
  packages/starlight/index.ts
  packages/starlight/package.json
Labels: 🌟 minor, 🌟 core

#807 i18n(vi): add Vietnames translation for Starlight UI
  .changeset/good-ways-jump.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/index.ts
  packages/starlight/translations/vi.json
Labels: 🌟 patch, 📚 docs, 🌟 core, hacktoberfest-accepted

#447 Add `titleDelimiter` option to the api and a new design for `<title>`
  .changeset/modern-timers-switch.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/HeadSEO.astro
  packages/starlight/utils/user-config.ts
Labels: 📚 docs, 🌟 core

#815 Add Facebook and email icons
  .changeset/cyan-dingos-argue.md
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/Icons.ts
  packages/starlight/components/SocialIcons.astro
  packages/starlight/utils/user-config.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#709 Support component customisation
  .changeset/plenty-donkeys-lay.md
  docs/src/content/docs/guides/overriding-components.md
  docs/src/content/docs/guides/sidebar.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/configuration.md
  docs/src/content/docs/reference/overrides.md
  packages/starlight/404.astro
  packages/starlight/__tests__/basics/route-data.test.ts
  packages/starlight/__tests__/basics/toc.test.ts
  packages/starlight/__tests__/edit-url/edit-url.test.ts
  packages/starlight/__tests__/edit-url/vitest.config.ts
  packages/starlight/__tests__/test-config.ts
  packages/starlight/components/Banner.astro
  packages/starlight/components/ContentPanel.astro
  packages/starlight/components/EditLink.astro
  packages/starlight/components/FallbackContentNotice.astro
  packages/starlight/components/Footer.astro
  packages/starlight/components/Head.astro
  packages/starlight/components/Header.astro
  packages/starlight/components/Hero.astro
  packages/starlight/components/LanguageSelect.astro
  packages/starlight/components/LastUpdated.astro
  packages/starlight/components/MarkdownContent.astro
  packages/starlight/components/MobileMenuFooter.astro
  packages/starlight/components/MobileMenuToggle.astro
  packages/starlight/components/MobileTableOfContents.astro
  packages/starlight/components/Page.astro
  packages/starlight/components/PageFrame.astro
  packages/starlight/components/PageSidebar.astro
  packages/starlight/components/PageTitle.astro
  packages/starlight/components/Pagination.astro
  packages/starlight/components/RightSidebar.astro
  packages/starlight/components/Search.astro
  packages/starlight/components/Sidebar.astro
  packages/starlight/components/SiteTitle.astro
  packages/starlight/components/SkipLink.astro
  packages/starlight/components/SocialIcons.astro
  packages/starlight/components/TableOfContents.astro
  packages/starlight/components/TableOfContents/TableOfContentsList.astro
  packages/starlight/components/TableOfContents/starlight-toc.ts
  packages/starlight/components/ThemeProvider.astro
  packages/starlight/components/ThemeSelect.astro
  packages/starlight/components/TwoColumnContent.astro
  packages/starlight/constants.ts
  packages/starlight/index.astro
  packages/starlight/integrations/virtual-user-config.ts
  packages/starlight/layout/Page.astro
  packages/starlight/package.json
  packages/starlight/props.ts
  packages/starlight/schemas/components.ts
  packages/starlight/schemas/social.ts
  packages/starlight/utils/generateToC.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/route-data.ts
  packages/starlight/utils/routing.ts
  packages/starlight/utils/user-config.ts
  packages/starlight/utils/validateLogoImports.ts
  packages/starlight/virtual.d.ts
  packages/starlight/vitest.config.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#821 i18n(es): Update `customization`, `i18n` & `sidebar`
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/guides/i18n.mdx
  docs/src/content/docs/es/guides/sidebar.mdx
Labels: i18n, 📚 docs

#822 i18n(es): Update `index`, `configuration` & `frontmatter`
  docs/src/content/docs/es/index.mdx
  docs/src/content/docs/es/reference/configuration.md
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs, hacktoberfest-accepted

#825 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#826 i18n(fr): update `index.mdx`
  docs/src/content/docs/fr/index.mdx
Labels: i18n, 📚 docs

#827 i18n(fr): update `guides/customization.mdx`
  docs/src/content/docs/fr/guides/customization.mdx
Labels: i18n, 📚 docs

#841 docs: fix broken link
  docs/src/content/docs/guides/overriding-components.md
Labels: 📚 docs, hacktoberfest-accepted

#833 Fix overriding components guide broken links and import paths
  docs/src/content/docs/guides/overriding-components.md
Labels: 📚 docs

#828 i18n(fr): update `guides/i18n.mdx`
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs

#829 i18n(fr): update `reference/frontmatter.md`
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#831 i18n(fr): update `guides/sidebar.mdx`
  docs/src/content/docs/fr/guides/sidebar.mdx
Labels: i18n, 📚 docs

#832 i18n(fr): update `reference/configuration.md`
  docs/src/content/docs/fr/reference/configuration.md
Labels: i18n, 📚 docs

#837 i18n(ko-KR): update `sidebar.mdx`
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, 📚 docs

#838 i18n(ko-KR): update `index.mdx`
  docs/src/content/docs/ko/index.mdx
Labels: i18n, 📚 docs

#839 i18n(ko-KR): update `configuration.md`
  docs/src/content/docs/ko/reference/configuration.md
Labels: i18n, 📚 docs

#845 Adding showcase for "Some drops of PHP" HTML eBook
  docs/src/assets/showcase/drops-of-php.hi-folks.dev.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs, hacktoberfest-accepted

#824 i18n(ko-KR): update `customization.mdx`
  docs/src/content/docs/ko/guides/customization.mdx
Labels: i18n, 📚 docs

#849 i18n(zh-CN): update `index.mdx`
  docs/src/content/docs/zh/index.mdx
Labels: i18n, 📚 docs

#846 i18n(zh-CN): update i18n.mdx
  docs/src/content/docs/zh/guides/i18n.mdx
Labels: i18n, 📚 docs

#850 i18n(zh-CN): update `frontmatter.md`
  docs/src/content/docs/zh/reference/frontmatter.md
Labels: i18n, 📚 docs

#840 i18n(ko-KR): update `frontmatter.md`
  docs/src/content/docs/ko/reference/frontmatter.md
Labels: i18n, 📚 docs, hacktoberfest-accepted

#848 i18n(zh-CN): update `sidebar.mdx`
  docs/src/content/docs/zh/guides/sidebar.mdx
Labels: i18n, 📚 docs

#843 i18n(ko-KR): update `overrides.md`
  docs/src/content/docs/ko/reference/overrides.md
Labels: i18n, 📚 docs, hacktoberfest-accepted

#842 i18n(ko-KR): update `overriding-components.md`
  docs/src/content/docs/ko/guides/overriding-components.md
Labels: i18n, 📚 docs, hacktoberfest-accepted

#847 i18n(zh-CN): update `customization.mdx`, `configuration.md`
  docs/src/content/docs/zh/guides/customization.mdx
  docs/src/content/docs/zh/reference/configuration.md
Labels: i18n, 📚 docs

#823 i18n(es): Translate `overrides.md`
  docs/src/content/docs/es/reference/overrides.md
Labels: i18n, 📚 docs

#836 i18n(es): translate `overriding-components`
  docs/src/content/docs/es/guides/overriding-components.md
Labels: i18n, 📚 docs

#834 i18n(fr): add `guides/overriding-components.md` & `reference/overrides.md`
  docs/src/content/docs/fr/guides/overriding-components.md
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs, hacktoberfest-accepted

#852 i18n(ru): Primary pages were translated to russian
  .github/labeler.yml
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/docs/ru/getting-started.mdx
  docs/src/content/docs/ru/guides/authoring-content.md
  docs/src/content/docs/ru/index.mdx
  docs/src/content/docs/ru/manual-setup.mdx
  packages/starlight/translations/ru.json
Labels: 📚 docs, 🌟 core, hacktoberfest-accepted

#862 docs: update wrong description
  docs/src/content/docs/es/guides/overriding-components.md
  docs/src/content/docs/fr/guides/overriding-components.md
  docs/src/content/docs/guides/overriding-components.md
  docs/src/content/docs/ko/guides/overriding-components.md
Labels: i18n, 📚 docs, hacktoberfest-accepted

#851 i18n(zh-CN): translate `overrides.md`, `overriding-components.md`
  docs/src/content/docs/zh/guides/overriding-components.md
  docs/src/content/docs/zh/reference/overrides.md
Labels: i18n, 📚 docs

#856 docs: remove broken link
  docs/src/components/showcase-sites.astro
Labels: 📚 docs, hacktoberfest-accepted

#864 perf: optimize SVG paths for icons
  .changeset/serious-jokes-remember.md
  packages/starlight/components/Icons.ts
Labels: 🌟 patch, 🌟 core, hacktoberfest-accepted

#855 [i18nIgnore] i18n(zh-cn): Fix Chinese subtag
  .github/labeler.yml
  docs/astro.config.mjs
  docs/package.json
  docs/public/_redirects
  docs/src/content/docs/de/reference/configuration.md
  docs/src/content/docs/es/guides/i18n.mdx
  docs/src/content/docs/es/reference/configuration.md
  docs/src/content/docs/es/reference/overrides.md
  docs/src/content/docs/fr/guides/i18n.mdx
  docs/src/content/docs/fr/reference/configuration.md
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/it/guides/i18n.mdx
  docs/src/content/docs/it/reference/configuration.md
  docs/src/content/docs/ja/guides/i18n.mdx
  docs/src/content/docs/ja/reference/configuration.md
  docs/src/content/docs/ko/guides/i18n.mdx
  docs/src/content/docs/ko/reference/configuration.md
  docs/src/content/docs/ko/reference/overrides.md
  docs/src/content/docs/pt-br/guides/i18n.mdx
  docs/src/content/docs/pt-br/reference/configuration.md
  docs/src/content/docs/reference/configuration.md
  docs/src/content/docs/reference/overrides.md
  docs/src/content/docs/zh-cn/404.md
  docs/src/content/docs/zh-cn/environmental-impact.md
  docs/src/content/docs/zh-cn/getting-started.mdx
  docs/src/content/docs/zh-cn/guides/authoring-content.md
  docs/src/content/docs/zh-cn/guides/components.mdx
  docs/src/content/docs/zh-cn/guides/css-and-tailwind.mdx
  docs/src/content/docs/zh-cn/guides/customization.mdx
  docs/src/content/docs/zh-cn/guides/i18n.mdx
  docs/src/content/docs/zh-cn/guides/overriding-components.md
  docs/src/content/docs/zh-cn/guides/project-structure.mdx
  docs/src/content/docs/zh-cn/guides/sidebar.mdx
  docs/src/content/docs/zh-cn/index.mdx
  docs/src/content/docs/zh-cn/manual-setup.mdx
  docs/src/content/docs/zh-cn/reference/configuration.md
  docs/src/content/docs/zh-cn/reference/frontmatter.md
  docs/src/content/docs/zh-cn/reference/overrides.md
  docs/src/content/docs/zh-cn/showcase.mdx
  packages/starlight/translations/index.ts
  packages/starlight/translations/zh-CN.json
Labels: i18n, 📚 docs, 🌟 core

#866 i18n(zh-CN): fix link to astro main doc
  docs/src/content/docs/zh-cn/guides/overriding-components.md
Labels: i18n, 📚 docs

#871 i18n(es): fix footer link
  docs/src/content/docs/es/guides/overriding-components.md
Labels: i18n, 📚 docs

#830 i18n(tr): translate `404.md`, `environmental-impact.md`,`manual-setup.mdx` and `getting-started.mdx`
  .github/labeler.yml
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/docs/tr/404.md
  docs/src/content/docs/tr/environmental-impact.md
  docs/src/content/docs/tr/getting-started.mdx
  docs/src/content/docs/tr/index.mdx
  docs/src/content/docs/tr/manual-setup.mdx
Labels: 📚 docs

#880 i18n(ko): tiny update for multiple pages
  docs/src/content/docs/ko/environmental-impact.md
  docs/src/content/docs/ko/getting-started.mdx
  docs/src/content/docs/ko/guides/authoring-content.md
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
  docs/src/content/docs/ko/guides/customization.mdx
  docs/src/content/docs/ko/guides/i18n.mdx
  docs/src/content/docs/ko/guides/overriding-components.md
  docs/src/content/docs/ko/guides/project-structure.mdx
  docs/src/content/docs/ko/guides/sidebar.mdx
  docs/src/content/docs/ko/index.mdx
  docs/src/content/docs/ko/manual-setup.mdx
  docs/src/content/docs/ko/reference/configuration.md
  docs/src/content/docs/ko/reference/frontmatter.md
  docs/src/content/docs/ko/reference/overrides.md
  docs/src/content/docs/ko/showcase.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#870 i18n(ru): added translations for 404, showcases and customization pages
  docs/src/content/docs/ru/404.md
  docs/src/content/docs/ru/guides/customization.mdx
  docs/src/content/docs/ru/showcase.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#872 i18n(it): update `guides/customization`
  docs/src/content/docs/it/guides/customization.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#873 i18n(it): update `guides/i18n`
  docs/src/content/docs/it/guides/i18n.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#874 i18n(it): update `guides/sidebar`
  docs/src/content/docs/it/guides/sidebar.mdx
Labels: i18n, 📚 docs

#875 i18n(it): update `index`
  docs/src/content/docs/it/index.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#877 i18n(it): update `reference/frontmatter`
  docs/src/content/docs/it/reference/frontmatter.md
Labels: i18n, 📚 docs

#882 i18n(fr): reference labels consistency
  docs/src/content/docs/fr/reference/configuration.md
  docs/src/content/docs/fr/reference/frontmatter.md
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#876 i18n(it): update `reference/configuration`
  docs/src/content/docs/it/reference/configuration.md
Labels: i18n, 📚 docs

#885 i18n(it): update `guides/sidebar`
  docs/src/content/docs/it/guides/sidebar.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#878 i18n(it): translate `guides/overriding-components`
  docs/src/content/docs/it/guides/overriding-components.md
Labels: i18n, 📚 docs

#879 i18n(it): translate `reference/overrides`
  docs/src/content/docs/it/reference/overrides.md
Labels: i18n, 📚 docs

#886 i18n(tr): add `components.mdx`
  docs/src/content/docs/tr/guides/components.mdx
Labels: i18n, 📚 docs

#890 Update `execa`: ^7.1.1 => ^8.0.1
  .changeset/plenty-plums-check.md
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 patch, 🌟 core

#863 i18n(id): translate `guides/authoring-content.md`
  docs/src/content/docs/id/guides/authoring-content.md
Labels: i18n, 📚 docs

#854 feat: add Reddit social icon
  .changeset/clean-lies-wink.md
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 📚 docs, 🌟 core, hacktoberfest-accepted

#859 i18n(id): Translate more pages and improve existing translations
  .changeset/quick-chefs-sin.md
  docs/src/content/docs/id/environmental-impact.md
  docs/src/content/docs/id/getting-started.mdx
  docs/src/content/docs/id/index.mdx
  docs/src/content/docs/id/manual-setup.mdx
  docs/src/content/docs/id/showcase.mdx
  packages/starlight/translations/id.json
Labels: i18n, 📚 docs, 🌟 core

#891 Add Ukrainian language support
  .changeset/lovely-cycles-ring.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/translations/index.ts
  packages/starlight/translations/uk.json
Labels: 🌟 patch, 📚 docs, 🌟 core

#892 Add Patreon social link
  .changeset/afraid-vans-count.md
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.md
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#898 i18n(id): translate guides/components.mdx and guides/project-structure.mdx
  docs/src/content/docs/id/guides/components.mdx
  docs/src/content/docs/id/guides/project-structure.mdx
Labels: i18n, 📚 docs

#894 i18n(ko): update `customization.mdx`
  docs/src/content/docs/ko/guides/customization.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#895 i18n(ko): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#896 i18n(ko): update `configuration.md`
  docs/src/content/docs/ko/reference/configuration.md
Labels: i18n, 📚 docs, hacktoberfest-accepted

#897 i18n(es): Update `customization.mdx`, `i18n.mdx` & `configuration.md`
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/guides/i18n.mdx
  docs/src/content/docs/es/reference/configuration.md
Labels: i18n, 📚 docs

#899 i18n(id): Fix environmental-impact.md translation
  docs/src/content/docs/id/environmental-impact.md
Labels: i18n, 📚 docs

#900 Add Nostalgist.js docs to showcase
  docs/src/assets/showcase/nostalgist.js.org.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#881 docs: refactor sidebar label translations examples to use tags with regional subtags
  docs/src/content/docs/guides/sidebar.mdx
  docs/src/content/docs/reference/configuration.md
Labels: 📚 docs

#905 i18n(es): Update `sidebar.mdx` & `configuration.mdx`
  docs/src/content/docs/es/guides/sidebar.mdx
  docs/src/content/docs/es/reference/configuration.md
Labels: i18n, 📚 docs

#869 docs: refactor social links configuration reference
  docs/src/components/social-links-type.astro
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.mdx
  packages/starlight/schemas/social.ts
Labels: 📚 docs, 🌟 core

#926 Add ai-prompt-snippets.vercel.app to showcase
  docs/src/assets/showcase/ai-prompt-snippets.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#921 i18n(es): update `customization`
  docs/src/content/docs/es/guides/customization.mdx
Labels: i18n, 📚 docs

#924 fix: remove margin in markdown lists that contain inline code
  .changeset/short-mirrors-happen.md
  packages/starlight/components/MarkdownContent.astro
Labels: 🌟 core, hacktoberfest-accepted

#913 i18n(fr): update `guides/i18n`
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs

#912 i18n(fr): update `reference/overrides`
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#914 i18n(fr): update `guides/sidebar`
  docs/src/content/docs/fr/guides/sidebar.mdx
Labels: i18n, 📚 docs

#915 i18n(fr): update `guides/customization`
  docs/src/content/docs/fr/guides/customization.mdx
Labels: i18n, 📚 docs

#918 i18n(fr): update `reference/configuration`
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#936 Add folksrouter.io to showcase
  docs/src/assets/showcase/folksrouter.io.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#908 i18n(ko-KR): update `sidebar.mdx`
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#909 i18n(ko-KR): update `customization.mdx`
  docs/src/content/docs/ko/guides/customization.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#911 18n(id): translate `guides/overriding-components.md`
  docs/src/content/docs/id/guides/overriding-components.md
Labels: i18n, 📚 docs

#907 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#929 i18n(tr): add `showcase.mdx`
  docs/src/content/docs/tr/showcase.mdx
Labels: i18n, 📚 docs

#943 Remove unused import
  packages/starlight/utils/user-config.ts
Labels: 🌟 core

#944 Strip leading and trailing slashes from `autogenerate.directory`
  .changeset/fluffy-jars-crash.md
  packages/starlight/__tests__/sidebar/navigation-attributes.test.ts
  packages/starlight/__tests__/sidebar/navigation-badges.test.ts
  packages/starlight/__tests__/sidebar/navigation-hidden.test.ts
  packages/starlight/__tests__/sidebar/navigation-order.test.ts
  packages/starlight/__tests__/sidebar/navigation.test.ts
  packages/starlight/__tests__/sidebar/vitest.config.ts
  packages/starlight/schemas/sidebar.ts
Labels: 🌟 core

#920 i18n(tr): add `sidebar.mdx`
  docs/src/content/docs/tr/guides/sidebar.mdx
Labels: i18n, 📚 docs

#931 i18n(zh-cn): Update configuration.mdx & Update sidebar.mdx
  docs/src/content/docs/zh-cn/guides/sidebar.mdx
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#933 i18n(zh-cn): Update i18n.mdx & Update customization.mdx
  docs/src/content/docs/zh-cn/guides/customization.mdx
  docs/src/content/docs/zh-cn/guides/i18n.mdx
Labels: i18n, 📚 docs

#917 18n(id): improve sidebar label translation
  docs/astro.config.mjs
Labels: 📚 docs

#910 i18n(id): translate `guides/css-and-tailwind.mdx`
  docs/src/content/docs/id/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#934 18n(id): translate `guides/i18n.mdx`
  docs/src/content/docs/id/guides/i18n.mdx
Labels: i18n, 📚 docs

#941 18n(id): translate `reference/configuration.mdx`
  docs/src/content/docs/id/reference/configuration.mdx
Labels: i18n, 📚 docs

#940 i18n(pt-BR): Update `customization.mdx`, `i18n.mdx`, `index.mdx`, `frontmatter.md` and `configuration.mdx`
  docs/src/content/docs/pt-br/guides/customization.mdx
  docs/src/content/docs/pt-br/guides/i18n.mdx
  docs/src/content/docs/pt-br/index.mdx
  docs/src/content/docs/pt-br/reference/configuration.mdx
  docs/src/content/docs/pt-br/reference/frontmatter.md
Labels: i18n, 📚 docs

#814 fix: prevent text from overflowing prev/next links
  .changeset/tasty-garlics-dress.md
  packages/starlight/components/Pagination.astro
Labels: 🌟 core

#985 Point edit link to default locale file for fallback content
  .changeset/poor-vans-reflect.md
  packages/starlight/utils/route-data.ts
Labels: 🌟 core

#986 fix: prevent overscroll on mobile toc
  .changeset/shaggy-socks-exercise.md
  packages/starlight/components/MobileTableOfContents.astro
Labels: 🌟 patch, 🌟 core

#987 i18n(tr): add `project-structure.mdx` file
  docs/src/content/docs/tr/guides/project-structure.mdx
Labels: i18n, 📚 docs

#935 18n(id): translate `guides/customization.mdx`
  docs/src/content/docs/id/guides/customization.mdx
Labels: i18n, 📚 docs

#939 i18n(pt-BR): Translate `guides/overriding-components.md` & `guides/sidebar.mdx`
  docs/src/content/docs/pt-br/guides/overriding-components.md
  docs/src/content/docs/pt-br/index.mdx
  docs/src/content/docs/pt-br/reference/overrides.md
Labels: i18n, 📚 docs

#984 docs: tweak overrides reference `headings` prop wording
  docs/src/content/docs/reference/overrides.md
Labels: 📚 docs

#992 i18n(ko-KR): update `overrides.mdx`
  docs/src/content/docs/ko/reference/overrides.md
Labels: i18n, 📚 docs

#994 i18n(fr): update `reference/overrides.md`
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#903 fix: use `tailwind.config.mjs` file by default config
  .changeset/thick-bats-pay.md
  docs/src/components/theme-designer.astro
  docs/src/content/docs/guides/css-and-tailwind.mdx
  examples/tailwind/README.md
  examples/tailwind/tailwind.config.cjs
  examples/tailwind/tailwind.config.mjs
  packages/tailwind/index.ts
Labels: 📚 docs, 🌟 tailwind, hacktoberfest-accepted

#997 i18n(ko-KR): update `css-and-tailwind.mdx`
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#998 i18n(de): update translation reference/overrides.md file into German
  docs/src/content/docs/de/reference/overrides.md
Labels: i18n, 📚 docs, hacktoberfest-accepted

#999 i18n(de): update translation guides/css-and-tailwind.mdx file into German
  docs/src/content/docs/de/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1000 i18n(fr): update `guides/css-and-tailwind.mdx`
  docs/src/content/docs/fr/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#938 Document remark/rehype
  docs/src/content/docs/guides/authoring-content.md
Labels: 📚 docs

#1001 i18n(ko-KR): update `authoring-content.md`
  docs/src/content/docs/ko/guides/authoring-content.md
Labels: i18n, 📚 docs, hacktoberfest-accepted

#1006 Add React Awesome Reveal website to showcase
  docs/src/assets/showcase/react-awesome-reveal.morello.dev.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1007 i18n(es): Update `authoring-content.md`, `css-and-tailwind.mdx` & `overrides.md`
  docs/src/content/docs/es/guides/authoring-content.md
  docs/src/content/docs/es/guides/css-and-tailwind.mdx
  docs/src/content/docs/es/reference/overrides.md
Labels: i18n, 📚 docs
