Repository withastro/starlight, pull requests merged in 2024-12, with the labels that each got.

#2643 i18n(ru): update some translations
  docs/src/content/docs/ru/guides/overriding-components.mdx
  docs/src/content/docs/ru/guides/pages.mdx
  docs/src/content/docs/ru/guides/site-search.mdx
  docs/src/content/docs/ru/reference/frontmatter.md
  docs/src/content/docs/ru/reference/overrides.md
  docs/src/content/docs/ru/resources/plugins.mdx
Labels: i18n, 📚 docs

#2650 Move `@types/js-yaml` to normal dependencies
  .changeset/serious-badgers-build.md
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 core

#2645 Fix favicon support for query and fragment in URLs
  .changeset/neat-deers-pretend.md
  packages/starlight/__tests__/basics/schema.test.ts
  packages/starlight/schemas/favicon.ts
Labels: 🌟 patch, 🌟 core

#2657 docs: use single listener in icons reference
  docs/src/components/icons-list.astro
Labels: 📚 docs

#2656 Improve error message with invalid configuration
  .changeset/hip-roses-brush.md
  packages/starlight/index.ts
Labels: 🌟 patch, 🌟 core

#2642 i18n(ru): update ru.json
  .changeset/green-melons-hear.md
  packages/starlight/translations/ru.json
Labels: 🌟 core

#2664 Publish provenance for public packages
  .changeset/sweet-poems-smoke.md
  .github/workflows/release.yml
  packages/docsearch/package.json
  packages/markdoc/package.json
  packages/starlight/package.json
  packages/tailwind/package.json
Labels: 🚨 action, 🌟 core, 🌟 tailwind, 🌟 markdoc, 🌟 docsearch

#2665 Fix release workflow permissions
  .github/workflows/release.yml
Labels: 🚨 action

#2669 i18n(ca): add Catalan Spanish UI translations
  .changeset/loud-cycles-arrive.md
  packages/starlight/translations/ca.json
  packages/starlight/translations/index.ts
Labels: 🌟 patch, 🌟 core

#2670 i18n(es): update Spanish UI translations
  .changeset/wet-frogs-act.md
  packages/starlight/translations/es.json
Labels: 🌟 patch, 🌟 core

#2671 Add Astro 5 banner to docs homepage
  docs/src/content/docs/index.mdx
Labels: 📚 docs

#2672 i18n(ko-KR): update `using-components.mdx`
  docs/src/content/docs/ko/components/using-components.mdx
Labels: i18n, 📚 docs

#2673 i18n(ko-KR): update `environmental-impact.md`
  docs/src/content/docs/ko/environmental-impact.md
Labels: i18n, 📚 docs

#2675 i18n(ko-KR): update `authoring-content.mdx`
  docs/src/content/docs/ko/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2676 fix: update links in `i18n.mdx`
  docs/src/content/docs/guides/i18n.mdx
Labels: 📚 docs

#2677 i18n(ko-KR): update `overriding-components.mdx`
  docs/src/content/docs/ko/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#2678 i18n(ko-KR): update `project-structure.mdx`
  docs/src/content/docs/ko/guides/project-structure.mdx
Labels: i18n, 📚 docs

#2679 i18n(ko-KR): update `site-search.mdx`
  docs/src/content/docs/ko/guides/site-search.mdx
Labels: i18n, 📚 docs

#2680 i18n(ko-KR): update `index.mdx`
  docs/src/content/docs/ko/index.mdx
Labels: i18n, 📚 docs

#2682 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#2688 Fix autogenerated sidebar issue
  .changeset/wild-laws-play.md
  packages/starlight/__tests__/basics/navigation.test.ts
  packages/starlight/__tests__/test-utils.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/slugs.ts
Labels: 🌟 patch, 🌟 core

#2684 i18n(ko-KR): update `overrides.md`
  docs/src/content/docs/ko/reference/overrides.md
Labels: i18n, 📚 docs

#2685 docs: deprecated `Astro.props.slug` → `Astro.props.id`
  docs/src/content/docs/guides/overriding-components.mdx
Labels: 📚 docs

#2681 i18n(ko-KR): update `manual-setup.mdx`
  docs/src/content/docs/ko/manual-setup.mdx
Labels: i18n, 📚 docs

#2683 i18n(ko-KR): update `frontmatter.md`
  docs/src/content/docs/ko/reference/frontmatter.md
Labels: i18n, 📚 docs

#2674 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#2690 i18n(ko-KR): update `overriding-components.mdx`
  docs/src/content/docs/ko/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#2694 i18n(de): update `guides/authoring-content.mdx`
  docs/src/content/docs/de/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2691 i18n(de): update `components/using-components.mdx`
  docs/src/content/docs/de/components/using-components.mdx
Labels: i18n, 📚 docs

#2692 i18n(de): update `environmental-impact.md`
  docs/src/content/docs/de/environmental-impact.md
Labels: i18n, 📚 docs

#2695 i18n(ru): update translations
  docs/src/content/docs/ru/components/using-components.mdx
  docs/src/content/docs/ru/environmental-impact.md
  docs/src/content/docs/ru/guides/authoring-content.mdx
  docs/src/content/docs/ru/guides/i18n.mdx
  docs/src/content/docs/ru/guides/overriding-components.mdx
  docs/src/content/docs/ru/guides/project-structure.mdx
  docs/src/content/docs/ru/guides/site-search.mdx
  docs/src/content/docs/ru/index.mdx
  docs/src/content/docs/ru/manual-setup.mdx
  docs/src/content/docs/ru/reference/configuration.mdx
  docs/src/content/docs/ru/reference/frontmatter.md
  docs/src/content/docs/ru/reference/overrides.md
Labels: i18n, 📚 docs

#2702 Fix issue with user-defined autogenerated sidebar groups
  .changeset/shaggy-toes-smile.md
  packages/starlight/__tests__/sidebar/navigation-attributes.test.ts
  packages/starlight/__tests__/sidebar/navigation-badges.test.ts
  packages/starlight/__tests__/sidebar/navigation-hidden.test.ts
  packages/starlight/__tests__/sidebar/navigation-order.test.ts
  packages/starlight/__tests__/sidebar/navigation-unicode.test.ts
  packages/starlight/__tests__/sidebar/navigation.test.ts
  packages/starlight/__tests__/sidebar/vitest.config.ts
  packages/starlight/utils/navigation.ts
Labels: 🌟 patch, 🌟 core

#2707 Fix missing import in i18n collection docs
  docs/src/content/docs/guides/i18n.mdx
Labels: 📚 docs

#2705 i18n(de): update German translation
  docs/src/content/docs/de/guides/i18n.mdx
  docs/src/content/docs/de/guides/overriding-components.mdx
  docs/src/content/docs/de/guides/project-structure.mdx
  docs/src/content/docs/de/guides/site-search.mdx
  docs/src/content/docs/de/index.mdx
  docs/src/content/docs/de/manual-setup.mdx
  docs/src/content/docs/de/reference/configuration.mdx
  docs/src/content/docs/de/reference/frontmatter.md
  docs/src/content/docs/de/reference/overrides.md
Labels: i18n, 📚 docs

#2709 i18n(fr): update links in various pages
  docs/src/content/docs/fr/components/using-components.mdx
  docs/src/content/docs/fr/environmental-impact.md
  docs/src/content/docs/fr/guides/authoring-content.mdx
  docs/src/content/docs/fr/guides/overriding-components.mdx
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#2711 i18n(fr): update `index`
  docs/src/content/docs/fr/index.mdx
Labels: i18n, 📚 docs

#2710 i18n(fr): update various content layer related pages
  docs/src/content/docs/fr/guides/i18n.mdx
  docs/src/content/docs/fr/guides/project-structure.mdx
  docs/src/content/docs/fr/guides/site-search.mdx
  docs/src/content/docs/fr/manual-setup.mdx
  docs/src/content/docs/fr/reference/frontmatter.md
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#2713 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#2717 Fix list item spacing bug on Firefox
  .changeset/proud-apricots-warn.md
  packages/starlight/style/markdown.css
Labels: 🌟 patch, 🌟 core

#2720 Enable last-updated times in Starlight docs
  docs/astro.config.mjs
Labels: 📚 docs

#2635 Fix language selector invalid value
  .changeset/rude-lobsters-destroy.md
  package.json
  packages/starlight/components/LanguageSelect.astro
  packages/starlight/components/Select.astro
Labels: 🌟 patch, 🌟 core

#2724 Add farcaster to social links
  .changeset/real-pugs-fold.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#2726 Adds icon for phone
  .changeset/slow-dancers-help.md
  packages/starlight/components/Icons.ts
Labels: 🌟 patch, 🌟 core

#2729 docs: update `starlight-links-validator`
  docs/package.json
  package.json
  patches/starlight-links-validator@0.13.2.patch
  pnpm-lock.yaml
Labels: 📚 docs
