Repository withastro/starlight, pull requests merged in 2024-08, with the labels that each got.

#2155 Improve page load performance
  .changeset/bright-planets-accept.md
  packages/starlight/components/TableOfContents/starlight-toc.ts
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 patch, 🌟 core

#2166 Update dependencies
  .changeset/slimy-kings-enjoy.md
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 patch, 🌟 core

#2167 Define well-known RTL locales before calling `getLocaleInfo()` for default locale
  .changeset/odd-sheep-love.md
  packages/starlight/utils/i18n.ts
Labels: 🌟 patch, 🌟 core

#2083 docs: add robots.txt for sitemap
  docs/src/assets/robots.txt
  docs/src/content/docs/guides/customization.mdx
Labels: 📚 docs

#2170 i18n(ko-KR): update `customization.mdx`
  docs/src/content/docs/ko/guides/customization.mdx
Labels: i18n, 📚 docs

#2169 i18n(zh-cn): Update `customization.mdx`
  docs/src/content/docs/zh-cn/guides/customization.mdx
Labels: i18n, 📚 docs

#2172 i18n(fr): update `guides/customization`
  docs/src/content/docs/fr/guides/customization.mdx
Labels: i18n, 📚 docs

#2171 Build performance optimizations
  .changeset/clean-brooms-drum.md
  packages/starlight/user-components/FileTree.astro
  packages/starlight/utils/localizedUrl.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/slugs.ts
Labels: 🌟 patch, 🌟 core

#2177 i18n(hi): update `i18n.mdx`
  docs/src/content/docs/hi/guides/i18n.mdx
Labels: i18n, 📚 docs

#2178 i18n(hi): update site-search.mdx
  docs/src/content/docs/hi/guides/site-search.mdx
Labels: i18n, 📚 docs

#2174 i18n(hi): update `environmental-impact.md`
  docs/src/content/docs/hi/environmental-impact.md
Labels: i18n, 📚 docs

#2176 i18n(hi): update `components.mdx`
  docs/src/content/docs/hi/guides/components.mdx
Labels: i18n, 📚 docs

#2181 Add grpcmd to Showcase
  docs/src/assets/showcase/grpc.md.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2190 i18n(it): Updates `environmental-impact.md`
  docs/src/content/docs/it/environmental-impact.md
Labels: i18n, 📚 docs

#2183 i18n(it): Updates `guides/css-and-tailwind.mdx`
  docs/src/content/docs/it/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#2184 i18n(it): Updates `guides/customization.mdx`
  docs/src/content/docs/it/guides/customization.mdx
Labels: i18n, 📚 docs

#2185 i18n(it): Updates `resources/community-content.mdx`
  docs/src/content/docs/it/resources/community-content.mdx
Labels: i18n, 📚 docs

#2188 i18n(it): Updates `getting-started.mdx`
  docs/src/content/docs/it/getting-started.mdx
Labels: i18n, 📚 docs

#2189 i18n(it): Updates `guides/site-search.mdx`
  docs/src/content/docs/it/guides/site-search.mdx
Labels: i18n, 📚 docs

#2196 i18n(it): Updates `resources/plugins.mdx`
  docs/src/content/docs/it/resources/plugins.mdx
Labels: i18n, 📚 docs

#2201 Make themes a little bit more visible
  docs/astro.config.mjs
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2197 docs: Add Pokemon Database to showcase
  docs/src/assets/showcase/pokemon-siace.netlify.app.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2186 i18n(it): Updates `guides/sidebar.mdx`
  docs/src/content/docs/it/guides/sidebar.mdx
Labels: i18n, 📚 docs

#2194 i18n(it): Updates `reference/frontmatter.md`
  docs/src/content/docs/it/reference/frontmatter.md
Labels: i18n, 📚 docs

#2203 i18n(zh-cn): Update `plugins.mdx`
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#2202 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2195 i18n(it): Updates `reference/configuration.mdx`
  docs/src/content/docs/it/reference/configuration.mdx
Labels: i18n, 📚 docs

#2193 i18n(it): Updates `reference/overrides.md`
  docs/src/content/docs/it/reference/overrides.md
Labels: i18n, 📚 docs

#2187 i18n(it): Updates `guides/pages.mdx`
  docs/src/content/docs/it/guides/pages.mdx
Labels: i18n, 📚 docs

#2192 i18n(it): Updates `guides/i18n.mdx`
  docs/src/content/docs/it/guides/i18n.mdx
Labels: i18n, 📚 docs

#2191 i18n(it): Updates `guides/components.mdx`
  docs/src/content/docs/it/guides/components.mdx
Labels: i18n, 📚 docs

#2199 Add Azure DevOps social icon
  .changeset/moody-tips-help.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#2208 Add Star Warp to community plugins grid
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2209 i18n(zh-cn): Update `plugins.mdx`
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#2206 i18n(it): Updates `resources/showcase.mdx`
  docs/src/content/docs/it/resources/showcase.mdx
Labels: i18n, 📚 docs

#2211 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2212 Disable update check in E2E tests
  packages/starlight/__e2e__/test-utils.ts
Labels: 🌟 core

#2205 i18n(it): Updates `resources/plugins.mdx`
  docs/src/content/docs/it/resources/plugins.mdx
Labels: i18n, 📚 docs

#2051 Add guideline to last step of the `<Steps>` component
  .changeset/swift-laws-yawn.md
  packages/starlight/user-components/Steps.astro
Labels: 🌟 minor, 🌟 core

#2150 Sidebar state persistence
  .changeset/weak-insects-hope.md
  packages/starlight/components/Page.astro
  packages/starlight/components/Sidebar.astro
  packages/starlight/components/SidebarPersistState.ts
  packages/starlight/utils/navigation.ts
Labels: 🌟 minor, 🌟 core

#2168 Use Starlight `sidebar` user-config format for `<StarlightPage />` `sidebar` prop
  .changeset/chilled-kiwis-count.md
  docs/src/content/docs/guides/pages.mdx
  packages/starlight/__tests__/basics/starlight-page-route-data.test.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/starlight-page.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#2087 Add synced tabs persistence
  .changeset/silver-houses-lick.md
  .prettierignore
  docs/src/content/docs/guides/components.mdx
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/guides/site-search.mdx
  docs/src/content/docs/manual-setup.mdx
  packages/starlight/__e2e__/fixtures/basics/src/content/docs/tabs-unsynced.mdx
  packages/starlight/__e2e__/fixtures/basics/src/content/docs/tabs.mdx
  packages/starlight/__e2e__/tabs.test.ts
  packages/starlight/user-components/Tabs.astro
Labels: 🌟 minor, 📚 docs, 🌟 core

#2219 Fix a sidebar persistence issue when navigating between pages with different sidebars
  .changeset/lemon-ants-bow.md
  packages/starlight/components/SidebarPersistState.ts
Labels: 🌟 patch, 🌟 core

#2218 i18n(fr): add missing `syncKey` to various pages
  docs/src/content/docs/fr/guides/customization.mdx
  docs/src/content/docs/fr/guides/site-search.mdx
  docs/src/content/docs/fr/manual-setup.mdx
Labels: i18n, 📚 docs

#2226 i18n(ko-KR): update `customization.mdx`
  docs/src/content/docs/ko/guides/customization.mdx
Labels: i18n, 📚 docs

#2228 i18n(ko-KR): update `site-search.mdx`
  docs/src/content/docs/ko/guides/site-search.mdx
Labels: i18n, 📚 docs

#2229 i18n(ko-KR): update `index.mdx`
  docs/src/content/docs/ko/index.mdx
Labels: i18n, 📚 docs

#2230 i18n(ko-KR): update `manual-setup.mdx`
  docs/src/content/docs/ko/manual-setup.mdx
Labels: i18n, 📚 docs

#2231 i18n(ko-KR): update `fontmatter.md`
  docs/src/content/docs/ko/reference/frontmatter.md
Labels: i18n, 📚 docs

#2225 i18n(ko-KR): update `components.mdx`
  docs/src/content/docs/ko/guides/components.mdx
Labels: i18n, 📚 docs

#2227 i18n(ko-KR): update `pages.mdx`
  docs/src/content/docs/ko/guides/pages.mdx
Labels: i18n, 📚 docs

#2221 docs: add Cloudflare Docs to showcase
  docs/src/assets/showcase/developers.cloudflare.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2222 i18n(fr): update `index`
  docs/src/content/docs/fr/index.mdx
Labels: i18n, 📚 docs

#2223 i18n(fr): update `reference/frontmatter`
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#2233 [i18nIgnore] docs: update `index.mdx` hero action buttons variants
  docs/src/content/docs/da/index.mdx
  docs/src/content/docs/de/index.mdx
  docs/src/content/docs/es/index.mdx
  docs/src/content/docs/hi/index.mdx
  docs/src/content/docs/id/index.mdx
  docs/src/content/docs/it/index.mdx
  docs/src/content/docs/ja/index.mdx
  docs/src/content/docs/pt-br/index.mdx
  docs/src/content/docs/pt-pt/index.mdx
  docs/src/content/docs/ru/index.mdx
  docs/src/content/docs/tr/index.mdx
  docs/src/content/docs/uk/index.mdx
  docs/src/content/docs/zh-cn/index.mdx
Labels: i18n, 📚 docs

#2224 i18n(fr): update `guides/pages`
  docs/src/content/docs/fr/guides/pages.mdx
Labels: i18n, 📚 docs

#2232 i18n(fr): update `guides/components`
  docs/src/content/docs/fr/guides/components.mdx
Labels: i18n, 📚 docs

#2236 i18n(zh-cn): Add synced tabs persistence
  docs/src/content/docs/zh-cn/guides/customization.mdx
  docs/src/content/docs/zh-cn/guides/site-search.mdx
  docs/src/content/docs/zh-cn/manual-setup.mdx
Labels: i18n, 📚 docs

#2238 i18n(zh-cn): Update pages.mdx
  docs/src/content/docs/zh-cn/guides/pages.mdx
Labels: i18n, 📚 docs

#2240 i18n(zh-cn): Update components.mdx
  docs/src/content/docs/zh-cn/guides/components.mdx
Labels: i18n, 📚 docs

#2243 docs: update showcase-sites.astro
  docs/src/assets/showcase/yummacss.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2258 i18n(ru): update some files
  docs/src/content/docs/ru/environmental-impact.md
  docs/src/content/docs/ru/index.mdx
  docs/src/content/docs/ru/manual-setup.mdx
Labels: i18n, 📚 docs

#2260 i18n(ru): update resources
  docs/src/content/docs/ru/resources/community-content.mdx
  docs/src/content/docs/ru/resources/plugins.mdx
Labels: i18n, 📚 docs

#2259 i18n(ru): update reference docs
  docs/src/content/docs/ru/reference/configuration.mdx
  docs/src/content/docs/ru/reference/frontmatter.md
Labels: i18n, 📚 docs

#2262 i18n(ru): update some guides
  docs/src/content/docs/ru/guides/components.mdx
  docs/src/content/docs/ru/guides/customization.mdx
  docs/src/content/docs/ru/guides/pages.mdx
  docs/src/content/docs/ru/guides/sidebar.mdx
  docs/src/content/docs/ru/guides/site-search.mdx
Labels: i18n, 📚 docs

#2266 [i18nIgnore] docs: fix a few links with inconsistent locale
  docs/package.json
  docs/src/content/docs/ja/resources/plugins.mdx
  docs/src/content/docs/pt-pt/resources/plugins.mdx
  docs/src/content/docs/zh-cn/guides/components.mdx
  pnpm-lock.yaml
Labels: i18n, 📚 docs
