Repository withastro/starlight, pull requests merged in 2024-11, with the labels that each got.

#2541 i18n(de): update `plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#2550 i18n(de): Make translation of 'theme' consistent in German language: 'Theme' (i18nIgnore)
  docs/src/content/docs/de/components/badges.mdx
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#2547 Fix Firefox Markdown content rendering issue
  .changeset/lazy-sheep-cheer.md
  packages/starlight/style/markdown.css
Labels: 🌟 core

#2546 Stop silencing i18n content collection related errors
  .changeset/big-ducks-rhyme.md
  packages/starlight/utils/translations.ts
Labels: 🌟 patch, 🌟 core

#2548 Fix invalid locale issue
  .changeset/great-toys-train.md
  packages/starlight/__tests__/i18n-non-root-single-locale/routing.test.ts
  packages/starlight/__tests__/i18n/routing.test.ts
  packages/starlight/integrations/shared/pathToLocale.ts
  packages/starlight/integrations/shared/slugToLocale.ts
  packages/starlight/utils/slugs.ts
Labels: 🌟 patch, 🌟 core

#2549 Add new plugin to Starlight (`resources/plugin.mdx`)
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2552 i18n(de): update `resources/plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#2555 i18n(ru): update `plugins.mdx`
  docs/src/content/docs/ru/resources/plugins.mdx
Labels: i18n, 📚 docs

#2556 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2557 i18n(ru): update `i18n.mdx` and `overriding-components.mdx`
  docs/src/content/docs/ru/guides/i18n.mdx
  docs/src/content/docs/ru/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#2558 i18n(ru): update `icons.mdx` and `overrides.md`
  docs/src/content/docs/ru/reference/icons.mdx
  docs/src/content/docs/ru/reference/overrides.md
Labels: i18n, 📚 docs

#2559 i18n(ja): Update css-and-tailwind.mdx
  docs/src/content/docs/ja/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#2560 i18n(ja): Update customization.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, 📚 docs

#2568 i18n(zh-cn): Update `plugins.mdx`
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#2567 i18n(ja): Update overrides.md
  docs/src/content/docs/ja/reference/overrides.md
Labels: i18n, 📚 docs

#2564 i18n(ja): Update reference/icons.mdx
  docs/src/content/docs/ja/reference/icons.mdx
Labels: i18n, 📚 docs

#2565 Add YAML support to the FS translation system
  .changeset/thick-houses-pull.md
  packages/starlight/__tests__/i18n/malformed-json-src/content/i18n/en.json
  packages/starlight/__tests__/i18n/malformed-yaml-src/content/i18n/en.yml
  packages/starlight/__tests__/i18n/src/content/i18n/fr.yml
  packages/starlight/__tests__/i18n/translations-fs.test.ts
  packages/starlight/package.json
  packages/starlight/utils/translations-fs.ts
  pnpm-lock.yaml
Labels: 🌟 patch, 🌟 core

#2572 Fixes import name typo in Customize icons example
  docs/src/content/docs/components/icons.mdx
  docs/src/content/docs/de/components/icons.mdx
  docs/src/content/docs/es/components/icons.mdx
  docs/src/content/docs/fr/components/icons.mdx
  docs/src/content/docs/ja/components/icons.mdx
  docs/src/content/docs/ko/components/icons.mdx
  docs/src/content/docs/ru/components/icons.mdx
  docs/src/content/docs/zh-cn/components/icons.mdx
Labels: i18n, 📚 docs

#2566 i18n(ja): Update frontmatter.md
  docs/src/content/docs/ja/reference/frontmatter.md
Labels: i18n, 📚 docs

#2562 docs: update showcase-sites.astro
  docs/src/assets/showcase/capgo.app.png
  docs/src/assets/showcase/launchfa.st.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2574 i18n(fr): Update `reference/plugins.mdx` from #2549
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2576 i18n(ja): Update pages.mdx
  docs/src/content/docs/ja/guides/pages.mdx
Labels: i18n, 📚 docs

#2577 i18n(ja): Update site-search.mdx
  docs/src/content/docs/ja/guides/site-search.mdx
Labels: i18n, 📚 docs

#2586 docs(showcase): add docs.reactbricks.com to showcase
  docs/src/assets/showcase/docs.reactbricks.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2579 Added social icon for Nostr
  .changeset/calm-worms-count.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#2551 Update `astro-expressive-code` to v0.38
  .changeset/kind-ravens-cross.md
  packages/starlight/integrations/expressive-code/index.ts
  packages/starlight/package.json
  packages/starlight/vitest.config.ts
  pnpm-lock.yaml
Labels: 🌟 minor, 🌟 core

#2503 Fix a11y CI workflow
  .changeset/ten-needles-sell.md
  .github/workflows/ci.yml
  CONTRIBUTING.md
  docs/__a11y__/docs.test.ts
  docs/__a11y__/test-utils.ts
  docs/astro.config.mjs
  docs/package.json
  docs/playwright.config.ts
  package.json
  packages/starlight/__e2e__/tabs.test.ts
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/__tests__/remark-rehype/rehype-tabs.test.ts
  packages/starlight/__tests__/remark-rehype/snapshots/generates-aside.html
  packages/starlight/__tests__/remark-rehype/snapshots/handles-complex-children.html
  packages/starlight/__tests__/remark-rehype/snapshots/nested-asides-custom-titles.html
  packages/starlight/__tests__/remark-rehype/snapshots/nested-asides.html
  packages/starlight/integrations/asides.ts
  packages/starlight/user-components/Aside.astro
  packages/starlight/user-components/rehype-tabs.ts
  pnpm-lock.yaml
Labels: 🌟 minor, 🚨 action, 📚 docs, 🌟 core

#2252 Build performance optimizations for projects with large sidebars
  packages/starlight/__tests__/basics/navigation.test.ts
  packages/starlight/__tests__/i18n-sidebar/i18n-sidebar.test.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/starlight-page.ts
Labels: 🌟 minor, 🌟 core

#2582 Update dev dependencies
  docs/package.json
  examples/basics/package.json
  examples/markdoc/package.json
  examples/tailwind/package.json
  package.json
  packages/markdoc/package.json
  packages/starlight/__e2e__/fixtures/basics/package.json
  packages/starlight/__e2e__/fixtures/custom src-dir/package.json
  packages/starlight/__e2e__/fixtures/git/package.json
  packages/starlight/__e2e__/fixtures/ssr/package.json
  packages/starlight/package.json
  packages/tailwind/__tests__/tailwind.test.ts
  packages/tailwind/package.json
  pnpm-lock.yaml
Labels: 📚 docs, 🌟 core, 🌟 tailwind, 🌟 markdoc

#2589 Support passing more options to the DocSearch component
  .changeset/small-trainers-learn.md
  .github/labeler.yml
  docs/src/content/docs/guides/site-search.mdx
  packages/docsearch/DocSearch.astro
  packages/docsearch/README.md
  packages/docsearch/index.ts
Labels: 📚 docs, 🌟 docsearch

#2591 i18n(ko-KR): update `site-search.mdx`
  docs/src/content/docs/ko/guides/site-search.mdx
Labels: i18n, 📚 docs

#2593 i18n(fr): update `guides/site-search.mdx`
  docs/src/content/docs/fr/guides/site-search.mdx
Labels: i18n, 📚 docs

#2592 i18n(ja): Update overriding-components.mdx
  docs/src/content/docs/ja/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#2594 i18n(de): update `guides/site-search.mdx`
  docs/src/content/docs/de/guides/site-search.mdx
Labels: i18n, 📚 docs

#2598 [i18nIgnore] Update `starlight-links-validator` and fix link
  docs/package.json
  docs/src/content/docs/pt-br/reference/configuration.mdx
  pnpm-lock.yaml
Labels: i18n, 📚 docs

#2604 i18n(zh-cn): Update `site-search.mdx`
  docs/src/content/docs/zh-cn/guides/site-search.mdx
Labels: i18n, 📚 docs

#2606 Add `grid-template-columns` to`<CardGrid>`
  .changeset/few-dogs-grab.md
  packages/starlight/user-components/CardGrid.astro
Labels: 🌟 core

#2614 Fix sidebar issue in custom pages with custom sidebar
  .changeset/short-planets-sin.md
  packages/starlight/__tests__/basics/starlight-page-route-data.test.ts
  packages/starlight/utils/navigation.ts
Labels: 🌟 patch, 🌟 core

#2611 Fix i18n type issue with multiple data content collections
  .changeset/blue-walls-kiss.md
  packages/starlight/utils/createTranslationSystem.ts
  packages/starlight/utils/translations.ts
Labels: 🌟 patch, 🌟 core

#2605 Add SidebarPersister specifier to Starlight package
  .changeset/red-mice-care.md
  packages/starlight/package.json
Labels: 🌟 patch, 🌟 core

#2600 feat: add Backstage social icon
  .changeset/soft-snails-chew.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 core

#2616 Fix language switcher `trailingSlash` edge case
  .changeset/thick-cooks-call.md
  packages/starlight/__tests__/basics/localizedUrl.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/localizedUrl.test.ts
  packages/starlight/__tests__/i18n-root-locale/localizedUrl.test.ts
  packages/starlight/__tests__/i18n/localizedUrl.test.ts
  packages/starlight/components/Head.astro
  packages/starlight/components/LanguageSelect.astro
  packages/starlight/utils/localizedUrl.ts
Labels: 🌟 patch, 🌟 core

#2386 Clarify how to override default components that use multiple slots.
  docs/src/content/docs/guides/overriding-components.mdx
  docs/src/content/docs/reference/overrides.md
Labels: 📚 docs

#2630 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2628 i18n(ko-KR): update `overriding-components.mdx`
  docs/src/content/docs/ko/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#2629 i18n(ko-KR): update `overrides.md`
  docs/src/content/docs/ko/reference/overrides.md
Labels: i18n, 📚 docs

#2632 i18n(ko): fix Markdown newline in `reference/overrides.md`
  docs/src/content/docs/ko/reference/overrides.md
Labels: i18n, 📚 docs

#2624 i18n(de): update `resources/plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#2626 i18n(de): update `guides/overriding-components.mdx`
  docs/src/content/docs/de/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#2625 i18n(de): update `reference/overrides.md`
  docs/src/content/docs/de/reference/overrides.md
Labels: i18n, 📚 docs

#2627 i18n(fr): update `guides/overriding-components` & `reference/overrides`
  docs/src/content/docs/fr/guides/overriding-components.mdx
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#2633 Fix Safari VoiceOver issue
  .changeset/strange-icons-explode.md
  packages/starlight/components/SidebarPersister.astro
Labels: 🌟 patch, 🌟 core

#2638 i18n(zh-cn): Update `plugins.mdx`
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs
