Repository withastro/starlight, pull requests merged in 2024-06, with the labels that each got.

#1943 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#1944 i18n(fr): Update `resources/plugins.mdx` from #1940
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#1946 i18n(ru): update `plugins.mdx`
  docs/src/content/docs/ru/resources/plugins.mdx
Labels: i18n, 📚 docs

#1945 i18n(pt-PT): update outdated pages
  docs/src/content/docs/pt-pt/getting-started.mdx
  docs/src/content/docs/pt-pt/resources/community-content.mdx
  docs/src/content/docs/pt-pt/resources/plugins.mdx
Labels: i18n, 📚 docs

#1947 Add EspansoEdit to Starlight showcase
  docs/src/assets/showcase/ee.qqv.com.au.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1948 Enforce style containment to `<Steps>` list items
  .changeset/cuddly-bugs-count.md
  packages/starlight/user-components/Steps.astro
Labels: 🌟 patch, 🌟 core

#1909 Add discourse to social icons
  .changeset/cyan-pans-search.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#1955 Remove `<Steps>` component style containment
  .changeset/spotty-points-begin.md
  packages/starlight/user-components/Steps.astro
Labels: 🌟 core

#1841 Add support for `Astro.currentLocale`
  .changeset/early-pots-perform.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/404.astro
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/__tests__/basics/i18n.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/i18n.test.ts
  packages/starlight/__tests__/i18n-root-locale/i18n.test.ts
  packages/starlight/__tests__/i18n/i18n.test.ts
  packages/starlight/index.ts
  packages/starlight/integrations/shared/localeToLang.ts
  packages/starlight/utils/createTranslationSystem.ts
  packages/starlight/utils/i18n.ts
  packages/starlight/utils/routing.ts
  packages/starlight/utils/slugs.ts
  packages/starlight/utils/user-config.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#1958 Add kudos option to add “Built with Starlight” badge to site footers
  .changeset/sharp-crabs-sparkle.md
  docs/src/content/docs/reference/configuration.mdx
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Footer.astro
  packages/starlight/schemas/i18n.ts
  packages/starlight/translations/ar.json
  packages/starlight/translations/cs.json
  packages/starlight/translations/da.json
  packages/starlight/translations/de.json
  packages/starlight/translations/en.json
  packages/starlight/translations/es.json
  packages/starlight/translations/fa.json
  packages/starlight/translations/fr.json
  packages/starlight/translations/gl.json
  packages/starlight/translations/he.json
  packages/starlight/translations/hi.json
  packages/starlight/translations/id.json
  packages/starlight/translations/it.json
  packages/starlight/translations/ja.json
  packages/starlight/translations/ko.json
  packages/starlight/translations/nb.json
  packages/starlight/translations/nl.json
  packages/starlight/translations/pl.json
  packages/starlight/translations/pt.json
  packages/starlight/translations/ro.json
  packages/starlight/translations/ru.json
  packages/starlight/translations/sv.json
  packages/starlight/translations/tr.json
  packages/starlight/translations/uk.json
  packages/starlight/translations/vi.json
  packages/starlight/translations/zh-CN.json
  packages/starlight/translations/zh-TW.json
  packages/starlight/utils/user-config.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#1969 i18n(zh-cn): Update `frontmatter.md`
  docs/src/content/docs/zh-cn/reference/frontmatter.md
Labels: i18n, 📚 docs

#1968 i18n(zh-cn): Update `configuraion.mdx`
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#1967 i18n(zh-cn): Update `sidebar.mdx`
  docs/src/content/docs/zh-cn/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1966 i18n(zh-cn): Update `i18n.mdx`
  docs/src/content/docs/zh-cn/guides/i18n.mdx
Labels: i18n, 📚 docs

#1965 i18n(zh-cn): Update `compontents.mdx`
  docs/src/content/docs/zh-cn/guides/components.mdx
Labels: i18n, 📚 docs

#1971 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#1972 i18n(ko-KR): update `sidebar.mdx`
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1973 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#1974 i18n(ko-KR): update `frontmatter.md`
  docs/src/content/docs/ko/reference/frontmatter.md
Labels: i18n, 📚 docs

#1964 i18n(fr): Update components/i18n/sidebar/configuration/frontmatter.mdx files
  docs/src/content/docs/fr/guides/components.mdx
  docs/src/content/docs/fr/guides/i18n.mdx
  docs/src/content/docs/fr/guides/sidebar.mdx
  docs/src/content/docs/fr/reference/configuration.mdx
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#1976 i18n(ko-KR): update `configuration.mdx` and `ko.json`
  .changeset/mighty-peaches-prove.md
  docs/src/content/docs/ko/reference/configuration.mdx
  packages/starlight/translations/ko.json
Labels: 🌟 patch, i18n, 📚 docs, 🌟 core

#1977 i18n(fr): improve root locale related content translation
  docs/src/content/docs/fr/guides/i18n.mdx
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#1957 Add `starlight-view-modes` to plugin integrations list
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#1962 Translated Vietnamese UI
  .changeset/eighty-comics-pull.md
  packages/starlight/translations/vi.json
Labels: 🌟 core

#1982 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#1987 Improve locale text direction detection mechanism
  .changeset/olive-oranges-poke.md
  packages/starlight/__tests__/basics/i18n.test.ts
  packages/starlight/utils/i18n.ts
Labels: 🌟 patch, 🌟 core

#1978 Add new social icon for Zulip
  .changeset/clever-balloons-suffer.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#1990 i18n(zh-cn): Update plugins.mdx
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#2000 i18n(es): update `overrides`
  docs/src/content/docs/es/reference/overrides.md
Labels: i18n, 📚 docs

#2001 i18n(es): update `community-content`
  docs/src/content/docs/es/resources/community-content.mdx
Labels: i18n, 📚 docs

#2002 i18n(es): update `plugins`
  docs/src/content/docs/es/resources/plugins.mdx
Labels: i18n, 📚 docs

#2003 Upgrade Lunaria and Action to latest
  .github/workflows/lunaria.yml
  docs/package.json
  pnpm-lock.yaml
Labels: 🚨 action, 📚 docs

#1993 Fix invalid Astro i18n config with a single root locale
  .changeset/plenty-houses-heal.md
  packages/starlight/__tests__/i18n-single-root-locale/config.test.ts
  packages/starlight/__tests__/i18n-single-root-locale/i18n.test.ts
  packages/starlight/__tests__/i18n-single-root-locale/route-data.test.ts
  packages/starlight/__tests__/i18n-single-root-locale/routing.test.ts
  packages/starlight/__tests__/i18n-single-root-locale/slugs.test.ts
  packages/starlight/__tests__/i18n-single-root-locale/src/content/i18n/fr.json
  packages/starlight/__tests__/i18n-single-root-locale/translations-fs.test.ts
  packages/starlight/__tests__/i18n-single-root-locale/translations-with-user-config.test.ts
  packages/starlight/__tests__/i18n-single-root-locale/translations.test.ts
  packages/starlight/__tests__/i18n-single-root-locale/vitest.config.ts
  packages/starlight/utils/i18n.ts
  packages/starlight/utils/user-config.ts
Labels: 🌟 patch, 🌟 core

#1981 Add how2neovim to showcase
  docs/src/assets/showcase/how2neovim.io.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2004 Remove outdated Badge component export
  .changeset/green-files-allow.md
  packages/starlight/package.json
Labels: 🌟 core

#2008 i18n(sk): Add Slovak language UI translation.
  .changeset/chilled-games-buy.md
  packages/starlight/translations/index.ts
  packages/starlight/translations/sk.json
Labels: 🌟 patch, 🌟 core

#2007 [i18nIgnore] Update dependencies
  .changeset/plenty-ants-hunt.md
  .github/workflows/size-limit.yml
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/docs/es/guides/i18n.mdx
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/hi/guides/i18n.mdx
  docs/src/content/docs/ru/guides/i18n.mdx
  docs/src/content/docs/tr/guides/sidebar.mdx
  examples/basics/package.json
  examples/tailwind/package.json
  package.json
  packages/file-icons-generator/package.json
  packages/starlight/__e2e__/fixtures/basics/package.json
  packages/starlight/__tests__/i18n/translations-ec.test.ts
  packages/starlight/integrations/expressive-code/themes/night-owl-dark.jsonc
  packages/starlight/integrations/expressive-code/themes/night-owl-light.jsonc
  packages/starlight/integrations/virtual-user-config.ts
  packages/starlight/package.json
  packages/starlight/schema.ts
  packages/starlight/user-components/Tabs.astro
  packages/starlight/utils/error-map.ts
  packages/starlight/utils/i18n.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/route-data.ts
  packages/starlight/utils/slugs.ts
  packages/starlight/utils/starlight-page.ts
  packages/tailwind/__tests__/tailwind.test.ts
  packages/tailwind/package.json
  pnpm-lock.yaml
Labels: 🚨 action, i18n, 📚 docs, 🌟 core, 🌟 tailwind

#1994 i18n(es): update `authoring-content`
  docs/src/content/docs/es/guides/authoring-content.md
Labels: i18n, 📚 docs

#1998 i18n(es): update `configuration`
  docs/src/content/docs/es/reference/configuration.mdx
Labels: i18n, 📚 docs

#1996 i18n(es): update `i18n`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#2013 i18n(fr): Update `resources/plugins.mdx` from #1957
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2009 Upgrade Docsearch packages to 3.6.0
  .changeset/cold-countries-tickle.md
  docs/src/content/docs/guides/site-search.mdx
  packages/docsearch/package.json
  packages/docsearch/schema.ts
  pnpm-lock.yaml
Labels: 📚 docs

#1997 i18n(es): update `sidebar`
  docs/src/content/docs/es/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1995 i18n(es): update `components`
  docs/src/content/docs/es/guides/components.mdx
Labels: i18n, 📚 docs

#2023 i18n(zh-cn): Update site-search.mdx
  docs/src/content/docs/zh-cn/guides/site-search.mdx
Labels: i18n, 📚 docs

#2016 i18n(ko-KR): update `site-search.mdx`
  docs/src/content/docs/ko/guides/site-search.mdx
Labels: i18n, 📚 docs

#2024 i18n(fr): Update `guides/site-search.mdx` from #2009
  docs/src/content/docs/fr/guides/site-search.mdx
Labels: i18n, 📚 docs

#2011 Replace homepage with landing page
  docs/src/assets/showcase/ee.qqv.com.au.png
Labels: 📚 docs

#2027 docs: add more community plugins resources
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2028 Fix search modal height in Safari
  .changeset/curly-swans-clean.md
  packages/starlight/components/Search.astro
Labels: 🌟 core

#2022 Edit czech translation
  .changeset/ninety-pumas-remember.md
  packages/starlight/translations/cs.json
Labels: 🌟 patch, 🌟 core

#2030 i18n(pt-br): update `resources/showcase.mdx`
  docs/src/content/docs/pt-br/resources/showcase.mdx
Labels: i18n, 📚 docs

#2033 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2034 i18n(ru): update `plugins.mdx`
  docs/src/content/docs/ru/resources/plugins.mdx
Labels: i18n, 📚 docs

#2035 i18n(ru): update some `guides`
  docs/src/content/docs/ru/guides/components.mdx
  docs/src/content/docs/ru/guides/i18n.mdx
  docs/src/content/docs/ru/guides/sidebar.mdx
  docs/src/content/docs/ru/guides/site-search.mdx
Labels: i18n, 📚 docs

#2036 i18n(ru): update some `reference` pages
  docs/src/content/docs/ru/reference/configuration.mdx
  docs/src/content/docs/ru/reference/frontmatter.md
Labels: i18n, 📚 docs

#2037 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2038 i18n(ru): translate credits
  .changeset/large-dragons-kick.md
  docs/src/content/docs/ru/reference/configuration.mdx
  packages/starlight/translations/ru.json
Labels: 🌟 patch, i18n, 📚 docs, 🌟 core

#2042 i18n(pt-br): update `resources/plugins.mdx`
  docs/src/content/docs/pt-br/resources/plugins.mdx
Labels: i18n, 📚 docs

#2043 Add extended czech translation
  .changeset/ninety-pumas-remember.md
  packages/starlight/translations/cs.json
Labels: 🌟 core

#2041 Refactor `<Steps>` counter
  .changeset/strong-apes-burn.md
  packages/starlight/__tests__/remark-rehype/rehype-steps.test.ts
  packages/starlight/user-components/Steps.astro
  packages/starlight/user-components/rehype-steps.ts
Labels: 🌟 patch, 🌟 core

#2044 i18n(pt-br): update `guides/components.mdx`
  docs/src/content/docs/pt-br/guides/components.mdx
Labels: i18n, 📚 docs

#2048 i18n(es): update `plugins`
  docs/src/content/docs/es/resources/plugins.mdx
Labels: i18n, 📚 docs

#2047 i18n(es): update `site-search`
  docs/src/content/docs/es/guides/site-search.mdx
Labels: i18n, 📚 docs

#2053 i18n(zh-cn): Update plugins.mdx
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#2046 Update Lunaria to latest
  docs/package.json
  pnpm-lock.yaml
Labels: 📚 docs

#2056 Let remark plugins injected by Starlight plugins handle Markdown text and leaf directives
  .changeset/giant-dryers-fetch.md
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/index.ts
  packages/starlight/integrations/asides.ts
Labels: 🌟 patch, 🌟 core

#2049 add josh's video in `community-content.mdx`
  docs/src/content/docs/resources/community-content.mdx
Labels: 📚 docs

#2060 i18n(ko-KR): update `community-content.mdx`
  docs/src/content/docs/ko/resources/community-content.mdx
Labels: i18n, 📚 docs

#2054 Fix usage of `<StarlightPage>` with a custom `srcDir` configuration
  .changeset/tidy-brooms-complain.md
  packages/starlight/__e2e__/collection-config.test.ts
  packages/starlight/__e2e__/fixtures/custom-src-dir/astro.config.mjs
  packages/starlight/__e2e__/fixtures/custom-src-dir/package.json
  packages/starlight/__e2e__/fixtures/custom-src-dir/www/content/config.ts
  packages/starlight/__e2e__/fixtures/custom-src-dir/www/env.d.ts
  packages/starlight/__e2e__/fixtures/custom-src-dir/www/pages/custom.astro
  packages/starlight/integrations/virtual-user-config.ts
  packages/starlight/playwright.config.ts
  pnpm-lock.yaml
Labels: 🌟 core

#2063 Updates Norwegian UI strings based on #1611
  .changeset/serious-shrimps-decide.md
  packages/starlight/translations/nb.json
Labels: 🌟 core

#2062 fix: Add inline padding to `Select`
  .changeset/angry-pots-yawn.md
  packages/starlight/components/Select.astro
Labels: 🌟 core
