Repository withastro/starlight, pull requests merged in 2024-07, with the labels that each got.

#2066 Run E2E tests on Windows
  .github/workflows/ci.yml
Labels: 🚨 action

#2075 Tweak E2E tests
  .github/workflows/ci.yml
  packages/starlight/__e2e__/fixtures/basics/astro.config.mjs
  packages/starlight/__e2e__/fixtures/custom-src-dir/astro.config.mjs
  packages/starlight/__e2e__/test-utils.ts
  packages/starlight/package.json
  packages/starlight/playwright.config.ts
  pnpm-lock.yaml
Labels: 🚨 action, 🌟 core

#2074 i18n(ru): update `community-content.mdx`
  docs/src/content/docs/ru/resources/community-content.mdx
Labels: i18n, 📚 docs

#2073 i18n(fr): Update `resources/community-content.mdx` from #2049
  docs/src/content/docs/fr/resources/community-content.mdx
Labels: i18n, 📚 docs

#2076 i18n(zh-cn): update `community-content.mdx`
  docs/src/content/docs/zh-cn/resources/community-content.mdx
Labels: i18n, 📚 docs

#2077 Tweak CI workflow
  .github/workflows/ci.yml
Labels: 🚨 action

#2080 Fix CI workflow for `main` branch
  .github/workflows/ci.yml
Labels: 🚨 action

#2079 test: extend default `coverage.exclude`
  packages/starlight/vitest.config.ts
Labels: 🌟 core

#2081 i18n(uk): update `packages/starlight/translations/uk.json`
  .changeset/new-trains-complain.md
  packages/starlight/translations/uk.json
Labels: 🌟 patch, 🌟 core

#2031 Error for sidebar entries that match multiple entry schemas
  .changeset/great-plums-study.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/schemas/sidebar.ts
Labels: 🌟 minor, 🌟 core

#2025 Remove `/` search shortcut
  .changeset/big-buttons-shop.md
  package.json
  packages/starlight/components/Search.astro
  packages/starlight/schemas/i18n.ts
  packages/starlight/style/props.css
  packages/starlight/translations/ar.json
  packages/starlight/translations/cs.json
  packages/starlight/translations/da.json
  packages/starlight/translations/de.json
  packages/starlight/translations/en.json
  packages/starlight/translations/es.json
  packages/starlight/translations/fa.json
  packages/starlight/translations/fr.json
  packages/starlight/translations/gl.json
  packages/starlight/translations/he.json
  packages/starlight/translations/hi.json
  packages/starlight/translations/id.json
  packages/starlight/translations/it.json
  packages/starlight/translations/ja.json
  packages/starlight/translations/ko.json
  packages/starlight/translations/nb.json
  packages/starlight/translations/nl.json
  packages/starlight/translations/pl.json
  packages/starlight/translations/pt.json
  packages/starlight/translations/ro.json
  packages/starlight/translations/ru.json
  packages/starlight/translations/sk.json
  packages/starlight/translations/sv.json
  packages/starlight/translations/tr.json
  packages/starlight/translations/uk.json
  packages/starlight/translations/vi.json
  packages/starlight/translations/zh-CN.json
  packages/starlight/translations/zh-TW.json
Labels: 🌟 minor, 🌟 core

#2064 Improved table element styles & fixed table styles inside asides
  .changeset/curly-dolphins-grow.md
  docs/src/content/docs/guides/tables-test.md
  packages/starlight/style/markdown.css
Labels: 🌟 minor, 📚 docs, 🌟 core

#2093 docs: remove test page
  docs/src/content/docs/guides/tables-test.md
Labels: 📚 docs

#1874 Feat: Autogenerate sidebar labels
  .changeset/seven-owls-taste.md
  docs/astro.config.mjs
  docs/src/components/sidebar-preview.astro
  docs/src/content/docs/guides/sidebar.mdx
  docs/src/content/docs/reference/configuration.mdx
  examples/basics/astro.config.mjs
  examples/tailwind/astro.config.mjs
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/__tests__/i18n-sidebar/i18n-sidebar-fallback-slug.test.ts
  packages/starlight/__tests__/i18n-sidebar/i18n-sidebar.test.ts
  packages/starlight/__tests__/i18n-sidebar/sidebar-internal-link-error.test.ts
  packages/starlight/__tests__/i18n-sidebar/vitest.config.ts
  packages/starlight/__tests__/sidebar-slug-error/sidebar-slug-error.test.ts
  packages/starlight/__tests__/sidebar-slug-error/vitest.config.ts
  packages/starlight/schemas/sidebar.ts
  packages/starlight/utils/error-map.ts
  packages/starlight/utils/navigation.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#2095 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#2094 i18n(ko-KR): update `sidebar.mdx`
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, 📚 docs

#2098 i18n(fr): update `reference/configuration`
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#2099 i18n(fr): update `guides/sidebar`
  docs/src/content/docs/fr/guides/sidebar.mdx
Labels: i18n, 📚 docs

#2107 Update ar.json
  .changeset/orange-turtles-scream.md
  packages/starlight/translations/ar.json
Labels: 🌟 core

#2105 Fixes an edge case in custom pagination link processing
  .changeset/small-kangaroos-smile.md
  packages/starlight/__tests__/basics/navigation.test.ts
  packages/starlight/__tests__/basics/pagination-with-base.test.ts
  packages/starlight/utils/navigation.ts
Labels: 🌟 patch, 🌟 core

#2111 Update ar.json
  packages/starlight/translations/ar.json
Labels: 🌟 core

#2113 i18n(zh-cn): Update `configuration.mdx`
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#2114 i18n(zh-cn): Update `sidebar.mdx`
  docs/src/content/docs/zh-cn/guides/sidebar.mdx
Labels: i18n, 📚 docs

#2116 added feedbackspark in showcase.
  docs/src/assets/showcase/feedbackspark.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2109 Add Starlight Examples to community content page
  docs/src/content/docs/resources/community-content.mdx
Labels: 📚 docs

#2122 Fix an Astro i18n → Starlight i18n config conversion issue
  .changeset/large-bananas-beg.md
  packages/starlight/__tests__/basics/i18n.test.ts
  packages/starlight/utils/i18n.ts
Labels: 🌟 patch, 🌟 core

#2119 Style `code`, `hr` and `blockquote` within asides
  .changeset/tender-fishes-join.md
  packages/starlight/style/markdown.css
Labels: 🌟 core

#2123 i18n(ko-KR): update `community-content.mdx`
  docs/src/content/docs/ko/resources/community-content.mdx
Labels: i18n, 📚 docs

#2124 i18n(zh-cn): Update `community-content.mdx`
  docs/src/content/docs/zh-cn/resources/community-content.mdx
Labels: i18n, 📚 docs

#2130 i18n(es): update `configuration`
  docs/src/content/docs/es/reference/configuration.mdx
Labels: i18n, 📚 docs

#2117 Migrate docs site to Netlify
  .github/workflows/welcome-bot.yml
  docs/astro.config.mjs
  docs/public/_headers
  docs/public/_redirects
  docs/vercel.json
  examples/basics/README.md
  examples/tailwind/README.md
Labels: 🚨 action, 📚 docs

#2128 i18n(es): update `sidebar`
  docs/src/content/docs/es/guides/sidebar.mdx
Labels: i18n, 📚 docs

#2131 i18n(es): update `community-content`
  docs/src/content/docs/es/resources/community-content.mdx
Labels: i18n, 📚 docs

#2125 i18n(fr): update `resources/community-content`
  docs/src/content/docs/fr/resources/community-content.mdx
Labels: i18n, 📚 docs

#2129 Add Fulldev UI to site showcases
  docs/src/assets/showcase/ui.full.dev.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2134 docs: Add UCEXLLY to showcase
  docs/src/assets/showcase/ucexlly.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2136 Update Carbon Calculator data in environmental impact guide
  docs/src/content/docs/environmental-impact.md
Labels: 📚 docs

#2138 docs: Add quotesdomain to showcase
  docs/src/assets/showcase/quotesdomain.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2139 i18n(ko-KR): update `environmental-impact.md`
  docs/src/content/docs/ko/environmental-impact.md
Labels: i18n, 📚 docs

#2140 i18n(fr): update `environmental-impact`
  docs/src/content/docs/fr/environmental-impact.md
Labels: i18n, 📚 docs

#2126 Allow asides titles to contain markdown formatting
  .changeset/mean-tigers-hunt.md
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/integrations/asides.ts
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 patch, 🌟 core

#2135 feat: Add Pinterest icon to social list
  .changeset/soft-bananas-develop.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#2144 i18n(es): update `environmental-impact`
  docs/src/content/docs/es/environmental-impact.md
Labels: i18n, 📚 docs

#2137 Deleting unnecessary twitter meta tags, quick fixes
  .changeset/twelve-guests-turn.md
  docs/astro.config.mjs
  packages/starlight/components/Head.astro
Labels: 📚 docs, 🌟 core

#2143 docs: add 'og:image:alt' metadata
  docs/astro.config.mjs
Labels: 📚 docs

#2148 i18n(zh-cn): Update `environmental-impact.md`
  docs/src/content/docs/zh-cn/environmental-impact.md
Labels: i18n, 📚 docs

#2149 Add two new showcase sites
  docs/src/assets/showcase/contribute.freecodecamp.org.png
  docs/src/assets/showcase/styledictionary.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2154 Merge <link rel="canonical" /> tags, quick fixes (#2153)
  .changeset/long-baboons-jam.md
  packages/starlight/__tests__/basics/head.test.ts
  packages/starlight/utils/head.ts
Labels: 🌟 patch, 🌟 core

#2156 Fix bug for projects with spaces in their pathname
  .changeset/thirty-planes-divide.md
  packages/starlight/__e2e__/collection-config.test.ts
  packages/starlight/__e2e__/fixtures/custom src-dir/astro.config.mjs
  packages/starlight/__e2e__/fixtures/custom src-dir/package.json
  packages/starlight/__e2e__/fixtures/custom src-dir/www/content/config.ts
  packages/starlight/__e2e__/fixtures/custom src-dir/www/env.d.ts
  packages/starlight/__e2e__/fixtures/custom src-dir/www/pages/custom.astro
  packages/starlight/integrations/virtual-user-config.ts
  pnpm-lock.yaml
Labels: 🌟 patch, 🌟 core

#2160 docs: Add CodeSweetly to showcase
  docs/src/assets/showcase/codesweetly.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs
