Repository withastro/starlight, pull requests merged in 2024-01, with the labels that each got.

#1295 i18n(uk): Add Ukrainian language.
  .changeset/shy-ties-punch.md
  .github/labeler.yml
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/docs/uk/404.md
  docs/src/content/docs/uk/getting-started.mdx
  docs/src/content/docs/uk/index.mdx
  docs/src/content/docs/uk/showcase.mdx
  packages/starlight/translations/uk.json
Labels: 📚 docs, 🌟 core

#1254 Add Open Collective social icon
  .changeset/mighty-ways-marry.md
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#1297 i18n(es): Update `plugins.md`, `configuration.mdx` & `showcase.mdx`
  docs/src/content/docs/es/reference/configuration.mdx
  docs/src/content/docs/es/reference/plugins.md
  docs/src/content/docs/es/showcase.mdx
Labels: i18n, 📚 docs

#1327 i18n(zh-cn): Update getting-started.mdx
  docs/src/content/docs/zh-cn/getting-started.mdx
Labels: i18n, 📚 docs

#1323 [i18nIgnore] docs: fix default UI strings list
  docs/src/content/docs/de/guides/i18n.mdx
  docs/src/content/docs/es/guides/i18n.mdx
  docs/src/content/docs/fr/guides/i18n.mdx
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/id/guides/i18n.mdx
  docs/src/content/docs/it/guides/i18n.mdx
  docs/src/content/docs/ja/guides/i18n.mdx
  docs/src/content/docs/ko/guides/i18n.mdx
  docs/src/content/docs/pt-br/guides/i18n.mdx
  docs/src/content/docs/ru/guides/i18n.mdx
  docs/src/content/docs/zh-cn/guides/i18n.mdx
Labels: i18n, 📚 docs

#1311 i18n(pt-br): Updated some EC text markers and frames
  docs/src/content/docs/pt-br/getting-started.mdx
  docs/src/content/docs/pt-br/guides/components.mdx
  docs/src/content/docs/pt-br/guides/css-and-tailwind.mdx
  docs/src/content/docs/pt-br/guides/customization.mdx
  docs/src/content/docs/pt-br/guides/overriding-components.md
  docs/src/content/docs/pt-br/manual-setup.mdx
Labels: i18n, 📚 docs

#1303 chore: fix type errors
  .changeset/afraid-horses-compare.md
  docs-i18n-tracker/build.ts
  docs-i18n-tracker/lib/github-get.mjs
  docs-i18n-tracker/lib/output.mjs
  docs/src/components/theme-designer.astro
  packages/starlight/__tests__/i18n/translations.test.ts
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/utils/createTranslationSystem.ts
  packages/starlight/utils/translations.ts
  packages/tailwind/__tests__/tailwind.test.ts
  tsconfig.json
Labels: 📚 docs, 🌟 core, 🌟 tailwind

#1329 i18n(zh-cn): Update overriding-components.md
  docs/src/content/docs/zh-cn/guides/overriding-components.md
Labels: i18n, 📚 docs

#1331 i18n(hi): update `site-search.mdx`
  docs/src/content/docs/hi/guides/site-search.mdx
Labels: i18n, 📚 docs

#1310 Migrate localization tooling to Lunaria
  CONTRIBUTING.md
  docs/lunaria.config.json
  docs/lunaria/components.ts
  docs/lunaria/renderer.config.ts
  docs/lunaria/styles.css
  docs/package.json
  pnpm-lock.yaml
Labels: 📚 docs

#1330 i18n(zh-cn): Update configuration.mdx & showcase.mdx & plugins.md
  docs/src/content/docs/zh-cn/reference/configuration.mdx
  docs/src/content/docs/zh-cn/reference/plugins.md
  docs/src/content/docs/zh-cn/showcase.mdx
Labels: i18n, 📚 docs

#1334 i18n(zh-cn): Update overrides.md
  docs/src/content/docs/zh-cn/reference/overrides.md
Labels: i18n, 📚 docs

#1328 i18n(zh-cn): Add more EC text markers and frames
  docs/src/content/docs/zh-cn/guides/components.mdx
  docs/src/content/docs/zh-cn/guides/css-and-tailwind.mdx
  docs/src/content/docs/zh-cn/guides/customization.mdx
  docs/src/content/docs/zh-cn/guides/sidebar.mdx
  docs/src/content/docs/zh-cn/manual-setup.mdx
Labels: i18n, 📚 docs

#1336 Goodbye, i18n Tracker 👋
  .changeset/config.json
  .github/workflows/ci.yml
  docs-i18n-tracker/.gitignore
  docs-i18n-tracker/README.md
  docs-i18n-tracker/build.ts
  docs-i18n-tracker/lib/filter-warnings.cjs
  docs-i18n-tracker/lib/github-get.mjs
  docs-i18n-tracker/lib/output.mjs
  docs-i18n-tracker/lib/translation-status/builder.ts
  docs-i18n-tracker/lib/translation-status/template.html
  docs-i18n-tracker/lib/translation-status/types.ts
  docs-i18n-tracker/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 🚨 action

#1337 i18n(pt-BR): Update `guides/authoring-content`
  docs/src/content/docs/pt-br/guides/authoring-content.md
Labels: i18n, 📚 docs

#1338 i18n(pt-BR): Update `reference/configuration`
  docs/src/content/docs/pt-br/reference/configuration.mdx
Labels: i18n, 📚 docs

#1339 [i18nIgnore] docs: Add `starlight-links-validator` to docs
  .github/workflows/ci.yml
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/docs/de/guides/authoring-content.md
  docs/src/content/docs/es/guides/authoring-content.md
  docs/src/content/docs/fr/guides/authoring-content.md
  docs/src/content/docs/guides/authoring-content.md
  docs/src/content/docs/id/guides/authoring-content.md
  docs/src/content/docs/id/guides/site-search.mdx
  docs/src/content/docs/it/guides/authoring-content.md
  docs/src/content/docs/ja/guides/authoring-content.md
  docs/src/content/docs/ko/guides/authoring-content.md
  docs/src/content/docs/pt-br/guides/authoring-content.md
  docs/src/content/docs/pt-br/reference/configuration.mdx
  docs/src/content/docs/ru/guides/authoring-content.md
  docs/src/content/docs/tr/guides/authoring-content.md
  docs/src/content/docs/zh-cn/guides/authoring-content.md
  docs/src/content/docs/zh-cn/reference/configuration.mdx
  pnpm-lock.yaml
Labels: 🚨 action, i18n, 📚 docs

#1340 i18n(pt-BR): Update `reference/frontmatter`
  docs/src/content/docs/pt-br/reference/frontmatter.md
Labels: i18n, 📚 docs

#1343 i18n(pt-BR): Update `reference/plugins`
  docs/src/content/docs/pt-br/reference/plugins.md
Labels: i18n, 📚 docs

#1341 i18n(pt-BR): Update `reference/overrides`
  docs/src/content/docs/pt-br/reference/overrides.md
Labels: i18n, 📚 docs

#1344 i18n(pt-BR): Add translation for `guides/site-search`
  docs/src/content/docs/pt-br/guides/site-search.mdx
Labels: i18n, 📚 docs

#1349 i18n(hi): update `getting-started.mdx` and `showcase.mdx`
  docs/src/content/docs/hi/getting-started.mdx
  docs/src/content/docs/hi/showcase.mdx
Labels: i18n, 📚 docs

#1346 i18n(pt-BR): Add translation for `guides/sidebar`
  docs/src/content/docs/pt-br/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1351 Italian translation for search.devWarning
  .changeset/heavy-rocks-sparkle.md
  packages/starlight/translations/it.json
Labels: 🌟 core

#1347 Use spawnSync instead of execaSync in `git.ts`
  .changeset/plenty-carrots-rescue.md
  packages/starlight/__tests__/basics/git.test.ts
  packages/starlight/__tests__/i18n-root-locale/routing.test.ts
  packages/starlight/package.json
  packages/starlight/utils/git.ts
  packages/starlight/utils/route-data.ts
  pnpm-lock.yaml
Labels: 🌟 core

#1353 Avoid sidebar scrollbar hiding behind navbar
  .changeset/selfish-pants-know.md
  packages/starlight/components/PageFrame.astro
Labels: 🌟 core

#1298 fix: autogenerated sidebar alphabetical sort
  .changeset/many-bags-press.md
  packages/starlight/__tests__/basics/sorting.test.ts
  packages/starlight/utils/navigation.ts
Labels: 🌟 patch, 🌟 core

#1104 feat(Testimonials): add testimonials to website
  docs/src/assets/testimonials/BowTiedWebReapr.jpg
  docs/src/assets/testimonials/J_Everhart383.jpg
  docs/src/assets/testimonials/RmeetsH.jpg
  docs/src/assets/testimonials/SylwiaVargas.jpg
  docs/src/assets/testimonials/beaussan.jpg
  docs/src/assets/testimonials/flaviocopes.jpg
  docs/src/assets/testimonials/jhooks.jpg
  docs/src/assets/testimonials/loucyx.jpg
  docs/src/assets/testimonials/rachelnabors.jpg
  docs/src/assets/testimonials/rick_viscomi.jpg
  docs/src/assets/testimonials/solelychloe.jpg
  docs/src/assets/testimonials/sulco.jpg
  docs/src/components/testimonial-grid.astro
  docs/src/components/testimonial.astro
  docs/src/content/docs/index.mdx
Labels: 📚 docs

#1359 docs(showcase): add OpenSaaS.sh
  docs/src/assets/showcase/opensaas.sh.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1361 i18n(zh-cn): Update index.mdx
  docs/src/content/docs/zh-cn/index.mdx
Labels: i18n, 📚 docs

#1370 i18n(es): remove extra section
  docs/src/content/docs/es/guides/components.mdx
Labels: i18n, 📚 docs

#1367 i18n(fr): Update index
  docs/src/content/docs/fr/index.mdx
Labels: i18n, 📚 docs

#1360 i18n(es): Update `index`
  docs/src/content/docs/es/index.mdx
Labels: i18n, 📚 docs

#1362 i18n(zh-cn): Update frontmatter.mdx
  docs/src/content/docs/zh-cn/reference/frontmatter.md
Labels: i18n, 📚 docs

#1324 [i18nIgnore] docs: `pnpm install` → `pnpm add`
  docs/src/content/docs/de/guides/css-and-tailwind.mdx
  docs/src/content/docs/de/guides/customization.mdx
  docs/src/content/docs/es/guides/css-and-tailwind.mdx
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/guides/site-search.mdx
  docs/src/content/docs/fr/guides/css-and-tailwind.mdx
  docs/src/content/docs/fr/guides/customization.mdx
  docs/src/content/docs/fr/guides/site-search.mdx
  docs/src/content/docs/guides/css-and-tailwind.mdx
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/guides/site-search.mdx
  docs/src/content/docs/hi/guides/css-and-tailwind.mdx
  docs/src/content/docs/id/guides/css-and-tailwind.mdx
  docs/src/content/docs/id/guides/customization.mdx
  docs/src/content/docs/id/guides/site-search.mdx
  docs/src/content/docs/it/guides/css-and-tailwind.mdx
  docs/src/content/docs/it/guides/customization.mdx
  docs/src/content/docs/ja/guides/css-and-tailwind.mdx
  docs/src/content/docs/ja/guides/customization.mdx
  docs/src/content/docs/ja/guides/site-search.mdx
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
  docs/src/content/docs/ko/guides/customization.mdx
  docs/src/content/docs/ko/guides/site-search.mdx
  docs/src/content/docs/pt-br/guides/css-and-tailwind.mdx
  docs/src/content/docs/pt-br/guides/customization.mdx
  docs/src/content/docs/pt-br/guides/site-search.mdx
  docs/src/content/docs/ru/guides/css-and-tailwind.mdx
  docs/src/content/docs/ru/guides/customization.mdx
  docs/src/content/docs/zh-cn/guides/css-and-tailwind.mdx
  docs/src/content/docs/zh-cn/guides/customization.mdx
  docs/src/content/docs/zh-cn/guides/site-search.mdx
Labels: i18n, 📚 docs

#1371 i18n(hi): add `components.mdx`
  docs/src/content/docs/hi/guides/components.mdx
Labels: i18n, 📚 docs

#1375 docs: ignore testimonials from search results
  docs/src/components/testimonial-grid.astro
Labels: 📚 docs

#1377 i18n(ja): Update index.mdx
  docs/src/content/docs/ja/index.mdx
Labels: i18n, 📚 docs

#1378 Update dependencies
  .changeset/shy-cherries-film.md
  examples/tailwind/package.json
  packages/starlight/package.json
  packages/tailwind/__tests__/tailwind.test.ts
  packages/tailwind/package.json
  pnpm-lock.yaml
Labels: 🌟 patch, 🌟 core, 🌟 tailwind

#1380 i18n(hi): update `index.mdx`
  docs/src/content/docs/hi/index.mdx
Labels: i18n, 📚 docs

#1372 Update ToC highlighting styles to prevent UI shifts
  .changeset/young-roses-tickle.md
  packages/starlight/components/TableOfContents/TableOfContentsList.astro
Labels: 🌟 minor, 🌟 core

#1376 Tweak vertical spacing in Markdown content styles
  .changeset/rotten-dots-punch.md
  packages/starlight/style/markdown.css
Labels: 🌟 minor, 🌟 core

#1151 fix: tree generation for autogenerated groups
  .changeset/dry-pandas-yawn.md
  packages/starlight/__tests__/sidebar/navigation.test.ts
  packages/starlight/utils/navigation.ts
Labels: 🌟 minor, 🌟 core

#1385 Update astro to 4.2.1
  docs/package.json
  examples/basics/package.json
  examples/tailwind/package.json
  package.json
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 📚 docs, 🌟 core

#1383 Refactor virtual module system for layout components
  .changeset/chatty-drinks-act.md
  packages/starlight/components/Footer.astro
  packages/starlight/components/Header.astro
  packages/starlight/components/MobileMenuFooter.astro
  packages/starlight/components/Page.astro
  packages/starlight/components/PageFrame.astro
  packages/starlight/components/PageSidebar.astro
  packages/starlight/components/Sidebar.astro
  packages/starlight/integrations/virtual-user-config.ts
  packages/starlight/virtual.d.ts
Labels: 🌟 minor, 🌟 core

#1386 Restore original tighter line-height on `<LinkCard>` titles
  .changeset/eighty-cats-float.md
  packages/starlight/user-components/LinkCard.astro
Labels: 🌟 minor, 🌟 core

#1388 i18n(hi): add `i18n.mdx`
  docs/src/content/docs/hi/guides/i18n.mdx
  docs/src/content/docs/hi/guides/site-search.mdx
Labels: i18n, 📚 docs

#1357 [docs] new Resources sidebar section and pages
  docs/astro.config.mjs
  docs/package.json
  docs/src/components/fluid-grid.astro
  docs/src/components/media-card.astro
  docs/src/components/showcase-card.astro
  docs/src/components/youtube-card.astro
  docs/src/components/youtube-grid.astro
  docs/src/content/docs/da/showcase.mdx
  docs/src/content/docs/de/showcase.mdx
  docs/src/content/docs/es/reference/configuration.mdx
  docs/src/content/docs/es/reference/plugins.md
  docs/src/content/docs/es/showcase.mdx
  docs/src/content/docs/fr/reference/configuration.mdx
  docs/src/content/docs/fr/reference/plugins.md
  docs/src/content/docs/fr/showcase.mdx
  docs/src/content/docs/guides/site-search.mdx
  docs/src/content/docs/hi/showcase.mdx
  docs/src/content/docs/id/showcase.mdx
  docs/src/content/docs/it/showcase.mdx
  docs/src/content/docs/ja/reference/configuration.mdx
  docs/src/content/docs/ja/reference/plugins.md
  docs/src/content/docs/ja/showcase.mdx
  docs/src/content/docs/ko/reference/configuration.mdx
  docs/src/content/docs/ko/reference/plugins.md
  docs/src/content/docs/ko/showcase.mdx
  docs/src/content/docs/pt-br/reference/configuration.mdx
  docs/src/content/docs/pt-br/reference/plugins.md
  docs/src/content/docs/pt-br/showcase.mdx
  docs/src/content/docs/reference/configuration.mdx
  docs/src/content/docs/reference/plugins.md
  docs/src/content/docs/resources/community-content.mdx
  docs/src/content/docs/resources/plugins.mdx
  docs/src/content/docs/resources/showcase.mdx
  docs/src/content/docs/ru/showcase.mdx
  docs/src/content/docs/tr/showcase.mdx
  docs/src/content/docs/uk/showcase.mdx
  docs/src/content/docs/zh-cn/reference/configuration.mdx
  docs/src/content/docs/zh-cn/reference/plugins.md
  docs/src/content/docs/zh-cn/showcase.mdx
  docs/vercel.json
  pnpm-lock.yaml
Labels: i18n, 📚 docs

#1403 i18n(ko-KR): add `showcase.mdx`
  docs/src/content/docs/ko/resources/showcase.mdx
Labels: i18n, 📚 docs

#1400 i18n(ko-KR): update `site-search.mdx`
  docs/src/content/docs/ko/guides/site-search.mdx
Labels: i18n, 📚 docs

#1402 i18n(ko-KR): add `community-content.mdx`
  docs/src/content/docs/ko/resources/community-content.mdx
Labels: i18n, 📚 docs

#1401 i18n(ko-KR): add`plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#1391 i18n(fr): update `guides/site-search`
  docs/src/content/docs/fr/guides/site-search.mdx
Labels: i18n, 📚 docs

#1392 i18n(fr): add `resources/showcase`
  docs/src/content/docs/fr/resources/showcase.mdx
Labels: i18n, 📚 docs

#1399 i18n(zh-cn): Update resource
  docs/astro.config.mjs
  docs/src/content/docs/zh-cn/guides/site-search.mdx
  docs/src/content/docs/zh-cn/reference/configuration.mdx
  docs/src/content/docs/zh-cn/reference/plugins.md
  docs/src/content/docs/zh-cn/resources/community-content.mdx
  docs/src/content/docs/zh-cn/resources/plugins.mdx
  docs/src/content/docs/zh-cn/resources/showcase.mdx
Labels: i18n, 📚 docs

#1390 i18n(fr): add `resources/plugins`
  docs/src/content/docs/fr/reference/configuration.mdx
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#1405 i18n(hi): add `overriding-components.mdx`
  docs/src/content/docs/hi/guides/overriding-components.md
Labels: i18n, 📚 docs

#1397 i18n(es): Translate `showcase.mdx`
  docs/src/content/docs/es/resources/showcase.mdx
Labels: i18n, 📚 docs

#1393 i18n(es): Translate `plugins.mdx`
  docs/src/content/docs/es/resources/plugins.mdx
Labels: i18n, 📚 docs

#1404 i18n(fr): update resources sidebar group label
  docs/astro.config.mjs
Labels: 📚 docs

#1396 i18n(es): Translate `community-content.mdx`
  docs/src/content/docs/es/resources/community-content.mdx
Labels: i18n, 📚 docs

#1395 Add Expressive Code `<Code>` component to Starlight
  .changeset/shy-stingrays-turn.md
  docs/src/content/docs/guides/components.mdx
  package.json
  packages/starlight/components.ts
  packages/starlight/index.ts
  packages/starlight/integrations/expressive-code/exports.ts
  packages/starlight/integrations/expressive-code/index.ts
  packages/starlight/integrations/expressive-code/theming.ts
  packages/starlight/integrations/shared/pathToLocale.ts
  packages/starlight/internal.ts
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 minor, 📚 docs, 🌟 core

#1389 Add config option to disable 404 page
  .changeset/odd-rocks-clean.md
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.mdx
  packages/starlight/index.ts
  packages/starlight/utils/user-config.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#1355 docs: Clarify auto-generated group default ordering
  docs/src/content/docs/guides/sidebar.mdx
Labels: 📚 docs

#1415 i18n(ko-KR): update `components.mdx`
  docs/src/content/docs/ko/guides/components.mdx
Labels: i18n, 📚 docs

#1417 i18n(ko-KR): update `sidebar.mdx`
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1416 i18n(ko-KR): update `customization.mdx`
  docs/src/content/docs/ko/guides/customization.mdx
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#1418 docs: fix `disable404Route` default type
  docs/src/content/docs/ko/reference/configuration.mdx
  docs/src/content/docs/reference/configuration.mdx
Labels: i18n, 📚 docs

#1431 docs: fix `disable404Route` description
  docs/src/content/docs/ko/reference/configuration.mdx
  docs/src/content/docs/reference/configuration.mdx
Labels: i18n, 📚 docs

#1365 extend config options to pagefind
  .changeset/silver-dots-guess.md
  package.json
  packages/starlight/components/Search.astro
Labels: 🌟 patch, 🌟 core

#1429 i18n(zh-cn): Update components.mdx
  docs/src/content/docs/zh-cn/guides/components.mdx
Labels: i18n, 📚 docs

#1428 [i18nIgnore] docs: Fix link in sidebar.mdx
  docs/src/content/docs/guides/sidebar.mdx
Labels: 📚 docs

#1427 i18n(zh-cn): Update sidebar.mdx
  docs/src/content/docs/zh-cn/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1430 i18n(zh-cn): Update customization.mdx & configuration.mdx
  docs/src/content/docs/zh-cn/guides/customization.mdx
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#1426 i18n(es): Update `sidebar.mdx`
  docs/src/content/docs/es/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1437 Add Starlight types to `defineEcConfig`, export `StarlightExpressiveCodeOptions`
  .changeset/calm-roses-joke.md
  packages/starlight/integrations/expressive-code/exports.ts
Labels: 🌟 core

#1425 i18n(es): Update `customization.mdx` & `configuration.mdx`
  docs/src/content/docs/es/guides/customization.mdx
  docs/src/content/docs/es/reference/configuration.mdx
Labels: i18n, 📚 docs

#1414 i18n(fr): Update components, configuration, sidebar and customization files
  docs/src/content/docs/fr/guides/components.mdx
  docs/src/content/docs/fr/guides/customization.mdx
  docs/src/content/docs/fr/guides/sidebar.mdx
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#1440 Add JS support to `@astrojs/starlight/expressive-code` export
  .changeset/tidy-apes-camp.md
  packages/starlight/expressive-code.d.ts
  packages/starlight/expressive-code.mjs
  packages/starlight/integrations/expressive-code/exports.ts
  packages/starlight/integrations/expressive-code/index.ts
  packages/starlight/internal.ts
  packages/starlight/package.json
Labels: 🌟 core

#1438 Update Vitest to v1
  packages/starlight/__tests__/remark-rehype/code-rtl-support.test.ts
  packages/starlight/__tests__/remark-rehype/rehype-tabs.test.ts
  packages/starlight/package.json
  packages/starlight/vitest.config.ts
  packages/tailwind/__tests__/tailwind.test.ts
  packages/tailwind/package.json
  pnpm-lock.yaml
Labels: 🌟 core, 🌟 tailwind

#1442 Update `localizedUrl()` to handle `.html` routes correctly
  .changeset/hip-otters-deny.md
  packages/starlight/__tests__/basics/localizedUrl.test.ts
  packages/starlight/__tests__/i18n-root-locale/localizedUrl.test.ts
  packages/starlight/__tests__/i18n/localizedUrl.test.ts
  packages/starlight/utils/localizedUrl.ts
Labels: 🌟 core

#1436 i18n(pt): Translate `resources/showcase.mdx`
  docs/src/content/docs/pt-br/resources/showcase.mdx
Labels: i18n, 📚 docs
