Repository withastro/starlight, pull requests merged in 2024-09, with the labels that each got.

#2273 Fixes type error with Astro 4.15.x
  .changeset/fifty-gorillas-study.md
  packages/starlight/__tests__/basics/i18n.test.ts
  packages/starlight/utils/i18n.ts
Labels: 🌟 patch, 🌟 core

#2253 Support the `class` attribute for hero action link buttons
  .changeset/ten-rats-accept.md
  packages/starlight/components/Hero.astro
Labels: 🌟 patch, 🌟 core

#2265 Adding Tiktok
  .changeset/rude-pets-complain.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#2272 feat: jsr icon
  .changeset/sixty-knives-occur.md
  packages/starlight/components/Icons.ts
Labels: 🌟 patch, 🌟 core

#2276 Add `starlight-heading-badges` & `@hideoo/generator-starlight-plugin` to the plugin showcase
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2277 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2278 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2281 Ensure unhandled directives are restored without any extra whitespace
  .changeset/ninety-spies-count.md
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/integrations/asides.ts
Labels: 🌟 patch, 🌟 core

#2279 Parse `<StarlightPage />` frontmatter asynchronously
  .changeset/spicy-suns-marry.md
  packages/starlight/utils/error-map.ts
  packages/starlight/utils/starlight-page.ts
Labels: 🌟 patch, 🌟 core

#2282 Add WCAG AAA colour contrast option to theme editor
  docs/package.json
  docs/src/components/theme-designer.astro
  docs/src/components/theme-designer/atom.ts
  docs/src/components/theme-designer/color-lib.ts
  docs/src/components/theme-designer/contrast-level.astro
  docs/src/components/theme-designer/presets.astro
  docs/src/components/theme-designer/store.ts
  docs/src/content/docs/guides/css-and-tailwind.mdx
  pnpm-lock.yaml
Labels: 📚 docs

#2284 i18n(ko-KR): update `css-and-tailwind.mdx`
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#2286 i18n(fr): update `guides/css-and-tailwind`
  docs/src/content/docs/fr/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#2288 Prevent Zod errors from crashing build
  .changeset/famous-glasses-clean.md
  packages/starlight/utils/error-map.ts
Labels: 🌟 patch, 🌟 core

#2289 Update astro dependency to 4.15.3 across monorepo
  docs/package.json
  examples/basics/package.json
  examples/tailwind/package.json
  package.json
  packages/starlight/__e2e__/fixtures/basics/package.json
  packages/starlight/__e2e__/fixtures/custom src-dir/package.json
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 📚 docs, 🌟 core

#2291 Add docs.ryzekit.com to showcase
  docs/src/assets/showcase/docs.ryzekit.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2242 Refactor sidebar persistence logic for better slow device performance
  .changeset/heavy-forks-help.md
  packages/starlight/components/Sidebar.astro
  packages/starlight/components/SidebarPersistState.ts
  packages/starlight/components/SidebarPersister.astro
  packages/starlight/components/SidebarRestorePoint.astro
  packages/starlight/components/SidebarSublist.astro
Labels: 🌟 patch, 🌟 core

#2249 Add Markdoc preset and example
  .changeset/selfish-chefs-tie.md
  .github/labeler.yml
  docs/src/content/docs/guides/authoring-content.mdx
  docs/src/content/docs/guides/pages.mdx
  examples/markdoc/.gitignore
  examples/markdoc/.vscode/extensions.json
  examples/markdoc/.vscode/launch.json
  examples/markdoc/README.md
  examples/markdoc/astro.config.mjs
  examples/markdoc/markdoc.config.mjs
  examples/markdoc/package.json
  examples/markdoc/public/favicon.svg
  examples/markdoc/src/assets/houston.webp
  examples/markdoc/src/content/config.ts
  examples/markdoc/src/content/docs/guides/example.mdoc
  examples/markdoc/src/content/docs/index.mdoc
  examples/markdoc/src/content/docs/reference/example.mdoc
  examples/markdoc/src/env.d.ts
  examples/markdoc/tsconfig.json
  packages/markdoc/.npmignore
  packages/markdoc/Code.astro
  packages/markdoc/README.md
  packages/markdoc/__tests__/markdoc.test-d.ts
  packages/markdoc/components.ts
  packages/markdoc/html.mjs
  packages/markdoc/index.mjs
  packages/markdoc/package.json
  packages/starlight/__tests__/basics/navigation-labels.test.ts
  packages/starlight/__tests__/basics/navigation-order.test.ts
  packages/starlight/__tests__/basics/navigation.test.ts
  packages/starlight/__tests__/basics/pagination-with-base.test.ts
  packages/starlight/__tests__/basics/routing.test.ts
  packages/starlight/__tests__/basics/starlight-page-route-data.test.ts
  packages/starlight/__tests__/i18n-root-locale/routing.test.ts
  packages/starlight/__tests__/i18n-sidebar/i18n-sidebar-fallback-slug.test.ts
  packages/starlight/__tests__/i18n-sidebar/i18n-sidebar.test.ts
  packages/starlight/__tests__/i18n-sidebar/sidebar-internal-link-error.test.ts
  packages/starlight/__tests__/i18n-single-root-locale/routing.test.ts
  pnpm-lock.yaml
Labels: 🌟 minor, 📚 docs, 🌟 core

#1255 Add support for SSR
  .changeset/ninety-singers-film.md
  .changeset/quiet-penguins-wonder.md
  .changeset/six-phones-boil.md
  docs/src/content/docs/manual-setup.mdx
  docs/src/content/docs/reference/configuration.mdx
  packages/starlight/.gitignore
  packages/starlight/__e2e__/collection-config.test.ts
  packages/starlight/__e2e__/fixtures/git/.gitignore
  packages/starlight/__e2e__/fixtures/git/astro.config.mjs
  packages/starlight/__e2e__/fixtures/git/package.json
  packages/starlight/__e2e__/fixtures/git/src/content/config.ts
  packages/starlight/__e2e__/fixtures/git/src/content/docs/index.md
  packages/starlight/__e2e__/fixtures/ssr/astro.config.mjs
  packages/starlight/__e2e__/fixtures/ssr/package.json
  packages/starlight/__e2e__/fixtures/ssr/src/component/ServerCheck.astro
  packages/starlight/__e2e__/fixtures/ssr/src/content/config.ts
  packages/starlight/__e2e__/fixtures/ssr/src/content/docs/404.mdx
  packages/starlight/__e2e__/fixtures/ssr/src/content/docs/content.mdx
  packages/starlight/__e2e__/fixtures/ssr/src/content/docs/demo.mdx
  packages/starlight/__e2e__/fixtures/ssr/src/content/docs/index.md
  packages/starlight/__e2e__/git.test.ts
  packages/starlight/__e2e__/ssr.test.ts
  packages/starlight/__e2e__/tabs.test.ts
  packages/starlight/__e2e__/test-utils.ts
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/__tests__/basics/git.test.ts
  packages/starlight/__tests__/basics/routing.test.ts
  packages/starlight/__tests__/git-utils.ts
  packages/starlight/__tests__/i18n-root-locale/routing.test.ts
  packages/starlight/__tests__/test-config.ts
  packages/starlight/index.astro
  packages/starlight/index.ts
  packages/starlight/integrations/virtual-user-config.ts
  packages/starlight/package.json
  packages/starlight/routes/common.astro
  packages/starlight/routes/ssr/404.astro
  packages/starlight/routes/ssr/index.astro
  packages/starlight/routes/static/404.astro
  packages/starlight/routes/static/index.astro
  packages/starlight/utils/git.ts
  packages/starlight/utils/gitInlined.ts
  packages/starlight/utils/plugins.ts
  packages/starlight/utils/route-data.ts
  packages/starlight/utils/routing.ts
  packages/starlight/utils/user-config.ts
  packages/starlight/virtual.d.ts
  packages/starlight/vitest.config.ts
  pnpm-lock.yaml
Labels: 🌟 minor, 📚 docs, 🌟 core

#2295 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#2294 i18n(ko-KR): update `manual-setup.mdx`
  docs/src/content/docs/ko/manual-setup.mdx
Labels: i18n, 📚 docs

#2300 i18n(ko-KR): update `authoring-content.mdx`
  docs/src/content/docs/ko/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2293 i18n(ko-KR): update `pages.mdx`
  docs/src/content/docs/ko/guides/pages.mdx
Labels: i18n, 📚 docs

#2301 Update `yummacss.com.png` thumbnail
  docs/src/assets/showcase/yummacss.com.png
Labels: 📚 docs

#2297 i18n(fr): update `guides/authoring-content`
  docs/src/content/docs/fr/guides/authoring-content.mdx
  packages/starlight/__tests__/i18n-sidebar/i18n-sidebar.test.ts
  packages/starlight/__tests__/i18n-sidebar/sidebar-internal-link-error.test.ts
Labels: i18n, 📚 docs, 🌟 core

#2296 i18n(fr): update `reference/configuration`
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#2303 Convert URL to file path correctly for Git virtual module
  .changeset/strange-clouds-lay.md
  packages/starlight/integrations/virtual-user-config.ts
Labels: 🌟 patch, 🌟 core

#2298 i18n(fr): update `guides/pages`
  docs/src/content/docs/fr/guides/pages.mdx
Labels: i18n, 📚 docs

#2299 i18n(fr): update `manual-setup`
  docs/src/content/docs/fr/manual-setup.mdx
Labels: i18n, 📚 docs

#2306 i18n(ru): update some guides
  docs/src/content/docs/ru/guides/authoring-content.mdx
  docs/src/content/docs/ru/guides/css-and-tailwind.mdx
  docs/src/content/docs/ru/guides/pages.mdx
Labels: i18n, 📚 docs

#2307 i18n(ru): update `ru/manual-setup.mdx` and `ru/reference/configuration.mdx`
  docs/src/content/docs/ru/manual-setup.mdx
  docs/src/content/docs/ru/reference/configuration.mdx
Labels: i18n, 📚 docs

#2308 i18n(fr): update `reference/configuration`
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#2312 i18n(es): update `customization`
  docs/src/content/docs/es/guides/customization.mdx
Labels: i18n, 📚 docs

#2320 i18n(es): add `authoring-content`
  docs/src/content/docs/es/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2316 i18n(es): update `index`
  docs/src/content/docs/es/index.mdx
Labels: i18n, 📚 docs

#2315 i18n(es): update `site-search`
  docs/src/content/docs/es/guides/site-search.mdx
Labels: i18n, 📚 docs

#2314 i18n(es): update `pages`
  docs/src/content/docs/es/guides/pages.mdx
Labels: i18n, 📚 docs

#2319 i18n(es): update `plugins`
  docs/src/content/docs/es/resources/plugins.mdx
Labels: i18n, 📚 docs

#2318 i18n(es): update `frontmatter`
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#2310 i18n(es): update `components`
  docs/src/content/docs/es/guides/components.mdx
Labels: i18n, 📚 docs

#2311 i18n(es): update `css-and-tailwind`
  docs/src/content/docs/es/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#2317 i18n(es): update `manual-setup` & `configuration`
  docs/src/content/docs/es/manual-setup.mdx
  docs/src/content/docs/es/reference/configuration.mdx
Labels: i18n, 📚 docs

#2324 docs(showcase): add Open {re}Source website
  docs/src/assets/showcase/openresource.dev.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2329 Re-enable skipped navigation test
  packages/starlight/__tests__/build-format-file/navigation.test.ts
Labels: 🌟 core

#2327 Fix broken restoration of remark directives.
  .changeset/gold-coats-destroy.md
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/integrations/asides.ts
Labels: 🌟 patch, 🌟 core

#1923 Use `i18next` for UI strings and add new `injectTranslations` plugin callback
  .changeset/cool-experts-sort.md
  .changeset/eighty-beds-attack.md
  .changeset/thirty-dodos-drop.md
  .npmrc
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/reference/overrides.md
  docs/src/content/docs/reference/plugins.md
  package.json
  packages/docsearch/DocSearch.astro
  packages/docsearch/package.json
  packages/markdoc/package.json
  packages/starlight/__tests__/basics/route-data.test.ts
  packages/starlight/__tests__/basics/starlight-page-route-data.test.ts
  packages/starlight/__tests__/basics/translations.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/route-data.test.ts
  packages/starlight/__tests__/i18n-single-root-locale/route-data.test.ts
  packages/starlight/__tests__/i18n/route-data.test.ts
  packages/starlight/__tests__/i18n/translations-fs.test.ts
  packages/starlight/__tests__/i18n/translations.test.ts
  packages/starlight/__tests__/plugins/translations.test.ts
  packages/starlight/__tests__/plugins/vitest.config.ts
  packages/starlight/__tests__/test-config.ts
  packages/starlight/__tests__/test-utils.ts
  packages/starlight/components/DraftContentNotice.astro
  packages/starlight/components/EditLink.astro
  packages/starlight/components/FallbackContentNotice.astro
  packages/starlight/components/Footer.astro
  packages/starlight/components/LanguageSelect.astro
  packages/starlight/components/LastUpdated.astro
  packages/starlight/components/MobileMenuToggle.astro
  packages/starlight/components/MobileTableOfContents.astro
  packages/starlight/components/PageFrame.astro
  packages/starlight/components/Pagination.astro
  packages/starlight/components/Search.astro
  packages/starlight/components/SidebarRestorePoint.astro
  packages/starlight/components/SkipLink.astro
  packages/starlight/components/TableOfContents.astro
  packages/starlight/components/ThemeSelect.astro
  packages/starlight/i18n.d.ts
  packages/starlight/index.ts
  packages/starlight/integrations/asides.ts
  packages/starlight/integrations/virtual-user-config.ts
  packages/starlight/locals.d.ts
  packages/starlight/locals.ts
  packages/starlight/package.json
  packages/starlight/utils/createTranslationSystem.ts
  packages/starlight/utils/i18n.ts
  packages/starlight/utils/plugins.ts
  packages/starlight/utils/route-data.ts
  packages/starlight/utils/starlight-page.ts
  packages/starlight/utils/translations-fs.ts
  packages/starlight/utils/translations.ts
  packages/starlight/utils/types.ts
  packages/starlight/virtual.d.ts
  packages/starlight/vitest.config.ts
  packages/tailwind/package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: 🌟 minor, 📚 docs, 🌟 core, 🌟 tailwind, 🌟 markdoc

#2285 Add support for translating sidebar badges
  .changeset/slow-flowers-sort.md
  docs/src/components/sidebar-preview.astro
  docs/src/content/docs/guides/sidebar.mdx
  packages/starlight/__tests__/i18n-sidebar-badge-error/i18n-sidebar-badge-error.test.ts
  packages/starlight/__tests__/i18n-sidebar-badge-error/vitest.config.ts
  packages/starlight/__tests__/i18n-sidebar/i18n-sidebar-fallback-slug.test.ts
  packages/starlight/__tests__/i18n-sidebar/i18n-sidebar.test.ts
  packages/starlight/__tests__/i18n-sidebar/vitest.config.ts
  packages/starlight/schemas/badge.ts
  packages/starlight/schemas/sidebar.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/vitest.config.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#2334 Fix Expressive Code UI labels
  .changeset/perfect-crews-train.md
  packages/starlight/__tests__/i18n/translations-ec.test.ts
  packages/starlight/integrations/expressive-code/translations.ts
Labels: 🌟 patch, 🌟 core

#2333 i18n(ru): update some guides and references
  docs/src/content/docs/ru/guides/i18n.mdx
  docs/src/content/docs/ru/guides/sidebar.mdx
  docs/src/content/docs/ru/reference/overrides.md
  docs/src/content/docs/ru/reference/plugins.md
Labels: i18n, 📚 docs

#2336 i18n(ko-KR): update `i18n.mdx` and `plugins.md`
  docs/src/content/docs/ko/guides/i18n.mdx
  docs/src/content/docs/ko/reference/plugins.md
Labels: i18n, 📚 docs

#2338 i18n(ko-KR): update `overrides.md`
  docs/src/content/docs/ko/reference/overrides.md
Labels: i18n, 📚 docs

#2337 i18n(ko-KR): update `sidebar.mdx`
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, 📚 docs

#2339 i18n(ko-KR): create `asides.mdx` and update `authoring-content.mdx`
  docs/src/content/docs/ko/components/asides.mdx
  docs/src/content/docs/ko/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2341 i18n(fr): update `reference/plugins` & `guides/i18n`
  docs/src/content/docs/fr/guides/i18n.mdx
  docs/src/content/docs/fr/reference/plugins.md
Labels: i18n, 📚 docs

#2342 i18n(fr): update `guides/sidebar`
  docs/src/content/docs/fr/guides/sidebar.mdx
Labels: i18n, 📚 docs

#2343 i18n(fr): add `reference/icons`
  docs/src/content/docs/fr/reference/icons.mdx
Labels: i18n, 📚 docs

#2340 i18n(fr): update `reference/overrides`
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#2344 docs: fix broken Markdown content related links
  docs/src/content/docs/components/using-components.mdx
  docs/src/content/docs/guides/authoring-content.mdx
Labels: 📚 docs

#2349 i18n(fr): update `guides/authoring-content`
  docs/src/content/docs/fr/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2363 i18n(ko-KR): create `/reference/icons.mdx`
  docs/src/content/docs/ko/reference/icons.mdx
Labels: i18n, 📚 docs

#2351 i18n(ko-KR): update `authoring-content.mdx`
  docs/src/content/docs/ko/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2362 i18n(ko-KR): create `using-components.mdx`
  docs/src/content/docs/ko/components/using-components.mdx
Labels: i18n, 📚 docs

#2354 i18n(ko-KR): create `cards.mdx`
  docs/src/content/docs/ko/components/cards.mdx
Labels: i18n, 📚 docs

#2359 i18n(ko-KR): create `link-cards.mdx`
  docs/src/content/docs/ko/components/link-cards.mdx
Labels: i18n, 📚 docs

#2352 i18n(ko-KR): create `badges.mdx`
  docs/src/content/docs/ko/components/badges.mdx
Labels: i18n, 📚 docs

#2356 i18n(ko-KR): create `file-tree.mdx`
  docs/src/content/docs/ko/components/file-tree.mdx
Labels: i18n, 📚 docs

#2357 i18n(ko-KR): create `icons.mdx`
  docs/src/content/docs/ko/components/icons.mdx
Labels: i18n, 📚 docs

#2358 i18n(ko-KR): create `link-buttons.mdx`
  docs/src/content/docs/ko/components/link-buttons.mdx
Labels: i18n, 📚 docs

#2360 i18n(ko-KR): create `steps.mdx`
  docs/src/content/docs/ko/components/steps.mdx
Labels: i18n, 📚 docs

#2350 i18n(fr): Add `components/asides.mdx` in French language
  docs/src/content/docs/fr/components/asides.mdx
Labels: i18n, 📚 docs

#2361 i18n(ko-KR): create `tabs.mdx`
  docs/src/content/docs/ko/components/tabs.mdx
Labels: i18n, 📚 docs

#2365 i18n(ko-KR): create `ko.json` for translating `<Preview>` component
  docs/src/content/i18n/ko.json
Labels: 📚 docs

#2355 i18n(ko-KR): create `code.mdx`
  docs/src/content/docs/ko/components/code.mdx
Labels: i18n, 📚 docs

#2366 i18n(ko-KR): update `astro.config.mjs`
  docs/astro.config.mjs
Labels: 📚 docs

#2367 i18n(fr): add `components/badges`
  docs/src/content/docs/fr/components/badges.mdx
Labels: i18n, 📚 docs

#2369 i18n(fr): Add `components/file-tree.mdx` in French language
  docs/src/content/docs/fr/components/file-tree.mdx
Labels: i18n, 📚 docs

#2368 i18n(fr): add `components/code`
  docs/src/content/docs/fr/components/code.mdx
Labels: i18n, 📚 docs

#2346 i18n(fr): add `components/cards`, `components/link-cards` & `components/card-grids`
  docs/src/content/docs/fr/components/card-grids.mdx
  docs/src/content/docs/fr/components/cards.mdx
  docs/src/content/docs/fr/components/link-cards.mdx
Labels: i18n, 📚 docs

#2372 docs: fix link buttons incorrect heading name
  docs/src/content/docs/components/link-buttons.mdx
Labels: 📚 docs

#2345 i18n(fr): add `components/using-components`
  docs/src/content/docs/fr/components/using-components.mdx
Labels: i18n, 📚 docs

#2373 i18n(fr): add `components/link-buttons`
  docs/src/content/docs/fr/components/link-buttons.mdx
Labels: i18n, 📚 docs

#2375 i18n(fr): add `components/tabs`
  docs/src/content/docs/fr/components/tabs.mdx
Labels: i18n, 📚 docs

#2370 i18n(fr): add `components/icons`
  docs/src/content/docs/fr/components/icons.mdx
Labels: i18n, 📚 docs

#2374 i18n(fr): add `components/steps`
  docs/src/content/docs/fr/components/steps.mdx
Labels: i18n, 📚 docs

#2379 i18n(ko-KR): update `link-buttons.mdx`
  docs/src/content/docs/ko/components/link-buttons.mdx
Labels: i18n, 📚 docs

#2380 Loosen i18n schema to pass through unknown keys by default
  .changeset/quick-swans-rule.md
  packages/starlight/__tests__/basics/translations.test.ts
  packages/starlight/__tests__/plugins/translations.test.ts
  packages/starlight/__tests__/test-utils.ts
  packages/starlight/schemas/i18n.ts
Labels: 🌟 patch, 🌟 core

#2385 i18n(es): update `authoring-content`
  docs/src/content/docs/es/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2394 i18n(es): update `overrides`
  docs/src/content/docs/es/reference/overrides.md
Labels: i18n, 📚 docs

#2393 i18n(es): update `sidebar`
  docs/src/content/docs/es/guides/sidebar.mdx
Labels: i18n, 📚 docs

#2395 i18n(es): translate `asides`
  docs/src/content/docs/es/components/asides.mdx
Labels: i18n, 📚 docs

#2392 i18n(es): update `i18n` & `plugins`
  docs/src/content/docs/es/guides/i18n.mdx
  docs/src/content/docs/es/reference/plugins.md
Labels: i18n, 📚 docs

#2396 i18n(es): translate `badges`
  docs/src/content/docs/es/components/badges.mdx
Labels: i18n, 📚 docs

#2364 i18n(ru): update some translations
  docs/astro.config.mjs
  docs/src/content/docs/ru/components/asides.mdx
  docs/src/content/docs/ru/components/badges.mdx
  docs/src/content/docs/ru/components/card-grids.mdx
  docs/src/content/docs/ru/components/cards.mdx
  docs/src/content/docs/ru/components/code.mdx
  docs/src/content/docs/ru/components/file-tree.mdx
  docs/src/content/docs/ru/components/icons.mdx
  docs/src/content/docs/ru/components/link-buttons.mdx
  docs/src/content/docs/ru/components/link-cards.mdx
  docs/src/content/docs/ru/components/steps.mdx
  docs/src/content/docs/ru/components/tabs.mdx
  docs/src/content/docs/ru/components/using-components.mdx
  docs/src/content/docs/ru/guides/authoring-content.mdx
  docs/src/content/docs/ru/reference/icons.mdx
  docs/src/content/docs/ru/resources/plugins.mdx
  docs/src/content/i18n/ru.json
Labels: i18n, 📚 docs

#2404 i18n(zh-cn): Update `overrides.md`
  docs/src/content/docs/zh-cn/reference/overrides.md
Labels: i18n, 📚 docs

#2402 i18n(es): translate `file-tree`
  docs/src/content/docs/es/components/file-tree.mdx
Labels: i18n, 📚 docs

#2401 i18n(es): translate `code`
  docs/src/content/docs/es/components/code.mdx
Labels: i18n, 📚 docs

#2399 i18n(es): translate `card-grids`
  docs/src/content/docs/es/components/card-grids.mdx
Labels: i18n, 📚 docs

#2407 i18n(zh-cn): Update `plugins.mdx`
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#2406 i18n(zh-cn): Update `configuration.mdx` & `manual-setup.mdx`
  docs/src/content/docs/zh-cn/manual-setup.mdx
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#2405 i18n(zh-cn): Update `sidebar.mdx`
  docs/src/content/docs/zh-cn/guides/sidebar.mdx
Labels: i18n, 📚 docs

#2409 i18n(es): translate `reference/icons`
  docs/src/content/docs/es/reference/icons.mdx
Labels: i18n, 📚 docs

#2411 i18n(es): translate `link-cards`
  docs/src/content/docs/es/components/link-cards.mdx
Labels: i18n, 📚 docs

#2410 i18n(es): translate `link-buttons`
  docs/src/content/docs/es/components/link-buttons.mdx
Labels: i18n, 📚 docs

#2412 i18n(zh-cn): Update `plugins.md` & `i18n.mdx`
  docs/src/content/docs/zh-cn/guides/i18n.mdx
  docs/src/content/docs/zh-cn/reference/plugins.md
Labels: i18n, 📚 docs

#2414 i18n(zh-cn): Update `authoring-content.mdx`
  docs/src/content/docs/zh-cn/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2416 i18n(fr): update `reference/plugins`
  docs/src/content/docs/fr/reference/plugins.md
Labels: i18n, 📚 docs

#2384 i18n(ja): translated `components` section + alpha
  docs/astro.config.mjs
  docs/src/content/docs/ja/components/asides.mdx
  docs/src/content/docs/ja/components/badges.mdx
  docs/src/content/docs/ja/components/card-grids.mdx
  docs/src/content/docs/ja/components/cards.mdx
  docs/src/content/docs/ja/components/code.mdx
  docs/src/content/docs/ja/components/file-tree.mdx
  docs/src/content/docs/ja/components/icons.mdx
  docs/src/content/docs/ja/components/link-buttons.mdx
  docs/src/content/docs/ja/components/link-cards.mdx
  docs/src/content/docs/ja/components/steps.mdx
  docs/src/content/docs/ja/components/tabs.mdx
  docs/src/content/docs/ja/components/using-components.mdx
  docs/src/content/docs/ja/guides/authoring-content.mdx
  docs/src/content/docs/ja/reference/icons.mdx
Labels: i18n, 📚 docs

#2400 i18n(es): translate `cards`
  docs/src/content/docs/es/components/cards.mdx
Labels: i18n, 📚 docs

#2403 i18n(es): translate `components/icons`
  docs/src/content/docs/es/components/icons.mdx
Labels: i18n, 📚 docs

#2418 i18n(es): translate `steps`
  docs/src/content/docs/es/components/steps.mdx
Labels: i18n, 📚 docs

#2420 i18n(es): translate `using-components`
  docs/src/content/docs/es/components/using-components.mdx
Labels: i18n, 📚 docs

#2422 i18n(ja) add ja.json for `preview`
  docs/src/content/i18n/ja.json
Labels: 📚 docs

#2423 i18n(zh-cn): add `asides.mdx`
  docs/src/content/docs/zh-cn/components/asides.mdx
Labels: i18n, 📚 docs

#2425 i18n(zh-cn): add `badges.mdx`
  docs/src/content/docs/zh-cn/components/badges.mdx
Labels: i18n, 📚 docs

#2426 i18n(zh-cn): add `code.mdx`
  docs/src/content/docs/zh-cn/components/code.mdx
Labels: i18n, 📚 docs
