Repository withastro/starlight, pull requests merged in 2024-04, with the labels that each got.

#1622 Update Icons.ts with Farcaster Purple for SocialIcons
  .changeset/gentle-wasps-bathe.md
  packages/starlight/components/Icons.ts
Labels: 🌟 patch, 🌟 core

#1697 i18n(fr): Update `resources-showcase`
  docs/src/content/docs/fr/resources/showcase.mdx
Labels: i18n, 📚 docs

#1702 Add SudoVanilla to showcase
  docs/src/assets/showcase/sudovanilla.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1710 Add SST Ion & Font Awesome to site showcase
  docs/src/assets/showcase/docs.fontawesome.com.png
  docs/src/assets/showcase/ion.sst.dev.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1678 I18n(pt-PT): Add resources pages
  docs/astro.config.mjs
  docs/src/content/docs/pt-pt/resources/community-content.mdx
  docs/src/content/docs/pt-pt/resources/plugins.mdx
  docs/src/content/docs/pt-pt/resources/showcase.mdx
Labels: i18n, 📚 docs

#1703 Fix nested aside title rendering issue
  .changeset/clean-squids-sparkle.md
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/__tests__/remark-rehype/snapshots/nested-asides-custom-titles.html
  packages/starlight/integrations/asides.ts
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 core

#1708 Fix various Expressive Code translation issues
  .changeset/wet-lemons-drum.md
  packages/starlight/__tests__/i18n/translations-ec.test.ts
  packages/starlight/integrations/expressive-code/index.ts
  packages/starlight/integrations/expressive-code/translations.ts
  packages/starlight/integrations/shared/localeToLang.ts
Labels: 🌟 patch, 🌟 core

#1717 i18n(ja): Use Steps component
  docs/src/content/docs/ja/guides/css-and-tailwind.mdx
  docs/src/content/docs/ja/guides/customization.mdx
  docs/src/content/docs/ja/guides/i18n.mdx
  docs/src/content/docs/ja/guides/overriding-components.mdx
  docs/src/content/docs/ja/guides/site-search.mdx
Labels: i18n, 📚 docs

#1718 i18n(ja): Update configuration.mdx
  docs/src/content/docs/ja/reference/configuration.mdx
Labels: i18n, 📚 docs

#1719 i18n(ja): Update showcase.mdx
  docs/src/content/docs/ja/resources/showcase.mdx
Labels: i18n, 📚 docs

#1722 i18n(ru): Update translations
  docs/src/content/docs/ru/environmental-impact.md
  docs/src/content/docs/ru/guides/authoring-content.md
  docs/src/content/docs/ru/guides/components.mdx
  docs/src/content/docs/ru/guides/css-and-tailwind.mdx
  docs/src/content/docs/ru/guides/i18n.mdx
  docs/src/content/docs/ru/guides/overriding-components.mdx
  docs/src/content/docs/ru/guides/sidebar.mdx
  docs/src/content/docs/ru/index.mdx
  docs/src/content/docs/ru/reference/configuration.mdx
  docs/src/content/docs/ru/reference/frontmatter.md
Labels: i18n, 📚 docs

#1604 ci: add file icons generator workflow
  .github/workflows/file-icons.yml
Labels: 🚨 action

#1723 Tab aria selected
  .changeset/late-onions-jog.md
  packages/starlight/user-components/Tabs.astro
Labels: 🌟 patch, 🌟 core

#1709 Fix translation issue for sites with a single non-root language different from English
  .changeset/khaki-hairs-end.md
  packages/starlight/__tests__/i18n-non-root-single-locale/config.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/localizedUrl.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/route-data.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/routing.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/slugs.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/src/content/i18n/fr.json
  packages/starlight/__tests__/i18n-non-root-single-locale/translations-fs.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/translations-with-user-config.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/translations.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/vitest.config.ts
  packages/starlight/utils/user-config.ts
Labels: 🌟 patch, 🌟 core

#1726 Add warning to Tailwind plugin if `colors.white` is not a string
  .changeset/strange-tips-work.md
  packages/tailwind/index.ts
Labels: 🌟 patch, 🌟 tailwind

#1728 Adds a Pkl file format icon
  .changeset/afraid-buses-cheer.md
  packages/file-icons-generator/config.ts
  packages/starlight/components/Icons.ts
  packages/starlight/user-components/file-tree-icons.ts
Labels: 🌟 patch, 🌟 core

#1731 fix: respond to media query change events when theme is `auto`
  .changeset/swift-files-wave.md
  packages/starlight/components/ThemeSelect.astro
Labels: 🌟 patch, 🌟 core

#1732 i18n(zh-cn): Update i18n.mdx
  docs/src/content/docs/zh-cn/guides/i18n.mdx
Labels: i18n, 📚 docs

#1737 Adds the guide on enabling view transitions to Recipes and Guides
  docs/src/content/docs/resources/community-content.mdx
Labels: 📚 docs

#1734 Refactor `<ThemeSelect>` script to avoid double media query event listener
  .changeset/sweet-vans-carry.md
  packages/starlight/components/ThemeSelect.astro
  packages/starlight/global.d.ts
Labels: 🌟 patch, 🌟 core

#1742 i18n(zh-cn): Update `community-content.mdx`
  docs/src/content/docs/zh-cn/resources/community-content.mdx
Labels: i18n, 📚 docs

#1743 i18n(ko-KR): update `community-content.mdx`
  docs/src/content/docs/ko/resources/community-content.mdx
Labels: i18n, 📚 docs

#1744 i18n(fr): update `resources/community-content`
  docs/src/content/docs/fr/resources/community-content.mdx
Labels: i18n, 📚 docs

#1739 i18n(es): update `configuration`
  docs/src/content/docs/es/reference/configuration.mdx
Labels: i18n, 📚 docs

#1730 i18n(hi): update outdated hindi pages
  docs/src/content/docs/hi/guides/components.mdx
  docs/src/content/docs/hi/guides/css-and-tailwind.mdx
  docs/src/content/docs/hi/guides/customization.mdx
  docs/src/content/docs/hi/guides/i18n.mdx
  docs/src/content/docs/hi/guides/site-search.mdx
Labels: i18n, 📚 docs

#1747 i18n(pt-br): Update `resources/community-content.mdx`
  docs/src/content/docs/pt-br/resources/community-content.mdx
Labels: i18n, 📚 docs

#1740 i18n(es): update `community-content`
  docs/src/content/docs/es/resources/community-content.mdx
Labels: i18n, 📚 docs

#1729 docs: add caution about scripts processing when using head config
  docs/src/content/docs/reference/configuration.mdx
Labels: 📚 docs

#1752 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#1753 i18n(zh-cn): Update `configuration.mdx`
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#1756 i18n(ja): Update community-content.mdx
  docs/src/content/docs/ja/resources/community-content.mdx
Labels: i18n, 📚 docs

#1751 docs: rewrite `guides/sidebar` examples to be more generic
  docs/src/components/sidebar-preview.astro
  docs/src/content/docs/guides/sidebar.mdx
Labels: 📚 docs

#1759 test: fix Windows path separator test issues
  packages/starlight/__tests__/basics/git.test.ts
  packages/starlight/__tests__/i18n-root-locale/routing.test.ts
Labels: 🌟 core

#1758 i18n(fr): update `guides/sidebar`
  docs/src/content/docs/fr/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1760 i18n(ko-KR): update `sidebar.mdx`
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1761 i18n(zh-cn): Update `sidebar.mdx`
  docs/src/content/docs/zh-cn/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1773 Add TrueCharts to showcases
  docs/src/assets/showcase/truecharts.org.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1766 i18n(es): update `configuration`
  docs/src/content/docs/es/reference/configuration.mdx
Labels: i18n, 📚 docs

#1776 i18n(pt-br): Update `getting-started.mdx`
  docs/src/content/docs/pt-br/getting-started.mdx
Labels: i18n, 📚 docs

#1767 i18n(es): update `sidebar`
  docs/src/content/docs/es/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1768 Upgrade Lunaria and add Action
  .github/workflows/lunaria.yml
  docs/lunaria.config.json
  docs/package.json
  pnpm-lock.yaml
Labels: 🚨 action, 📚 docs

#1778 i18n(id): Update getting-started.mdx
  docs/src/content/docs/id/getting-started.mdx
Labels: i18n, 📚 docs

#1783 i18n(ru): update translations
  docs/src/content/docs/ru/guides/components.mdx
  docs/src/content/docs/ru/guides/css-and-tailwind.mdx
  docs/src/content/docs/ru/guides/pages.mdx
  docs/src/content/docs/ru/guides/sidebar.mdx
  docs/src/content/docs/ru/reference/configuration.mdx
  docs/src/content/docs/ru/resources/community-content.mdx
Labels: i18n, 📚 docs

#1789 Adds Starlight in Next.js project video
  docs/src/content/docs/resources/community-content.mdx
Labels: 📚 docs

#1794 i18n(ko-KR): update `community-content.mdx`
  docs/src/content/docs/ko/resources/community-content.mdx
Labels: i18n, 📚 docs

#1795 i18n(fr): update `resources/community-content.mdx`
  docs/src/content/docs/fr/resources/community-content.mdx
Labels: i18n, 📚 docs

#1793 Update fa.json
  .changeset/tiny-walls-carry.md
  packages/starlight/translations/fa.json
Labels: 🌟 patch, 🌟 core

#1777 Fix TypeScript schema error when using project references
  .changeset/spotty-mice-travel.md
  packages/starlight/schema.ts
Labels: 🌟 patch, 🌟 core

#1786 Fix type inference for extended i18n schemas
  .changeset/spotty-eggs-sit.md
  packages/starlight/schemas/i18n.ts
  packages/starlight/utils/createTranslationSystem.ts
  packages/starlight/utils/translations.ts
Labels: 🌟 patch, 🌟 core

#1720 Update astro-expressive-code
  .changeset/strong-moose-jam.md
  packages/starlight/integrations/expressive-code/hast.d.ts
  packages/starlight/integrations/expressive-code/hast.mjs
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 minor, 🌟 core

#1788 Add translation for copy button
  .changeset/healthy-boxes-smoke.md
  packages/starlight/translations/ru.json
Labels: 🌟 patch, 🌟 core

#1769 Pass "frontmatter" variable to content renderer
  .changeset/tall-planets-destroy.md
  packages/starlight/index.astro
Labels: 🌟 minor, 🌟 core

#1780 Add Signal Icon
  .changeset/late-melons-ring.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#1620 feat: Support object title for multiple language
  .changeset/neat-flowers-move.md
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/reference/configuration.mdx
  docs/src/content/docs/reference/overrides.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/__tests__/basics/config.test.ts
  packages/starlight/__tests__/basics/routing.test.ts
  packages/starlight/__tests__/basics/schema.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/config.test.ts
  packages/starlight/__tests__/i18n-root-locale/config.test.ts
  packages/starlight/__tests__/i18n-root-locale/routing.test.ts
  packages/starlight/__tests__/i18n/config.test.ts
  packages/starlight/__tests__/i18n/routing.test.ts
  packages/starlight/__tests__/plugins/config.test.ts
  packages/starlight/components/Head.astro
  packages/starlight/components/SiteTitle.astro
  packages/starlight/schemas/site-title.ts
  packages/starlight/utils/route-data.ts
  packages/starlight/utils/user-config.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#640 Add support for synced tabs
  .changeset/config.json
  .changeset/eight-pens-end.md
  .changeset/slimy-swans-teach.md
  .github/workflows/ci.yml
  CONTRIBUTING.md
  docs/src/content/docs/getting-started.mdx
  docs/src/content/docs/guides/components.mdx
  docs/src/content/docs/guides/css-and-tailwind.mdx
  docs/src/content/docs/guides/customization.mdx
  package.json
  packages/starlight/__e2e__/.gitignore
  packages/starlight/__e2e__/fixtures/basics/astro.config.mjs
  packages/starlight/__e2e__/fixtures/basics/package.json
  packages/starlight/__e2e__/fixtures/basics/src/content/config.ts
  packages/starlight/__e2e__/fixtures/basics/src/content/docs/tabs-variable-height.mdx
  packages/starlight/__e2e__/fixtures/basics/src/content/docs/tabs.mdx
  packages/starlight/__e2e__/fixtures/basics/src/env.d.ts
  packages/starlight/__e2e__/tabs.test.ts
  packages/starlight/__e2e__/test-utils.ts
  packages/starlight/package.json
  packages/starlight/playwright.config.ts
  packages/starlight/style/props.css
  packages/starlight/user-components/Tabs.astro
  packages/starlight/vitest.config.ts
  pnpm-lock.yaml
Labels: 🌟 minor, 🚨 action, 📚 docs, 🌟 core

#1798 docs: fix "Astro → Starlight" in site title i18n docs
  docs/src/content/docs/guides/i18n.mdx
Labels: 📚 docs
