Repository withastro/starlight, pull requests merged in 2024-10, with the labels that each got.

#2427 i18n(zh-cn): add `file-tree.mdx`
  docs/src/content/docs/zh-cn/components/file-tree.mdx
Labels: i18n, 📚 docs

#2428 i18n(zh-cn): add `/components/icons.mdx`
  docs/src/content/docs/zh-cn/components/icons.mdx
Labels: i18n, 📚 docs

#2430 i18n(id): Update `environmental-impact.md` translation
  docs/src/content/docs/id/environmental-impact.md
Labels: i18n, 📚 docs

#2434 i18n(de): update environmental-impact.md
  docs/src/content/docs/de/environmental-impact.md
Labels: i18n, 📚 docs

#2436 i18n(id): Update css-and-tailwind.mdx translation
  docs/src/content/docs/id/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2440 i18n(id): Update i18n.mdx translation
  docs/src/content/docs/id/guides/i18n.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2437 i18n(id): Update customization.mdx and configuration.mdx translation
  docs/src/content/docs/id/guides/customization.mdx
  docs/src/content/docs/id/reference/configuration.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2408 Fix link formatting issue with `build.format` set to `file` and a `base`
  .changeset/dirty-masks-accept.md
  packages/starlight/__tests__/basics/format-path.test.ts
  packages/starlight/utils/createPathFormatter.ts
Labels: 🌟 core

#2388 Fix type-checking issue
  .changeset/seven-falcons-tie.md
  docs/package.json
  package.json
  packages/starlight/index.ts
  packages/starlight/virtual-internal.d.ts
  packages/starlight/virtual.d.ts
  pnpm-lock.yaml
Labels: 📚 docs, 🌟 core

#2443 fix bottom padding in search dialog
  .changeset/thin-guests-listen.md
  packages/starlight/components/Search.astro
Labels: 🌟 core, hacktoberfest-accepted

#2441 i18n(id): Update sidebar.mdx translation
  docs/src/content/docs/id/guides/sidebar.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2442 i18n(de): translate asides
  docs/astro.config.mjs
  docs/src/content/docs/de/components/asides.mdx
  docs/src/content/i18n/de.json
Labels: i18n, 📚 docs

#2445 i18n(zh-cn): add `link-buttons.mdx`
  docs/src/content/docs/zh-cn/components/link-buttons.mdx
Labels: i18n, 📚 docs

#2446 i18n(zh-cn): add `steps.mdx`
  docs/src/content/docs/zh-cn/components/steps.mdx
Labels: i18n, 📚 docs

#2448 i18n(id): Update site-search.mdx translation
  docs/src/content/docs/id/guides/site-search.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2456 i18n(zh-cn): add `tabs.mdx` & update `astro.config.mjs`
  docs/astro.config.mjs
  docs/src/content/docs/zh-cn/components/tabs.mdx
Labels: i18n, 📚 docs

#2449 i18n(id): Update index.mdx translation
  docs/src/content/docs/id/index.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2454 i18n(de): translate card-grids
  docs/src/content/docs/de/components/card-grids.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2460 i18n(de): translate icons (ref)
  docs/src/content/docs/de/reference/icons.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2461 i18n(de): translate file-tree
  docs/src/content/docs/de/components/file-tree.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2471 Fix accessibility CI workflow
  .github/workflows/ci.yml
Labels: 🚨 action

#2465 i18n(id): Update manual-setup.mdx translation
  docs/src/content/docs/id/manual-setup.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2483 i18n(de): translate component/link-cards
  docs/src/content/docs/de/components/link-cards.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2482 i18n(de): update translation overriding-components
  docs/src/content/docs/de/guides/overriding-components.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2478 i18n(de): update translation index
  docs/src/content/docs/de/index.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2474 i18n(de): update translation css-and-tailwind
  docs/src/content/docs/de/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2452 i18n(de): translate badges
  docs/src/content/docs/de/components/badges.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2477 i18n(de): update translation sidebar
  docs/src/content/docs/de/guides/sidebar.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2472 Add Orbit CSS showcase site
  docs/src/assets/showcase/zumerlab.github.io.orbit-docs.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2488 i18n(de): translate resources/community-content
  docs/astro.config.mjs
  docs/src/content/docs/de/resources/community-content.mdx
Labels: i18n, 📚 docs

#2453 i18n(de): translate components/cards
  docs/src/content/docs/de/components/cards.mdx
Labels: i18n, 📚 docs

#2462 i18n(de): translate components/icons
  docs/src/content/docs/de/components/icons.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2485 i18n(de): translate components/steps
  docs/src/content/docs/de/components/steps.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2463 i18n(de): translate components/link-buttons
  docs/src/content/docs/de/components/link-buttons.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2467 i18n(de): update translation getting-started
  docs/src/content/docs/de/getting-started.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2490 i18n(de): translate resources/showcase
  docs/src/content/docs/de/resources/showcase.mdx
Labels: i18n, 📚 docs

#2489 i18n(de): translate resources/plugins
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#2486 i18n(de): translate components/tabs
  docs/src/content/docs/de/components/tabs.mdx
Labels: i18n, 📚 docs

#2468 i18n(id): Update reference/frontmatter.md translation
  docs/src/content/docs/id/reference/frontmatter.md
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2493 docs: add starlight-site-graph and starlight-theme-obsidian
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2496 i18n(fr): Update `resources/plugins` from #2493
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2500 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2498 i18n(de): update `resources/plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#2476 i18n(de): update translation guides/i18n
  docs/src/content/docs/de/guides/i18n.mdx
Labels: i18n, 📚 docs

#2470 i18n(de): update translation reference/frontmatter
  docs/src/content/docs/de/reference/frontmatter.md
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2458 i18n(de): update translation guides/authoring-content
  docs/src/content/docs/de/guides/authoring-content.md
  docs/src/content/docs/de/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2464 i18n(de): translate reference/plugins
  docs/src/content/docs/de/reference/plugins.md
Labels: i18n, 📚 docs

#2480 i18n(de): update translation reference/overrides
  docs/astro.config.mjs
  docs/src/content/docs/de/reference/icons.mdx
  docs/src/content/docs/de/reference/overrides.md
Labels: i18n, 📚 docs

#2475 i18n(de): update translation guides/customization
  docs/src/content/docs/de/guides/customization.mdx
Labels: i18n, 📚 docs

#2481 i18n(de): translate guides/site-search
  docs/src/content/docs/de/guides/site-search.mdx
Labels: i18n, 📚 docs

#2455 i18n(de): translate components/using-components
  docs/src/content/docs/de/components/using-components.mdx
Labels: i18n, 📚 docs

#2457 i18n(de): translate components/code
  docs/src/content/docs/de/components/code.mdx
Labels: i18n, 📚 docs

#2469 i18n(de): translate guides/pages
  docs/src/content/docs/de/guides/pages.mdx
Labels: i18n, 📚 docs

#2501 i18n(zh-cn): Update `plugins.mdx`
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#2502 i18n(de): update some files for consistency in German language
  docs/src/content/docs/de/components/asides.mdx
  docs/src/content/docs/de/components/badges.mdx
  docs/src/content/docs/de/components/card-grids.mdx
  docs/src/content/docs/de/components/cards.mdx
  docs/src/content/docs/de/components/file-tree.mdx
  docs/src/content/docs/de/components/icons.mdx
  docs/src/content/docs/de/components/link-buttons.mdx
  docs/src/content/docs/de/components/link-cards.mdx
  docs/src/content/docs/de/guides/pages.mdx
  docs/src/content/docs/de/reference/configuration.mdx
  docs/src/content/docs/de/reference/frontmatter.md
Labels: i18n, 📚 docs

#2507 Fixes ToC highlighting after window resize
  .changeset/silent-fireants-retire.md
  packages/starlight/components/TableOfContents/starlight-toc.ts
  packages/starlight/vitest.config.ts
Labels: 🌟 patch, 🌟 core

#2505 docs: i18n improvements
  docs/src/components/icons-list.astro
  docs/src/components/languages-list.astro
  docs/src/content/docs/fr/reference/icons.mdx
  docs/src/content/docs/reference/icons.mdx
Labels: i18n, 📚 docs

#2509 i18n(de): update `index.mdx`
  docs/src/content/docs/de/index.mdx
Labels: i18n, 📚 docs

#2510 i18n(de): update `reference/icons.mdx`
  docs/src/content/docs/de/reference/icons.mdx
Labels: i18n, 📚 docs

#2513 i18n(zh-cn): Update `icons.mdx`
  docs/src/content/docs/zh-cn/reference/icons.mdx
Labels: i18n, 📚 docs

#2512 i18n(ko-KR): update `icons.mdx`
  docs/src/content/docs/ko/reference/icons.mdx
Labels: i18n, 📚 docs

#2516 i18n(ja): Update environmental-impact.md
  docs/src/content/docs/ja/environmental-impact.md
Labels: i18n, 📚 docs

#2417 [docs] add starlight overrides map link
  docs/src/content/docs/guides/overriding-components.mdx
Labels: 📚 docs

#2444 i18n fixes and improvements
  .changeset/cool-walls-draw.md
  .changeset/silly-foxes-kick.md
  docs/src/content/docs/guides/i18n.mdx
  packages/starlight/__tests__/i18n/translations-with-user-config.test.ts
  packages/starlight/__tests__/i18n/translations.test.ts
  packages/starlight/__tests__/plugins/translations.test.ts
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/integrations/asides.ts
  packages/starlight/integrations/expressive-code/translations.ts
  packages/starlight/integrations/shared/localeToLang.ts
  packages/starlight/routes/static/404.astro
  packages/starlight/user-components/Aside.astro
  packages/starlight/user-components/FileTree.astro
  packages/starlight/utils/createTranslationSystem.ts
  packages/starlight/utils/route-data.ts
  packages/starlight/utils/translations.ts
  packages/starlight/vitest.config.ts
Labels: 📚 docs, 🌟 core

#2518 i18n(ja): Update ja.json
  .changeset/eight-monkeys-scream.md
  packages/starlight/translations/ja.json
Labels: 🌟 core

#2517 i18n(ja): Update configuration.mdx
  docs/src/content/docs/ja/reference/configuration.mdx
Labels: i18n, 📚 docs

#2522 i18n(zh-cn): Update `overriding-components.mdx`
  docs/src/content/docs/zh-cn/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#2521 i18n(ko-KR): update `overriding-components.mdx`
  docs/src/content/docs/ko/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#2524 fix: update wrong links
  .changeset/sour-forks-shout.md
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/reference/overrides.md
  packages/starlight/__tests__/i18n-sidebar/sidebar-internal-link-error.test.ts
  packages/starlight/utils/navigation.ts
Labels: 📚 docs, 🌟 core

#2530 i18n(ko-KR): update `overrides.md`
  docs/src/content/docs/ko/reference/overrides.md
Labels: i18n, 📚 docs

#2525 i18n(de): update `overriding-components.mdx`
  docs/src/content/docs/de/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#2529 i18n(de): update `overrides.md`
  docs/src/content/docs/de/reference/overrides.md
Labels: i18n, 📚 docs

#2520 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#2531 i18n(ja): Update manual-setup.mdx
  docs/src/content/docs/ja/manual-setup.mdx
Labels: i18n, 📚 docs

#2539 Add catppuccin-starlight theme
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2540 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2538 i18n(fr): Update `reference/overrides.mdx` from #2524
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#2537 i18n(fr): Update `guides/overriding-components.mdx` from #2417
  docs/src/content/docs/fr/guides/overriding-components.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2536 i18n(fr): Update `guides/i18n.mdx` from #2444 and #2524
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2534 i18n(es): update `icons`
  docs/src/content/docs/es/reference/icons.mdx
Labels: i18n, 📚 docs

#2532 i18n(es): update `i18n`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#2533 i18n(es): update `overriding-components`
  docs/src/content/docs/es/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#2543 i18n(fr): Update `reference/plugins.mdx` from #2539
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs, hacktoberfest-accepted

#2544 i18n(zh-cn): Update `plugins.mdx`
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs
