Repository withastro/starlight, pull requests merged in 2024-02, with the labels that each got.

#1444 i18n(pt-BR): Include 'Resources' translation in `astro.config.mjs`
  docs/astro.config.mjs
Labels: 📚 docs

#1424 i18n(es): Update `components.mdx`
  docs/src/content/docs/es/guides/components.mdx
Labels: i18n, 📚 docs

#1445 i18n(pt-BR): Create `resources/plugins.mdx`
  docs/src/content/docs/pt-br/resources/plugins.mdx
Labels: i18n, 📚 docs

#1446 i18n(pt-BR): Create `resources/community-content.mdx`
  docs/src/content/docs/pt-br/resources/community-content.mdx
Labels: i18n, 📚 docs

#1421 i18n(hi): add `sidebar.mdx`
  docs/src/content/docs/hi/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1459 Fix table of contents highlighting glitch
  .changeset/sharp-cows-buy.md
  packages/starlight/components/TableOfContents/starlight-toc.ts
Labels: 🌟 core

#1449 i18n(it): Translated community-content, plugins and showcase
  docs/src/content/docs/it/resources/community-content.mdx
  docs/src/content/docs/it/resources/plugins.mdx
  docs/src/content/docs/it/resources/showcase.mdx
Labels: i18n, 📚 docs

#1452 i18n(it): Added configuration.mdx
  docs/src/content/docs/it/reference/configuration.mdx
Labels: i18n, 📚 docs

#1450 i18n(it): Added plugins.md
  docs/src/content/docs/it/reference/plugins.md
Labels: i18n, 📚 docs

#1461 i18n(zh-cn): Update toc title
  .changeset/big-pots-destroy.md
  packages/starlight/translations/zh-CN.json
Labels: 🌟 patch, 🌟 core

#1462 Fix overflow of long site titles on narrow viewports
  .changeset/four-fishes-clean.md
  packages/starlight/components/Header.astro
  packages/starlight/components/SiteTitle.astro
Labels: 🌟 patch, 🌟 core

#1463 i18n(it): Updated configuration.mdx
  docs/src/content/docs/it/reference/configuration.mdx
Labels: i18n, 📚 docs

#1451 i18n(it): Added site-search.mdx
  docs/src/content/docs/it/guides/site-search.mdx
Labels: i18n, 📚 docs

#1455 i18n(it): Updated getting-started, index and manual-setup
  docs/src/content/docs/it/getting-started.mdx
  docs/src/content/docs/it/index.mdx
  docs/src/content/docs/it/manual-setup.mdx
Labels: i18n, 📚 docs

#1458 Silence i18n content collection warnings
  .changeset/tricky-moons-admire.md
  examples/basics/src/content/config.ts
  examples/tailwind/src/content/config.ts
  packages/starlight/utils/translations.ts
Labels: 🌟 patch, 🌟 core

#1466 [i18nIgnore] docs: fix `editLink` example
  docs/src/content/docs/de/reference/configuration.mdx
  docs/src/content/docs/es/reference/configuration.mdx
  docs/src/content/docs/fr/reference/configuration.mdx
  docs/src/content/docs/id/reference/configuration.mdx
  docs/src/content/docs/it/reference/configuration.mdx
  docs/src/content/docs/ja/reference/configuration.mdx
  docs/src/content/docs/ko/reference/configuration.mdx
  docs/src/content/docs/pt-br/reference/configuration.mdx
  docs/src/content/docs/reference/configuration.mdx
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#1471 Update `starlight-links-validator` to v0.5.3
  docs/package.json
  pnpm-lock.yaml
Labels: 📚 docs

#1473 Set default color theme in template
  .changeset/famous-ants-sing.md
  packages/starlight/components/Page.astro
Labels: 🌟 core

#1476 i18n(fr): fix frontmatter `label` default value translation
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#1475 Add CodingCat.dev stream video to community content page
  docs/src/content/docs/resources/community-content.mdx
Labels: 📚 docs

#1477 i18n(es): fix syntax highlighting with `diff`-like syntax example
  docs/src/content/docs/es/guides/authoring-content.md
Labels: i18n, 📚 docs

#1457 i18n(it): Modified frontmatter.md and overrides.md
  docs/src/content/docs/it/reference/frontmatter.md
  docs/src/content/docs/it/reference/overrides.md
Labels: i18n, 📚 docs

#1456 i18n(it): Modified everything in the /guides folder
  docs/src/content/docs/it/guides/authoring-content.md
  docs/src/content/docs/it/guides/components.mdx
  docs/src/content/docs/it/guides/css-and-tailwind.mdx
  docs/src/content/docs/it/guides/customization.mdx
  docs/src/content/docs/it/guides/i18n.mdx
  docs/src/content/docs/it/guides/overriding-components.md
  docs/src/content/docs/it/guides/project-structure.mdx
  docs/src/content/docs/it/guides/sidebar.mdx
  docs/src/content/docs/it/reference/configuration.mdx
Labels: i18n, 📚 docs

#1479 i18n(fr): update `resources/community-content`
  docs/src/content/docs/fr/resources/community-content.mdx
Labels: i18n, 📚 docs

#1480 i18n(it): Updated plugins.md and community-content.mdx
  docs/src/content/docs/it/reference/plugins.md
  docs/src/content/docs/it/resources/community-content.mdx
Labels: i18n, 📚 docs

#1408 [docs] community content: article description copy edit
  docs/src/content/docs/resources/community-content.mdx
Labels: 📚 docs

#1454 Make Starlight compatible with server output mode
  .changeset/cool-days-look.md
  .changeset/spicy-moose-approve.md
  docs/src/content/docs/manual-setup.mdx
  packages/starlight/404.astro
  packages/starlight/index.astro
  packages/starlight/index.ts
  packages/starlight/package.json
Labels: 🌟 minor, 📚 docs, 🌟 core

#1483 i18n(ko-KR): update `community-content.mdx`
  docs/src/content/docs/ko/resources/community-content.mdx
Labels: i18n, 📚 docs

#1482 i18n(ko-KR): update `manual-setup.mdx`
  docs/src/content/docs/ko/manual-setup.mdx
Labels: i18n, 📚 docs

#1484 i18n(fr): update `manual-setup`
  docs/src/content/docs/fr/manual-setup.mdx
Labels: i18n, 📚 docs

#1487 Updates Korean UI translations
  .changeset/cold-dryers-occur.md
  packages/starlight/translations/ko.json
Labels: 🌟 patch, 🌟 core

#1492 i18n(es): update `manual-setup`
  docs/src/content/docs/es/manual-setup.mdx
Labels: i18n, 📚 docs

#1493 i18n(es): update `community-content`
  docs/src/content/docs/es/resources/community-content.mdx
Labels: i18n, 📚 docs

#1489 Fix rendering issue for text with unhandled generic Markdown directives
  .changeset/many-knives-type.md
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/integrations/asides.ts
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 core

#1498 docs(showcase): add AstroSnipcart
  docs/src/assets/showcase/astro-snipcart.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1485 feat: Add html attributes to hero action links
  .changeset/eighty-icons-leave.md
  docs/src/content/docs/es/reference/frontmatter.md
  docs/src/content/docs/fr/reference/frontmatter.md
  docs/src/content/docs/it/reference/frontmatter.md
  docs/src/content/docs/ja/reference/frontmatter.md
  docs/src/content/docs/ko/reference/frontmatter.md
  docs/src/content/docs/pt-br/reference/frontmatter.md
  docs/src/content/docs/reference/frontmatter.md
  docs/src/content/docs/zh-cn/reference/frontmatter.md
  packages/starlight/components/CallToAction.astro
  packages/starlight/schemas/hero.ts
Labels: 🌟 minor, i18n, 📚 docs, 🌟 core

#1175 "Virtual" pages prototype
  docs/package.json
  docs/src/content/docs/getting-started.mdx
  docs/src/content/docs/guides/pages.mdx
  examples/basics/package.json
  examples/tailwind/package.json
  package.json
  packages/starlight/__tests__/basics/slugs.test.ts
  packages/starlight/__tests__/basics/starlight-page-route-data-extend.test.ts
  packages/starlight/__tests__/basics/starlight-page-route-data.test.ts
  packages/starlight/__tests__/test-utils.ts
  packages/starlight/components/StarlightPage.astro
  packages/starlight/integrations/virtual-user-config.ts
  packages/starlight/package.json
  packages/starlight/utils/error-map.ts
  packages/starlight/utils/plugins.ts
  packages/starlight/utils/route-data.ts
  packages/starlight/utils/slugs.ts
  packages/starlight/utils/starlight-page.ts
  packages/starlight/virtual.d.ts
  pnpm-lock.yaml
Labels: 🌟 minor, 📚 docs, 🌟 core

#1499 Add `<Aside>` component
  .changeset/tasty-pans-camp.md
  docs/src/content/docs/guides/components.mdx
  packages/starlight/components.ts
  packages/starlight/user-components/Aside.astro
Labels: 🌟 minor, 📚 docs, 🌟 core

#1508 i18n(ja): Update manual-setup.mdx
  docs/src/content/docs/ja/manual-setup.mdx
Labels: i18n, 📚 docs

#1509 i18n(ja): Add Japanese translation for "Resources"
  docs/astro.config.mjs
Labels: 📚 docs

#1505 i18n(fr): Add `guides/pages`
  docs/src/content/docs/fr/guides/pages.mdx
Labels: i18n, 📚 docs

#1521 i18n(ja): Add community-content.mdx
  docs/src/content/docs/ja/resources/community-content.mdx
Labels: i18n, 📚 docs

#1519 i18n(ja): Add plugins.mdx
  docs/src/content/docs/ja/resources/plugins.mdx
Labels: i18n, 📚 docs

#1516 i18n(ja): Add showcase.mdx
  docs/src/content/docs/ja/resources/showcase.mdx
Labels: i18n, 📚 docs

#1512 i18n(ja): Update site-search.mdx
  docs/src/content/docs/ja/guides/site-search.mdx
Labels: i18n, 📚 docs

#1507 i18n(ja): Update getting-started.mdx
  docs/src/content/docs/ja/getting-started.mdx
Labels: i18n, 📚 docs

#1515 i18n(ja): Update configuration.mdx
  docs/src/content/docs/ja/reference/configuration.mdx
Labels: i18n, 📚 docs

#1511 i18n(ja): Update sidebar.mdx
  docs/src/content/docs/ja/guides/sidebar.mdx
Labels: i18n, 📚 docs

#1514 i18n(ja): Update components.mdx
  docs/src/content/docs/ja/guides/components.mdx
Labels: i18n, 📚 docs

#1506 i18n(fr): Update `guides/components` and `getting-started`
  docs/src/content/docs/fr/getting-started.mdx
  docs/src/content/docs/fr/guides/authoring-content.md
  docs/src/content/docs/fr/guides/components.mdx
Labels: i18n, 📚 docs

#1524 i18n(ja): Add pages.mdx
  docs/src/content/docs/ja/guides/pages.mdx
Labels: i18n, 📚 docs

#1523 i18n(zh-cn): Translate pages.mdx
  docs/src/content/docs/zh-cn/guides/pages.mdx
Labels: i18n, 📚 docs

#1510 i18n(zh-cn): Update getting-started.mdx
  docs/src/content/docs/zh-cn/getting-started.mdx
Labels: i18n, 📚 docs

#1513 i18n(zh-cn): Update components.mdx
  docs/src/content/docs/zh-cn/guides/components.mdx
Labels: i18n, 📚 docs

#1529 Add Astro-GhostCMS to showcase
  docs/src/assets/showcase/astro-ghostcms.xyz.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1520 i18n(zh-cn): Update community-content.mdx
  docs/src/content/docs/zh-cn/resources/community-content.mdx
Labels: i18n, 📚 docs

#1522 i18n(zh-cn): Update manual-setup.mdx
  docs/src/content/docs/zh-cn/manual-setup.mdx
Labels: i18n, 📚 docs

#1526 i18n(ja): Update customization.mdx
  docs/src/content/docs/ja/guides/customization.mdx
Labels: i18n, 📚 docs

#1518 i18n(it): Updated getting-started.mdx, components.mdx, i18n.mdx & manual-setup.mdx and added pages.mdx
  docs/src/content/docs/it/getting-started.mdx
  docs/src/content/docs/it/guides/components.mdx
  docs/src/content/docs/it/guides/i18n.mdx
  docs/src/content/docs/it/guides/pages.mdx
  docs/src/content/docs/it/manual-setup.mdx
Labels: i18n, 📚 docs

#1528 docs: Add more plugins & tools
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#1536 Add new starlight-ghostcms to Community plugins list
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#1527 Export `StarlightPageProps` type
  .changeset/silver-crabs-yawn.md
  packages/starlight/props.ts
Labels: 🌟 patch, 🌟 core

#1504 i18n(zh-tw): add Traditional Chinese UI translations
  .changeset/spicy-tigers-fix.md
  packages/starlight/translations/index.ts
  packages/starlight/translations/zh-TW.json
Labels: 🌟 patch, 🌟 core

#1534 Improve DX for `sidebar` prop in `<StarlightPage>` and document it
  .changeset/wise-kiwis-sneeze.md
  docs/src/content/docs/guides/pages.mdx
  packages/starlight/__tests__/basics/starlight-page-route-data.test.ts
  packages/starlight/utils/starlight-page.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#1544 Update Vietnamese UI translations
  .changeset/spotty-hairs-care.md
  packages/starlight/translations/vi.json
Labels: 🌟 patch, 🌟 core

#1538 i18n(hi): add `customization.mdx`
  docs/src/content/docs/hi/guides/customization.mdx
Labels: i18n, 📚 docs

#1537 i18n(es): add "pages" page
  docs/src/content/docs/es/guides/pages.mdx
Labels: i18n, 📚 docs

#1531 i18n(es): Update getting-started.mdx
  docs/src/content/docs/es/getting-started.mdx
Labels: i18n, 📚 docs

#1539 i18n(hi): update outdated pages
  docs/src/content/docs/hi/getting-started.mdx
  docs/src/content/docs/hi/guides/components.mdx
  docs/src/content/docs/hi/guides/site-search.mdx
  docs/src/content/docs/hi/manual-setup.mdx
Labels: i18n, 📚 docs

#1545 i18n(fr): Update pages.mdx and plugins.mdx
  docs/src/content/docs/fr/guides/pages.mdx
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#1548 i18n(es): update `plugins`
  docs/src/content/docs/es/resources/plugins.mdx
Labels: i18n, 📚 docs

#1551 i18n(ja): Update pages.mdx
  docs/src/content/docs/ja/guides/pages.mdx
Labels: i18n, 📚 docs

#1541 Update `astro-expressive-code` dependency to `^0.33.2`
  .changeset/tricky-berries-retire.md
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 core

#1542 Improve Zod errors
  .changeset/itchy-dots-act.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/__tests__/basics/starlight-page-route-data-extend.test.ts
  packages/starlight/__tests__/basics/starlight-page-route-data.test.ts
  packages/starlight/__tests__/snapshot-serializer-astro-error.ts
  packages/starlight/__tests__/test-config.ts
  packages/starlight/package.json
  packages/starlight/utils/error-map.ts
  packages/starlight/utils/plugins.ts
  packages/starlight/utils/starlight-page.ts
  packages/tailwind/package.json
  pnpm-lock.yaml
Labels: 🌟 core, 🌟 tailwind

#1553 Update lockfile & patch version of EC to latest
  .changeset/heavy-carrots-destroy.md
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 core

#1558 docs: add oneRepo to showcase
  docs/src/assets/showcase/onerepo.tools.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1566 i18n(zh-cn): Update plugins.mdx
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#1561 i18n(pt-PT): add "environmental-impact" page
  docs/astro.config.mjs
  docs/src/content/docs/pt-pt/environmental-impact.md
Labels: i18n, 📚 docs

#1567 i18n(it): Update pages.mdx & plugins.mdx
  docs/src/content/docs/it/guides/pages.mdx
  docs/src/content/docs/it/resources/plugins.mdx
Labels: i18n, 📚 docs

#1569 Updates internal github actions to the latest versions
  .github/workflows/ci.yml
  .github/workflows/format.yml
  .github/workflows/release.yml
  .github/workflows/size-limit.yml
  .github/workflows/welcome-bot.yml
Labels: 🚨 action

#1565 i18n(zh-cn): Update pages.mdx
  docs/src/content/docs/zh-cn/guides/pages.mdx
Labels: i18n, 📚 docs
