Repository withastro/starlight, pull requests merged in 2024-03, with the labels that each got.

#1570 i18n(pt-PT): add "manual-setup" page
  docs/astro.config.mjs
  docs/src/content/docs/pt-pt/getting-started.mdx
  docs/src/content/docs/pt-pt/manual-setup.mdx
Labels: i18n, 📚 docs

#1547 i18n(es): update `components`
  docs/src/content/docs/es/guides/components.mdx
Labels: i18n, 📚 docs

#1571 docs: add Flojoy to showcase
  docs/src/assets/showcase/docs.flojoy.ai.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1568 Add icon support to the `<TabItem>` component
  .changeset/curly-taxis-destroy.md
  docs/src/content/docs/guides/components.mdx
  packages/starlight/__tests__/remark-rehype/rehype-tabs.test.ts
  packages/starlight/user-components/TabItem.astro
  packages/starlight/user-components/Tabs.astro
  packages/starlight/user-components/rehype-tabs.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#1308 Add `<FileTree>` component
  .changeset/config.json
  .changeset/hot-paws-work.md
  .changeset/mighty-adults-help.md
  .changeset/smart-planets-flow.md
  docs/src/components/icons-list.astro
  docs/src/content/docs/guides/components.mdx
  docs/src/content/docs/guides/i18n.mdx
  packages/file-icons-generator/config.ts
  packages/file-icons-generator/index.ts
  packages/file-icons-generator/package.json
  packages/file-icons-generator/utils/file.ts
  packages/file-icons-generator/utils/font.ts
  packages/file-icons-generator/utils/seti.ts
  packages/starlight/__tests__/remark-rehype/rehype-file-tree.test.ts
  packages/starlight/__tests__/remark-rehype/snapshots/file-tree-basic.html
  packages/starlight/__tests__/remark-rehype/snapshots/file-tree-comment-nodes.html
  packages/starlight/__tests__/remark-rehype/snapshots/file-tree-comment-text.html
  packages/starlight/components.ts
  packages/starlight/components/Icons.ts
  packages/starlight/package.json
  packages/starlight/schemas/i18n.ts
  packages/starlight/translations/ar.json
  packages/starlight/translations/cs.json
  packages/starlight/translations/da.json
  packages/starlight/translations/de.json
  packages/starlight/translations/en.json
  packages/starlight/translations/es.json
  packages/starlight/translations/fa.json
  packages/starlight/translations/fr.json
  packages/starlight/translations/gl.json
  packages/starlight/translations/he.json
  packages/starlight/translations/hi.json
  packages/starlight/translations/id.json
  packages/starlight/translations/it.json
  packages/starlight/translations/ja.json
  packages/starlight/translations/ko.json
  packages/starlight/translations/nb.json
  packages/starlight/translations/nl.json
  packages/starlight/translations/pt.json
  packages/starlight/translations/ro.json
  packages/starlight/translations/ru.json
  packages/starlight/translations/sv.json
  packages/starlight/translations/tr.json
  packages/starlight/translations/uk.json
  packages/starlight/translations/vi.json
  packages/starlight/translations/zh-CN.json
  packages/starlight/translations/zh-TW.json
  packages/starlight/user-components/FileTree.astro
  packages/starlight/user-components/file-tree-icons.ts
  packages/starlight/user-components/rehype-file-tree.ts
  pnpm-lock.yaml
Labels: 🌟 minor, 📚 docs, 🌟 core

#1564 Add `<Steps>` component
  .changeset/sharp-cars-play.md
  docs/.pa11yci
  docs/src/content/docs/guides/components.mdx
  packages/starlight/__tests__/remark-rehype/rehype-steps.test.ts
  packages/starlight/components.ts
  packages/starlight/user-components/Steps.astro
  packages/starlight/user-components/rehype-steps.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#1576 i18n(ja): Update i18n.mdx
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, 📚 docs

#1582 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#1578 i18n(ko-KR): update `getting-started.mdx`
  docs/src/content/docs/ko/getting-started.mdx
Labels: i18n, 📚 docs

#1581 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#1577 Translate `fileTree.directory` into Japanese
  .changeset/proud-turtles-relate.md
  packages/starlight/translations/ja.json
Labels: 🌟 patch, 🌟 core

#1579 i18n(ko-KR): update `components.mdx`
  docs/src/content/docs/ko/guides/components.mdx
Labels: i18n, 📚 docs

#1585 i18n(fr): translate `fileTree.directory` UI string
  .changeset/slow-jeans-destroy.md
  packages/starlight/translations/fr.json
Labels: 🌟 core

#1580 i18n(ja): Update components.mdx
  docs/src/content/docs/ja/guides/components.mdx
Labels: i18n, 📚 docs

#1583 i18n(ko-KR): add `pages.mdx`
  docs/src/content/docs/ko/guides/pages.mdx
Labels: i18n, 📚 docs

#1575 i18n(fr): Update `components.mdx` and `guides/i18n.mdx`
  docs/src/content/docs/fr/guides/components.mdx
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs

#1593 Translates `fileTree.directory` UI string into simplified Chinese.
  .changeset/rare-eggs-study.md
  packages/starlight/translations/zh-CN.json
Labels: 🌟 core

#1587 Add `homebrew` icon
  .changeset/small-cups-grow.md
  packages/starlight/components/Icons.ts
Labels: 🌟 patch, 🌟 core

#1584 Add `apple` & `linux` icons
  .changeset/lucky-zebras-judge.md
  packages/starlight/components/Icons.ts
Labels: 🌟 patch, 🌟 core

#1592 i18n(zh-cn): Update i18n.mdx
  docs/src/content/docs/zh-cn/guides/i18n.mdx
Labels: i18n, 📚 docs

#1602 i18n(it): Update `guides/i18n.mdx`
  docs/src/content/docs/it/guides/i18n.mdx
Labels: i18n, 📚 docs

#1598 i18n(pt-BR): update `manual-setup.mdx`
  docs/src/content/docs/pt-br/manual-setup.mdx
Labels: i18n, 📚 docs

#1600 docs: add AstroNvim to showcase
  docs/src/assets/showcase/docs.astronvim.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1589 i18n(es): update `i18n`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#1601 i18n(it): Update `guides/components.mdx`
  docs/src/content/docs/it/guides/components.mdx
Labels: i18n, 📚 docs

#1591 i18n(zh-CN): update `components`
  docs/src/content/docs/zh-cn/guides/components.mdx
Labels: i18n, 📚 docs

#1572 Add ScreenshotOne.com as a showcase of using Starlight
  docs/src/assets/showcase/screenshotone.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1590 i18n(es): update `components`
  docs/src/content/docs/es/guides/components.mdx
Labels: i18n, 📚 docs

#1618 Update showcase-sites.astro
  docs/src/assets/showcase/api.dipsway.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1605 i18n(pt-br): Updating the translation of plugins file
  docs/src/content/docs/pt-br/resources/plugins.mdx
Labels: i18n, 📚 docs

#1621 i18n(zh-cn): fix typo in customization.mdx
  docs/src/content/docs/zh-cn/guides/customization.mdx
Labels: i18n, 📚 docs

#1603 i18n(pt-br): translating guides/pages file
  docs/src/content/docs/pt-br/guides/pages.mdx
Labels: i18n, 📚 docs

#1617 Add runs-on.com to showcase-sites.astro
  docs/src/assets/showcase/runs-on.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1623 docs: add `starlight-image-zoom` to the plugin showcase
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#1597 docs: autogenerate default UI strings list
  docs/src/components/ui-strings-list.astro
  docs/src/content/docs/guides/i18n.mdx
Labels: 📚 docs

#1608 Remove nested CSS from `<FileTree>` component
  .changeset/new-hotels-begin.md
  packages/starlight/user-components/FileTree.astro
Labels: 🌟 core

#1626 Fix Starlight component imports with EC disabled
  .changeset/rare-timers-judge.md
  packages/starlight/integrations/expressive-code/index.ts
Labels: 🌟 patch, 🌟 core

#1631 i18n(it): Update `resources/plugins.mdx`
  docs/src/content/docs/it/resources/plugins.mdx
Labels: i18n, 📚 docs

#1632 i18n(it): Update `guides/i18n.mdx`
  docs/src/content/docs/it/guides/i18n.mdx
Labels: i18n, 📚 docs

#1635 i18n(es): update `i18n.mdx`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#1634 i18n(zh-cn): Update i18n.mdx & plugins.mdx
  docs/src/content/docs/zh-cn/guides/i18n.mdx
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#1636 i18n(es): update `plugins.mdx`
  docs/src/content/docs/es/resources/plugins.mdx
Labels: i18n, 📚 docs

#1638 i18n(ja): Update resources/plugins.mdx
  docs/src/content/docs/ja/resources/plugins.mdx
Labels: i18n, 📚 docs

#1639 i18n(ja): Update i18n.mdx
  docs/src/content/docs/ja/guides/i18n.mdx
Labels: i18n, 📚 docs

#1596 Add support for toggling the built-in search modal using `Ctrl+k`
  .changeset/happy-eggs-switch.md
  packages/starlight/components/Search.astro
Labels: 🌟 patch, 🌟 core

#1628 add nix icon
  .changeset/angry-islands-sort.md
  packages/starlight/components/Icons.ts
Labels: 🌟 patch, 🌟 core

#1614 Add Polish UI translations
  .changeset/cold-flowers-hunt.md
  packages/starlight/schemas/i18n.ts
  packages/starlight/translations/index.ts
  packages/starlight/translations/pl.json
Labels: 🌟 patch, 🌟 core

#1637 docs: Use awesome `Steps` component
  docs/src/content/docs/guides/css-and-tailwind.mdx
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/guides/overriding-components.mdx
  docs/src/content/docs/guides/site-search.mdx
Labels: 📚 docs

#1647 docs: fix prettier formatting
  docs/src/content/docs/guides/css-and-tailwind.mdx
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/guides/overriding-components.mdx
  docs/src/content/docs/guides/site-search.mdx
Labels: 📚 docs

#1625 i18n(es): Update `plugins.mdx`
  docs/src/content/docs/es/resources/plugins.mdx
Labels: i18n, 📚 docs

#1662 i18n(zh-cn): Update `f rontmatter.md` translation
  docs/src/content/docs/zh-cn/reference/frontmatter.md
Labels: i18n, 📚 docs

#1663 i18n(zh-cn): Update overriding-components.mdx.
  docs/src/content/docs/zh-cn/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#1664 i18n(zh-cn): Update `site-search.mdx` translation
  docs/src/content/docs/zh-cn/guides/site-search.mdx
Labels: i18n, 📚 docs

#1665 i18n(zh-cn): Update css-and-tailwind.mdx
  docs/src/content/docs/zh-cn/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1648 i18n(fr): Update `css-and-tailwind`
  docs/src/content/docs/fr/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1653 i18n(fr): Update `guides/site-search.mdx` with <Steps>
  docs/src/content/docs/fr/guides/site-search.mdx
Labels: i18n, 📚 docs

#1660 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#1661 i18n(ko-KR): update `overriding-components.mdx`
  docs/src/content/docs/ko/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#1659 i18n(ko-KR): update `site-search.mdx`
  docs/src/content/docs/ko/guides/site-search.mdx
Labels: i18n, 📚 docs

#1658 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#1657 i18n(ko-KR): update `customization.mdx`
  docs/src/content/docs/ko/guides/customization.mdx
Labels: i18n, 📚 docs

#1656 i18n(ko-KR): update `css-and-tailwind.mdx`
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1646 i18n(it): Update overriding-components.mdx
  docs/src/content/docs/it/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#1655 i18n(fr): Update `guides/overriding-components.mdx` in MDX format and with <Steps>
  docs/src/content/docs/fr/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#1644 i18n(it): Update site-search.mdx
  docs/src/content/docs/it/guides/site-search.mdx
Labels: i18n, 📚 docs

#1667 i18n(es): update `i18n`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#1645 i18n(it): Update i18n.mdx
  docs/src/content/docs/it/guides/i18n.mdx
Labels: i18n, 📚 docs

#1668 i18n(es): updates `customization`
  docs/src/content/docs/es/guides/customization.mdx
Labels: i18n, 📚 docs

#1669 i18n(es): update `css-and-tailwind`
  docs/src/content/docs/es/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1650 i18n(fr): Update `guides/customization.mdx` with <Steps>
  docs/src/content/docs/fr/guides/customization.mdx
Labels: i18n, 📚 docs

#1642 i18n(it): Update customization.mdx
  docs/src/content/docs/it/guides/customization.mdx
Labels: i18n, 📚 docs

#1643 i18n(it): Update css-and-tailwind.mdx
  docs/src/content/docs/it/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1671 i18(zh-cn): Update customization.mdx
  docs/src/content/docs/zh-cn/guides/customization.mdx
Labels: i18n, 📚 docs

#1672 i18(zh-cn): Update i18n.mdx
  docs/src/content/docs/zh-cn/guides/i18n.mdx
Labels: i18n, 📚 docs

#1666 i18n(es): update `site-search`
  docs/src/content/docs/es/guides/site-search.mdx
Labels: i18n, 📚 docs

#1680 i18n(tr): update `index.mdx` file
  docs/src/content/docs/tr/index.mdx
Labels: i18n, 📚 docs

#1627 Fix astro.config.mjs example syntax
  docs/src/content/docs/reference/configuration.mdx
Labels: 📚 docs

#1686 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#1685 i18n(fr): Update `reference/configuration` from 41c079f
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#1606 docs: add showcase section to the contributing guide
  CONTRIBUTING.md
  docs/src/content/docs/resources/showcase.mdx
Labels: 📚 docs

#1687 i18n(zh-tw): translate `fileTree.directory` UI string into Traditional Chinese
  .changeset/slimy-deers-draw.md
  packages/starlight/translations/zh-TW.json
Labels: 🌟 core

#1690 i18n(ko-KR): update `showcase.mdx`
  docs/src/content/docs/ko/resources/showcase.mdx
Labels: i18n, 📚 docs

#1691 i18n(zh-cn): Update configuration.mdx
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#1689 i18n(zh-cn): Update `showcase.mdx`
  docs/src/content/docs/zh-cn/resources/showcase.mdx
Labels: i18n, 📚 docs
