Repository withastro/starlight, pull requests merged in 2024-05, with the labels that each got.

#1804 i18n(ko-KR): update `getting-started.mdx`
  docs/src/content/docs/ko/getting-started.mdx
Labels: i18n, 📚 docs

#1806 i18n(ko-KR): update `css-and-tailwind.mdx`
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1807 i18n(ko-KR): update `customization.mdx`
  docs/src/content/docs/ko/guides/customization.mdx
Labels: i18n, 📚 docs

#1805 i18n(ko-KR): update `components.mdx`
  docs/src/content/docs/ko/guides/components.mdx
Labels: i18n, 📚 docs

#1810 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#1809 i18n(ko-KR): update `pages.mdx`, `frontmatter.md`, `overrides.md`
  docs/src/content/docs/ko/guides/pages.mdx
  docs/src/content/docs/ko/reference/frontmatter.md
  docs/src/content/docs/ko/reference/overrides.md
Labels: i18n, 📚 docs

#1808 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#1792 i18n(tr): update `getting-started.mdx` file
  docs/src/content/docs/tr/getting-started.mdx
Labels: i18n, 📚 docs

#1813 i18n(pt-BR): Update `getting-started.mdx`
  docs/src/content/docs/pt-br/getting-started.mdx
Labels: i18n, 📚 docs

#1797 i18n(fr): update `guides/components` and add `syncKey` to various pages
  docs/src/content/docs/fr/getting-started.mdx
  docs/src/content/docs/fr/guides/components.mdx
  docs/src/content/docs/fr/guides/css-and-tailwind.mdx
  docs/src/content/docs/fr/guides/customization.mdx
Labels: i18n, 📚 docs

#1799 i18n(fr): update `guides/i18n.mdx`
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs

#1801 i18n(fr): update `reference/configuration.mdx`
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#1803 i18n(fr): update `reference/overrides.md`
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#1800 i18n(fr): update `guides/pages.mdx`
  docs/src/content/docs/fr/guides/pages.mdx
Labels: i18n, 📚 docs

#1819 i18n(es): update `frontmatter`
  docs/src/content/docs/es/reference/frontmatter.md
Labels: i18n, 📚 docs

#1821 i18n(es): update `configuration`
  docs/src/content/docs/es/reference/configuration.mdx
Labels: i18n, 📚 docs

#1824 i18n(es): update `community-content`
  docs/src/content/docs/es/resources/community-content.mdx
Labels: i18n, 📚 docs

#1818 i18n(es): update `guides/components` and add `syncKey` to various pages
  docs/src/content/docs/es/getting-started.mdx
  docs/src/content/docs/es/guides/components.mdx
  docs/src/content/docs/es/guides/css-and-tailwind.mdx
  docs/src/content/docs/es/guides/customization.mdx
Labels: i18n, 📚 docs

#1820 i18n(es): updates `overrides`
  docs/src/content/docs/es/reference/overrides.md
Labels: i18n, 📚 docs

#1822 i18n(es): update `i18n`
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#1823 i18n(es): updates `pages`
  docs/src/content/docs/es/guides/pages.mdx
Labels: i18n, 📚 docs

#1817 i18n(pt-BR): Update `css-and-tailwind.mdx`
  docs/src/content/docs/pt-br/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1825 i18n(ru): update translations
  docs/src/content/docs/ru/getting-started.mdx
  docs/src/content/docs/ru/guides/components.mdx
  docs/src/content/docs/ru/guides/css-and-tailwind.mdx
  docs/src/content/docs/ru/guides/customization.mdx
  docs/src/content/docs/ru/guides/i18n.mdx
  docs/src/content/docs/ru/guides/pages.mdx
  docs/src/content/docs/ru/reference/configuration.mdx
  docs/src/content/docs/ru/reference/frontmatter.md
  docs/src/content/docs/ru/reference/overrides.md
  docs/src/content/docs/ru/resources/community-content.mdx
Labels: i18n, 📚 docs

#1827 Add type checking job to the CI workflow
  .github/workflows/ci.yml
  package.json
  packages/starlight/__tests__/basics/route-data.test.ts
  packages/starlight/__tests__/basics/starlight-page-route-data-extend.test.ts
  packages/starlight/__tests__/edit-url/edit-url.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/routing.test.ts
  packages/starlight/utils/createPathFormatter.ts
  packages/starlight/utils/user-config.ts
  packages/tailwind/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.typecheck.json
Labels: 🚨 action, 🌟 core, 🌟 tailwind

#1811 Fix `<Tabs>` sync issue with inconsistent use of `icon` on `<TabItem>` components
  .changeset/blue-otters-shave.md
  packages/starlight/__e2e__/fixtures/basics/src/content/docs/tabs.mdx
  packages/starlight/__e2e__/tabs.test.ts
  packages/starlight/user-components/Tabs.astro
Labels: 🌟 patch, 🌟 core

#1826 i18n(ru): update ru.json
  .changeset/late-tools-kiss.md
  packages/starlight/translations/ru.json
Labels: 🌟 core

#1831 Improve type checking job
  .gitignore
  package.json
  packages/starlight/404.astro
  packages/starlight/components/CallToAction.astro
  packages/starlight/integrations/expressive-code/index.ts
  packages/tailwind/__tests__/tailwind.test.ts
  pnpm-lock.yaml
  tsconfig.typecheck.json
Labels: 🌟 core, 🌟 tailwind

#1833 i18n(zh-cn): Update community-content.mdx
  docs/src/content/docs/zh-cn/resources/community-content.mdx
Labels: i18n, 📚 docs

#1838 Add more diagnostic help to error messages thrown by `<Steps>`
  .changeset/breezy-cats-taste.md
  packages/starlight/__tests__/remark-rehype/rehype-steps.test.ts
  packages/starlight/package.json
  packages/starlight/user-components/rehype-steps.ts
  pnpm-lock.yaml
Labels: 🌟 patch, 🌟 core

#1835 i18n(zh-cn): Update some docs about #1620 & #1613
  docs/src/content/docs/zh-cn/guides/i18n.mdx
  docs/src/content/docs/zh-cn/guides/pages.mdx
  docs/src/content/docs/zh-cn/reference/configuration.mdx
  docs/src/content/docs/zh-cn/reference/frontmatter.md
  docs/src/content/docs/zh-cn/reference/overrides.md
Labels: i18n, 📚 docs

#1834 i18n(zh-cn): Update docs about synced-tabs
  docs/src/content/docs/zh-cn/getting-started.mdx
  docs/src/content/docs/zh-cn/guides/css-and-tailwind.mdx
  docs/src/content/docs/zh-cn/guides/customization.mdx
Labels: i18n, 📚 docs

#1852 i18n(zh-cn): Update `components.mdx` translation
  docs/src/content/docs/zh-cn/guides/components.mdx
Labels: i18n, 📚 docs

#1842 Move site title `href` to route data for easier overrides
  .changeset/polite-cheetahs-help.md
  docs/src/content/docs/reference/overrides.md
  packages/starlight/components/SiteTitle.astro
  packages/starlight/utils/route-data.ts
  packages/starlight/utils/starlight-page.ts
Labels: 📚 docs, 🌟 core

#1863 Update Vietnamese translation
  .changeset/brown-crews-argue.md
  packages/starlight/translations/vi.json
Labels: 🌟 core

#1840 Add HackerOne Icon
  .changeset/wicked-colts-tickle.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#1837 Add comment and heart icons
  .changeset/cyan-lions-deny.md
  packages/starlight/components/Icons.ts
Labels: 🌟 core

#1864 i18n(zh-cn): Update `overrides.md`
  docs/src/content/docs/zh-cn/reference/overrides.md
Labels: i18n, 📚 docs

#1862 docs: improve `<Icon>` documentation for CSS attributes
  docs/src/content/docs/guides/components.mdx
Labels: 📚 docs

#1867 i18n(fr): update `guides/components.mdx`
  docs/src/content/docs/fr/guides/components.mdx
Labels: i18n, 📚 docs

#1866 add new video to docs community content
  docs/src/content/docs/resources/community-content.mdx
Labels: 📚 docs

#1868 i18n(fr): update `reference/overrides`
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#1857 i18n(tr): update ui translations
  .changeset/late-knives-carry.md
  packages/starlight/translations/tr.json
Labels: 🌟 core

#1870 i18n(fr): update `resources/community-content`
  docs/src/content/docs/fr/resources/community-content.mdx
Labels: i18n, 📚 docs

#1861 Update Vitest to `1.6.0`
  packages/starlight/.gitignore
  packages/starlight/__tests__/i18n-non-root-single-locale/config.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/routing.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/slugs.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/translations-with-user-config.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/vitest.config.ts
  packages/starlight/package.json
  packages/tailwind/package.json
  pnpm-lock.yaml
Labels: 🌟 core, 🌟 tailwind

#1875 i18n(zh-cn): Update `compontents.mdx`
  docs/src/content/docs/zh-cn/guides/components.mdx
Labels: i18n, 📚 docs

#1876 i18n(zh-cn): Update `community-content.mdx`
  docs/src/content/docs/zh-cn/resources/community-content.mdx
Labels: i18n, 📚 docs

#1877 i18n(ko-KR): update `components.mdx`
  docs/src/content/docs/ko/guides/components.mdx
Labels: i18n, 📚 docs

#1878 i18n(ko-KR): update `overrides.md`
  docs/src/content/docs/ko/reference/overrides.md
Labels: i18n, 📚 docs

#1879 i18n(ko-KR): update `community-content.mdx`
  docs/src/content/docs/ko/resources/community-content.mdx
Labels: i18n, 📚 docs

#1736 fix: prevent list items from overflowing Markdown content
  .changeset/tough-glasses-tan.md
  packages/starlight/style/markdown.css
  packages/starlight/user-components/Tabs.astro
Labels: 🌟 patch, 🌟 core

#1873 Add Alpine icon
  .changeset/brown-cameras-sneeze.md
  packages/starlight/components/Icons.ts
Labels: 🌟 patch, 🌟 core

#1871 Add BlueSky social icon
  .changeset/big-baboons-poke.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#1846 Update @astrojs/mdx to v3
  .changeset/perfect-chicken-dream.md
  .changeset/stale-badgers-fetch.md
  docs/package.json
  examples/basics/package.json
  examples/tailwind/package.json
  package.json
  packages/starlight/__e2e__/fixtures/basics/package.json
  packages/starlight/index.ts
  packages/starlight/package.json
  packages/starlight/utils/translations.ts
  pnpm-lock.yaml
Labels: 🌟 minor, 📚 docs, 🌟 core

#1735 Adds custom styles for `<details>` and `<summary>` elements in Markdown content
  .changeset/proud-walls-thank.md
  docs/src/content/docs/guides/authoring-content.md
  package.json
  packages/starlight/style/asides.css
  packages/starlight/style/markdown.css
Labels: 🌟 minor, 📚 docs, 🌟 core

#1893 i18n(tr): add css-and-tailwind
  docs/src/content/docs/tr/environmental-impact.md
  docs/src/content/docs/tr/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1889 i18n(tr): update `components.md` file
  docs/src/content/docs/tr/guides/components.mdx
Labels: i18n, 📚 docs

#1892 Micro-optimization: clean up `<details>` CSS
  .changeset/silly-tools-drop.md
  packages/starlight/style/markdown.css
Labels: 🌟 patch, 🌟 core

#1887 i18n(tr): update `authoring-content.md`
  docs/src/content/docs/tr/guides/authoring-content.md
Labels: i18n, 📚 docs

#1901 i18n(zh-cn): Update `authoring-content.md`
  docs/src/content/docs/zh-cn/guides/authoring-content.md
Labels: i18n, 📚 docs

#1896 i18n(tr): add `showcase.mdx`
  docs/src/content/docs/tr/resources/showcase.mdx
Labels: i18n, 📚 docs

#1903 i18n(fr): update `guides/authoring-content`
  docs/src/content/docs/fr/guides/authoring-content.md
Labels: i18n, 📚 docs

#1898 i18n(tr): add `community-content.mdx`
  docs/src/content/docs/tr/resources/community-content.mdx
Labels: i18n, 📚 docs

#1902 Add kinde to showcase
  docs/src/assets/showcase/kinde.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1900 Add `starlight-multi-sidebar` to `plugins.mdx`
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#1895 i18n(tr): add `customization.mdx`
  docs/src/content/docs/tr/guides/customization.mdx
Labels: i18n, 📚 docs

#1899 i18n(ko-KR): update `authoring-content.md`
  docs/src/content/docs/ko/guides/authoring-content.md
Labels: i18n, 📚 docs

#1908 i18n(zh-cn): Update `plugins.mdx`
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#1906 Fix Tailwind `font-family` reset when using Starlight plugin
  .changeset/fresh-plums-bow.md
  packages/tailwind/__tests__/tailwind.test.ts
  packages/tailwind/index.ts
Labels: 🌟 tailwind

#1907 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#1918 i18n(zh-cn): Update `community-content.mdx`
  docs/src/content/docs/zh-cn/resources/community-content.mdx
Labels: i18n, 📚 docs

#1917 i18n(ko-KR): update `community-content.mdx`
  docs/src/content/docs/ko/resources/community-content.mdx
Labels: i18n, 📚 docs

#1919 i18n(ru): update `authoring-content.md`
  docs/src/content/docs/ru/guides/authoring-content.md
Labels: i18n, 📚 docs

#1920 i18n(ru): update `components.mdx`
  docs/src/content/docs/ru/guides/components.mdx
Labels: i18n, 📚 docs

#1921 i18n(ru): update `overrides.md`
  docs/src/content/docs/ru/reference/overrides.md
Labels: i18n, 📚 docs

#1922 i18n(ru): update `community-content.mdx` and `resources.mdx`
  docs/src/content/docs/ru/resources/community-content.mdx
  docs/src/content/docs/ru/resources/plugins.mdx
Labels: i18n, 📚 docs

#1924 i18n(hi): update `getting-started.mdx`
  docs/src/content/docs/hi/getting-started.mdx
Labels: i18n, 📚 docs

#1925 i18n(hi): update components.mdx
  docs/src/content/docs/hi/guides/components.mdx
Labels: i18n, 📚 docs

#1926 i18n(hi): update `css-and-tailwind.mdx`
  docs/src/content/docs/hi/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#1927 i18n(hi): Update `customization.mdx`
  docs/src/content/docs/hi/guides/customization.mdx
Labels: i18n, 📚 docs

#1928 i18n(hi): update `i18n.mdx`
  docs/src/content/docs/hi/guides/i18n.mdx
Labels: i18n, 📚 docs

#1913 Use `directory`-style path formatting with `build.format: 'preserve'`
  .changeset/curvy-pots-ring.md
  packages/starlight/utils/createPathFormatter.ts
Labels: 🌟 patch, 🌟 core

#1930 add dmno.dev to showcase
  docs/src/assets/showcase/dmno.dev.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#1932 i18n(fr): Update `resources/plugins.mdx` from #1900
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#1934 Update `starlight-multi-sidebar` > `starlight-utils`
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#1933 i18n(fr): Update `resources/community-content.mdx` from #1914
  docs/src/content/docs/fr/resources/community-content.mdx
Labels: i18n, 📚 docs

#1935 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#1936 i18n(zh-cn): Update `plugins.mdx`
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#1937 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#1940 docs: add `starlight-package-managers` & `starlight-showcases` to the community resources
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#1942 i18n(zh-cn): Update `plugins.mdx`
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs
