Repository withastro/starlight, pull requests merged in 2025-08, with the labels that each got.

#3356 i18n(ru): update translations
  docs/src/content/docs/ru/components/asides.mdx
  docs/src/content/docs/ru/guides/authoring-content.mdx
  docs/src/content/docs/ru/guides/i18n.mdx
  docs/src/content/docs/ru/guides/sidebar.mdx
  docs/src/content/docs/ru/manual-setup.mdx
  docs/src/content/docs/ru/reference/configuration.mdx
  docs/src/content/docs/ru/reference/frontmatter.md
  docs/src/content/docs/ru/resources/community-content.mdx
  docs/src/content/docs/ru/resources/plugins.mdx
  docs/src/content/docs/ru/resources/themes.mdx
Labels: i18n, 📚 docs

#3362 i18n(ko-KR): update `community-content.mdx`
  docs/src/content/docs/ko/resources/community-content.mdx
Labels: i18n, 📚 docs

#3366 i18n(de): update `community-content.mdx`
  docs/src/content/docs/de/resources/community-content.mdx
Labels: i18n, 📚 docs

#3370 i18n(fr): update `environmental-impact.md`
  docs/src/content/docs/fr/environmental-impact.md
Labels: i18n, 📚 docs

#3371 i18n(fr): update `resources/community-content.mdx`
  docs/src/content/docs/fr/resources/community-content.mdx
Labels: i18n, 📚 docs

#3367 i18n(de): update `plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#3377 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#3378 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#1640 Add basic ESLint config, lint script and lint CI job
  .changeset/new-ads-hug.md
  .github/workflows/ci.yml
  .vscode/extensions.json
  docs/src/components/theme-designer/atom.ts
  eslint.config.mjs
  package.json
  packages/file-icons-generator/utils/font.ts
  packages/starlight/__e2e__/basics.test.ts
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/__tests__/basics/format-canonical.test.ts
  packages/starlight/__tests__/basics/git.test.ts
  packages/starlight/__tests__/basics/i18n.test.ts
  packages/starlight/__tests__/basics/pagination-with-base.test.ts
  packages/starlight/__tests__/basics/starlight-page-route-data.test.ts
  packages/starlight/__tests__/head/head.test.ts
  packages/starlight/__tests__/i18n-non-root-single-locale/translations-fs.test.ts
  packages/starlight/__tests__/i18n-single-root-locale/translations-fs.test.ts
  packages/starlight/__tests__/i18n/translations-ec.test.ts
  packages/starlight/__tests__/i18n/translations-fs.test.ts
  packages/starlight/__tests__/i18n/translations.test.ts
  packages/starlight/__tests__/middleware/middleware.test.ts
  packages/starlight/__tests__/plugins/translations.test.ts
  packages/starlight/__tests__/plugins/vitest.config.ts
  packages/starlight/__tests__/remark-rehype/anchor-links.test.ts
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/__tests__/test-utils.ts
  packages/starlight/components/SidebarPersistState.ts
  packages/starlight/expressive-code.mjs
  packages/starlight/integrations/asides-error.ts
  packages/starlight/integrations/asides.ts
  packages/starlight/integrations/expressive-code/index.ts
  packages/starlight/integrations/expressive-code/translations.ts
  packages/starlight/integrations/heading-links.ts
  packages/starlight/integrations/sitemap.ts
  packages/starlight/routes/common.astro
  packages/starlight/schema.ts
  packages/starlight/schemas/expressiveCode.ts
  packages/starlight/schemas/i18n.ts
  packages/starlight/utils/collection.ts
  packages/starlight/utils/createTranslationSystem.ts
  packages/starlight/utils/error-map.ts
  packages/starlight/utils/i18n.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/plugins.ts
  packages/starlight/utils/routing/data.ts
  packages/starlight/utils/starlight-page.ts
  packages/starlight/utils/translations-fs.ts
  packages/starlight/utils/translations.ts
  packages/tailwind/__tests__/tailwind.test.ts
  pnpm-lock.yaml
Labels: 🌟 patch, 🚨 action, 📚 docs, 🌟 core, 🌟 tailwind

#3387 Adds OmniPrint documentation to the showcase
  docs/src/assets/showcase/omni-byte.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#3388 i18n(ko-KR): update `css-and-tailwind.mdx`
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#3386 i18n(de): translate `guides/css-and-tailwind.mdx`
  docs/src/content/docs/de/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#3390 Add link to new Starlight theme
  docs/src/assets/themes/galaxy-dark.png
  docs/src/assets/themes/galaxy-light.png
  docs/src/content/docs/resources/themes.mdx
Labels: 📚 docs

#3395 docs: change image of Starlight Galaxy Theme dark image to not include a visible scrollbar
  docs/src/assets/themes/galaxy-dark.png
Labels: 📚 docs

#3394 i18n(de): update German themes
  docs/src/content/docs/de/resources/themes.mdx
Labels: i18n, 📚 docs

#3398 i18n(ko): translate `themes.mdx`
  docs/src/content/docs/ko/resources/themes.mdx
Labels: i18n, 📚 docs

#3397 i18n(de): translate `themes.mdx`
  docs/src/content/docs/de/resources/themes.mdx
Labels: i18n, 📚 docs

#3381 i18n(uk): update `index.mdx`
  docs/src/content/docs/uk/index.mdx
Labels: i18n, 📚 docs

#3402 chore(docs): added academeez.com to showcase
  docs/src/assets/showcase/academeez.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs
