Repository withastro/starlight, pull requests merged in 2025-01, with the labels that each got.

#2745 i18n(ru): update `guides/i18n.mdx`
  docs/src/content/docs/ru/guides/i18n.mdx
Labels: i18n, 📚 docs

#2751 docs: fix invalid import in `ComponentProps` example
  docs/src/content/docs/components/using-components.mdx
Labels: 📚 docs

#2747 Add instant behavior to synced tab scrolling
  .changeset/chilly-paws-smell.md
  packages/starlight/user-components/Tabs.astro
Labels: 🌟 patch, 🌟 core

#2740 Fix pagefind data attribute
  .changeset/olive-hairs-battle.md
  packages/starlight/components/Page.astro
Labels: 🌟 patch, 🌟 core

#2737 docs: implementation typo fix on CHANGELOG
  packages/starlight/CHANGELOG.md
Labels: 🌟 core

#2732 Add Storybook, Confluence and Jira social icons
  .changeset/purple-rivers-joke.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#2756 i18n(ko-KR): update `using-components.mdx`
  docs/src/content/docs/ko/components/using-components.mdx
Labels: i18n, 📚 docs

#2758 i18n(fr): update `components/using-components`
  docs/src/content/docs/fr/components/using-components.mdx
Labels: i18n, 📚 docs

#2759 i18n(de): update `using-components.mdx`
  docs/src/content/docs/de/components/using-components.mdx
Labels: i18n, 📚 docs

#2757 Fix translation issue for languages with a region subtag
  .changeset/brave-kings-vanish.md
  packages/starlight/__tests__/test-utils.ts
  packages/starlight/utils/navigation.ts
  packages/starlight/utils/path.ts
  packages/starlight/utils/translations.ts
  packages/starlight/virtual-internal.d.ts
  packages/starlight/virtual.d.ts
Labels: 🌟 core

#2762 Prevent title from being translated
  .changeset/smart-moons-repair.md
  packages/starlight/components/SiteTitle.astro
Labels: 🌟 patch, 🌟 core

#2764 i18n(zh-cn): Update configuration.mdx
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#2765 i18n(zh-cn): Update frontmatter.mdx
  docs/src/content/docs/zh-cn/reference/frontmatter.md
Labels: i18n, 📚 docs

#2767 i18n(zh-cn): Update index.mdx
  docs/src/content/docs/zh-cn/index.mdx
Labels: i18n, 📚 docs

#2768 i18n(zh-cn): Update manual-setup.mdx
  docs/src/content/docs/zh-cn/manual-setup.mdx
Labels: i18n, 📚 docs

#2769 i18n(zh-cn): Update environmental-impact.mdx
  docs/src/content/docs/zh-cn/environmental-impact.md
Labels: i18n, 📚 docs

#2770 i18n(zh-cn): Update using-components.mdx
  docs/src/content/docs/zh-cn/components/using-components.mdx
Labels: i18n, 📚 docs

#2771 i18n(zh-cn): Update authoring-content.mdx
  docs/src/content/docs/zh-cn/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2772 i18n(zh-cn): Update project-structure.mdx
  docs/src/content/docs/zh-cn/guides/project-structure.mdx
Labels: i18n, 📚 docs

#2773 i18n(zh-cn): Update site-search.mdx
  docs/src/content/docs/zh-cn/guides/site-search.mdx
Labels: i18n, 📚 docs

#2775 i18n(zh-cn): Update i18n.mdx
  docs/src/content/docs/zh-cn/guides/i18n.mdx
Labels: i18n, 📚 docs

#2766 i18n(zh-cn): Update overrides.mdx
  docs/src/content/docs/zh-cn/reference/overrides.md
Labels: i18n, 📚 docs

#2741 i18n(pt-PT): update outdated pages
  docs/src/content/docs/pt-pt/environmental-impact.md
  docs/src/content/docs/pt-pt/index.mdx
  docs/src/content/docs/pt-pt/manual-setup.mdx
  docs/src/content/docs/pt-pt/resources/community-content.mdx
  docs/src/content/docs/pt-pt/resources/plugins.mdx
Labels: i18n, 📚 docs

#2722 Fixes display of long site title on mobile
  .changeset/cold-vans-tan.md
  packages/starlight/components/Header.astro
Labels: 🌟 patch, 🌟 core

#2736 Update minimum supported Astro version to 5.1
  .changeset/good-trains-sniff.md
  .changeset/silver-brooms-fail.md
  docs/package.json
  examples/basics/package.json
  examples/markdoc/package.json
  examples/tailwind/package.json
  package.json
  packages/markdoc/package.json
  packages/starlight/__e2e__/fixtures/basics/package.json
  packages/starlight/__e2e__/fixtures/custom src-dir/package.json
  packages/starlight/__e2e__/fixtures/git/package.json
  packages/starlight/__e2e__/fixtures/legacy-collection-config-file/package.json
  packages/starlight/__e2e__/fixtures/ssr/package.json
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 minor, 📚 docs, 🌟 core, 🌟 markdoc

#2708 Fixes code example colour contrast
  .changeset/warm-coins-refuse.md
  packages/starlight/integrations/expressive-code/theming.ts
Labels: 🌟 minor, 🌟 core

#2777 Update `astro-expressive-code` to v0.39
  .changeset/dull-mice-live.md
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 minor, 🌟 core

#2778 Step up and Badge on
  docs/src/content/docs/guides/route-data.mdx
  docs/src/content/docs/reference/route-data.mdx
Labels: 📚 docs

#2620 feat(plugins): add Starlight Ion theme
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2781 Add newer articles to community content page
  docs/src/content/docs/resources/community-content.mdx
Labels: 📚 docs

#2784 i18n(ko-KR): update `community-content.mdx`
  docs/src/content/docs/ko/resources/community-content.mdx
Labels: i18n, 📚 docs

#2785 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2789 i18n(fr): update `resources/community-content`
  docs/src/content/docs/fr/resources/community-content.mdx
Labels: i18n, 📚 docs

#2788 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2782 Fix outdated links to Expressive Code documentation
  .changeset/tender-tools-kick.md
  docs/src/content/docs/guides/authoring-content.mdx
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/reference/configuration.mdx
  packages/starlight/integrations/expressive-code/index.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#2792 Use semantic color name instead of absolute color name
  .changeset/grumpy-terms-accept.md
  packages/starlight/components/TwoColumnContent.astro
Labels: 🌟 patch, 🌟 core

#2786 i18n(de): update `plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#2793 i18n(ko-KR): update `authoring-content.mdx`
  docs/src/content/docs/ko/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2794 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#2795 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#2796 Update `astro-expressive-code` to latest (0.40)
  .changeset/dull-mice-live.md
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: 🌟 core

#2728 Upgrade Pagefind to 1.3.0 and configure Pagefind logging levels
  .changeset/long-pears-shop.md
  .changeset/young-plants-fetch.md
  docs/src/content/docs/reference/configuration.mdx
  package.json
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Search.astro
  packages/starlight/index.ts
  packages/starlight/integrations/virtual-user-config.ts
  packages/starlight/package.json
  packages/starlight/schemas/pagefind.ts
  packages/starlight/utils/user-config.ts
  packages/starlight/virtual-internal.d.ts
  pnpm-lock.yaml
Labels: 🌟 minor, 📚 docs, 🌟 core

#2797 docs(showcase): add emojiblast.dev to showcase
  docs/src/assets/showcase/docs.emojiblast.dev.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2799 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#2800 Added starlight-to-pdf tool to Plugins and Integrations page
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2801 i18n(de): update expressive code links and fix some polite forms (German thing)
  docs/src/content/docs/de/components/link-buttons.mdx
  docs/src/content/docs/de/guides/authoring-content.mdx
  docs/src/content/docs/de/guides/i18n.mdx
  docs/src/content/docs/de/reference/configuration.mdx
Labels: i18n, 📚 docs

#2803 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2802 i18n(de): update `plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#2805 Expose `StarlightIcon` type
  .changeset/unlucky-items-notice.md
  docs/src/components/icons-list.astro
  docs/src/content/docs/components/icons.mdx
  docs/src/content/docs/components/using-components.mdx
  docs/src/content/docs/reference/icons.mdx
  packages/starlight/__tests__/remark-rehype/rehype-file-tree.test.ts
  packages/starlight/components/ContentNotice.astro
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/hero.ts
  packages/starlight/types.ts
  packages/starlight/user-components/Card.astro
  packages/starlight/user-components/Icon.astro
  packages/starlight/user-components/LinkButton.astro
  packages/starlight/user-components/TabItem.astro
  packages/starlight/user-components/rehype-file-tree.ts
  packages/starlight/user-components/rehype-tabs.ts
Labels: 📚 docs, 🌟 core

#2809 Upgrade to Vitest 3
  packages/markdoc/package.json
  packages/starlight/package.json
  packages/tailwind/package.json
  pnpm-lock.yaml
Labels: 🌟 core, 🌟 tailwind, 🌟 markdoc

#2811 i18n(de): update German documentation
  docs/src/content/docs/de/components/icons.mdx
  docs/src/content/docs/de/components/using-components.mdx
  docs/src/content/docs/de/reference/icons.mdx
Labels: i18n, 📚 docs

#2813 i18n(ko-KR): update documents of icons
  docs/src/content/docs/ko/components/icons.mdx
  docs/src/content/docs/ko/components/using-components.mdx
  docs/src/content/docs/ko/reference/icons.mdx
Labels: i18n, 📚 docs

#2814 i18n(fr): update `reference/icons`, `components/icons` & `components/using-components`
  docs/src/content/docs/fr/components/icons.mdx
  docs/src/content/docs/fr/components/using-components.mdx
  docs/src/content/docs/fr/reference/icons.mdx
Labels: i18n, 📚 docs

#2817 i18n(zh-cn): Update `reference/icons.mdx` & `components/icons.mdx` & `using-components.mdx`
  docs/src/content/docs/zh-cn/components/icons.mdx
  docs/src/content/docs/zh-cn/components/using-components.mdx
  docs/src/content/docs/zh-cn/reference/icons.mdx
Labels: i18n, 📚 docs

#2827 docs: add more community plugins resources
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2829 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2830 i18n(fr): Update `resources/plugins.mdx` from #2827
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2822 Add clientOptionsModule option to DocSearch plugin
  .changeset/three-pumpkins-turn.md
  docs/src/content/docs/guides/site-search.mdx
  packages/docsearch/DocSearch.astro
  packages/docsearch/index.ts
  packages/docsearch/virtual.d.ts
Labels: 📚 docs, 🌟 docsearch

#2825 docs: add documentation for draft sidebar behavior
  docs/src/content/docs/reference/frontmatter.md
Labels: 📚 docs

#2832 Added my site to the showcase
  docs/src/assets/showcase/texttotableconverter.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2833 i18n(de): update `resources/plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#2838 i18n(ko-KR): update `site-search.mdx`
  docs/src/content/docs/ko/guides/site-search.mdx
Labels: i18n, 📚 docs

#2839 i18n(ko-KR): update `frontmatter.md`
  docs/src/content/docs/ko/reference/frontmatter.md
Labels: i18n, 📚 docs

#2835 i18n(fr): update `reference/frontmatter`
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#2834 i18n(de): update `reference/frontmatter.md`
  docs/src/content/docs/de/reference/frontmatter.md
Labels: i18n, 📚 docs

#2841 i18n(de): update `guides/site-search.mdx`
  docs/src/content/docs/de/guides/site-search.mdx
Labels: i18n, 📚 docs
