Repository withastro/starlight, pull requests merged in 2025-06, with the labels that each got.

#3237 i18n(zh-cn): Update plugins.mdx
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#3235 docs: Update plugins.mdx to add astro-mermaid
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#3242 i18n(fr): fix link in `reference/configuration` + small rewording
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#3244 i18n(de): update German translation `plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#3246 new showcase entries for vtbot's Jotter and vtbag
  docs/src/assets/showcase/events-3bg.pages.dev.png
  docs/src/assets/showcase/vtbag.dev.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#3205 fix userCollections?.docs
  .changeset/lemon-tips-end.md
  packages/starlight/__tests__/basics/starlight-page-route-data.test.ts
  packages/starlight/utils/starlight-page.ts
Labels: 🌟 patch, 🌟 core

#3225 i18n(de): Add missing translations for `de.json`
  .changeset/violet-sheep-drive.md
  packages/starlight/translations/de.json
Labels: 🌟 patch, 🌟 core

#3199 docs: add `<StarlightPage>` import order guidelines
  docs/src/content/docs/guides/pages.mdx
Labels: 📚 docs

#3256 i18n(de): update guides/pages.mdx
  docs/src/content/docs/de/guides/pages.mdx
Labels: i18n, 📚 docs

#3257 i18n(ko-KR): update `pages.mdx`
  docs/src/content/docs/ko/guides/pages.mdx
Labels: i18n, 📚 docs

#3259 i18n(fr): update `resources/plugins.mdx`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#3258 i18n(fr): update `guides/pages`
  docs/src/content/docs/fr/guides/pages.mdx
Labels: i18n, 📚 docs
