Repository withastro/starlight, pull requests merged in 2025-02, with the labels that each got.

#2850 Add a new plugin - starlight-giscus
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2849 i18n(ru): update some translations
  docs/src/content/docs/ru/components/icons.mdx
  docs/src/content/docs/ru/components/using-components.mdx
  docs/src/content/docs/ru/guides/authoring-content.mdx
  docs/src/content/docs/ru/guides/i18n.mdx
  docs/src/content/docs/ru/guides/site-search.mdx
  docs/src/content/docs/ru/reference/configuration.mdx
  docs/src/content/docs/ru/reference/frontmatter.md
  docs/src/content/docs/ru/reference/icons.mdx
  docs/src/content/docs/ru/reference/plugins.md
Labels: i18n, 📚 docs

#2842 docs(showcase): add itihon.github.io/isomorphic-validation to showcase
  docs/src/assets/showcase/itihon.github.io-isomorphic-validation.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2852 i18n (ru): make some follow-up fixes to Russian docs
  docs/src/content/docs/ru/guides/site-search.mdx
Labels: i18n, 📚 docs

#2851 i18n(ru): update `community-content.mdx` & `plugins.mdx`
  docs/src/content/docs/ru/resources/community-content.mdx
  docs/src/content/docs/ru/resources/plugins.mdx
Labels: i18n, 📚 docs

#2853 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2855 i18n(de): update `resources/plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#2859 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2848 Fix some Pagefind UI issues
  .changeset/nervous-mugs-begin.md
  packages/starlight/components/Search.astro
Labels: 🌟 patch, 🌟 core

#2866 i18n(zh-cn): Update `i18n.mdx`
  docs/src/content/docs/zh-cn/guides/i18n.mdx
Labels: i18n, 📚 docs

#2868 i18n(zh-cn): Update `frontmatter.md`
  docs/src/content/docs/zh-cn/reference/frontmatter.md
Labels: i18n, 📚 docs

#2870 i18n(zh-cn): Update `plugins.mdx`
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#2869 i18n(zh-cn): Update `community-content.mdx`
  docs/src/content/docs/zh-cn/resources/community-content.mdx
Labels: i18n, 📚 docs

#2865 i18n(zh-cn): Update `authoring-content.mdx`
  docs/src/content/docs/zh-cn/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2867 i18n(zh-cn): Update `configuration.mdx`
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#2843 Removed broken links from showcase
  docs/src/assets/showcase/astro-error-page-documentation.vercel.app.png
  docs/src/assets/showcase/concepto-docs.vercel.app.png
  docs/src/assets/showcase/docs.pubindexapi.com.png
  docs/src/assets/showcase/simple.arciniega.one.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2874 docs: reference more plugins
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2877 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2876 i18n(de): update translation `plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#2858 Support multisite search on pagefind
  .changeset/dry-geese-pretend.md
  docs/src/content/docs/reference/configuration.mdx
  packages/starlight/schemas/pagefind.ts
Labels: 🌟 minor, 📚 docs, 🌟 core

#2578 Expose FS translation system to plugins
  .changeset/chatty-jars-flash.md
  .changeset/large-balloons-compete.md
  .changeset/loud-wolves-decide.md
  .changeset/polite-fishes-remain.md
  .changeset/stupid-turkeys-appear.md
  .changeset/wet-cherries-try.md
  docs/src/content/docs/guides/i18n.mdx
  docs/src/content/docs/reference/plugins.md
  packages/docsearch/index.ts
  packages/docsearch/package.json
  packages/starlight/__tests__/plugins/config.test.ts
  packages/starlight/__tests__/plugins/integration.test.ts
  packages/starlight/__tests__/plugins/translations.test.ts
  packages/starlight/__tests__/plugins/vitest.config.ts
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/__tests__/test-plugin-utils.ts
  packages/starlight/index.ts
  packages/starlight/integrations/asides.ts
  packages/starlight/integrations/expressive-code/index.ts
  packages/starlight/integrations/shared/absolutePathToLang.ts
  packages/starlight/types.ts
  packages/starlight/utils/plugins.ts
Labels: 🌟 minor, 📚 docs, 🌟 core, 🌟 docsearch

#2880 i18n(ru): translate `guides/route-data.mdx` and `reference/route-data.mdx`
  docs/src/content/docs/ru/guides/route-data.mdx
  docs/src/content/docs/ru/reference/route-data.mdx
Labels: i18n, 📚 docs

#2878 i18n(de): update German translation with #2390
  docs/src/content/docs/de/guides/overriding-components.mdx
  docs/src/content/docs/de/guides/route-data.mdx
  docs/src/content/docs/de/guides/sidebar.mdx
  docs/src/content/docs/de/reference/overrides.md
  docs/src/content/docs/de/reference/plugins.md
  docs/src/content/docs/de/reference/route-data.mdx
Labels: i18n, 📚 docs

#2891 i18n(ko-KR): update `sidebar.mdx`
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, 📚 docs

#2894 i18n(ko-KR): update `/resources/plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2896 i18n(ko-KR): create `guides/route-data.mdx` and `reference/route-data.mdx`
  docs/src/content/docs/ko/guides/route-data.mdx
  docs/src/content/docs/ko/reference/route-data.mdx
Labels: i18n, 📚 docs

#2889 i18n(ko-KR): update `i18n.mdx` and `plugins.md`
  docs/src/content/docs/ko/guides/i18n.mdx
  docs/src/content/docs/ko/reference/plugins.md
Labels: i18n, 📚 docs

#2893 i18n(ko-KR): update `overrides.md`
  docs/src/content/docs/ko/reference/overrides.md
Labels: i18n, 📚 docs

#2892 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#2883 i18n(de): update `reference/configuration.mdx`
  docs/src/content/docs/de/reference/configuration.mdx
Labels: i18n, 📚 docs

#2895 i18n(ru): update some translations
  docs/src/content/docs/ru/guides/i18n.mdx
  docs/src/content/docs/ru/guides/overriding-components.mdx
  docs/src/content/docs/ru/guides/sidebar.mdx
  docs/src/content/docs/ru/reference/configuration.mdx
  docs/src/content/docs/ru/reference/overrides.md
  docs/src/content/docs/ru/reference/plugins.md
  docs/src/content/docs/ru/resources/plugins.mdx
Labels: i18n, 📚 docs

#2882 i18n(de): update German translation with #2578
  docs/src/content/docs/de/guides/i18n.mdx
  docs/src/content/docs/de/reference/plugins.md
Labels: i18n, 📚 docs

#2888 i18n(fr): update `reference/configuration`
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#2885 i18n(fr): update `guides/overriding-components`
  docs/src/content/docs/fr/guides/overriding-components.mdx
Labels: i18n, 📚 docs

#2884 i18n(fr): add `guides/route-data` and `reference/route-data`
  docs/src/content/docs/fr/guides/route-data.mdx
  docs/src/content/docs/fr/reference/route-data.mdx
Labels: i18n, 📚 docs

#2887 i18n(fr): update `reference/overrides` & `guides/sidebar`
  docs/src/content/docs/fr/guides/sidebar.mdx
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#2886 i18n(fr): update `reference/plugins` & `guides/i18n`
  docs/src/content/docs/fr/guides/i18n.mdx
  docs/src/content/docs/fr/reference/plugins.md
Labels: i18n, 📚 docs

#2898 i18n(fr): fix highlighting in `reference/plugins.md`
  docs/src/content/docs/fr/reference/plugins.md
Labels: i18n, 📚 docs

#2881 Adding all samples for badges in sidebar as example
  docs/src/content/docs/guides/sidebar.mdx
Labels: 📚 docs

#2901 i18n(ko-KR): update `sidebar.mdx`
  docs/src/content/docs/ko/guides/sidebar.mdx
Labels: i18n, 📚 docs

#2904 Fix issue with rewriting
  .changeset/forty-ways-beam.md
  packages/starlight/__e2e__/fixtures/ssr/src/middleware.ts
  packages/starlight/__e2e__/ssr.test.ts
  packages/starlight/locals.ts
Labels: 🌟 patch, 🌟 core

#2912 docs: add Accessible Astro to showcase sites
  docs/src/assets/showcase/accessible-astro.incluud.dev.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2911 Add a new dedicated theme showcase page
  CONTRIBUTING.md
  docs/src/assets/themes/black-dark.png
  docs/src/assets/themes/black-light.png
  docs/src/assets/themes/catppuccin-dark.png
  docs/src/assets/themes/catppuccin-light.png
  docs/src/assets/themes/flexoki-dark.png
  docs/src/assets/themes/flexoki-light.png
  docs/src/assets/themes/ion-dark.png
  docs/src/assets/themes/ion-light.png
  docs/src/assets/themes/obsidian-dark.png
  docs/src/assets/themes/obsidian-light.png
  docs/src/assets/themes/rapide-dark.png
  docs/src/assets/themes/rapide-light.png
  docs/src/components/fluid-grid.astro
  docs/src/components/media-card.astro
  docs/src/components/theme-grid.astro
  docs/src/components/theme-image.astro
  docs/src/content/docs/guides/css-and-tailwind.mdx
  docs/src/content/docs/resources/plugins.mdx
  docs/src/content/docs/resources/themes.mdx
Labels: 📚 docs

#2914 i18n(de): fix typos in the German translations
  docs/src/content/docs/de/components/icons.mdx
  docs/src/content/docs/de/components/link-cards.mdx
  docs/src/content/docs/de/components/tabs.mdx
  docs/src/content/docs/de/components/using-components.mdx
  docs/src/content/docs/de/environmental-impact.md
  docs/src/content/docs/de/getting-started.mdx
  docs/src/content/docs/de/guides/authoring-content.mdx
  docs/src/content/docs/de/guides/css-and-tailwind.mdx
  docs/src/content/docs/de/guides/customization.mdx
  docs/src/content/docs/de/guides/i18n.mdx
  docs/src/content/docs/de/guides/overriding-components.mdx
  docs/src/content/docs/de/guides/pages.mdx
  docs/src/content/docs/de/guides/route-data.mdx
  docs/src/content/docs/de/guides/sidebar.mdx
  docs/src/content/docs/de/guides/site-search.mdx
  docs/src/content/docs/de/index.mdx
  docs/src/content/docs/de/manual-setup.mdx
  docs/src/content/docs/de/reference/configuration.mdx
  docs/src/content/docs/de/reference/frontmatter.md
  docs/src/content/docs/de/reference/overrides.md
  docs/src/content/docs/de/reference/plugins.md
  docs/src/content/docs/de/reference/route-data.mdx
  docs/src/content/docs/de/resources/community-content.mdx
  docs/src/content/docs/de/resources/plugins.mdx
  docs/src/content/docs/de/resources/showcase.mdx
Labels: i18n, 📚 docs

#2918 Fix trailing slash inconsistency in sidebar links
  .changeset/large-chairs-refuse.md
  packages/starlight/__tests__/basics/starlight-page-route-data.test.ts
  packages/starlight/__tests__/i18n-sidebar/i18n-sidebar-fallback-slug.test.ts
  packages/starlight/__tests__/i18n-sidebar/i18n-sidebar.test.ts
  packages/starlight/__tests__/sidebar/navigation-attributes.test.ts
  packages/starlight/__tests__/sidebar/navigation-badges.test.ts
  packages/starlight/__tests__/sidebar/navigation-hidden.test.ts
  packages/starlight/__tests__/sidebar/navigation-order.test.ts
  packages/starlight/__tests__/sidebar/navigation-unicode.test.ts
  packages/starlight/__tests__/sidebar/navigation.test.ts
  packages/starlight/__tests__/sidebar/vitest.config.ts
  packages/starlight/utils/navigation.ts
Labels: 🌟 core

#2917 starlight-view-transition plugin
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2921 i18n(ko-KR): create `themes.mdx`, update `plugins.mdx`, `css-and-tailwind.mdx`
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
  docs/src/content/docs/ko/resources/plugins.mdx
  docs/src/content/docs/ko/resources/themes.mdx
Labels: i18n, 📚 docs

#2923 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2922 i18n(de): create `themes.mdx`, update `plugins.mdx`, `css-and-tailwind.mdx`
  docs/src/content/docs/de/guides/css-and-tailwind.mdx
  docs/src/content/docs/de/resources/plugins.mdx
  docs/src/content/docs/de/resources/themes.mdx
Labels: i18n, 📚 docs

#2928 fix: `themes.mdx` sidebar order [i18nIgnore]
  docs/src/content/docs/de/resources/themes.mdx
  docs/src/content/docs/fr/resources/themes.mdx
  docs/src/content/docs/ko/resources/themes.mdx
  docs/src/content/docs/resources/themes.mdx
Labels: i18n, 📚 docs

#2926 i18n: add lv.json
  .changeset/chatty-roses-push.md
  packages/starlight/translations/index.ts
  packages/starlight/translations/lv.json
Labels: 🌟 patch, 🌟 core
