Repository withastro/starlight, pull requests merged in 2025-05, with the labels that each got.

#2905 Fix missing styles for dynamic routes rendering `<StarlightPage>`
  .changeset/long-waves-rush.md
  packages/starlight/__e2e__/components.test.ts
  packages/starlight/__e2e__/fixtures/basics/src/components/PurpleCard.astro
  packages/starlight/__e2e__/fixtures/basics/src/content/docs/head-propagation.mdx
  packages/starlight/__e2e__/fixtures/basics/src/pages/[...param].astro
  packages/starlight/routes/common.astro
  packages/starlight/utils/routing/data.ts
Labels: 📚 docs, 🌟 core

#3165 Increase `maxBuffer` in `getAllNewestCommitDate`'s `spawnSync` usage
  .changeset/slow-rivers-attack.md
  packages/starlight/utils/git.ts
Labels: 🌟 patch, 🌟 core

#3058 Avoid clipping focus indicator around site title (v2)
  .changeset/five-radios-laugh.md
  packages/starlight/components/SiteTitle.astro
Labels: 🌟 core

#3167 Update CSS guide to clarify cascade layer references
  docs/src/content/docs/guides/css-and-tailwind.mdx
Labels: 📚 docs

#3169 i18n(ru): update translations
  docs/src/content/docs/ru/environmental-impact.md
  docs/src/content/docs/ru/guides/authoring-content.mdx
  docs/src/content/docs/ru/guides/css-and-tailwind.mdx
  docs/src/content/docs/ru/guides/customization.mdx
  docs/src/content/docs/ru/guides/pages.mdx
  docs/src/content/docs/ru/reference/configuration.mdx
  docs/src/content/docs/ru/reference/plugins.md
  docs/src/content/docs/ru/resources/community-content.mdx
  docs/src/content/docs/ru/resources/themes.mdx
Labels: i18n, 📚 docs

#3171 i18n(fr): update `guides/css-and-tailwind.mdx`
  docs/src/content/docs/fr/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#3170 docs: update Tailwind manual installation instructions
  docs/src/content/docs/guides/css-and-tailwind.mdx
Labels: 📚 docs

#3173 i18n(fr): update `guides/css-and-tailwind.mdx`
  docs/src/content/docs/fr/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#3168 i18n(ko-KR): update Korean UI strings
  .changeset/tall-lies-wonder.md
  docs/astro.config.mjs
  docs/src/content/docs/ko/404.md
  packages/starlight/translations/ko.json
Labels: 🌟 patch, i18n, 📚 docs, 🌟 core

#3181 Prevent heading anchor links on non-Starlight content
  .changeset/pink-cameras-perform.md
  packages/starlight/__e2e__/components.test.ts
  packages/starlight/__e2e__/fixtures/basics/src/content.config.ts
  packages/starlight/__e2e__/fixtures/basics/src/content/reviews/alice.mdx
  packages/starlight/__e2e__/fixtures/basics/src/pages/markdown-page.md
  packages/starlight/__e2e__/fixtures/basics/src/pages/reviews/[...review].astro
  packages/starlight/__tests__/remark-rehype/anchor-links.test.ts
  packages/starlight/integrations/heading-links.ts
Labels: 🌟 core

#3188 Cookie API website for Showcase
  docs/src/assets/showcase/docs.cookie-api.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#3194 docs(plugins) Add a link to starlight-scroll-to-top plugin
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#3195 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#3197 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#3196 i18n(fr): update slot translation and update Astro Docs links
  docs/src/content/docs/fr/guides/overriding-components.mdx
  docs/src/content/docs/fr/reference/frontmatter.md
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#3203 i18n(de): Update route-data.mdx
  docs/src/content/docs/de/reference/route-data.mdx
Labels: i18n, 📚 docs

#3208 i18n(zh-cn): Update `environment-impact.md`
  docs/src/content/docs/zh-cn/environmental-impact.md
Labels: i18n, 📚 docs

#3210 i18n(zh-cn): Update `configuration.md`
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#3211 i18n(zh-cn): Update `pages.mdx`
  docs/src/content/docs/zh-cn/guides/pages.mdx
Labels: i18n, 📚 docs

#3213 i18n(zh-cn): Update `themes.mdx`
  docs/src/content/docs/zh-cn/resources/themes.mdx
Labels: i18n, 📚 docs

#3212 i18n(zh-cn): Update `plugins.mdx`
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#3209 i18n(zh-cn): Update `authoring-content.md`
  docs/src/content/docs/zh-cn/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#3215 docs: update yummacss thumbnail
  docs/src/assets/showcase/yummacss.com.png
Labels: 📚 docs

#3217 feat(showcase): add pydocs.site to showcase
  docs/src/assets/showcase/www.pydocs.site.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#3216 docs: correct environmental impact percentage
  docs/src/content/docs/environmental-impact.md
Labels: 📚 docs

#3218 i18n(ko-KR): update `environmental-impact.md`
  docs/src/content/docs/ko/environmental-impact.md
Labels: i18n, 📚 docs

#3219 i18n(de): Update environmental-impact.md
  docs/src/content/docs/de/environmental-impact.md
Labels: i18n, 📚 docs

#3221 i18n(fr): update `environmental-impact.md`
  docs/src/content/docs/fr/environmental-impact.md
Labels: i18n, 📚 docs
