Repository withastro/starlight, pull requests merged in 2025-04, with the labels that each got.

#3029 i18n(ru): update some translations
  docs/src/content/docs/ru/guides/authoring-content.mdx
  docs/src/content/docs/ru/reference/plugins.md
  docs/src/content/docs/ru/resources/plugins.mdx
  docs/src/content/docs/ru/resources/themes.mdx
Labels: i18n, 📚 docs

#3018 Starlight Route Data Middleware must not conflict with Astro's middleware
  .changeset/eight-masks-kick.md
  docs/src/content/docs/reference/configuration.mdx
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/utils/user-config.ts
Labels: 🌟 patch, 📚 docs, 🌟 core

#3034 docs: add `credits` type to configuration reference
  docs/src/content/docs/reference/configuration.mdx
Labels: 📚 docs

#3030 fix(core): `isFallback` type is `true` instead of `boolean`
  .changeset/brown-bottles-stare.md
  packages/starlight/__tests__/basics/starlight-page-route-data.test.ts
  packages/starlight/utils/routing/types.ts
  packages/starlight/utils/starlight-page.ts
Labels: 🌟 core

#3038 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#3045 i18n(fr): update `reference/configuration`
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#3037 Update plugins.mdx Starlight Fullview Mode
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#3043 i18n(de): update `configuration.mdx`
  docs/src/content/docs/de/reference/configuration.mdx
Labels: i18n, 📚 docs

#3049 i18n(ko-KR): update `route-data.mdx`
  docs/src/content/docs/ko/reference/route-data.mdx
Labels: i18n, 📚 docs

#3050 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2727 Improve visual styling of mobile menu toggle when menu is open
  .changeset/small-days-share.md
  packages/starlight/components/MobileMenuToggle.astro
Labels: 🌟 minor, 🌟 core, ✅ approved

#3025 Make `social` icon configuration more flexible
  .changeset/gold-sloths-unite.md
  .changeset/swift-hotels-move.md
  docs/astro.config.mjs
  docs/src/components/social-links-type.astro
  docs/src/content/docs/guides/customization.mdx
  docs/src/content/docs/reference/configuration.mdx
  docs/src/content/docs/reference/plugins.md
  examples/basics/astro.config.mjs
  examples/markdoc/astro.config.mjs
  examples/tailwind/astro.config.mjs
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/__tests__/basics/user-config.test.ts
  packages/starlight/__tests__/head/head.test.ts
  packages/starlight/__tests__/head/vitest.config.ts
  packages/starlight/components/SocialIcons.astro
  packages/starlight/schemas/hero.ts
  packages/starlight/schemas/icon.ts
  packages/starlight/schemas/social.ts
  packages/starlight/utils/head.ts
Labels: 🌟 minor, i18n, 📚 docs, 🌟 core, ✅ approved

#3057 docs: move `starlight-fullview-mode` to plugins list
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#3051 i18n(fr): update `components/badges`
  docs/src/content/docs/fr/components/badges.mdx
Labels: i18n, 📚 docs

#3061 i18n(de): update `components/badges`
  docs/src/content/docs/de/components/badges.mdx
Labels: i18n, 📚 docs

#3056 i18n(fr): update `reference/route-data`
  docs/src/content/docs/fr/reference/route-data.mdx
Labels: i18n, 📚 docs

#3055 i18n(fr): update `reference/plugins`
  docs/src/content/docs/fr/reference/plugins.md
Labels: i18n, 📚 docs

#3054 i18n(fr): update `reference/overrides`
  docs/src/content/docs/fr/reference/overrides.md
Labels: i18n, 📚 docs

#3052 i18n(fr): update `guides/customization`
  docs/src/content/docs/fr/guides/customization.mdx
Labels: i18n, 📚 docs

#3065 Update `social` configuration option TSDoc example
  .changeset/smooth-otters-taste.md
  packages/starlight/utils/user-config.ts
Labels: 🌟 core

#3063 i18n(ru): update `components/badges.mdx`
  docs/src/content/docs/ru/components/badges.mdx
Labels: i18n, 📚 docs

#3062 i18n(ru): update `resources/plugins.mdx`
  docs/src/content/docs/ru/resources/plugins.mdx
Labels: i18n, 📚 docs

#3053 i18n(fr): update `reference/configuration`
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#3064 i18n(ru): update `reference/route-data.mdx` and `reference/overrides.md`
  docs/src/content/docs/ru/reference/overrides.md
  docs/src/content/docs/ru/reference/route-data.mdx
Labels: i18n, 📚 docs

#3082 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#3077 i18n(ko-KR): update `customization.mdx`
  docs/src/content/docs/ko/guides/customization.mdx
Labels: i18n, 📚 docs

#3078 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#3080 i18n(ko-KR): update `plugins.md`
  docs/src/content/docs/ko/reference/plugins.md
Labels: i18n, 📚 docs

#3075 feat: add NextJS theme
  docs/src/assets/themes/nextjs-dark.png
  docs/src/assets/themes/nextjs-light.png
  docs/src/content/docs/resources/themes.mdx
Labels: 📚 docs

#3060 fix(de): replace translation of "icon" in german language [i18nIgnore]
  docs/src/content/docs/de/components/cards.mdx
  docs/src/content/docs/de/components/icons.mdx
  docs/src/content/docs/de/components/tabs.mdx
  docs/src/content/docs/de/reference/configuration.mdx
  docs/src/content/docs/de/reference/icons.mdx
  docs/src/content/docs/de/reference/overrides.md
  docs/src/content/docs/de/resources/community-content.mdx
Labels: i18n, 📚 docs

#3068 fix(de): make `e.g.` consistent in German translation [i18nIgnore]
  docs/src/content/docs/de/components/badges.mdx
  docs/src/content/docs/de/components/code.mdx
  docs/src/content/docs/de/components/file-tree.mdx
  docs/src/content/docs/de/components/tabs.mdx
  docs/src/content/docs/de/components/using-components.mdx
  docs/src/content/docs/de/guides/authoring-content.mdx
  docs/src/content/docs/de/guides/css-and-tailwind.mdx
  docs/src/content/docs/de/guides/i18n.mdx
  docs/src/content/docs/de/guides/pages.mdx
  docs/src/content/docs/de/guides/route-data.mdx
  docs/src/content/docs/de/guides/sidebar.mdx
  docs/src/content/docs/de/reference/configuration.mdx
  docs/src/content/docs/de/reference/route-data.mdx
  docs/src/content/docs/de/resources/community-content.mdx
Labels: i18n, 📚 docs

#3069 i18n(de): update `reference/configuration`
  docs/src/content/docs/de/reference/configuration.mdx
Labels: i18n, 📚 docs

#3083 i18n(ko-KR): update `themes.mdx`
  docs/src/content/docs/ko/resources/themes.mdx
Labels: i18n, 📚 docs

#3074 feat: add Starlight Changelog to community content
  docs/src/content/docs/resources/community-content.mdx
Labels: 📚 docs

#3084 i18n(de): update `plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#3086 i18n(fr): update `resources/community-content` & `resources/themes`
  docs/src/content/docs/fr/resources/community-content.mdx
  docs/src/content/docs/fr/resources/themes.mdx
Labels: i18n, 📚 docs

#3072 i18n(es) Translate `themes`
  docs/src/content/docs/es/resources/themes.mdx
Labels: i18n, 📚 docs

#3087 i18n(ko-KR): update `community-content.mdx`
  docs/src/content/docs/ko/resources/community-content.mdx
Labels: i18n, 📚 docs

#3088 Fix missing head tags
  .changeset/orange-pianos-juggle.md
  packages/starlight/__tests__/head/head.test.ts
  packages/starlight/__tests__/head/vitest.config.ts
  packages/starlight/__tests__/i18n/head.test.ts
  packages/starlight/utils/head.ts
Labels: 🌟 core

#3089 [i18nIgnore] docs: disable last update dates for custom 404s
  docs/src/content/docs/404.md
  docs/src/content/docs/da/404.md
  docs/src/content/docs/de/404.md
  docs/src/content/docs/es/404.md
  docs/src/content/docs/fr/404.md
  docs/src/content/docs/hi/404.md
  docs/src/content/docs/id/404.md
  docs/src/content/docs/it/404.md
  docs/src/content/docs/ja/404.md
  docs/src/content/docs/ko/404.md
  docs/src/content/docs/pt-br/404.md
  docs/src/content/docs/pt-pt/404.md
  docs/src/content/docs/ru/404.md
  docs/src/content/docs/tr/404.md
  docs/src/content/docs/uk/404.md
  docs/src/content/docs/zh-cn/404.md
Labels: i18n, 📚 docs

#3073 i18n(es) Translate `route-data`
  docs/src/content/docs/es/reference/route-data.mdx
Labels: i18n, 📚 docs

#3100 i18n(zh-cn): Update badges.mdx
  docs/src/content/docs/zh-cn/components/badges.mdx
Labels: i18n, 📚 docs

#3101 i18n(zh-cn): Update customization.mdx
  docs/src/content/docs/zh-cn/guides/customization.mdx
Labels: i18n, 📚 docs

#3104 i18n(zh-cn): Update plugins.md
  docs/src/content/docs/zh-cn/reference/plugins.md
  docs/src/content/docs/zh-cn/resources/community-content.mdx
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#3105 i18n(zh-cn): Add themes.mdx
  docs/src/content/docs/zh-cn/resources/themes.mdx
Labels: i18n, 📚 docs

#3106 i18n(zh-cn): Add route-data.mdx
  docs/src/content/docs/zh-cn/guides/route-data.mdx
  docs/src/content/docs/zh-cn/reference/route-data.mdx
Labels: i18n, 📚 docs

#3103 i18n(zh-cn): Update overrides.mdx
  docs/src/content/docs/zh-cn/reference/overrides.md
Labels: i18n, 📚 docs

#3102 i18n(zh-cn): Update configuration.mdx
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#3092 i18n(de): update `resources/themes.mdx`
  docs/src/content/docs/de/resources/themes.mdx
Labels: i18n, 📚 docs

#3094 i18n(de): update `reference/route-data.mdx`
  docs/src/content/docs/de/reference/route-data.mdx
Labels: i18n, 📚 docs

#3093 i18n(de): update `reference/overrides.md`
  docs/src/content/docs/de/reference/overrides.md
Labels: i18n, 📚 docs

#3097 feat: update environment comparisons data
  docs/src/content/docs/environmental-impact.md
Labels: 📚 docs

#3112 i18n(de): update `environmental-impact`
  docs/src/content/docs/de/environmental-impact.md
Labels: i18n, 📚 docs

#3113 Update configuration.mdx
  docs/src/content/docs/reference/configuration.mdx
Labels: 📚 docs

#3119 i18n(ko-KR): update `environmental-impact.md`
  docs/src/content/docs/ko/environmental-impact.md
Labels: i18n, 📚 docs

#3120 i18n(ko-KR): update `configuration.mdx`
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#3123 i18n(fr): update `environmental-impact`
  docs/src/content/docs/fr/environmental-impact.md
Labels: i18n, 📚 docs

#3127 i18n(ko-KR): update 3 Korean documents
  docs/src/content/docs/ko/guides/authoring-content.mdx
  docs/src/content/docs/ko/guides/pages.mdx
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#3129 i18n(ko-KR): update `css-and-tailwind.mdx`
  docs/src/content/docs/ko/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#3133 fix: import statement in pages.mdx
  docs/src/content/docs/guides/pages.mdx
Labels: 📚 docs

#3132 Reset border styles in Tailwind compatibility package
  .changeset/dull-penguins-pump.md
  packages/tailwind/__tests__/tailwind.test.ts
  packages/tailwind/tailwind.css
Labels: 🌟 tailwind

#3125 i18n(fr): update `reference/configuration`
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#3128 i18n(fr): update `guides/css-and-tailwind`
  docs/src/content/docs/fr/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#3135 i18n(ko-KR): update `pages.mdx`
  docs/src/content/docs/ko/guides/pages.mdx
Labels: i18n, 📚 docs

#3130 i18n(fr): update `guides/pages`
  docs/src/content/docs/fr/guides/pages.mdx
Labels: i18n, 📚 docs

#3126 i18n(fr): update `guides/authoring-content`
  docs/src/content/docs/fr/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#3138 i18n(fr): update `guides/pages`
  docs/src/content/docs/fr/guides/pages.mdx
Labels: i18n, 📚 docs

#3139 i18n(fr): update the translation of `preset` consistently
  docs/src/content/docs/fr/components/using-components.mdx
  docs/src/content/docs/fr/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#3137 i18n(de): update `guides/css-and-tailwind.mdx`
  docs/src/content/docs/de/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#3141 Update Catppuccin theme URL
  docs/src/content/docs/resources/themes.mdx
Labels: 📚 docs

#3142 i18n(de): translate themes
  docs/src/content/docs/de/resources/themes.mdx
Labels: i18n, 📚 docs

#3143 i18n(fr): update link in `resources/themes`
  docs/src/content/docs/fr/resources/themes.mdx
Labels: i18n, 📚 docs

#3144 i18n(ko-KR): update `theme.mdx`
  docs/src/content/docs/ko/resources/themes.mdx
Labels: i18n, 📚 docs

#3148 Fix credit icon color regression
  .changeset/metal-chefs-shout.md
  packages/starlight/components/Footer.astro
Labels: 🌟 patch, 🌟 core

#3140 Fix double/triple click selection issues for heading with a clickable anchor link
  .changeset/clean-yaks-drive.md
  packages/starlight/style/anchor-links.css
Labels: 🌟 patch, 🌟 core

#3153 FileTree: Fix hover styles on highlighted directory
  .changeset/eight-rocks-rule.md
  packages/starlight/user-components/FileTree.astro
Labels: 🌟 patch, 🌟 core

#3155 docs: update yummacss thumbnail
  docs/src/assets/showcase/yummacss.com.png
Labels: 📚 docs

#3156 docs(showcase): add `docs.papermc.io`
  docs/src/assets/showcase/docs.papermc.io.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#3158 i18n(hu): Add new `hu.json` translation
  .changeset/smooth-seas-wash.md
  packages/starlight/translations/hu.json
  packages/starlight/translations/index.ts
Labels: 🌟 patch, 📚 docs, 🌟 core
