Repository withastro/starlight, pull requests merged in 2025-09, with the labels that each got.

#3403 i18n(ru): update translations
  docs/src/content/docs/ru/environmental-impact.md
  docs/src/content/docs/ru/guides/css-and-tailwind.mdx
  docs/src/content/docs/ru/resources/community-content.mdx
  docs/src/content/docs/ru/resources/plugins.mdx
  docs/src/content/docs/ru/resources/themes.mdx
Labels: i18n, 📚 docs

#3409 [i18nIgnore] Fix duplicate i18n collection definition
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#3408 [i18nIgnore] Fix typo in Spanish docs documentation
  docs/src/content/docs/es/guides/i18n.mdx
Labels: i18n, 📚 docs

#3421 Remove invalid value attribute from `<select>`
  .changeset/plenty-sloths-repeat.md
  packages/starlight/components/LanguageSelect.astro
  packages/starlight/components/Select.astro
  packages/starlight/components/ThemeSelect.astro
Labels: 🌟 patch, 🌟 core

#3431 i18n(fr): small rewording and fixes in `guides`
  docs/src/content/docs/fr/guides/authoring-content.mdx
  docs/src/content/docs/fr/guides/css-and-tailwind.mdx
  docs/src/content/docs/fr/guides/customization.mdx
  docs/src/content/docs/fr/guides/i18n.mdx
  docs/src/content/docs/fr/guides/overriding-components.mdx
  docs/src/content/docs/fr/guides/pages.mdx
  docs/src/content/docs/fr/guides/project-structure.mdx
  docs/src/content/docs/fr/guides/site-search.mdx
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#3432 i18n(fr): small rewording and fixes in top-level pages
  docs/src/content/docs/fr/environmental-impact.md
  docs/src/content/docs/fr/getting-started.mdx
  docs/src/content/docs/fr/index.mdx
  docs/src/content/docs/fr/manual-setup.mdx
Labels: i18n, 📚 docs

#3433 Run all tests on CI workflow changes
  .github/workflows/ci.yml
Labels: 🚨 action

#3380 Add `head` config validation for `meta` tags with `content`
  .changeset/tough-weeks-speak.md
  packages/starlight/__tests__/basics/schema.test.ts
  packages/starlight/schema.ts
  packages/starlight/schemas/head.ts
  packages/starlight/utils/head.ts
  packages/starlight/utils/user-config.ts
Labels: 🌟 minor, 🌟 core, ✅ approved

#3436 add openstatus showcase
  docs/src/assets/showcase/openstatus.dev.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs
