Repository withastro/starlight, pull requests merged in 2025-07, with the labels that each got.

#3279 Add link to the codeblock-fullscreen plugin
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#3283 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#3284 i18n(fr): update `resources/plugins.mdx`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#3287 docs: fix `t.exists()` documentation + example
  docs/src/content/docs/guides/i18n.mdx
Labels: 📚 docs

#3289 i18n(de): update `guides/i18n.mdx`
  docs/src/content/docs/de/guides/i18n.mdx
Labels: i18n, 📚 docs

#3291 Revert #3281
  .changeset/breezy-months-kneel.md
  packages/starlight/components/SidebarSublist.astro
Labels: 🌟 core

#3292 i18n(ko-KR): update `i18n.mdx`
  docs/src/content/docs/ko/guides/i18n.mdx
Labels: i18n, 📚 docs

#3294 i18n(fr): update `guides/i18n.mdx`
  docs/src/content/docs/fr/guides/i18n.mdx
Labels: i18n, 📚 docs

#3302 docs: showcase `astro-d2` and "Starlight Plugins by Example"
  docs/src/content/docs/resources/community-content.mdx
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#3306 Fix Astro i18n default locale regression
  .changeset/early-kings-fly.md
  packages/starlight/__tests__/i18n-root-default-locale/i18n.test.ts
  packages/starlight/__tests__/i18n-root-default-locale/vitest.config.ts
  packages/starlight/utils/i18n.ts
Labels: 🌟 patch, 🌟 core

#3274 Restrict remark/rehype plugins usage
  .changeset/moody-donkeys-applaud.md
  .changeset/unlucky-bananas-accept.md
  packages/starlight/__e2e__/components.test.ts
  packages/starlight/__e2e__/fixtures/basics/src/content/reviews/alice.mdx
  packages/starlight/__e2e__/fixtures/basics/src/pages/markdown-page.md
  packages/starlight/__tests__/remark-rehype/anchor-links.test.ts
  packages/starlight/__tests__/remark-rehype/asides.test.ts
  packages/starlight/__tests__/remark-rehype/code-rtl-support.test.ts
  packages/starlight/index.ts
  packages/starlight/integrations/asides.ts
  packages/starlight/integrations/code-rtl-support.ts
  packages/starlight/integrations/heading-links.ts
  packages/starlight/integrations/remark-rehype-utils.ts
Labels: 🌟 minor, 🌟 core, ✅ approved

#3276 Exclude banner content from Pagefind indexing
  .changeset/smooth-pillows-decide.md
  packages/starlight/components/Banner.astro
Labels: 🌟 minor, 🌟 core, ✅ approved

#3266 Autogenerated link custom attributes
  .changeset/loud-guests-pay.md
  .changeset/twenty-donuts-greet.md
  docs/src/content/docs/guides/sidebar.mdx
  docs/src/content/docs/reference/configuration.mdx
  docs/src/content/docs/reference/frontmatter.md
  packages/starlight/__tests__/basics/config.test-d.ts
  packages/starlight/__tests__/sidebar/navigation-attributes.test.ts
  packages/starlight/__tests__/sidebar/navigation-badges.test.ts
  packages/starlight/__tests__/sidebar/navigation-hidden.test.ts
  packages/starlight/__tests__/sidebar/navigation-order.test.ts
  packages/starlight/__tests__/sidebar/navigation-unicode.test.ts
  packages/starlight/__tests__/sidebar/navigation.test.ts
  packages/starlight/__tests__/sidebar/vitest.config.ts
  packages/starlight/schemas/sidebar.ts
  packages/starlight/utils/navigation.ts
Labels: 🌟 minor, 📚 docs, 🌟 core, ✅ approved

#3310 docs: fix aside type in custom icon example
  docs/src/content/docs/components/asides.mdx
Labels: 📚 docs

#3311 i18n(de): update `manual-setup.mdx` & `reference/configuration.mdx`
  docs/src/content/docs/de/manual-setup.mdx
  docs/src/content/docs/de/reference/configuration.mdx
Labels: i18n, 📚 docs

#3312 i18n(de): update `sidebar.mdx` & `configuration.mdx`
  docs/src/content/docs/de/guides/pages.mdx
  docs/src/content/docs/de/guides/sidebar.mdx
  docs/src/content/docs/de/reference/configuration.mdx
  docs/src/content/docs/de/reference/frontmatter.md
Labels: i18n, 📚 docs

#3313 i18n(fr): update `components/asides.mdx`
  docs/src/content/docs/fr/components/asides.mdx
Labels: i18n, 📚 docs

#3314 i18n(fr): update `guides/authoring-content.mdx`
  docs/src/content/docs/fr/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#3322 i18n(ko-KR): update `manual-setup.mdx`, `configuration.mdx`
  docs/src/content/docs/ko/manual-setup.mdx
  docs/src/content/docs/ko/reference/configuration.mdx
Labels: i18n, 📚 docs

#3323 i18n(ko-KR): update `resources/`
  docs/src/content/docs/ko/resources/community-content.mdx
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#3317 i18n(fr): update `reference/frontmatter.md`
  docs/src/content/docs/fr/reference/frontmatter.md
Labels: i18n, 📚 docs

#3321 i18n(ko-KR): update `sidebar.mdx`, `frontmatter.md`
  docs/src/content/docs/ko/guides/sidebar.mdx
  docs/src/content/docs/ko/reference/frontmatter.md
Labels: i18n, 📚 docs

#3316 i81n(fr): `manual-setup.mdx` and `reference/configuration.mdx`
  docs/src/content/docs/fr/manual-setup.mdx
  docs/src/content/docs/fr/reference/configuration.mdx
Labels: i18n, 📚 docs

#3318 i18n(fr): update `resources/plugins.mdx` & `resources/community-content.mdx`
  docs/src/content/docs/fr/resources/community-content.mdx
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#3324 Add some recent Starlight sites to the showcase
  docs/src/assets/showcase/docs.netlify.com.png
  docs/src/assets/showcase/docs.vlt.sh.png
  docs/src/assets/showcase/openai.github.io.png
  docs/src/assets/showcase/opencode.ai.png
  docs/src/assets/showcase/sharp.pixelplumbing.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#3325 Support for Finnish language (fi)
  .changeset/clean-gorillas-invite.md
  packages/starlight/translations/fi.json
  packages/starlight/translations/index.ts
Labels: 🌟 patch, 🌟 core

#3334 feat(docs): add Scalekit to showcase
  docs/src/assets/showcase/docs.scalekit.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#3337 docs: add `starlight-auto-drafts` to plugins resources
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#3342 i18n(de): udpate `plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#3347 i18n(de): update themes
  docs/src/content/docs/de/resources/themes.mdx
Labels: i18n, 📚 docs

#3349 i18n(fr): update `resources/themes.mdx`
  docs/src/content/docs/fr/resources/themes.mdx
Labels: i18n, 📚 docs
