Repository withastro/starlight, pull requests merged in 2025-03, with the labels that each got.

#2931 Support for `title`, `frame`, and `meta` Markdoc fence attributes
  .changeset/healthy-rivers-divide.md
  docs/src/content/docs/guides/authoring-content.mdx
  packages/markdoc/__tests__/markdoc.test-d.ts
  packages/markdoc/index.mjs
Labels: 📚 docs, 🌟 markdoc

#2935 docs: update `authoring-content` Markdown/MDX tab labels
  docs/src/content/docs/guides/authoring-content.mdx
Labels: 📚 docs

#2938 i18n(ko-KR): update `authoring-content.mdx`
  docs/src/content/docs/ko/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2936 i18n(fr): update `guides/authoring-content`
  docs/src/content/docs/fr/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2937 i18n(de): update `authoring-content.mdx`
  docs/src/content/docs/de/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2939 i18n(zh-cn): update `css-and-tailwind.mdx`
  docs/src/content/docs/zh-cn/guides/css-and-tailwind.mdx
Labels: i18n, 📚 docs

#2941 i18n(zh-cn): Update `configuration.mdx`
  docs/src/content/docs/zh-cn/reference/configuration.mdx
Labels: i18n, 📚 docs

#2943 i18n(zh-cn): Update `guides/authoring-content.mdx`
  docs/src/content/docs/zh-cn/guides/authoring-content.mdx
Labels: i18n, 📚 docs

#2942 i18n(zh-cn): Update `resources/plugins.mdx`
  docs/src/content/docs/zh-cn/resources/plugins.mdx
Labels: i18n, 📚 docs

#2945 showcase addition
  docs/src/assets/showcase/learnaiso.com.png
  docs/src/components/showcase-sites.astro
Labels: 📚 docs

#2962 docs: add `starlight-auto-sidebar` plugin
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2965 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2964 i18n(de): update plugins.mdx
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#2963 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2955 feat: add some IDE and Design app icons
  .changeset/big-dancers-stare.md
  packages/starlight/components/Icons.ts
Labels: 🌟 core

#2961 feat: add editor icons
  .changeset/lovely-fireants-call.md
  packages/starlight/components/Icons.ts
Labels: 🌟 patch, 🌟 core

#2971 Plugin to add llms.txt
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2987 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#2990 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#2991 feat(tailwind): support @astrojs/tailwind v6
  .changeset/five-avocados-hang.md
  packages/tailwind/package.json
Labels: 🌟 tailwind

#2948 update astro to the latest version
  docs/package.json
  examples/basics/package.json
  examples/markdoc/package.json
  examples/tailwind/package.json
  package.json
  packages/starlight/__e2e__/fixtures/basics/package.json
  packages/starlight/__e2e__/fixtures/custom src-dir/package.json
  packages/starlight/__e2e__/fixtures/git/package.json
  packages/starlight/__e2e__/fixtures/legacy-collection-config-file/package.json
  packages/starlight/__e2e__/fixtures/ssr/package.json
  packages/starlight/__tests__/basics/i18n.test.ts
  packages/starlight/package.json
  packages/starlight/utils/i18n.ts
  pnpm-lock.yaml
Labels: 📚 docs, 🌟 core

#2994 fix: Search ranking on merge indexes
  .changeset/five-glasses-shout.md
  packages/starlight/schemas/pagefind.ts
Labels: 🌟 patch, 🌟 core

#2969 Add npm social icon
  .changeset/sour-bats-visit.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core

#2998 Add Starlight Markdown Blocks to community plugins
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2999 docs: remove ghostcms plugin
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#2988 i18n(de): update `plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#3000 i18n(fr): update `resources/plugins`
  docs/src/content/docs/fr/resources/plugins.mdx
Labels: i18n, 📚 docs

#3001 [i18nIgnore] docs: Exchange apostrophes in plugins to be smart
  docs/src/content/docs/resources/plugins.mdx
Labels: 📚 docs

#3002 i18n(ko-KR): update `plugins.mdx`
  docs/src/content/docs/ko/resources/plugins.mdx
Labels: i18n, 📚 docs

#3003 i18n(de): update `plugins.mdx`
  docs/src/content/docs/de/resources/plugins.mdx
Labels: i18n, 📚 docs

#3005 fix typo in plugins.md
  docs/src/content/docs/reference/plugins.md
Labels: 📚 docs

#3009 i18n(de): update `plugins.mdx`
  docs/src/content/docs/de/reference/plugins.md
Labels: i18n, 📚 docs

#3011 i18n(fr): update `reference/plugins.md`
  docs/src/content/docs/fr/reference/plugins.md
Labels: i18n, 📚 docs

#3012 Add starlight theme nova
  docs/src/assets/themes/nova-dark.png
  docs/src/assets/themes/nova-light.png
  docs/src/content/docs/resources/themes.mdx
Labels: 📚 docs

#3015 i18n(ko-KR): update `theme.mdx`
  docs/src/content/docs/ko/resources/themes.mdx
Labels: i18n, 📚 docs

#3016 i18n(de): Update `themes.mdx`
  docs/src/content/docs/de/resources/themes.mdx
Labels: i18n, 📚 docs

#3019 i18n(fr): update `resources/themes`
  docs/src/content/docs/fr/resources/themes.mdx
Labels: i18n, 📚 docs

#3021 i18n(ko-KR): update `ko.json`
  .changeset/gorgeous-bees-jump.md
  packages/starlight/translations/ko.json
Labels: 🌟 patch, 🌟 core

#2940 i18n(zh-cn): Update `i18n.mdx` and Update `plugins.md`
  docs/src/content/docs/zh-cn/guides/i18n.mdx
  docs/src/content/docs/zh-cn/reference/plugins.md
Labels: i18n, 📚 docs

#3006 i18n(zh-cn): Update `overrides.md` and `overriding-components.mdx`
  docs/src/content/docs/zh-cn/guides/overriding-components.mdx
  docs/src/content/docs/zh-cn/guides/sidebar.mdx
  docs/src/content/docs/zh-cn/reference/overrides.md
Labels: i18n, 📚 docs

#3020 feat: add sourcehut as social option
  .changeset/rude-bees-rest.md
  packages/starlight/__tests__/basics/config-errors.test.ts
  packages/starlight/components/Icons.ts
  packages/starlight/schemas/social.ts
Labels: 🌟 patch, 🌟 core
